.solution-banner-meet{
	background-image: url(../img/countyMedia/countyBg.jpg);
}
.service-fun-tab:nth-child(1) i{
	background: url(../img/countyMedia/icona4.svg)no-repeat;
	background-size: 100% 100%;
}
.service-fun-tab:nth-child(2) i{
	background: url(../img/countyMedia/icona6.svg)no-repeat;
	background-size: 100% 100%;
}
.service-fun-tab:nth-child(3) i{
	background: url(../img/countyMedia/icona2.svg)no-repeat;
	background-size: 100% 100%;
}
.service-fun-tab:nth-child(4) i{
	background: url(../img/countyMedia/icona5.svg)no-repeat;
	background-size: 100% 100%;
}
.service-fun-tab:nth-child(5) i{
	background: url(../img/countyMedia/icona3.svg)no-repeat;
	background-size: 100% 100%;
}
.service-fun-tab:nth-child(6) i{
	background: url(../img/countyMedia/icona1.svg)no-repeat;
	background-size: 100% 100%;
}
.sc_frame_div{
	padding: 30px;
	background: #F4F6F8;
}
.com-solute-out.sc_county_frame{
	padding: 20px;
}
.sc_county_title{
	margin-top: 10px;
	padding: 10px 0;
	border-bottom: solid 1px #D2D2D2;
	font-size: 16px;
	font-weight: 700;
}
.sc_county_cont li{
	margin-bottom: 10px;
}
.sc_county_cont h3{
	font-size:14px;
	font-weight:bold;
	color:rgba(30,30,30,1);
	line-height:30px;
}
.sc_county_cont p{
	font-size:14px;
	line-height:22px;
    margin-left: 17px;
    color: #666;
}
.solution_frame img{
	width: 100%;
}
@media screen and (max-width: 768px){
	.sc_frame_div img{
		width: 100%;
	}
	.solution_frame{
		width: 100%;
		height: 400px!important;
	}
	.solution_frame_txt{
		width: 100%;
	}
	.sc_customer_case li{
		display: block;
	}
	.sc_customer_case li .sc_customer_case_icon{
		width: 100%;
	}
	.sc_register_describe{
		margin-left: 0;
		padding: 47px 20px;
	}
	.sc_register_describe>h4{
		font-size: 20px;
	}
	.sc_register_describe>p{
		font-size: 16px;
	}
}