.solution-banner-meet{
	background-image: url(../img/enterprise/qiyeBg.jpg);
}
#solution-con-2{
	background-color: #f3f5ff;
}
.sc_serviceFeatures .service-fun-tab:nth-child(1) i{
	background: url(../img/enterprise/iconf1.svg)no-repeat;
	background-size: 100% 100%;
}
.sc_serviceFeatures .service-fun-tab:nth-child(2) i{
	background: url(../img/enterprise/iconf2.svg)no-repeat;
	background-size: 100% 100%;
}

.sc_serviceFeatures .service-fun-tab:nth-child(3) i{
	background: url(../img/enterprise/iconf3.svg)no-repeat;
	background-size: 100% 100%;
}

.sc_serviceFeatures .service-fun-tab:nth-child(4) i{
	background: url(../img/enterprise/iconf4.svg)no-repeat;
	background-size: 100% 100%;
}

.sc_serviceFeatures .service-fun-tab:nth-child(5) i{
	background: url(../img/enterprise/iconf5.svg)no-repeat;
	background-size: 100% 100%;
}
.sc_serviceFeatures .service-fun-tab:nth-child(6) i{
	background: url(../img/enterprise/iconf6.svg)no-repeat;
	background-size: 100% 100%;
}