.sc_frame_div img{
    width: 100%;
    margin: 50px 0;
}
.solution-banner-meet {
    background-image: url(../img/newEra/bg.png);
}
.service-fun-tab:nth-child(1) i {
    background: url(../img/newEra/a1.png)no-repeat;
    background-size: 100% 100%;
}
.service-fun-tab:nth-child(2) i {
    background: url(../img/newEra/a2.png)no-repeat;
    background-size: 100% 100%;
}
.service-fun-tab:nth-child(3) i {
    background: url(../img/newEra/a3.png)no-repeat;
    background-size: 100% 100%;
}
.sc_serviceFeatures2 .service-fun-tab:nth-child(1) i{
    background: url(../img/newEra/b1.png)no-repeat;
    background-size: 100% 100%;
}
.sc_serviceFeatures2 .service-fun-tab:nth-child(2) i{
    background: url(../img/newEra/b2.png)no-repeat;
    background-size: 100% 100%;
}
.sc_serviceFeatures2 .service-fun-tab:nth-child(3) i{
    background: url(../img/newEra/b3.png)no-repeat;
    background-size: 100% 100%;
}
.sc_serviceFeatures2 .service-fun-tab:nth-child(4) i{
    background: url(../img/newEra/b4.png)no-repeat;
    background-size: 100% 100%;
}
.service-advant-ul{background:#fff;padding:26px 0;}
.service-advant-ul li{float:left;width:25%;text-align:center;border-right:solid 1px #d8d8d8;box-sizing:border-box;}
.service-advant-ul li:last-of-type{border-right:0;}
.service-advant-ul li h3{padding:20px 0;color:#333;line-height:24px;font-weight:bold;font-size: 14px}
.service-advant-ul li p{height:66px;margin-bottom:8px;padding:0 30px;text-align:left;color:#646464;font-size:14px;line-height:22px;overflow:hidden;}
.service-advant-ul2 li{width: 33%;}
.service-advant-ul .advant-ico{display:inline-block;width:50px;height:50px;margin-top:16px;background-image:url(../img/service/advant.png);background-repeat:no-repeat;}
.service-advant-ul .advant-ico-1{background-position:-2px 0;}
.service-advant-ul .advant-ico-1{
    background-image: url(../img/newEra/c1.png);
}
.service-advant-ul .advant-ico-2{
    background-image: url(../img/newEra/c2.png);
    background-position: -1px;
}
.service-advant-ul .advant-ico-3{
    background-image: url(../img/newEra/c3.png);
    background-position: -1px;
}
.service-advant-ul .advant-ico-4{
    background-image: url(../img/newEra/c4.png);
    background-position: -1px;
}
.service-advant-ul2 .advant-ico-5{
    background-image: url(../img/newEra/c5.png);
    background-position: -1px;
}
.service-advant-ul2 .advant-ico-6{
    background-image: url(../img/newEra/c6.png);
    background-position: -1px;
}
.service-advant-ul2 .advant-ico-7{
    background-image: url(../img/newEra/c7.png);
    background-position: -1px;
}
.com-solute-out2{
    background: none;
    border: none;
}