<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>江苏台荔枝云</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>江苏台荔枝云</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/24550bd1-ae5b-47cb-95bc-7bbae242ba69.png" alt="图片"></div>
            <div class="qiye_name">江苏台荔枝云</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>项目背景</strong></span></p>
            <p><span style="font-size: 14px;">在媒体融合的大趋势下，各主流媒体机构纷纷在探索面向融合媒体的转型。作为国内领先的媒体，江苏省广播电视总台积极响应中央号召，将云计算、大数据等技术引入融合媒体建设中，首家采用混合云架构建设了荔枝云平台，并实际应用在新闻业务上。荔枝云平台的建设是江苏省广播电视总台面向融合媒体的转型的重要举措。</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 20px;"><strong>解决方案</strong></span></p>
            <p><span style="font-size: 14px;">在江苏台荔枝云平台的建设中，阳光云视主要负责基础服务管理平台（PaaS）平台的建设。PaaS平台是整个系统的核心，它在设计上包括如下要素：通过云管理中间件，实现对不同IaaS平台的统一接入和管理，实现上层应用的平台无关性。通过统一媒体资源管理实现基于云的内容管理和共享。通过统一用户管理实现不同业务的无缝集成；通过工具服务能力管理能够汇集多个不同厂商的产品，并由统一的规范实现工具灵活互换。通过运营支撑系统实现服务产品的计量计费，持续运营。</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 14px;">荔枝云新闻平台项目的IaaS层包括公有云的租用和私有云的建设，公有云由阿里云提供服务，私用云采用的是华为的系统，二者通过高安全区实现互联互通。SaaS层包括由业内主要厂商提供的全媒体内容汇聚和内容库、全媒体新闻生产与分发系统、现场新闻生产、媒体内容分析等多个应用服务。</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 14px;">&nbsp;PaaS层的云管理中间件同时与阿里云和华为云进行对接。上层所有应用所需要的资源均由PaaS层统一开通和提供，各厂商无需关心使用何种IaaS平台。PaaS层提供了完整的管理规范，包括《统一媒体资源管理规范》、《统一用户管理规范》、《基础服务能力管理规范：I服务接入规范 II 服务调用规范 III 服务运行管理规范》、《消息接口和智能引擎规范》、《公有云和私有云数据迁移调用规范》。所有上层应用服务都按照以上规范与PaaS平台进行了对接，在荔枝云统一门户中进行登录以后，可以在不同应用中无缝切换，同时媒体内容在PaaS平台也进行了统一管理。荔枝云平台集成了包括新奥特、索贝、大洋的多个转码服务，以及截图、技审等服务，可供上层应用调用。</span>
            </p>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>