<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>国际台中华云</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>国际台中华云</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/a2f3f6f1-abbd-4ec2-851b-90935709c761.png" alt="图片"></div>
            <div class="qiye_name">国际台中华云</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;">项目背景</span></p>
            <p><span style="font-size: 14px;">当前，网络和数字技术迅猛发展，国际传播和媒体生态环境发生深刻变化，传统媒体和新兴媒体相互融合的全媒体时代已经到来。国际台作为国家国际传播主力军和主阵地，把握媒体发展趋势，规划实施多媒体融合、多媒体发展战略，集成了广播媒体、网络媒体、视频媒体、平面媒体、影视译制等五大业务集群，并建设了由PC端、移动端、TV端组成的新媒体方阵，节目制播共涉及65个语种、180多个国家和地区。庞大的业务链及覆盖面积给国际台全媒体业务的采集、存储、制作、发布、传输、管理等能力造成了极大的挑战，“中华云”平台也因此应运而生。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 20px;">解决方案</span></p>
            <p><span style="font-size: 14px;">中华云”是国际台牵手媒体云服务领军品牌ONAIR建设的全媒体融合项目，该平台借助新技术重构内容生产体系，通过“云+网+端”架构，对全形态的媒体战略资源进行整合与智能调度，全面支撑国际台新媒体制作发布和传统媒体制播的素材服务、融合生产、多渠道分发和生产管理等核心服务，实现内容的采编播全云化。其主要功能是按照优先满足共性需求的原则，围绕快速提升国际台“采集、发布、运维”三方面业务能力进行规划，为“中华图文”（China News）、“中华音频”（China News）、“中华视频”（China TV）三大内容产品提供必要的计算、存储、网络资源服务和技术支持，进而支撑“中华”系列媒体品牌产品全球多渠道发布。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">此外，“中华云”承载的另一个重要任务就是完善中国国际广播电台整体媒体融合的功能，打造媒资平台，发挥“中央厨房”的作用，确保文字、音频、视频、移动客户端、微博、微信等各种传播方式的通畅无阻。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">考虑国际台国际传播机构的性质，业务涉及面广，平台建设也要以“提升全球化新闻信息采集、全媒体内容融合生产、信息资源共享交换及多渠道传播覆盖能力”为目标，建设全面支撑其新媒体制作发布和传统媒体制播的素材服务、融合生产、多渠道分发和生产管理的核心平台，而阳光云视根据广电媒体机构的需求特别提出的“融合媒体云平台”架构的理念正符合这种需求。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">该平台不仅能通过云管理中间件，实现对不同IaaS平台的统一接入和管理，实现上层应用的平台无关性。还能通过统一媒体资源管理实现基于云的内容管理和共享、通过统一用户管理实现不同业务的无缝集成；通过工具服务能力管理能够汇集多个不同厂商的产品，并由统一的规范实现工具灵活互换。</span>
            </p>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>