<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>云南台七彩云</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>云南台七彩云</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/4fda6fda-6d39-42e6-8881-cda91c271f63.png" alt="图片"></div>
            <div class="qiye_name">云南台七彩云</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;">项目背景</span></p>
            <p><span style="font-size: 14px;">近年来，网络和数字技术裂变式发展，带来媒体格局的深刻调整和舆论生态的重大变化。为响应中央提出的推动传统媒体和新兴媒体融合的要求，加快融合媒体进程，云南广播电视台积极引入云计算技术，搭建全媒体融合服务专属云平台——七彩云。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 20px;">解决方案</span></p>
            <p><span style="font-size: 14px;">七彩云主要承担了台内原有新闻通联、线索管理等业务，并结合现有新媒体业务发展、广告合同管理以及包装网络需求，搭建一个全新的、面向融合媒体服务的专属云平台，为整个网络系统更好的满足新的业务需求服务。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">在七彩云平台的建设中，阳光云视主要为该项目提供非新闻节目生产PaaS平台的集成，打通私有云和专属云，提供用户管理、生产加工、数据分析等一系列服务，同时具备服务（包括第三方生产工具）的快速注册和统一的标准化应用开发接口能力，更好为合作伙伴和开发者提供音视频生产加工、管理发布等精细化的运营管理服务。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">在整个PaaS层体系建设中，充分实现融合媒体平台开发、敏捷的特点，下层通过云管理中间件，实现对不同IaaS平台的统一接入和管理，实现上层应用的平台无关性；上层集成业内主要厂商提供的全媒体内容汇聚和内容库、全媒体新闻生产与分发系统、媒体内容分析等多个应用服务，为广电敏捷生产和新业务的弹性部署提供有力支撑，助力云南台媒体融合创新业务的快速发展。</span>
            </p>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>