<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>中央电视台综合制作云</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>中央电视台综合制作云</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/a679187d-478e-493c-8abe-bbb09ef528d6.png" alt="图片"></div>
            <div class="qiye_name">中央电视台综合制作云</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;">项目背景</span></p>
            <p><span style="font-size: 14px;">随着新技术的飞速发展以及观众对节目形式和内容的需求逐步提高，传统的电视台节目制作形式急需升级，以适应越来越大的节目生产规模、越来越短的节目制作周期和更加丰富的节目展现形式。在云计算、大数据的技术浪潮中，探索节目综合制作业务的云化和移动化方式，实现资源的云端共享、协同，优化节目制作流程，提高节目生产效率，已成为中央电视台在媒体融合大趋势下积极探索的新课题。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 20px;">解决方案</span></p>
            <p><span style="font-size: 14px;">自云计算技术兴起以来，中央电视台就已经开始密切跟踪云计算技术的发展和应用， 2016年4月开始打造的综合制作云项目，总体目标是应对新型式的综合类节目制作需求，通过优化流程、变革体系架构，从而利用云平台实践网络制播平台2.0。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">中央电视台综合制作云采用自建私有云加租用公有云的方式搭建，承担多种形态的综合节目生产任务。阳光云视公司通过面向媒体的专业PaaS平台技术，实现了对不同IaaS基础设施平台的兼容及资源的统一调度和使用，打通了私有云和公有云，实现了敏捷、安全、专业的水平扩充能力。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">央视综合制作云重在探索综合制作业务的云化方式，采用云存储为综合制作业务提供存储空间，实现基于移动终端和公有云的综合制作，探索基于云平台的综合制作流程，实现台内和台外的协同制作。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">这是广电行业在综合制作领域大规模采用云技术所迈出的重要一步。通过此次项目的实施，央视建立了基于混合云的综合制作流程，实现了台内外的协同制作和非编的工具化、移动化，而阳光云视也在此类项目的实施与落地上增长了更多的经验值。</span>
            </p>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>