<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>湖北台长江云</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>湖北台长江云</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/2ed7193f-6006-4541-94d8-822193f238c8.png" alt="图片"></div>
            <div class="qiye_name">湖北台长江云</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;">项目背景</span></p>
            <p><span style="font-size: 14px;">认真贯彻落实习近平总书记在党的新闻舆论工作座谈会上的重要讲话精神，积极适应传媒格局和舆论生态变化的新形势，湖北广播电视台响应国家号召，积极推进媒体融合进程，科学运用云计算、大数据技术，建设长江云平台，打造湖北“政务+新闻+服务” 新媒体大数据中心及覆盖全省、功能完备、互联互通、运行顺畅的移动网络公共信息服务体系，形成良性发展的新媒体生态圈。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 20px;">解决方案</span></p>
            <p><span style="font-size: 14px;">在湖北台长江云项目中，阳光云视负责项目最为核心的PaaS平台——平台服务层管理平台。</span></p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">1、混合云管</span></p>
            <p><span style="font-size: 14px;">&nbsp;&nbsp; &nbsp; 平台可通过云管理中间件层实现对公有云和私有云的统一管理，确保平台的通用性，不受基础设施层(IaaS)的限制，另外云管理中间件对所有IaaS层基础服务的统一封装和协议转换，适配不同云服务提供商的开发接口，为上层平台提供一个标准化的开发运行环境，提供面向媒体业务的标准化的开放的支撑平台，为湖北台快速开发新业务提供大量的立即可用的工具和服务。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">2、统一门户一站登录</span></p>
            <p><span style="font-size: 14px;">统一门户为私有云平台提供登陆门户界面，门户将多种应用系统、数据资源、业务信息以模块化的形式集中呈现，用户登录后可以集中使用，用户一次登录后全网漫游，无论使用什么工具，哪怕跳转到第三方工具用户信息都可完美继承。用户管理可以对接PAAS平台的统一认证实现用户角色定义、权限的管理，同时按照用户、部门、群组的三级方式进行配置管理。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">3、多维度类文件管理</span></p>
            <p><span style="font-size: 14px;">多维度类文件管理中心是整个媒体云平台PaaS层建设的重要部分，它管理着整个云平台的物理文件，屏蔽对象存储和文件存储的差异，采用存储标识和相对路径的管理方式，实现了文件的免迁移交互，同时对文件的类型（如视频、音频、图片、工程等）进行科学分类管理，统一资源管理服务兼容对象存储和文件存储两种不同的文件存储方式，适配台内制作业务和新媒体发布业务。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">4、统一媒体能力服务</span></p>
            <p><span style="font-size: 14px;">针对融合媒体业务所需要的公共服务能力进行统一抽象与封装，形成可复用的公共能力服务。能力颗粒度的设定以便于部署、组合为原则按照相应规范进行发布，供需要的软件或业务系统进行调用。公共服务能力包括提供能力的聚类管理服务，如将能力按照转码、打包、技审、MD5等功能进行分类管理，以及提供能力的调度管理服务：负责各种能力服务的注册、登记、调用、释放、统计等功能。公共服务能力的数据能够通过接口继承，并进行统一管理；公共能力服务可根据业务的需要及技术的发展逐步扩展。</span>
            </p>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>