<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>宁波融媒体生产指挥云平台</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>宁波融媒体生产指挥云平台</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/4c038311-ac54-4206-8626-39ea4b9adcbd.png" alt="图片"></div>
            <div class="qiye_name">宁波融媒体生产指挥云平台</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;">项目背景</span></p>
            <p><span style="font-size: 14px;">随着广电总局融合媒体平台建设技术白皮书的发布，推动传统媒体和新兴媒体融合发展，宁波台打造以云计算、大数据等现代信息技术为基础的“融合媒体云平台”，融合媒体云平台将原来业务系统的功能模块封装为松耦合的工具和服务，将各业务系统中的公共功能如迁移转码、内容存储管理等下沉到公共的平台（PAAS平台）中，统一为上层的各个业务系统（SAAS应用）提供能力支持，促使集团的业务板块和系统进一步融合。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;<br></span></p>
            <p><span style="font-size: 20px;">解决方案</span></p>
            <p><span style="font-size: 14px;">在宁波广电集团融媒体生产指挥云平台项目中，阳光云视主要为该项目承担PaaS平台以及云存储、工具集、网络交换等系统的建设，通过私有云、公有云业务结合，形成全面的底层支撑，提供可弹性调度的平台服务层，实现系统内部用户管理、转码服务、系统监测、流程引擎、生命周期管理、数据分析、大文件传输服务、视音频处理、系统接口等通用功能，为不同业务应用提供标准化的应用工具和服务，并能根据业务发展及新需求进行扩展，为系统提供基础服务。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span
                    style="font-size: 14px;">此外，在该项目的建设中，阳光云视也是首次与国外私有云Cisco配合，将Cisco 第二代SDN技术引入媒体云平台中，为将来全台IP化夯实基础。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">该平台的建设是宁波广电集团在媒体改革与融合发展进程中迈出的又一实质性步伐，也是广播电视部门适应媒体格局深刻变化、提升主流媒体传播力、公信力、影响力和舆论引导能力的重要举措，此项目的建设，将有力地推动宁波广电的媒体发展转型战略，为宁波广电打造新型媒体集团提供极其重要的战略技术平台支持。</span>
            </p>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>