<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>贵州融媒体综合业务云平台</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>贵州融媒体综合业务云平台</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/ab25047e-340e-4f6c-87a0-eb4da5a86564.png" alt="图片"></div>
            <div class="qiye_name">贵州融媒体综合业务云平台</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;">项目背景</span></p>
            <p><span style="font-size: 14px;">2014年8月18日，中央全面深化改革领导小组第四次会议审议通过了《关于推动传统媒体和新兴媒体融合发展的指导意见》。习近平总书记在会上强调，要着力打造一批形态多样、手段先进、具有竞争力的新型主流媒体，建成几家拥有强大实力和传播力、公信力、影响力的新型媒体集团，形成立体多样、融合发展的现代传播体系。面对新兴媒体的迅猛发展态势,贵州台深刻地认识到，只有解放思想、破除陈旧观念，切实推动传统媒体和新兴媒体在内容、渠道、平台、经营、管理等方面深度融合，才能确保在媒体融合发展之路上走稳走快走好。贵州台融媒体综合业务云平台应运而生。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 20px;">解决方案</span></p>
            <p><span style="font-size: 14px;">贵州台融媒体综合业务云平台采用私有云+公有云有机结合的混合云架构，具备完整的业务结构，帮助贵州台实现全媒体汇聚、全媒体内容生产、全媒体内容管理、全媒体发布等多项功能，且提供丰富的全媒体制作工具，涵盖视频、音频、图片、文字等内容生产与发布，满足全媒体融合生产的基本需求，构建全新的全媒体采编播流程，适应新兴媒体与传统媒体的融合发展的需求，全面扩展传统的广电技术体系范畴，为贵州台传统媒体与新兴媒体提供统一的技术支持。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">值得一提的是，在该个云平台中，阳光云视还协助贵州台健全了用户画像功能。媒体融合时代，在已经做到了技术引领、内容为王的同时，广告运营也将互联网化。在贵州台项目的实施中，阳光云视在先期先引入了DSP流量市场，待贵州台数据和用户画像足够丰富后，再协助其完成自己的运营数据中心的建立，实现用户信息的统一管理，促进“观众”到“用户”的转化，通过多种形式的互动增加用户黏性，从而推动贵州广播、电视传统媒体与新兴媒体的高度融合。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">贵州台融媒体综合业务云平台的建立标志着贵州省开始朝着形成内容丰富、融合发展的现代传播矩阵迈进，争先打造成形态多样、手段先进、具有较强传播力和竞争力的新型主流媒体。</span>
            </p>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>