<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>河南台融合媒体云平台</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>河南台融合媒体云平台</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/0be59ea9-9592-497d-9dd0-02ae2128aa1f.png" alt="图片"></div>
            <div class="qiye_name">河南台融合媒体云平台</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;">项目背景</span></p>
            <p><span style="font-size: 14px;">按照广电总局《电视台融合媒体平台建设技术白皮书》的要求，河南电视台响应国家号召，积极推进媒体融合进程，并充分认识到云技术的应用是融合媒体时代技术进步和跨越发展的必然选择，在此背景下，河南电视台将利用IP化、云计算、大数据等技术，构建基于全媒体融合的节目生产、管理体系，为新闻传播和节目生产开展全媒体业务进行技术支撑。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 20px;">解决方案</span></p>
            <p><span style="font-size: 14px;">在河南台融合媒体云平台中，阳光云视将协助河南台打造一个全媒体融合生产的“中央厨房”，对河南电视台节目生产、节目发布以及生产经营模式的转型提供全面支持，推动河南电视台传统媒体与新媒体的深度融合，再造融合媒体生产流程，打造新型主流媒体。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">该项目中，PaaS平台通过私有云、公有云业务结合，利用IaaS层提供的资源完成系统内部各种服务能力集成，并能根据业务发展及新需求进行扩展，为系统提供基础服务，形成全面的底层支撑。而成熟的云管理中间件和云资源调度管理能实现对不同基础资源平台的统一接入和管理，兼容不同云基础设施服务商提供的IaaS平台，实现跨平台的混合云服务，提高资源的使用效率和安全性。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">该项目的建设，将为河南电视台的全媒体融合生产提供了强有力的技术支撑，通过全面的平台云化、桌面化生产构建统一的工作平台，全媒体内容库实现统一的媒体内容管理，完成全方位的互联网资讯汇聚，用户管理以及生产管理实现了传播效果监测与反馈。整个系统提供统一的节目策划、新闻指挥、资源调度， 并通过多样的生产工具实现快速融合媒体生产。系统支持全台统一新媒体互动平台接入、全台用户统一管理， 建立统一的用户数据中心，将传统电视收视用户、两微一端、网站等新媒体用户数据留存，为用户建立画像库，以“两微一端、一网一屏”为入口，建立用户导入、分析、激活、留存和转化通道，通过流量变现， 进行节目内容与广告的精准投放。同时该系统将与河南电视台财务、广告、人力资源、设备资源等管理对接，对台内人员进行管理，实现多面化的节目生产管理。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">在该项目的建设中， 阳光云视也首次实现将独立资源的拉起升级为流程服务组合资源的拉起，从而更好地帮助河南电视台从全台网1.0的时代向2.0云平台的时代进行平稳过渡，也为以后的平台建设提供了非常有益的经验。</span>
            </p>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>