<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>重庆广播电视集团</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>重庆广播电视集团</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/cff63ca5-dd64-451b-9ab9-8da2d8cb29b5.png" alt="图片"></div>
            <div class="qiye_name">重庆广播电视集团</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;">项目背景</span></p>
            <p><span style="font-size: 14px;">移动互联网成为了用户关注碎片化信息的入口，必须珍惜、留存的任何一个用户。站在传统广电角度如果把获取信息的渠道分为“第三方互联网媒体渠道”、“自营新媒体渠道”、“广播电视渠道”三重，那么在移动互联网时代，第二重媒体“自营新媒体渠道”才是传统广电走进互联网，留存用户的关键。</span>
            </p>
            <p><span style="font-size: 14px;">重庆广播电视集团（总台）在全媒体融合战略下，选择重塑新闻传播方式，重点打造APP+H5相结合的第二重媒体。</span></p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 20px;">解决方案</span></p>
            <p><span style="font-size: 14px;">针对重庆台融合新闻新媒体内容生产发布管理平台及新闻APP开发部署项目，阳光云视根据重庆台特点制定了相应解决方案。</span></p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">融合新闻新媒体内容生产发布管理平台基于融合新闻中心技术系统云平台搭建，实现快速生产发布和各类直播、点播、图文资讯及互动等内容发布管理，建立以用户为中心的运营服务体系和自有用户服务，提供运营数据分析及数据挖掘服务，实现应用管理、用户分析、用户画像等融合运营功能。新闻APP是基于融合新闻中心技术系统云平台搭建的手机端应用，面向广大互联网用户。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">项目建成后，将有效提升新闻的时效性，拓宽新闻采集渠道，丰富新闻素材资源，重构新闻采编播全流程，留存用户信息、实现“千人千面”的个性化内容推荐；开辟互联网直播频道，拉近主持人、记者与用户的距离，增加用户的黏性；建立多媒体、多渠道、个性化的移动新闻采编播机制，融合新闻生产、发布等工作势必会提高一个新台阶，对重庆广电融合媒体发展进程的影响不言而喻。</span>
            </p>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>