<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>天津广播电视台</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>天津广播电视台</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/cd4ca250-0ad0-4776-a7f1-5b96f6c22160.png" alt="图片"></div>
            <div class="qiye_name">天津广播电视台</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;">项目背景</span></p>
            <p><span style="font-size: 14px;">第十三届全运会于2017年9月在天津市举行，天津市将着重全力推进全民健身的广泛深入开展，促进市民素质和文明程度的提升， 全面提升天津竞技体育的整体水平， 全方位地做好十三运的宣传工作。为更好筹办全运会，天津广播电视台搭建资源共享系统项目，包含直播服务、素材交换平台。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 20px;">解决方案</span></p>
            <p><span style="font-size: 14px;">第十三届全运会 IBC 中心公共素材云交换平台项目采用“私有云+公有云” 的方式进行系统建设， 以符合行业系统建设趋势， 推动天津电视台平台技术架构发展更新。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">一方面为专业机构提供视频直播流服务。支持手机信号、 摄像机信号等多种信号来源， 以直播流方式汇聚到公有云导播台， 再通过互联网供专业机构使用， 第三方机构用户登陆后可自行选择直播流信号， 用于专业机构平台直播业务。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">另一方面， 通过公有云文件交换门户为专业机构提供文件检索、 浏览、 下载功能。在天津电视台建设媒体处理集群， 将现有收录服务器的信号进行自动迁移、 集中转码处理， 转码完成的成品文件， 将上传至公有云， 通过公有云上的文件交换服务为第三方机构用户提供文件检索、 浏览、 下载功能。</span>
            </p>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>