<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>内蒙古广播电视台</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>内蒙古广播电视台</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/e1b19da8-9681-4148-b0fc-306662f6e80a.png" alt="图片"></div>
            <div class="qiye_name">内蒙古广播电视台</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;">项目背景</span></p>
            <p><span style="font-size: 14px;">为贯彻落实中央关于加快传统媒体与新媒体融合发展的重大战略部署，，进一步推动广电媒体融合发展，提升面向媒体融合的综合竞争力，内蒙古广播电视台云架构媒体PaaS平台平台应运而生。云架构生产平台将通过全方位的资源汇聚、多平台的协同生产、多渠道发布反馈来实现统一的运营管理。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 20px;">解决方案</span></p>
            <p><span style="font-size: 14px;">&nbsp;在内蒙古广播电视台云架构生产平台项目中，阳光云视主要承担建设PaaS平台，通过内蒙古广播电视台私有云基础平台的建设，支撑内蒙古广播电视台全台网由1.0向2.0过渡，逐步实现各系统向云平台的迁移，构建一套全面、完善的云计算资源服务管理体系，实现基础资源平台、媒体服务平台、应用工具平台三层的统一管理。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">完善融媒体及中央厨房指挥调度功能。全面利用互联网、云计算、大数据等先进技术，实现融合报道业务与资源、策划、加工、渠道、终端、受众等方面深度融合；实现新闻稿件、编辑随时随地制作；实现采编专业化、管理智能化、数据可视化；实现新闻信息采集、编辑、发布、供稿、管理、反馈等各环节以及新闻舆情、传播渠道、影响力的统一管控，为融合报道组织指挥策划提供集约化、智能化服务，构建新型传媒“互联网+”的驱动模式。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">建设以统一指挥调度为核心功能的平台，系统地呈现和控制融合生产流程的各重要环节，为节目部门提供融合生产的辅助决策，同时能实现对各种资源的调度。系统以大数据为中心，精确核算成本、利润，基于大数据进行用户行为、反馈等分析，辅助新闻生产。</span>
            </p>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>