<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>北京电视台</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>北京电视台</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/95c60586-37d7-49f8-a894-f6dc49d283a5.png" alt="图片"></div>
            <div class="qiye_name">北京电视台</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;">项目背景</span></p>
            <p><span style="font-size: 14px;">北京电视台融合媒体生产云平台需要考虑传统媒体与新媒体的有机融合，平台对接原有制播全台网与办公网，构建与内部不同工作域的内容、信息交换接口，融通大型公有云，聚合北京电视台电视频道资源和社会媒资资源，提供内容汇聚、生产、管理、分发等一站式服务，以内容为主线构成一个完整的生态圈，在为现有广播电视服务的同时，都能够面向互联网，使内容的来源更广，内容的发布更及时、更全面，业务的表现形态和交互方式更多样化。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;<br></span></p>
            <p><span style="font-size: 20px;">解决方案</span></p>
            <p><span style="font-size: 14px;">&nbsp;针对北京电视台融合媒体生产云平台项目，阳光云视提出了更有针对性的解决方案。生产上体现媒体融合轻量化、在流程上体现媒体融合的扁平化、在发布上体现媒体融合的多样化，平台分层设计、统筹协调建设原则，充分将应用、系统以及服务进行科学的解耦，从而使使用人员达到极速体验。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">以全面、高效、优质的服务，实现一次采集，多种生成，多元传播，个性化定制等诉求。汇聚类工具、生产类工具、发布类工具、协作类工具、运营类工具、管理类工具 的建设实现系统内容的统一管理与应用，全媒体内容生产模块、广播电视内容生产，满足用户通过普通办公电脑即可进行新媒体内容制作的需求。以提高工作效率为核心，满足各类新媒体内容生产。</span>
            </p>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>