<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>山西媒体智慧云平台</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>山西媒体智慧云平台</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/d8905f21-319c-4aae-89ef-25612c88bf86.png" alt="图片"></div>
            <div class="qiye_name">山西媒体智慧云平台</div>
            <div class="qiye_Industry_field">所属行业：<span>融媒体</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;">项目背景</span></p>
            <p><span style="font-size: 14px;">为增强智慧云平台主流媒体传播力、竞争力为目标，以“媒体主打、智慧服务”为特色，突出智能应用，强化市场运营，服务行业应用，助力新业态，形成新的经济发展方式，全面提速山西经济实现转型升级。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 20px;">解决方案</span></p>
            <p><span style="font-size: 14px;">阳光云视为山西媒体智慧云平台（以下简称“云平台”）搭建开放的云架构，该平台具有松耦合、资源池化、高可扩展等特性，具备满足业务发展快速迭代升级的能力，可采用微服务架构方式实现。云平台的存储、计算、网络能力适配省域内县级融媒体中心的接入需求。云平台基于多租户的管理机制与技术手段，实现不同网络、不同业务之间的云主机隔离和安全控制；根据不同用户、不同业务的计算、存储、网络负载情况，实现资源的动态分配、弹性伸缩。云平台应具备系统容灾能力和数据备份手段。云平台包括基础资源、PaaS平台、工具、服务、宣传管理、运营管理、安全保障等部分，具备对接省级媒体机构、市级媒体机构，承接县级融媒体中心建设的功能。基础资源在专属云资源的基础上，新增（扩容）部分云资源，同时在公有云新开灾备资源及服务。PaaS 平台在一期具备了基本平台服务能力的基础上，新增 API 网关、AI 智能能力、自动化运维监控、运营计费等功能。工具部分在一期基础上，新增网络直播、 APP 定制、微博微信生产、生产协同、数据分析、内容运营等工具。服务部分在一期基础上，按照《县级融媒体中心省级技术平台规范要求》，新增媒体服务部分功能，以及综合服务等功能。运营管理部分增加租户管理、服务管理、工具管理等功能。智慧云平台具备跟市级媒体机构对接，承接、对接县级融媒体中心建设的能力。</span>
            </p>
            <br>
            <br>
            <p>
                <img src="imgs/b001001.png" alt="" style="margin: 0 auto; width:auto;max-height: 300px;" >
            </p>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>