<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>安徽广播电视台</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>安徽广播电视台</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/870dcd4c-f2e7-4be6-a73b-3069da494b4a.png" alt="图片"></div>
            <div class="qiye_name">安徽广播电视台</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;">项目背景</span></p>
            <p><span style="font-size: 14px;">媒体融合是推动媒体改革的必然选择。2016年2月19日，习近平总书记调研人民日报社、新华社、中央电视台等新闻单位并主持召开党的新闻舆论工作座谈会，对“互联网思维”这一创新融合工作的切入点做了细致调研，关心从“相加”到“相融”的新型主流媒体建设进程。安徽广播电视台把握媒体发展趋势，规划实施多媒体融合、多媒体发展战略，安徽广播电视台全媒体融合生产系统支撑平台应运而生。</span>
            </p>
            <p><br></p>
            <p><span style="font-size: 20px;">解决方案</span></p>
            <p><span style="font-size: 14px;">在安徽广播电视台全媒体融合生产系统支撑平台（PaaS）项目中，PaaS平台是通过私有云、公有云业务结合，利用IaaS层提供的资源完成系统内部各种服务能力集成，并能根据业务发展及新需求进行扩展，为系统提供基础服务，形成全面的底层支撑。实现对平台资源的统一管理，便于完成视、音频业务的生产加工，实现智能工作流引擎以驱动业务发展。</span>
            </p>
            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">云视顺应当下传播的移动化、社交化、视频化、互动化势，实现多渠道汇聚和个性化分发，并结合大数据提供专业的内容增值服务，为安徽广播电视台构建快速传播、移动传播、全媒传播、分众传播、互动传播、权威传播的立体化传播体系，提高制作内容的到达率、阅读率、点赞率和转发率，构建融合发展、有效传播立体化传播新格局提供相应的技术支撑。</span>
            </p>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>