<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>淳安县广播电视台融媒体中心建设项目</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>淳安县广播电视台</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/chunan.png" alt="图片"></div>
            <div class="qiye_name">淳安县广播电视台</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;">项目背景</span></p>
            <p><span style="font-size: 14px;">近日，习近平总书记在全国宣传思想工作会议上发表重要讲话时指出，要扎实抓好县级融媒体中心建设，更好引导群众、服务群众。在媒体融合大背景下，淳安县广播电视台实施移动优先战略，新建淳安手机台设备，推进传统媒体与新兴媒体深度融合，加快传统新闻采编向全媒体新闻采集、多平台融合发布改变。</span>
            </p>
            <p><br></p>
            <p><span style="font-size: 20px;">解决方案</span></p>
            <p><span style="font-size: 14px;">云视结合淳安县广播电视台实际情况，量身打造了专属“县级融媒体中心解决方案”，为其打通新闻舆论到达群众的“最后一公里”，提升县级媒体的经济社会效益和影响力，巩固主流舆论阵地。</span></p>

            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">淳安县广播电视台融媒体平台，基于公有云（专属云）进行搭建，构建一次采集、多元生产、多端发布的融媒体生态圈。以《淳安手机台》APP、微信公众号、PC网站为新媒体输出端，作为新媒体发布矩阵进行统一管理、运行。同时，县内其他媒体单位作为融媒体平台的租户，进行入驻，将《淳安手机台》APP作为本单位新闻信息的一个重要发布端，初步构建了县级媒体机构融媒体生态圈。</span></p>

            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">通过Vision Box互动模板、智能媒体助手、流量市场等最新技术及服务的对接，极大扩大了宣传的覆盖范围和影响力。</span></p>

            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">1最新最炫的互动模板</span></p>
            <p><span style="font-size: 14px;">传统媒体互动性差，宣传过程单一枯燥，云视打造的方案支持Vision Box互动模板，为用户带来最新最炫的投票、抽奖、时间轴等互联网互动方式，吸引用户的积极参与。</span></p>

            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">2多种媒体渠道的一键发布、一键删除</span></p>
            <p><span style="font-size: 14px;">炫云融媒体发布矩阵的键发布功能直接对接微博、微信等社交媒体和今日头条等移动APP，获得最大的媒体影响力，一键删除功能提高工作效率，满足内容管控要求，提升媒体公信力。</span></p>

            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">3集成多种AI能力的智能媒体助手</span></p>
            <p><span style="font-size: 14px;">提供“晓智”媒体助手，直接在桌面提供新闻知识库、智能翻译、智能审稿、文字识别、语音合成、语音识别等具备AI能力的媒体应用，使得记者编辑的内容生产发布效率大大提高，提高了传播效果，节约了传播成本。</span></p>

            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">4精准的用户画像助力媒体运营</span></p>
            <p><span style="font-size: 14px;">内置用户行为采集探针，云端进行用户大数据分析，描绘用户画像，精准刻画用户的喜好和特点，为深入运营提供依据。</span></p>

            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">5智能内容推荐提升用户粘性</span></p>
            <p><span style="font-size: 14px;">根据用户画像进行精准内容匹配，给用户推荐感兴趣的内容及相关的内容，实现用户阅读的“千人千面”，进一步提升用户粘性。</span></p>

            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">6与流量市场对接促进产业发展</span></p>
            <p><span style="font-size: 14px;">通过对接互联网流量市场，打通融媒体中心与互联网广告平台，快速获得运营效益。</span></p>

            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">除了上述优势之外，淳安县广播电视台在融媒体中心建设中创新实现了基于专属云平台的精编工具云化部署，通过台内有卡、配音私有部署，云端精编软件部署的混合部署模式，实现了编辑工作不受空间、时间的需求。云端存储、非编虚机通过安全策略有效管控，多个电视台租户可以安全使用云端存储进行高码率素材存储、云端精编进行节目编辑。精编工具公有云（专属云）化，且在多个电视台租户间得以大规模应用，在国内媒体机构应用中尚属首次。</span></p>


        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>