<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>广西广电融合媒体云平台建设项目</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>广西人民广播电台、广西电视台、广西广电网络公司</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/guangxi.png" alt="图片"></div>
            <div class="qiye_name">广西人民广播电台、广西电视台、广西广电网络公司</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;">项目背景</span></p>
            <p><span style="font-size: 14px;">为贯彻落实中央及自治区党委、政府推动媒体融合发展的战略部署及指示要求，推进传统媒体与新兴媒体深度融合，加快传统新闻采编向全媒体新闻采集、多平台融合发布改变，广西广电融合媒体云平台（广西“广电云”）应运而生。</span>
            </p>
            <p><br></p>
            <p><span style="font-size: 20px;">解决方案</span></p>
            <p><span style="font-size: 14px;">本次云视主要承建了广西广电融合媒体云的PaaS平台部分（统一认证、统一用户管理、统一文件管理、统一接口管理、流程引擎、自动化运维等）。通过私有云、公有云、专属云业务结合，利用IaaS层提供的资源完成系统内部各种服务能力集成，并能根据业务发展及新需求进行扩展，为系统提供基础服务，形成全面的底层支撑。实现对平台资源的统一管理，便于完成视、音频业务的生产加工，实现智能工作流引擎以驱动业务发展。</span></p>

            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">助力广西广电推进加快媒体融合发展，努力促成传统媒体在资源组织方式、业务管理运营机制、市场竞争环境培育、媒体产品创新上更加开放多元，为广西广电有线勾勒新蓝图。</span></p>

            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">广西“广电云”的上线运营，标志着一个全新的广西新闻舆论宣传成果展示平台、宣传文化系统沟通交流平台、各类新闻资讯权威生产发布平台的诞生，更标志着广西广电媒体融合发展迈出了坚实的一步。</span></p>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>