<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>马鞍山市广播电视台全媒体新闻融合平台建设项目</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>马鞍山市广播电视台</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/maanshan.png" alt="图片"></div>
            <div class="qiye_name">马鞍山市广播电视台</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;">项目背景</span></p>
            <p><span style="font-size: 14px;">深入贯彻落实习近平总书记系列重要讲话精神，坚定不移推进传统媒体和新兴媒体深度融合，尽快从相“加”阶段迈向相“融”阶段，实现融为一体、合而为一，不断提高新闻舆论传播力、引导力、影响力、公信力。马鞍山广播电视台积极响应中央指示精神，在已有平台技术的基础上打造更具传播影响力的新闻与信息资讯传播产品与功能，适应融合媒体业务应用与形势的发展，为本地区受众建立强大的舆论与媒体信息。</span>
            </p>
            <p><br></p>
            <p><span style="font-size: 20px;">解决方案</span></p>
            <p><span style="font-size: 14px;">根据马鞍山市广播电视台业务发展需求，云视为其打造一套面向全台服务的融媒体平台（PaaS平台），实现新媒体内容统一生产、信息汇聚、内容发布，并通过大数据平台，对用户行为数据进行收集和分析，打造全新的今日马鞍山APP、微站、微信公众号、生成小程序、开通互动社区，同时打通微信、微博等社群分享反馈通道，达到“节目播放+互动+传播+反馈”一站式服务。</span></p>

            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">新媒体客户端平台逻辑架构按照云平台三层架构进行设计，基础资源采用公有云资源，充分借助公有云在存储、计算、交换、带宽&CDN等方面充足的弹性、安全支撑。同时，借助部署在公有云平台的PaaS能力平台，充分利用能力平台具备的大数据引擎，智能化服务引擎等能力，为上层应用工具提供能力支撑。部署内容汇聚、内容生产、内容发布、直播、运营推广等业务模块，为新媒体客户端提供工具、数据支撑。</span></p>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>