<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>安庆市广播电视台融媒体生产制播平台融媒体采编发系统</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>安庆市广播电视台</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/anqing.png" alt="图片"></div>
            <div class="qiye_name">安庆市广播电视台</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;">项目背景</span></p>
            <p><span style="font-size: 14px;">为了贯彻落实中央、省、市关于推动传统媒体和新兴媒体融合发展的一系列文件精神，推进宣传文化领域改革创新，提升新时期下广播电视传播力、公信力、影响力和舆论引导能力，以融媒体思维为导向，以先进技术为支撑，结合实际，建立符合媒体融合的机制。</span>
            </p>
            <p><br></p>
            <p><span style="font-size: 20px;">解决方案</span></p>
            <p><span style="font-size: 14px;">在安庆市广播电视台融媒体生产制播平台融媒体采编发系统中，云视结合实际情况，整合和升级台网资源，利用云服务、大数据、人工智能等移动互联网技术，搭建安庆广播电视台融媒体生产制播平台（PaaS平台），构建集融媒体采集汇聚、调度指挥、协同生产、资源库交互、高清节目制作、多平台发布、大数据舆情分析多项服务的共享平台。</span></p>

            <p><span style="font-size: 14px;">&nbsp;</span></p>
            <p><span style="font-size: 14px;">坚持移动优先，以打造区域新闻移动客户端“今日安庆”APP作为媒体融合的突破口，发挥广电优势，实现大屏与小屏的“同频共振”。主要包括：APP采编发业务子系统、云平台及大数据分析子系统、指挥协同及资源交互中心、全高清融合生产子系统、网络安全保障子系统以及配套基础设施等，通过双向驱动、并行并重、资源共享、此长彼长，实现“统一调度、一次采集、多元生产、多终端发布、融合传播”，从而不断提升新闻舆论的传播力、引导力、影响力、公信力。</span></p>

        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>