<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>江苏台荔枝云</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>安徽濉溪县融媒体中心</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/cixi.jpg" alt="图片"></div>
            <div class="qiye_name">安徽濉溪县融媒体中心</div>
            <div class="qiye_Industry_field">所属行业：<span>融媒体</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>项目介绍</strong></span></p>
            <p><span style="font-size: 14px;">使用媒体云平台完成融媒体的各项业务，包括融媒体发布平台、策采编发平台、指挥调度系统、大数据分析研判、绩效考核等全方位技术支持及相关配套服务亮点：濉溪打破了传统媒体的分散发布模式，通过打通“台、报、网、微、屏”等全媒体产品的采集、制作和发布“生产链”，逐步形成“融媒体统筹、新媒体首发、全媒体跟进”的运行格局，努力打造信息传播更快、更及时、更有引导力的新闻宣传体系。</span>
            </p>
            <img src="img/cixi1.jpg" alt="img">
            <img src="img/cixi2.jpg" alt="img">
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>