<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>云南省七彩云下县级融媒体中心建设</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>云南省七彩云下县级融媒体中心建设</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/mc_colorfullcloud.png" alt="图片"></div>
            <div class="qiye_name">云南省七彩云下县级融媒体中心建设</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>背景</strong></span></p>
            <p><span style="font-size: 14px;">2018年8月21日至22日，全国宣传思想工作会议在北京召开。中共中央总书记、国家主席、中央军委主席习近平出席会议并发表重要讲话。习近平指出，要扎实抓好县级融媒体中心建设，更好引导群众、服务群众。云南广播电视台按照“全省第一，西部领先，全国一流”的目标，重点打造七彩云融媒体平台，依托“七彩云”面向县级融媒体中心提供服务。</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 20px;"><strong>成果</strong></span></p>
            <p><span style="font-size: 14px;">截至2019年底，云南15个地州、60余个县已入驻七彩云平台。</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 14px;">七彩云面向县级融媒体中心提供平台级服务打造“中央厨房”，改变生产模式，再造新闻生产流程；定期对县级融媒体中心开展技术指导与培训工作，对重大新闻事件外派技术团队做支持，协助县级融媒体中心做好人才培养工作；搭建多渠道分发中心，除了对“两微两端”的发布监管外，还对接了“头条号”、“腾讯新闻”、“凤凰新闻”等数十家互联网主流媒体发布渠道，真正做到“一键发布、可管可控、一键删除”</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 14px;">七彩云平台以共建、共享、共赢的理念，平台+内容+服务的方式，带动云南区域媒体融合的发展，共同打造媒体新生态。</span>
            </p>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>