<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>解放军报社</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>解放军报社</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/jfjbs.png" alt="图片"></div>
            <div class="qiye_name">解放军报社</div>
            <div class="qiye_Industry_field">所属行业：<span>报业</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>项目背景</strong></span></p>
            <p><span style="font-size: 14px;">随着IP网络带宽的快速发展，新媒体多形态的爆炸式增长，新媒体音视频开始成为网络世界的主要内容，互联网已成为大众音视频信息接收的主要渠道之一。为了保证网络宣传的先进性、时效性、多样性等，快速占领基于互联网、手机移动终端等多终端宣传阵地，需承建一套全新的音视频发布系统。</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 20px;"><strong>解决方案</strong></span></p>
            <p><span style="font-size: 14px;">根据全球华语视频资讯共享平台的功能定位，需要制定一套统一的、规范的媒体资料存储系统平台，平台的建设和运作必须保持业务系统的相对独立性；做好安全风险监控也是平台运行必不可少的环节之一。阳光云视基于客户当前的需求，对系统业务进行设计规划，基于云平台三层架构进行规划。其中展示层，主要提供检索发布、交换运营、内容推荐、展示门户等服务。能力层，主要为视频处理服务、稿件服务、PaaS 服务等。数据及接口服务，提供基础数据、编目数据、接口服务等。在解放军新闻中心网站视频采编发系统项目中，北京阳光云视科技有限公司通过在 OnAir全媒体云平台上部署相关能力，为客户提供了一个基于私有云的、面向全媒体、多终端的网络电视台发布系统。</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 14px;">该系统以部署速度快、弹性能力强、用户体验最优、轻运维等特点著称。采用有效的安全措施和多种技术手段，保证系统的安全和高可用。所有子系统采用松耦合方式，保障了各个模块相对独立运行，其中包括vms、收录、直播、轮播等。生产区与发布区采用高安全方式对接。由于系统可以按需配置资源，因此能最大限度的保护系统的投资、降低运营风险。</span>
            </p>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>