<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>新华网客户端直播系统</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>新华网客户端直播系统</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/xhwkhd.png" alt="图片"></div>
            <div class="qiye_name">新华网客户端直播系统</div>
            <div class="qiye_Industry_field">所属行业：<span>媒体</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>项目背景</strong></span></p>
            <p><span style="font-size: 14px;">随着新华网客户端业务的不断开展，内容展现方式成多样化发展。直播作为一种重要的媒介形态及内容呈现方式，随着其门槛的降低和交互方式的多元化被越来越多的人所接受。相比其他的信息传播载体，视频直播能够承载更多的信息量，在信息交流的深度上具有明显的优势。在4G网络普及、5G即将兴起的背景下，视频直播应用已经渗透到诸多垂直行业，在媒体资讯的应用也日趋普遍和成熟。新华网急需拓展直播业务，新华网客户端内容和呈现方式需优化升级，让新闻资讯、知识内容等信息传播更及时更高效。</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 20px;"><strong>解决方案</strong></span></p>
            <p><span style="font-size: 14px;">平台以标准云计算三层架构设计，充分的保障了平台开放、扩展、安全等架构优势，总体分为业务应用层、能力支撑层、资源层。 </span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 14px;">业务应用层直播系统平台为本次平台建设的核心内容，包括直播系统本身产品能力与直播定制开发内容两部分。 </span></p>
            <br>
            <p><span style="font-size: 14px;">能力支撑层提供支撑平台业务应用的底层能力，包括转码、上传/下载、直播、点播、互动、流媒体、接口等能力。  </span></p>
            <br>
            <p><span style="font-size: 14px;">资源层是平台部署所需资源，底层资源以计算、存储、CDN、网络为基础单元，支持 各种资源环境，如：私有云、专属云、公有云等。 </span></p>
            <br>
            <br>
            <p>
                <img src="imgs/a0013.png" alt="" style="margin: 0 auto; width:auto;max-height: 570px;" >
            </p>

        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>