<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>新疆兵团师市融媒体升级</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>新疆兵团师市融媒体升级</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/xjbt.png" alt="图片"></div>
            <div class="qiye_name">新疆兵团师市融媒体升级</div>
            <div class="qiye_Industry_field">所属行业：<span>媒体</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>项目背景</strong></span></p>
            <p><span style="font-size: 14px;">新疆生产建设兵团电视台是国家广电局批准的省级电视台，下辖十四个师部。近年来，网络和数字技术裂变式发展，带来媒体格局的深刻调整和舆论生态的重大变化。习近平总书记强调，要加快传统媒体和新兴媒体融合发展，充分运用新技术新应用创新媒体传播方式，占领信息传播制高点。兵团电视台响应党和国家领导人号召，为了适应新的融媒体发展需要，加快传统媒体和新兴媒体融合发展，充分运用新技术新应用创新媒体传播方式，建设新的面向县级融合媒体平台，占领信息。</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 20px;"><strong>解决方案</strong></span></p>
            <p><span style="font-size: 14px;">阳光云视为兵团师市融媒体中心搭建省级技术平台，采用开放式云架构，具有松耦合、资源池化、高可扩展等特性，可支持未来第三方新应用扩展，并支持微服务技术架构， 从而实现兵团各媒体已建平台（含第三方平台）进行标准化数据接入及应用接入，最大限度保护原有投资，该平台支持升级迭代，可快速满足用户新的需求。
同时为兵团师市融媒体中心省级技术平台与师级融媒体中心以及互联网汇聚等第三方系统实现互联互通，主要为师级融媒体中心提供媒体服务、党建服务、政务服务、公共服务和增值服务等综合服务的对接，支撑区域媒体开展业务。 </span>
            </p>

        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>