<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>云南省七彩云省级通联平台</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>云南省七彩云省级通联平台</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/ynqcy.png" alt="图片"></div>
            <div class="qiye_name">云南省七彩云省级通联平台</div>
            <div class="qiye_Industry_field">所属行业：<span>融媒体</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>项目背景</strong></span></p>
            <p><span style="font-size: 14px;">根据云南省县级融媒体省级平台打通的客观需要，云南省委宣传部组织的多次实践和讨论，通联平台建设计划以云南广播电视台七彩云平台为核心平台，将云南日报智慧云平台、昆明日报掌上春城平台和新华社云融平台四大平台实现通联。</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 20px;"><strong>解决方案</strong></span></p>
            <p><span style="font-size: 14px;">阳光云视利用其已有成熟稳固的云平台 PaaS 能力，做深化设计和二次开发，满足云南省县级融媒体省级平台打通的客观需要。我司根据云南广播电视台七彩云平台实际情况做总体技术设计，确认各平台接口，实现通联内容在云南广播电视台七彩云平台上进行保存、查询、调用和管理。</span>
            </p>
            <br>
            <p><span style="font-size: 14px;"> 云南日报智慧云平台、昆明日报掌上春城平台、新华社云融平台在各自平台内开发与通联相关的操作页面和功能，通过接口从云南广播电视台七彩云获取相关通联内容和信息，以及向云南广播电视台七彩云上传通联内容。</span></p>
            <br>
            <br>
            <p>
                <img src="imgs/b001001.png" alt="" style="margin: 0 auto; width:auto;max-height: 400px;" >
            </p>

        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>