<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>吉林省融媒体中心</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>吉林省融媒体中心</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/jlrmt.png" alt="图片"></div>
            <div class="qiye_name">吉林省融媒体中心</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>项目背景</strong></span></p>
            <p><span style="font-size: 14px;">当前，广播电视发展正面临战略转型，以互联网、移动互联网为代表的新媒体快速崛起，广播电视作为主流媒体正面临着严峻挑战，移动互联网、云计算、大数据等新一代信息技术对广电新闻制作、播出、服务模式与服务格局产生了全方位影响。
为推进媒体融合，电视台需要改变以往单一的采编、传播方式，向“台网”融合、“多屏”融合生产转变，开展基于全媒体内容库的“融合生产”，形成全媒体运作的新业态，发挥传播效益最大化。</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 20px;"><strong>解决方案</strong></span></p>
            <p><span style="font-size: 14px;">吉林广播电视台媒体融合PaaS平台建设以《电视台融合媒体技术平台建设白皮书》的理论基础为指导，搭建具有广电专用属性的云平台，总体技术构架模型符合媒体设施服务层、媒体平台服务层及媒体软件服务层的设计与部署要求；总体业务流程以融合媒体战略为引领，实现传统媒体与新兴媒体的优势互补、一体发展，业务流程实现上应满足内容全方位采集、全方位管理、全媒体生产、全业务发布、业务全平台管控、用户全方位服务、业务多模式创新的要求。</span>
            </p>
            <br>
            <p><span style="font-size: 14px;">阳光云视OnAir PaaS 平台采用标准的云计算技术体系设计，通过 PaaS 平台能力与服务，足以满足客户业务需求，具体业务需求分析如下：</span>
            </p>
            <br>
            <p><span style="font-size: 14px;">1、台方希望实现多云管理，通过 PaaS 平台建设，可实现吉林广播电视台 IaaS 底层资源（四朵云）统一管理；</span>
            </p>
            <p><span style="font-size: 14px;">2、台方希望实现资源统一管理，通过 PaaS 平台建设，可实现吉林广播电视台 IaaS底层资源（四朵云）数据免迁移、节省平台资源；</span>
            </p>
            <p><span style="font-size: 14px;">3、通过对台方提供PaaS平台伴随式开发服务，根据台方业务需要，及时调整方案，以满足客户需求。</span>
            </p>

        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>