<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>陕西广播电视台</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>陕西广播电视台</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/sxdst.png" alt="图片"></div>
            <div class="qiye_name">陕西广播电视台</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>项目背景</strong></span></p>
            <p><span style="font-size: 14px;">陕西广播电视台自 2014 年起，每年组织一次丝路万里行活动，由陕西台派专业的团队沿着丝绸之路走一圈，对沿途各地的文化、经济等内容进行采访报道，已达到传播中华文化、促进世界文明的目的。计划为期70天的采访计划，范围覆盖东盟十国：马来西亚、印度尼西亚、泰国、菲律宾、新加坡、文莱、越南、老挝、缅甸和柬埔寨。
外派的工作人员需将每天拍摄的素材传至华为云，台内工作人员在国内华为云上下载后进行编辑分发，因涉及出海业务，需海内外多名工作人员进行文件素材上传、下载、编辑等操作。</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 20px;"><strong>解决方案</strong></span></p>
            <p><span style="font-size: 14px;">针对用户使用场景并与客户进行沟通后分析，需要对海外和国内的记者和编辑们提供和媒体云的稿件生产、任务管理、选/报题管理、审核、下载功能，以及写稿助手（晓智），同时提供移动端上传、生产、审核功能。</span>
            </p>
            <br>
            <p><span style="font-size: 14px;">需要为客户提供的产品有：Migo、媒体库、策划指挥、生产（包括晓智）。基于媒体云的部署环境的约束，无法对海外记者提供稳定的功能，因此阳光云视与华为多次讨论后确定使用方案如下：</span>
            </p>
            <br>
            <p><span style="font-size: 14px;">1. 在华为云香港的节点上开虚拟机，搭建反向代理服务，指向华为云北京1节点的媒体云上；</span>
            </p>
            <p><span style="font-size: 14px;">2. 通过反向代理为海外编辑们提供媒体云服务，完成素材上传、稿件编辑和素材编辑；</span>
            </p>
            <p><span style="font-size: 14px;">3. 国内记者直接使用北京 1 节点上的媒体云服务，完成稿件编辑、素材编辑、审核、下载；</span>
            </p>

        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>