<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>济南广播电视台</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>济南广播电视台</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/jnt.png" alt="图片"></div>
            <div class="qiye_name">济南广播电视台</div>
            <div class="qiye_Industry_field">所属行业：<span>媒体</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>项目背景</strong></span></p>
            <p><span style="font-size: 14px;">融合媒体时代的到来，已经慢慢打破了传统电视台生产的固有流程，以新闻节目快速融合报道，专题综艺节目内容形式创新为方向的电视节目发展，趋势已经越来越清晰。结合云计算、大数据、5G、AI 人工智能等相关的互联网技术，为融合媒体的发展，提供了足够的技术支撑。</span></p>
            <br>
            <p><span style="font-size: 14px">鹊华云媒体中台就是为了满足融合媒体的发展需求而进行设计的，按照广电专业化的业务发展需求，通过云平台的建设，推进加快媒体融合发展，努力促成传统媒体在资源组织方式、业务管理运营机制、媒体产品创新上更加开放多元和积极探索作为，既符合国家媒体融合发展战略，也符合广电主流媒体转型升级发展期待，同时也顺应时代和技术发展趋势。</span></p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 20px;"><strong>解决方案</strong></span></p>
            <p><span style="font-size: 14px;">鹊华云媒体中台位于整个云平台的核心层，可以提供对 IaaS 层资源的统一管控调度，具备私有云和公有云同构能力，能够实现对于异构平台的统一管理；对于视、音频业务支撑及生产加工能力；还能够提供第三方生产工具集的快速注册和管理，并提供统一的标准化应用开发接口，为广大合作伙伴和开发者提供音视频生产加工、管理发布等服务能力。通过媒体中台提供的 API 接口，就可以访问从视频上传、生产加工、管理发布以及多终端展示等的全部功能服务，轻松实现音视频的应用开发。利用媒体中台还可以对所提供的服务进行精细化的运营管理，提供统一的计量、计费机制，实现服务的全面化运营。</span>
            </p>

            <br>
            <p><span style="font-size: 14px">
                鹊华云媒体中台，为了保障各项服务能够安全可靠的运行，制定了严格的运营管理机制和流程，充分利用云的优势和特点，设计了全新的平台技术架构，在数据的安全性，访问的高并发、高效率，大规模并行处理等等方面都做了深入的工作，以提供高效、安全、可靠的运行服务环境。集群环境运行、多点业务支撑、多数据备分等机制可以充分保证系统能够实现 7x24 小时运行。
            </span></p>
            <br>
            <br>
            <p>
                <img src="imgs/c001001.png" alt="" style="margin: 0 auto; width:auto;max-height: 42px;" >
            </p>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>