<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>西宁市广播电视台</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>西宁市广播电视台</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/xns.png" alt="图片"></div>
            <div class="qiye_name">西宁市广播电视台</div>
            <div class="qiye_Industry_field">所属行业：<span>媒体</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>项目背景</strong></span></p>
            <p><span style="font-size: 14px;">为全面推动西宁广播电视台媒体融合发展，提升宣传大美青海、夏都西宁影响力，重构西宁广播电视台广播电视和新媒体生产流程，实现传统广播电视与新媒体在技术、内容生产等方面的互联互通及深度融合，构建全新的生产流程体系，为实现全台广播电视和新媒体的融合发展，推进西宁广播电视台融媒体中心系统建设项目迫在眉睫。本项目的建设，为提高我台新闻舆论传播力、引导力、公信力，扩大主流价值影响力具有积极的作用，为进一步探索融合媒体发展具有重要意义。</span></p>
             <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 20px;"><strong>解决方案</strong></span></p>
            <p><span style="font-size: 14px;">阳光云视根据客户需求提供一套市级融媒体建设解决方案，实现资源适配、统一文件管理、统一用户管理、媒体服务聚类管理、能力服务引擎、API网关、容器管理系统、运营支撑管理系统、监控管理、接口服务、对接服务。等功能需求。</span>
            </p>
            <br>
            <br>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>