<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>昌平融媒体中心</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>昌平融媒体中心</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/cprmt.png" alt="图片"></div>
            <div class="qiye_name">昌平融媒体中心</div>
            <div class="qiye_Industry_field">所属行业：<span>电视台</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>项目背景</strong></span></p>
            <p><span style="font-size: 14px;">数据作为互联网时代新兴媒体关注的重点，如何将海量数据发挥其应有的核心价值，是融媒体中心从建设转向运营所需解决的首要问题。北京市昌平区融媒体中心通过打造昌平区专属大数据服务项目，实现现有融媒业务与大数据服务相结合，完成“北京昌平”手机APP终端用户数据采集、建模与分析，实现对用户的标签与画像，最终完成终端用户关注内容的智能推荐。</span></p>
             <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 20px;"><strong>解决方案</strong></span></p>
            <p><span style="font-size: 14px;">根据客户项目需求深度开发昌平区融媒体中心融媒内容生产平台，方便用户使用，整体操作逻辑。基于移动内容生产平台，构建微信矩阵内容管理系统，使两微一端关联起来；打通业务链条，构建绩效考核系统、传播分析、报送系统，从而实现与现有的制作网联通。构建内容安全生产流程，完善的业务流程管控机制及内容生产安全管控机制；丰富功能类型，添加领导去哪、VR看景点、看房及看车功能模块。</span>
            </p>
            <br>
            <br>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>