<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>【云南】会泽县融媒体中心</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>【云南】会泽县融媒体中心</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/hzxrmt.png" alt="图片"></div>
            <div class="qiye_name">【云南】会泽县融媒体中心</div>
            <div class="qiye_Industry_field">所属行业：<span>融媒体</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>项目背景</strong></span></p>
            <p><span style="font-size: 14px;">会泽县作为云南省首批“全国县级融媒体中心”建设试点县，打破制约、谋求发展的融媒体改革已迫在眉睫。在县委、县政府的全力支持下，2017年5月，成立了曲靖日报会泽记者站新媒体中心，承办掌上曲靖会泽模块、云南通会泽县党政客户端、会泽宣传网；2018年4月，县委外宣办承办的官方微信、微博、手机报和县文体广局承办的会泽M融合到曲靖日报会泽记者站统一维护管理，并于5月正式成立了会泽县新媒体中心。</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 20px;"><strong>解决方案</strong></span></p>
            <p><span style="font-size: 14px;">阳光云视对会泽县融媒体中心进行重新设计建设，将会泽县融媒体中心与省级七彩云对接，实现与县域资源整合，打造“媒体+”。媒体+政务+服务+商务，依托媒体+助力全县脱贫。同时打通七彩云与曲靖M，掌上曲靖，云南通等平台新闻推送，新闻共享，实现一次采集，多种生产，多元传播。</span>
            </p>
            <br>
            <br>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>