<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>【云南】大理州漾濞融媒体中心</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>【云南】大理州漾濞融媒体中心</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/dlyb.png" alt="图片"></div>
            <div class="qiye_name">【云南】大理州漾濞融媒体中心</div>
            <div class="qiye_Industry_field">所属行业：<span>融媒体</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>项目背景</strong></span></p>
            <p><span style="font-size: 14px;">漾濞县融媒体中心是云南省首个县级融媒体平台，该平台提供面向融合媒体的内容汇聚、生产、发布、指挥调度等功能的支撑平台，支持各种融合媒体业务。随着媒体业务的发展，计划建设“一体化资源配置、多媒体内容汇聚、多平台内容生产、多渠道内容分发、多终端精准服务、全流程智能协同”的智慧广电节目制播体系；加快广播电视台高清化建设任务，统筹建设广电大数据云平台以及构建“智慧广电+N”服务。</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 20px;"><strong>解决方案</strong></span></p>
            <p><span style="font-size: 14px;">阳光云视充分考虑当前融合媒体业务的特点及漾濞县融媒体中心运营情况，整个数据中心建设充分考虑到未来业务类型和规模的不确定性，具备满足统一资源调配、系统规模的伸缩、流程灵活可控的能力，并在保证安全和质量的前提，建设一个安全、稳定、可靠的融合媒体大数据基础平台，平台拥有高度的灵活性和可扩展性。
项目建设内容包括：融媒体私有云服务扩容、建设媒体资产管理系统、融媒体非编播出业务内网升级改造、融媒体中心自办电视节目频道高清改造、与云南省广播电视台“七彩云”数据中心实现数据连通等内容。</span>
            </p>
            <br>
            <br>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>