<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>迪庆藏族自治州5G新时代文明实践中心</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>迪庆藏族自治州5G新时代文明实践中心</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/dqtv.png" alt="图片"></div>
            <div class="qiye_name">迪庆藏族自治州5G新时代文明实践中心</div>
            <div class="qiye_Industry_field">所属行业：<span>融媒体</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>项目背景</strong></span></p>
            <p><span style="font-size: 14px;">2018年10月12日，中央宣传部、中央文明办在京召开建设新时代文明实践中心试点工作专题会议。中共中央政治局委员、中宣部部长黄坤明出席会议并讲话，强调要深入学习贯彻习近平新时代中国特色社会主义思想和党的十九大精神，贯彻落实全国宣传思想工作会议精神，着眼凝聚群众、引导群众，以文化人、成风化俗，扎实推进新时代文明实践中心试点工作，让党的宣传思想工作在基层实起来、强起来。</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 20px;"><strong>解决方案</strong></span></p>
            <p><span style="font-size: 14px;">阳光云视为迪庆州提供的方案采用云上业务与本地化业务相结合的融合设计，云上服务以七彩云作为融媒体中心、新时代文明实践中心核心业务支撑，同时对接“学习强国”云南学习平台，打造迪庆特色“两中心一平台”共融的云上媒体宣传服务体系，最终七彩云端 APP 统一呈现。构建媒体共融标杆项目。</span>
            </p>
            <br>
            <p><span style="font-size: 14px;">本地化服务以打造迪庆州域内全媒体资源共享系统为核心目标，双向打通七彩云云上服务，融合迪庆州域内融媒体中心、现时代文明实践中心两中心媒体库。整合迪庆州本地媒体机构媒体资源。形成迪庆州域内本地核心全媒体资源库，既实现媒体资源统一管理、共享，又保障迪庆州域内媒体资源的安全。</span>
            </p>
            <br>
            <br>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>