<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>五台县广播电视台融媒体中心建设</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>五台县广播电视台融媒体中心建设</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/wtx.png" alt="图片"></div>
            <div class="qiye_name">五台县广播电视台融媒体中心建设</div>
            <div class="qiye_Industry_field">所属行业：<span>融媒体</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>项目背景</strong></span></p>
            <p><span style="font-size: 14px;">2018年8月21日至22日，习近平同志在全国宣传思想工作会议上指出，“要扎实抓好县级融媒体中心建设，更好引导群众、服务群众”。9月20日，中宣部作出部署，要求2020年底基本实现县级融媒体中心在全国的全覆盖。这标志着推动媒体深度融合发展的新进程已经开启，县级融媒体中心建设成为这一阶段工作的重心。</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 20px;"><strong>解决方案</strong></span></p>
            <p><span style="font-size: 14px;">五台县广播电视台融媒体中心，阳光云视采用“平台+工具+服务”的设计理念，能力平台利用微服务化的媒体能力平台做支撑，实现对系统的解耦重构。通过协同指挥调度、全网舆情分析监控、聚合采编中心、统一发布矩阵等多项 SaaS 服务，实现多种业务应用场景，满足地方党委政府新闻宣传和政府服务需求，同时可依托平台开拓“媒体+”泛媒体服务市场，提供外宣、合作交流、地方特色商城等产业拓展服务。</span>
            </p>
            <br>
            <p><span style="font-size: 14px;">在保证数据传输安全的前提下，县级融媒体中心通过配置相应的安全设备，设置统一对接接口，实现与县广播电视台原有系统的交互。</span>
            </p>
            <br>
            <p><span style="font-size: 14px;">为突破县级融媒体中心建设发展瓶颈，阳光云视使用5G技术，将大数据、人工智能和云计算等技术应用到打造融媒体平台建设。创造更好的生存与发展空间，构建适应媒体融合发展趋势和县域主流舆论阵地建设需要的现代传播体系。</span>
            </p>
            <br>
            <br>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>