<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>元氏县融媒体中心</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>元氏县融媒体中心</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/ysx.png" alt="图片"></div>
            <div class="qiye_name">元氏县融媒体中心</div>
            <div class="qiye_Industry_field">所属行业：<span>融媒体</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>项目背景</strong></span></p>
            <p><span style="font-size: 14px;">按照中央和省市统一部署和要求，元氏县作为石家庄第二批融媒体中心建设县，市委要求19年10月底以前必须投入运行。融媒体中心建设已列入市委市政府对县委县政府考核的重要工作之一。元氏县委常委会研究并确定以元氏县广播电视台为基础，融合广播、电视、县报、元氏发布、“两微一端”、政府网站、户外宣传群等媒体，建设元氏县融媒体中心。在元氏县广播电视台现有基础上进行改造升级，结合省融媒体技术平台完成元氏县融媒体技术平台的搭建，到年底基本完成融媒体中心的建设，投入运行，实现融媒体中心的基本功能和起步发展。</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 20px;"><strong>解决方案</strong></span></p>
            <p><span style="font-size: 14px;">阳光云视根据元氏县融媒体中心项目需求，为其设计专属的县级融媒体中心解决方案，方案包括：</span>
            </p>
            <br>
            <p><span style="font-size: 14px;">(1）建立统一调度指挥调度中心，为集中指挥、高效协调、采编调度、信息沟通提供平台。</span>
            </p>
            <br>
            <p><span style="font-size: 14px;">(2）构建采集汇聚、内容生产、内容审核、融合发布、数据分析等功能模块的融媒体业务支撑体系。</span>
            </p>
            <br>
            <p><span style="font-size: 14px;">(3）建设媒体发布移动客户端及周边硬件配套产品。</span>
            </p>
            <br>
            <br>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>