<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>正定县融媒体中心</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>正定县融媒体中心</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/zdxrmt.png" alt="图片"></div>
            <div class="qiye_name">正定县融媒体中心</div>
            <div class="qiye_Industry_field">所属行业：<span>融媒体</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>项目背景</strong></span></p>
            <p><span style="font-size: 14px;">贯彻落实习近平总书记关于媒体融合发展的重要讲话精神、中共中央《关于推动传统媒体和新兴媒体融合发展的指导意见》，顺应当前媒体发展新趋势、新挑战。正定县计划建设融媒体中心技术平台，旨在加快推进正定县原有广电媒体和新媒体的全面融合，不断提高区域新闻舆论的传播力、引导力、影响力、公信力。</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 20px;"><strong>解决方案</strong></span></p>
            <p><span style="font-size: 14px;">在正定县融媒体中心技术平台建设项目中，阳光云视提供面向融合媒体的内容汇聚、生产、发布的基础能力支撑平台，融合支持各种融媒体业务，实现以内容为核心，以渠道为介质的战略。利用最新的互联网技术和思维，建设融媒体生产发布平台，支持敏捷生产和新业务的弹性部署，在满足传统业务流程的同时，能够为新业务提供统一的内容支撑、技术服务、数据分析等服务一体化技术业务平台，有效支撑媒体融合创新业务的快速发展，为正定县现在乃至今后融媒体发展提供业务扩展的支撑能力。</span>
            </p>
            <br>
            <br>
            <br>
            <p>
                <img src="imgs/d007001.png" alt="" style="margin: 0 auto; width:auto;max-height: 406px;" >
            </p>

        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>