<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>定襄县广播电视台融媒体中心</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>定襄县广播电视台融媒体中心</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/dxxgb.png" alt="图片"></div>
            <div class="qiye_name">定襄县广播电视台融媒体中心</div>
            <div class="qiye_Industry_field">所属行业：<span>融媒体</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>项目背景</strong></span></p>
            <p><span style="font-size: 14px;">通过媒体云平台配置完成融媒体的各项业务，包括指挥调度、新闻采集、生产、发布（APP和微站）、直播。</span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 20px;"><strong>解决方案</strong></span></p>
            <p><span style="font-size: 14px;">阳光云视根据项目情况，在电视台原办公场所建设定襄县融媒体中心，建设内容包括机房改造、指挥中心装修、基础业务支撑系统建设、设备采购等。项目建设总体要求：</span>
            </p>
            <br>
            <p><span style="font-size: 14px;">1）建立统一调度指挥调度中心，为集中指挥、高效协调、采编调度、信息沟通提供平台。</span>
            <br>
            <p><span style="font-size: 14px;">2）构建集采集汇聚、内容生产、内容审核、融合发布、数据分析等功能模块的融媒体业务支撑体系。</span>
            <br>
            <p><span style="font-size: 14px;">3）搭建直播系统以及配套电视生产、应急广播等系统建设。</span>
            <br>
            <p><span style="font-size: 14px;">4）将电视台、地方报纸原有业务系统打通，实现稿件材料交互。</span>
        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>