<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="yunshicloud">
    <meta name="description" content="yunshicloud">
    <meta name="format-detection" content="telephone=no">
    <title>北京师范大学融媒体资源管理平台建设</title>
    <link rel="icon" type="image/x-icon" href="../../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../../common/css/common.css">
    <link rel="stylesheet" href="../../../common/css/base.css">
    <link rel="stylesheet" href="../css/list_style.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_case_banner">
    <img src="../img/list_pic1.jpg" alt="图片">
</div>
<div class="detail maxWidth">
    <div class="detail_links">
        <a href="http://www.yunshicloud.com/">云视官网</a><span>&nbsp;&gt;&nbsp;</span><a
            href="../customerCase.html">客户案例</a><span>&nbsp;&gt;&nbsp;</span><span>北京师范大学融媒体资源管理平台建设</span>
    </div>
    <div class="detail_content">
        <div class="qiye_message">
            <div class="qiye_logo"><img src="img/bsd.png" alt="图片"></div>
            <div class="qiye_name">北京师范大学融媒体资源管理平台建设</div>
            <div class="qiye_Industry_field">所属行业：<span>教育</span></div>
        </div>
        <div class="qiye_introduce">
            <p><span style="font-size: 20px;"><strong>项目背景</strong></span></p>
            <p><span style="font-size: 14px;">党的十九大以来，党中央对新闻舆情工作和媒体融合转型高度重视，相关政策文件体现了一脉相承与创新发展的统一。媒体融合向纵深发展，也是未来教育融媒体的发展走向。此前，教育部已于2019年5月启动开展教育系统融媒体建设试点工作，经各试点单位一年多来的探索，可以发现，高校教育融媒体中心已成为教育新闻工作转型升级的突破口，提升教育新闻工作的传播力、引导力、影响力、公信力。</span>
            </p>

            <br>
            <p>
                <span style="font-size: 14px">
                    纵观北京乃至全国高校，北京师范大学融媒体中心建设走在了高校媒体融合的前列，几年前，曾做过类似于融媒体的一个视频点播平台，平台的规模虽然不大，但在学校起到了很大的作用，承载了学习整个公共视频的采编发工作，为学校的新闻网、自建APP、视频平台等提供了较多的视频发布服务，现在视频流量越来越大，视频编解码及分发到各个平台的代价都相对较高，学校之前的系统架构已经不能满足现有的需求，随着技术的不断发展，“融媒体”这一观念也被不断提及，所以阳光云视为其建设出一个更新的系统架构来支撑现在的需求。
                </span>
            </p>
            <p><span style="font-size: 14px;"><br></span></p>
            <p><span style="font-size: 20px;"><strong>解决方案</strong></span></p>
            <p><span style="font-size: 14px;">针对北京师范大学融媒体中心建设的规划，阳光云视通过整合高校媒体资源，推进传统媒体与新兴媒体间的深度融合，打造全媒体智慧采编发数据平台，整合采编播力量，重构采编播流程，实现用户采、编、播等多技能融为一体，内容、技术、渠道、平台、管理等多要素融为一体，“一次采集、多种产品、全媒体传播”的格局。 融媒体中心建设将分立的发布终端整合起来，打造一个网站、移动客户端、微信公众号、微博等新兴媒体、社会宣传资源融为一体的矩阵化媒体平台。</span>
            </p>
            <br>
            <p>
                <span style="font-size: 14px">
                   通过融媒机制创新生产更优质的内容产品，实现媒体资源的集约利用，把内宣、网宣等职责融为一体，为搭建高校强势主流舆论平台，发展新型主流媒体打下坚实基础。丰富内容，优化内容呈现方式，提升北京师范大学的品牌影响力。
                </span>
            </p>
            <br>
            <br>

        </div>
    </div>
</div>
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../../common/js/base.js"></script>
<script src="../../../common/js/main.js"></script>
</body>
</html>