<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>AI数字人主播</title>
    <script src="../../common/js/deviceType.js"></script>
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../common/css/base.css">
    <link rel="stylesheet" href="../../common/plugins/aos/aos.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/aiAnchor.css">
</head>
<body>
    <div class="page-wrapper page-aiAnchor-wrapper">
        <div id="header-wrap"></div>
        <div class="page-content">
            <div class="top-banner" id="bannerHook">
                <div class="banner-cont" data-aos="fade-right">
                    <div>
                        <div class="banner-title">AI数字人主播</div>
                        <div class="banner-intro">便捷的数字人建模与应用工具，方便用户快速建立海量内容<br />生产能力，有效应对运营成本压力。 </div>
                    </div>
                </div>
                <div class="banner-anchor">
                    <a id="menu1" class="anchor-item active" data-hook="#block1_hook" href="#block1_hook">产品功能</a>
                    <a id="menu2" class="anchor-item" data-hook="#block2_hook" href="#block2_hook">产品优势</a>
                    <a id="menu3" class="anchor-item" data-hook="#block3_hook" href="#block3_hook">应用场景</a>
                    <a id="menu4" class="anchor-item" data-hook="#block4_hook" href="#block4_hook">给客户带来价值</a>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="content-w common_block_hook" id="block1_hook" menu-id="menu1">
                    <div class="common-block block-1" data-aos="fade-up">
                        <div class="title">产品功能</div>
                        <div class="item-wrapper">
                            <div class="item" data-aos="flip-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-top">
                                        <div class="item-icon"></div>
                                        <div class="item-t">形象复刻</div>
                                    </div>
                                    <div class="item-c">按照拍摄要求提供主播视频文件，经系统训练后完整复刻真人形象</div>
                                </div>
                            </div>
                            <div class="item" data-aos="flip-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-top">
                                        <div class="item-icon"></div>
                                        <div class="item-t">声音复刻</div>
                                    </div>
                                    <div class="item-c">按照录制要求提供主播音频文件，经系统训练后真实复刻人物声音</div>
                                </div>
                            </div>
                            <div class="item" data-aos="flip-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-top">
                                        <div class="item-icon"></div>
                                        <div class="item-t">视频生成</div>
                                    </div>
                                    <div class="item-c">将文本输入后系统根据AI学习结果自动输出复刻播报视频</div>
                                </div>
                            </div>
                            <div class="item" data-aos="flip-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-top">
                                        <div class="item-icon"></div>
                                        <div class="item-t">声音选择</div>
                                    </div>
                                    <div class="item-c">如不进行声音复刻训练，系统自带多种声音供用户选择</div>
                                </div>
                            </div>
                            <div class="item" data-aos="flip-up" data-aos-delay="400">
                                <div class="block-item">    
                                    <div class="item-top">
                                        <div class="item-icon"></div>
                                        <div class="item-t">背景选择</div>
                                    </div>
                                    <div class="item-c">可根据视频内容选择播报背景，实现多场景效果</div>
                                </div>
                            </div>
                            <div class="item" data-aos="flip-up" data-aos-delay="400">
                                <div class="block-item">
                                    <div class="item-top">
                                        <div class="item-icon"></div>
                                        <div class="item-t">语速调节</div>
                                    </div>
                                    <div class="item-c">可根据需求对播报语速进行调节</div>
                                </div>
                            </div>
                            <div class="item" data-aos="flip-up" data-aos-delay="400">
                                <div class="block-item">
                                    <div class="item-top">
                                        <div class="item-icon"></div>
                                        <div class="item-t">音调调节</div>
                                    </div>
                                    <div class="item-c">可根据需求对播报音高进行调节</div>
                                </div>
                            </div>
                            <div class="item" data-aos="flip-up" data-aos-delay="400">
                                <div class="block-item">
                                    <div class="item-top">
                                        <div class="item-icon"></div>
                                        <div class="item-t">音量调节</div>
                                    </div>
                                    <div class="item-c">可根据需求对播报音量进行调节</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="common-block block-2 common_block_hook" id="block2_hook" menu-id="menu2">
                    <div class="title" data-aos="fade-up">产品优势</div>
                    <div class="item-wrapper"  data-aos="fade-up" data-aos-delay="500">
                        <div class="item">
                            <div class="block-item">
                                <div class="item-t">匹配度高</div>
                                <div class="item-c">生成视频中主播口型与播报文本完全匹配，段句精准</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block-item">
                                <div class="item-t">配音丰富</div>
                                <div class="item-c">系统提供多种风格真人声音效果</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block-item">
                                <div class="item-t">多种语言</div>
                                <div class="item-c">可以根据需求轻切换播报语言，支持多语种，利于国内及国际传播</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="block-item">
                                <div class="item-t">可定制性</div>
                                <div class="item-c">用户可以根据需求调节数字人播报产品的声音、语调、速度等参数，使其适应不同场景和受众，提供更加个性化的体验</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-w common_block_hook" id="block3_hook" menu-id="menu3">
                    <div class="common-block block-3">
                        <div class="title" data-aos="fade-up">应用场景</div>
                        <div class="item-wrapper">
                            <div class="item" data-aos="fade-right">
                                <div class="block-item flex-1">
                                    <div class="item-top-bg">
                                        <img src="./images/AIAnchor/block3-top-bg1.jpg" alt="">
                                    </div>
                                    <div class="item-cont">
                                        <div class="item-t">节目录制</div>
                                    <div class="item-c">如真实主播无法参与节目录制或直播，真人复刻虚拟主播可以代替其进行节目录制，保持节目的连续性和完整性</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item" data-aos="fade-left">
                                <div class="block-item flex-1">
                                    <div class="item-top-bg">
                                        <img src="./images/AIAnchor/block3-top-bg2.jpg" alt="">
                                    </div>
                                    <div class="item-cont">
                                        <div class="item-t">语种多样</div>
                                    <div class="item-c">真人复刻虚拟主播可以通过语音合成技术，用不同语言进行内容播报，满足国际宣传需求</div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                
                <div class="common-block block-4 mt-32 common_block_hook" id="block4_hook" menu-id="menu4">
                    <div class="title">给客户带来价值</div>
                    <div class="block-cont-bg">
                        <div class="item-wrapper" data-aos="fade-up">
                            <div class="block-item">
                                <div class="item-t">提升效率</div>
                                <div class="item-c">可不间断地进行信息播报，不受时间、场地、人员协助等限制</div>
                            </div>
                            <div class="block-item">
                                <div class="item-t">降低成本</div>
                                <div class="item-c">相比真人主持人或播音员，数字人播报产品的成本相对较低，尤其是在频繁更新内容或大规模播报的情况下，可以显著降低运营成本</div>
                            </div>
                            <div class="block-item">
                                <div class="item-t">播报稳定</div>
                                <div class="item-c">始终保持一致的声音和形象，不受情绪、疲劳等因素影响，确保播报内容的稳定性和专业性</div>
                            </div>   
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-wrap"></div>
    </div>
</body>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../common/plugins/aos/aos.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../../common/js/main.js"></script>
<script src="./js/common.js"></script>
<script>
    AOS.init();
</script>
</html>