<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>H5创意工坊</title>
    <script src="../../common/js/deviceType.js"></script>
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../common/css/base.css">
    <link rel="stylesheet" href="../../common/plugins/aos/aos.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/h5CreativeWorkShop.css">
</head>
<body>
    <div class="page-wrapper page-h5CreativeWorkShop-wrapper">
        <div id="header-wrap"></div>
        <div class="page-content">
            <div class="top-banner" id="bannerHook">
                <div class="banner-cont" data-aos="fade-right">
                    <div>
                        <div class="banner-title">H5创意工坊</div>
                        <div class="banner-intro">一站式H5生成工具，丰富的模版库，支持音视图文等<br/>多媒体形态 </div>
                    </div>
                </div>
                <div class="banner-anchor">
                    <a id="menu1" class="anchor-item active" data-hook="#block1_hook" href="#block1_hook">产品功能</a>
                    <a id="menu2" class="anchor-item" data-hook="#block2_hook" href="#block2_hook">产品优势</a>
                    <a id="menu3" class="anchor-item" data-hook="#block3_hook" href="#block3_hook">应用场景</a>
                    <a id="menu4" class="anchor-item" data-hook="#block4_hook" href="#block4_hook">给客户带来价值</a>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="content-w common_block_hook" id="block1_hook" menu-id="menu1">
                    <div class="common-block block-1" data-aos="fade-up">
                        <div class="title">产品功能</div>
                        <div class="item-wrapper">
                            <div class="item" data-aos="flip-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-top">
                                        <div class="item-icon"></div>
                                        <div class="item-t">活动制作</div>
                                    </div>
                                    <div class="item-c">支持自主策划、制作，快速、低代码地实现面向广大受众发布的复杂H5互动活动内容</div>
                                </div>
                            </div>
                            <div class="item" data-aos="flip-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-top">
                                        <div class="item-icon"></div>
                                        <div class="item-t">模板套用</div>
                                    </div>
                                    <div class="item-c">支持多类型的预置H5模板，仅通过调整页面元素便可实现互动内容的快速创建</div>
                                </div>
                            </div>
                            <div class="item" data-aos="flip-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-top">
                                        <div class="item-icon"></div>
                                        <div class="item-t">自定义编辑</div>
                                    </div>
                                    <div class="item-c">提供H5编辑工具，支持高自由度H5内容的自定义编辑，支持跨页、浮窗、动画、样式、特效等编辑维度</div>
                                </div>
                            </div>
                            <div class="item" data-aos="flip-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-top">
                                        <div class="item-icon"></div>
                                        <div class="item-t">低代码插件</div>
                                    </div>
                                    <div class="item-c">支持图片、视音频、字幕、倒计时、表格、幻灯片等多种插件模组在编辑过程中的快速嵌入与使用</div>
                                </div>
                            </div>
                            <div class="item" data-aos="flip-up" data-aos-delay="400">
                                <div class="block-item">    
                                    <div class="item-top">
                                        <div class="item-icon"></div>
                                        <div class="item-t">JS脚本编辑</div>
                                    </div>
                                    <div class="item-c">支持通过直接编辑JS脚本实现复杂效果、逻辑的创造与添加</div>
                                </div>
                            </div>
                            <div class="item" data-aos="flip-up" data-aos-delay="400">
                                <div class="block-item">
                                    <div class="item-top">
                                        <div class="item-icon"></div>
                                        <div class="item-t">发布预览</div>
                                    </div>
                                    <div class="item-c">支持预览制作好的创意H5内容，所见即所得</div>
                                </div>
                            </div>
                            <div class="item" data-aos="flip-up" data-aos-delay="400">
                                <div class="block-item">
                                    <div class="item-top">
                                        <div class="item-icon"></div>
                                        <div class="item-t">H5分享</div>
                                    </div>
                                    <div class="item-c">支持H5内容的发布、嵌套、分享，支持微信转发</div>
                                </div>
                            </div>
                            <div class="item" data-aos="flip-up" data-aos-delay="400">
                                <div class="block-item">
                                    <div class="item-top">
                                        <div class="item-icon"></div>
                                        <div class="item-t">数据统计</div>
                                    </div>
                                    <div class="item-c">支持H5发布数据统计，评估作品传播效果</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="common-block block-2 common_block_hook" id="block2_hook" menu-id="menu2"  data-aos="fade-up">
                    <div class="content-w">
                        <div class="title">产品优势</div>
                    <div class="item-wrapper">
                        <div class="item" data-aos="fade-up" data-aos-delay="300">
                            <div class="block-item">
                                <div class="item-icon">
                                    <i class="icon"></i>
                                </div>
                                <div class="item-t">系统可靠</div>
                                <div class="item-c">纯自研系统，拥有全部系统代码，技术栈安全可靠。对接CDN，无惧爆款H5内容的高流量访问</div>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-up" data-aos-delay="400">
                            <div class="block-item">
                                <div class="item-icon"><i class="icon"></i></div>
                                <div class="item-t">部署灵活</div>
                                <div class="item-c">支持本地化部署，可满足安全等级保护要求</div>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-up" data-aos-delay="500">
                            <div class="block-item">
                                <div class="item-icon"><i class="icon"></i></div>
                                <div class="item-t">服务完备</div>
                                <div class="item-c">在H5创意内容制作过程中，提供技术顾问，支持一对一技术咨询与帮助</div>
                            </div>
                        </div>
                        <div class="item"  data-aos="fade-up" data-aos-delay="600">
                            <div class="block-item">
                                <div class="item-icon"><i class="icon"></i></div>
                                <div class="item-t">功能丰富</div>
                                <div class="item-c">支持多插件模组编辑，支持JS代码编辑、低代码引用、VR+陀螺仪全景设置，以实现多样化的内容呈现效果</div>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-up" data-aos-delay="700">
                            <div class="block-item">
                                <div class="item-icon"><i class="icon"></i></div>
                                <div class="item-t">常用常新</div>
                                <div class="item-c">支持将制作好的H5作品抽象为H5模板，用以支持后续类似创意内容的快速制作</div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="content-w common_block_hook" id="block3_hook" menu-id="menu3">
                    <div class="common-block block-3">
                        <div class="title" data-aos="fade-up" data-aos-offset="100">应用场景</div>
                        <div class="item-wrapper">
                            <div class="item" data-aos="fade-up" data-aos-delay="300" data-aos-offset="50">
                                <div class="block-item">
                                        <div class="item-bg">
                                            <img src="./images/h5CreativeWorkShop/block3-img1.jpg" alt="">
                                        </div>
                                        <div class="item-cont" data-aos="fade-up">
                                            <div class="item-t">线上运营</div>
                                        <div class="item-c">策划并实现各类型运营方案，帮助企业进行内容营销，增加品牌曝光和吸引用户</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item" data-aos="fade-up" data-aos-delay="400" data-aos-offset="50">
                                <div class="block-item">
                                        <div class="item-bg">
                                            <img src="./images/h5CreativeWorkShop/block3-img2.jpg" alt="">
                                        </div>
                                        <div class="item-cont" data-aos="fade-up">
                                            <div class="item-t">新闻报道</div>
                                        <div class="item-c">立体化制作新闻内容，用于专题性质的内容报道</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item" data-aos="fade-up" data-aos-delay="500" data-aos-offset="50">
                                <div class="block-item">
                                        <div class="item-bg">
                                            <img src="./images/h5CreativeWorkShop/block3-img3.jpg" alt="">
                                        </div>
                                        <div class="item-cont" data-aos="fade-up">
                                            <div class="item-t">在线电商</div>
                                        <div class="item-c">为电商平台生成商品宣传、介绍内容，帮助提升产品的销售效果</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item" data-aos="fade-up" data-aos-delay="600" data-aos-offset="50">
                                <div class="block-item">
                                        <div class="item-bg">
                                            <img src="./images/h5CreativeWorkShop/block3-img4.jpg" alt="">
                                        </div>
                                        <div class="item-cont" data-aos="fade-up">
                                            <div class="item-t">教育培训</div>
                                        <div class="item-c">生成教学材料、课件、练习题等，辅助学生学习和教学</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item" data-aos="fade-up" data-aos-delay="700" data-aos-offset="50">
                                <div class="block-item">
                                        <div class="item-bg">
                                            <img src="./images/h5CreativeWorkShop/block3-img5.jpg" alt="">
                                        </div>
                                        <div class="item-cont" data-aos="fade-up">
                                            <div class="item-t">客户服务</div>
                                        <div class="item-c">生成意见征集、客户回馈等互动内容，提供有效的客户服务</div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="common-block block-4 mt-32 common_block_hook" id="block4_hook" menu-id="menu4" data-aos="fade-up">
                    <div class="title">给客户带来价值</div>
                    <div class="block-cont-bg">
                        <div class="item-wrapper" data-aos="fade-up">
                            <div class="block-item">
                                <div class="item-t">提高生产力</div>
                                <div class="item-c">可有效支撑原本复杂甚至不可能实现的活动策划内容，提高部门/公司整体的内容制作能力与效率</div>
                            </div>
                            <div class="block-item">
                                <div class="item-t">提升传播体验</div>
                                <div class="item-c">不同于传统稿件及视音频内容的单向内容输出方式，H5创意内容支持与受众进行大量内容及操作交互，提升内容的传播体验</div>
                            </div>
                            <div class="block-item">
                                <div class="item-t">提高传播效率</div>
                                <div class="item-c">通过寓教于乐的交互设计与实现，大大提升受众对创意内容的参与感，进而更好的实现内容传播</div>
                            </div>   
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-wrap"></div>
    </div>
</body>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../common/plugins/aos/aos.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../../common/js/main.js"></script>
<script src="./js/common.js"></script>
<script>
    AOS.init();
</script>
</html>