<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>AIGC智能工坊</title>
    <script src="../../common/js/deviceType.js"></script>
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../common/css/base.css">
    <link rel="stylesheet" href="../../common/plugins/aos/aos.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div class="page-wrapper page-aigc-wrapper">
        <div id="header-wrap"></div>
        <div class="page-content">
            <div class="top-banner">
                <div class="banner-cont" data-aos="fade-right">
                    <div>
                    <div class="banner-title">AIGC智能工坊</div>
                    <div class="banner-intro">
                        <span>智能写稿</span>
                        <span>智能成片</span>
                        <span>数字孪生</span>
                        <span>H5创意工坊</span>
                        <span>智能工具集</span>
                        <span>虚拟兵团</span>
                    </div>
                    <!-- <div class="btn">查看详情</div> -->
                    </div>
                </div>
            </div>
            <div class="content-wrapper content-w">
                <div class="common-block block-1" data-aos="fade-up">
                    <div class="title">优势</div>
                    <div class="item-wrapper">
                        <div class="item" data-aos="flip-up" data-aos-delay="300">
                            <div class="block-item">
                                <div class="item-t">可信赖的意识形态</div>
                                <div class="item-c">基于官方媒体的可信赖数据，确保各项应用的底层 模型具备可靠的意识形态，同时用户可使用私有数据对模型做更深入微调，以形成自身独有风格</div>
                            </div>
                        </div>
                        <div class="item" data-aos="flip-up" data-aos-delay="300">
                            <div class="block-item">
                                <div class="item-t">贴近行业应用的产品设计</div>
                                <div class="item-c">需求来源于第一线，所有产品设计遵循一线采编 人员的工作习惯，降低使用门槛，不增加额外学习成本</div>
                            </div>
                        </div>
                        <div class="item" data-aos="flip-up" data-aos-delay="300">
                            <div class="block-item">
                                <div class="item-t">灵活的获取方式</div>
                                <div class="item-c">系统同时支持私有化部署与云服务两种交付方式，用户可根据自身需求灵活选择获取方式</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="common-block block-2" data-aos="fade-up">
                    <div class="title">产品功能</div>
                    <div class="item-wrapper">
                        <div class="item" data-aos="flip-up" data-aos-delay="300">
                            <div class="block-item">
                            <div class="item-t">智能写稿</div>
                            <div class="item-c">具备一键成文、长文缩编、自动标题、要点提取等多项功能，有效提升文字工作效率。同时提供私有数据训练能力，助力形成自有文字风格</div>
                            <a href="./intelligentWriting.html"><div class="common-btn"><span>查看详情</span></div></a>
                            <div class="bg-icon"></div>
                        </div>
                        </div>
                        <div class="item" data-aos="flip-up" data-aos-delay="300">
                            <div class="block-item">
                                <div class="item-t">智能成片</div>
                                <div class="item-c">基于多模态大模型能力，支持自动成片、长视频缩编等多种应用场景，具备二次编辑能力，可预设多种模版，有效提升视频生成效率</div>
                                <a href="./intelligentVideo.html"><div class="common-btn"><span>查看详情</span></div></a>
                                <div class="bg-icon"></div>
                            </div>
                        </div>
                        <div class="item" data-aos="flip-up" data-aos-delay="300">
                            <div class="block-item">
                                <div class="item-t">数字孪生</div>
                                <div class="item-c">便捷的数字人建模与应用工具，方便用户快速建立海量内容生产能力，有效应对运营成本压力</div>
                                <a href="./AIAnchor.html"><div class="common-btn"><span>查看详情</span></div></a>
                                <div class="bg-icon"></div>
                            </div>
                        </div>
                        <div class="item" data-aos="flip-up" data-aos-delay="300">
                            <div class="block-item">
                                <div class="item-t">H5创意工坊</div>
                                <div class="item-c">一站式H5生成工具，丰富的模版库，支持音视图文等多媒体形态</div>
                                <a href="./h5CreativeWorkShop.html"><div class="common-btn"><span>查看详情</span></div></a>
                                <div class="bg-icon"></div>
                            </div>
                        </div>
                        <div class="item" data-aos="flip-up" data-aos-delay="300">
                            <div class="block-item">
                                <div class="item-t">智能工具集</div>
                                <div class="item-c">提供智能修图、上变换转码、智能审核、 视频编辑等丰富的工具，方便用户一站式解决所有问题</div>
                                <a href="javascript:;"><div class="common-btn disabled"><span>查看详情</span></div></a>
                                <div class="bg-icon"></div>
                            </div>
                        </div>
                        <div class="item" data-aos="flip-up" data-aos-delay="300">
                            <div class="block-item flex-1"> 
                                <div class="item-t">虚拟兵团</div>
                                <div class="item-c">方便媒体机构规模化运营，有效降低运营成本</div>
                                <a href="javascript:;""><div class="common-btn disabled"><span>查看详情</span></div></a>
                                <div class="bg-icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="common-block block-3">
                    <div class="title" data-aos="fade-up">基础技术</div>
                    <div class="item-wrapper">
                        <div class="item" data-aos="fade-right"  data-aos-delay="300">
                            <div class="block-item flex-1">
                                <div class="item-t">华为盘古</div>
                                <div class="item-c">与华为盘古正式签署生态合作协议，在智能成稿等文字生成类应用中，底层对接华为盘古NLP大模型，确保生成内容具备正确的意识形态以及良好的三观表现</div>
                                <div class="item-logo"></div>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-left">
                            <div class="block-item flex-1">
                                <div class="item-t">清华大学</div>
                                <div class="item-c">基于清华大学大模型技术，通过针对性训练，实现符合媒体行业需求的生成能力，并提供私有化部署方案及持续训练接口，确保客户私有数据的安全以及私有大模型底座的持续成长</div>
                                <div class="item-logo"></div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div id="footer-wrap"></div>
    </div>
</body>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../common/plugins/aos/aos.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../../common/js/main.js"></script>
<script>
    AOS.init();
</script>
</html>