<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>智能媒资</title>
    <script src="../../common/js/deviceType.js"></script>
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../common/css/base.css">
    <link rel="stylesheet" href="../../common/plugins/aos/aos.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/intelligentMediaAssets.css">
</head>
<body>
    <div class="page-wrapper page-intelligentMediaAssets-wrapper">
        <div id="header-wrap"></div>
        <div class="page-content">
            <div class="top-banner" id="bannerHook">
                <div class="banner-cont" data-aos="fade-right">
                    <div>
                        <div class="banner-title">智能数字资产管理系统</div>
                        <div class="banner-intro">基于人工智能技术，构建了全新高智能化数字资产统一管理平台。该平台还可通过机器学习等技术，实现自我学习和智能推荐，从而系统提升管</div>
                    </div>
                </div>
                <div class="banner-anchor">
                    <a id="menu1" class="anchor-item active" data-hook="#block1_hook" href="#block1_hook">产品功能</a>
                    <a id="menu2" class="anchor-item" data-hook="#block2_hook" href="#block2_hook">产品优势</a>
                    <a id="menu3" class="anchor-item" data-hook="#block3_hook" href="#block3_hook">应用场景</a>
                    <a id="menu4" class="anchor-item" data-hook="#block4_hook" href="#block4_hook">客户价值</a>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="content-w common_block_hook" id="block1_hook" menu-id="menu1">
                    <div class="common-block block-1" data-aos="fade-up">
                        <div class="title">产品功能</div>
                        <div class="item-wrapper">
                            <div class="item" data-aos="flip-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-top">
                                        <div class="item-icon"></div>
                                        <div class="item-t">资产入库</div>
                                    </div>
                                    <div class="item-c">
										<ul>   
											<li>
												<p></p>
												<p>支持web方式批量上传</p>
											</li>
											<li>
												<p></p>
												<p>支持大文件上传</p>
											</li>
											<li>
												<p></p>
												<p>支持上传加速优化</p>
											</li>
											<li>
												<p></p>
												<p>支持第三方系统对接入库</p>
											</li>
										</ul>
									</div>
                                </div>
								<div class="block-item">
								    <div class="item-top">
								        <div class="item-icon"></div>
								        <div class="item-t">资产优化</div>
								    </div>
								    <div class="item-c">
										<ul>
											<li>
												<p></p>
												<p>支持图像智能修复</p>
											</li>
											<li>
												<p></p>
												<p>支持视频智能超分和画面修复</p>
											</li>
											<li>
												<p></p>
												<p>支持基于人脸美感度智能检测的图像挑选</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="block-item">
								    <div class="item-top">
								        <div class="item-icon"></div>
								        <div class="item-t">资产编目</div>
								    </div>
								    <div class="item-c">
										<ul>
											<li>
												<p></p>
												<p>支持编目字段及模板高度灵活自定义，支持国家广电总局四级编目标准</p>
											</li>
											<li>
												<p></p>
												<p>支持智能多模态自动编目，包括人物识别、语音识别、OCR识别、物体识别和场景识别等</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="block-item">
								    <div class="item-top">
								        <div class="item-icon"></div>
								        <div class="item-t">资产检索</div>
								    </div>
								    <div class="item-c">
										<ul>
											<li>
												<p></p>
												<p>支持全文检索、分类检索、拼音检索、同音字检索</p>
											</li>
											<li>
												<p></p>
												<p>支持智能多模态向量分析检索，包括以文搜图、以文搜视频、以图搜图、以图搜视频、语音搜索、人脸搜索等</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="block-item">
								    <div class="item-top">
								        <div class="item-icon"></div>
								        <div class="item-t">智能推荐</div>
								    </div>
								    <div class="item-c">
										<ul>
											<li>
												<p></p>
												<p>通过机器学习等技术，根据用户行为和内容特征，为用户推荐相关内容，提高用户满意度</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="block-item">
								    <div class="item-top">
								        <div class="item-icon"></div>
								        <div class="item-t">资产下载</div>
								    </div>
								    <div class="item-c">
										<ul>
											<li>
												<p></p>
												<p>支持视频打点下载</p>
											</li>
											<li>
												<p></p>
												<p>支持资产打包下载</p>
											</li>
											<li>
												<p></p>
												<p>支持下载审核</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="block-item">
								    <div class="item-top">
								        <div class="item-icon"></div>
								        <div class="item-t">资产再生产</div>
								    </div>
								    <div class="item-c">
										<ul>
											<li>
												<p></p>
												<p>支持基于文案从资产库智能匹配媒体内容，智能配音，智能添加字幕，形成可在线编辑的故事板</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="block-item">
								    <div class="item-top">
								        <div class="item-icon"></div>
								        <div class="item-t">资产发布</div>
								    </div>
								    <div class="item-c">
										<ul>
											<li>
												<p></p>
												<p>支持社交媒体的账号授权入驻</p>
											</li>
											<li>
												<p></p>
												<p>支持媒体内容一键多发</p>
											</li>
											<li>
												<p></p>
												<p>支持内容推送至三方系统</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="block-item">
								    <div class="item-top">
								        <div class="item-icon"></div>
								        <div class="item-t">统计分析</div>
								    </div>
								    <div class="item-c">
										<ul>
											<li>
												<p></p>
												<p>提供全面的内容统计分析功能，包括浏览量、下载量、转发量等指标的统计</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="block-item">
								    <div class="item-top">
								        <div class="item-icon"></div>
								        <div class="item-t">系统管理</div>
								    </div>
								    <div class="item-c">
										<ul>
											<li>
												<p></p>
												<p>提供用户管理、权限管理、系统设置等功能，保证系统稳定运行</p>
											</li>
										</ul>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="common-block block-2 common_block_hook" id="block2_hook" menu-id="menu2"  data-aos="fade-up">
					<img src="./images/intelligentMediaAssets/ding.png" alt="">
                    <div class="content-w">
                        <div class="title">产品优势</div>
                    <div class="item-wrapper">
                        <div class="item" data-aos="fade-up" data-aos-delay="300">
                            <div class="block-item">
                                <div class="item-t">多租户模式</div>
                                <div class="item-c">支持总部和各分支机构的独立应用，并支持机构间的内容交换和共享</div>
                            </div>
                        </div>
						<div class="item" data-aos="fade-up" data-aos-delay="300">
						    <div class="block-item">
						        <div class="item-t">泛行业应用</div>
						        <div class="item-c">编目灵活可自定义，产品简单易用，工具齐全，广泛适用于各个行业的数字资产管理</div>
						    </div>
						</div>
						<div class="item" data-aos="fade-up" data-aos-delay="300">
						    <div class="block-item">
						        <div class="item-t">多模态AI能力赋能</div>
						        <div class="item-c">人工智能和多模态向量分析技术的深度开发和应用，大幅提高数字资产的编目标引和检索应用效率</div>
						    </div>
						</div>
						<div class="item" data-aos="fade-up" data-aos-delay="300">
						    <div class="block-item">
						        <div class="item-t">多维挖掘价值内容</div>
						        <div class="item-c">具备互联网热点感知、用户行为分析以及内容关联分析能力，能够实现智能推荐和智能搜索，高效精准发现数字资产的价值</div>
						    </div>
						</div>
						<div class="item" data-aos="fade-up" data-aos-delay="300">
						    <div class="block-item">
						        <div class="item-t">资产增值运营</div>
						        <div class="item-c">具备内容的智能生产和社交媒体的分发能力，为数字资产的增值运营提供有效途径</div>
						    </div>
						</div>
						<div class="item" data-aos="fade-up" data-aos-delay="300">
						    <div class="block-item">
						        <div class="item-t">数据安全性</div>
						        <div class="item-c">支持分级存储，容错容灾，全面保障数字资源访问的安全性和可靠性</div>
						    </div>
						</div>
                    </div>
                    </div>
                </div>
                <div class="content-w common_block_hook" id="block3_hook" menu-id="menu3">
                    <div class="common-block block-3">
                        <div class="title" data-aos="fade-up" data-aos-offset="100">应用场景</div>
                        <div class="item-wrapper">
                            <div class="item" data-aos="fade-up" data-aos-delay="300" data-aos-offset="50">
                                <div class="block-item">
                                        <div class="item-bg">
                                            <img src="./images/intelligentMediaAssets/3-1.png" alt="">
                                        </div>
                                        <div class="item-cont" data-aos="fade-up">
                                            <div class="item-t">线上运营</div>
                                        <div class="item-c">策划并实现各类型运营方案，帮助企业进行内容营销，增加品牌曝光和吸引用户</div>
                                    </div>
                                </div>
                            </div>
							<div class="item" data-aos="fade-up" data-aos-delay="300" data-aos-offset="50">
							    <div class="block-item">
							            <div class="item-bg">
							                <img src="./images/intelligentMediaAssets/3-2.png" alt="">
							            </div>
							            <div class="item-cont" data-aos="fade-up">
							                <div class="item-t">机关单位</div>
							            <div class="item-c">单位重要会议、重大事件、党建活动、文化建设等相关的珍贵的影像资料、文档、数字化档案等数字资产的永久保存和再利用</div>
							        </div>
							    </div>
							</div>
							<div class="item" data-aos="fade-up" data-aos-delay="300" data-aos-offset="50">
							    <div class="block-item">
							            <div class="item-bg">
							                <img src="./images/intelligentMediaAssets/3-3.png" alt="">
							            </div>
							            <div class="item-cont" data-aos="fade-up">
							                <div class="item-t">教育机构</div>
							            <div class="item-c">教学课件、重要会议、重要活动、学校建设、班级活动等相关珍贵的影像资料、文档以及数字化文件等数字资产的永久保存和再利用</div>
							        </div>
							    </div>
							</div>
							<div class="item" data-aos="fade-up" data-aos-delay="300" data-aos-offset="50">
							    <div class="block-item">
							            <div class="item-bg">
							                <img src="./images/intelligentMediaAssets/3-4.png" alt="">
							            </div>
							            <div class="item-cont" data-aos="fade-up">
							                <div class="item-t">文博单位</div>
							            <div class="item-c">旅游名胜、馆藏藏品、地方文史等相关的珍贵的影像资料、文档以及数字化文件等数字资产的永久保存和再利用</div>
							        </div>
							    </div>
							</div>
							<div class="item" data-aos="fade-up" data-aos-delay="300" data-aos-offset="50">
							    <div class="block-item">
							            <div class="item-bg">
							                <img src="./images/intelligentMediaAssets/3-1.png" alt="">
							            </div>
							            <div class="item-cont" data-aos="fade-up">
							                <div class="item-t">企业单位</div>
							            <div class="item-c">企业产品开发、经营历史、重大事件、团队建设等相关的珍贵的影像资料、数字化文件等数字资产的永久保存和再利用</div>
							        </div>
							    </div>
							</div>
                        </div> 
                    </div>
                </div>
                <div class="common-block block-4 mt-32 common_block_hook" id="block4_hook" menu-id="menu4" data-aos="fade-up">
                    <div class="title">客户价值</div>
                    <div class="block-cont-bg">
                        <div class="item-wrapper" data-aos="fade-up">
                            <div class="block-item">
                                <div class="item-t">数字资产拯救与保存</div>
                                <div class="item-c">有效避免珍贵数字资产的流失，实现集中科学管理，并永久保存</div>
                            </div>
						    <div class="block-item">
						        <div class="item-t">降低运营成本</div>
						        <div class="item-c">多模态AI能力赋能，有效降低资产编目人工工作量，可大幅降低系统的运营成本</div>
						    </div>
						    <div class="block-item">
						        <div class="item-t">提高数字资产再利用率</div>
						        <div class="item-c">具备热点感知、智能推荐和多模态智能检索能力，可大幅度提升从系统海量数字资产中挖掘适合用户应用的内容的概率和效率</div>
						    </div>
						    <div class="block-item">
						        <div class="item-t">数字资产增值运营</div>
						        <div class="item-c">支持内容智能生产和社交媒体矩阵分发，为数字资产增值运营提供有效解决方案</div>
						    </div>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-wrap"></div>
    </div>
</body>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../common/plugins/aos/aos.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../../common/js/main.js"></script>
<script src="./js/scrollHook.js"></script>
<script>
    AOS.init();
</script>
</html>