<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>智能写稿</title>
    <script src="../../common/js/deviceType.js"></script>
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../common/css/base.css">
    <link rel="stylesheet" href="../../common/plugins/aos/aos.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/intelligentWriting.css">
</head>
<body>
    <div class="page-wrapper page-intelligentWriting-wrapper">
        <div id="header-wrap"></div>
        <div class="page-content">
            <div class="top-banner" id="bannerHook">
                <div class="banner-cont" data-aos="fade-right">
                    <div>
                        <div class="banner-title">智能写稿</div>
                        <div class="banner-intro">具备一键成文、长文缩编、自动标题、要点提取等多项功能，<br/>有效提升文字工作效率。同时提供私有数据训练能力，助力<br/>形成自有文字风格 </div>
                    </div>
                </div>
                <div class="banner-anchor">
                    <a id="menu1" class="anchor-item active" data-hook="#block1_hook" href="#block1_hook">产品功能</a>
                    <a id="menu2" class="anchor-item" data-hook="#block2_hook" href="#block2_hook">产品优势</a>
                    <a id="menu3" class="anchor-item" data-hook="#block3_hook" href="#block3_hook">应用场景</a>
                    <a id="menu4" class="anchor-item" data-hook="#block4_hook" href="#block4_hook">给客户带来价值</a>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="content-w common_block_hook" id="block1_hook" menu-id="menu1">
                    <div class="common-block block-1">
                        <div class="title" data-aos="fade-up">产品功能</div>
                        <div class="item-wrapper">
                            <div class="item" data-aos="fade-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-icon"></div>
                                    <div class="item-t">一键成文</div>
                                    <div class="item-c">根据主题快速生成文本，用于媒体融合发布</div>
                                </div>
                            </div>
                            <div class="item" data-aos="fade-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-icon"></div>
                                    <div class="item-t">要点提取</div>
                                    <div class="item-c">快速提取文章中的关键要点，为新媒体提供核心文本素材</div>
                                </div>
                            </div>
                            <div class="item" data-aos="fade-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-top">
                                        <div class="item-icon"></div>
                                        <div class="item-t">脚本生成</div>
                                    </div>
                                    <div class="item-c">根据主题、关键词快速生成脚本，为拍摄剪辑提供创意思路，加快节目制作进度 </div>
                                </div>
                            </div>
                            <div class="item" data-aos="fade-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-icon"></div>
                                    <div class="item-t">标题生成</div>
                                    <div class="item-c">生成引人入胜的视频、文章标题和推荐语，提高文章的点击率和观看量</div>
                                </div>
                            </div>
                            <div class="item" data-aos="fade-up" data-aos-delay="300">
                                <div class="block-item">    
                                    <div class="item-icon"></div>
                                    <div class="item-t">文章缩编</div>
                                    <div class="item-c">将大篇幅文章中的重点段落、语句重新编辑，按字数要求输出缩编文章，方便用户通过移动端进行阅读</div>
                                </div>
                            </div>
                            <div class="item" data-aos="fade-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-icon"></div>
                                    <div class="item-t">生成配音稿</div>
                                    <div class="item-c">根据文案快速生成视频配音解说词，提供更好的观众体验，并使内容更易于理解</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="common-block block-2 common_block_hook" id="block2_hook" menu-id="menu2">
                    <div class="content-w">
                        <div class="title"  data-aos="fade-up">产品优势</div>
                    <div class="item-wrapper">
                        <div class="item" data-aos="fade-up" data-aos-delay="300">
                            <div class="block-item">
                                <div class="item-icon"></div>
                                <div class="item-t">系统稳定</div>
                                <div class="item-c">华为战略合作伙伴，底层采用国家级媒体认证的华为盘古大模型，规避同类产品选型国外大模型在使用过程中可能出现的不稳定风险</div>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-up" data-aos-delay="400">
                            <div class="block-item">
                                <div class="item-icon"></div>
                                <div class="item-t">数据安全</div>
                                <div class="item-c">生成文本内容自带审核机制，保障文稿上线发布安全</div>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-up" data-aos-delay="500">
                            <div class="block-item">
                                <div class="item-icon"></div>
                                <div class="item-t">易用便捷</div>
                                <div class="item-c">产品设计贴近用户需求，与实际应用场景高度匹配</div>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-up" data-aos-delay="600">
                            <div class="block-item">
                                <div class="item-icon"></div>
                                <div class="item-t">可定制化</div>
                                <div class="item-c">可根据用户应用场景随时定制增加功能模块</div>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-up" data-aos-delay="700">
                            <div class="block-item">
                                <div class="item-icon"></div>
                                <div class="item-t">文本质量</div>
                                <div class="item-c">能够保持一定的写作质量和风格，确保内容的一致性</div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="content-w common_block_hook" id="block3_hook" menu-id="menu3">
                    <div class="common-block block-3">
                        <div class="title" data-aos="fade-up">应用场景</div>
                        <div class="item-wrapper">
                            <div class="item"  data-aos="flip-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-cont">
                                        <div class="item-t">线上运营</div>
                                        <div class="item-c">生成博客文章、社交媒体帖子、网站内容等，帮助企业进行内容营销，增加品牌曝光和吸引用户</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item"  data-aos="flip-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-cont">
                                        <div class="item-t">新闻报道</div>
                                        <div class="item-c">用于撰写简短的新闻摘要、快讯等，提供实时的新闻报道</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item"  data-aos="flip-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-cont">
                                        <div class="item-t">在线电商</div>
                                        <div class="item-c">为电商平台生成产品描述、评论和推荐，提升产品在线销售效果</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item"  data-aos="flip-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-cont">
                                        <div class="item-t">论文撰写</div>
                                        <div class="item-c">生成学术论文的草稿，然后进行修改和补充，提高写作效率</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item"  data-aos="flip-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-cont">
                                        <div class="item-t">教育培训</div>
                                        <div class="item-c">生成教学材料、课件、练习题等，辅助教师教学和学生学习</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item"  data-aos="flip-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-cont">
                                        <div class="item-t">客户服务</div>
                                        <div class="item-c">生成回复邮件、常见问题解答等，为客户提供更快速的服务</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item"  data-aos="flip-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-cont">
                                        <div class="item-t">内容汇总</div>
                                        <div class="item-c">智能写稿可以收集和汇总大量信息，并生成简明扼要的摘要或综述</div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                
                <div class="common-block block-4 common_block_hook" id="block4_hook" menu-id="menu4">
                    <div class="title" data-aos="fade-up">给客户带来价值</div>
                    <div class="item-wrapper">
                        <div class="item" data-aos="fade-right">
                            <div class="block-item">
                                <div class="item-t">提高效性</div>
                                <div class="item-c">以极快的速度生成内容，大大缩短了写作时间</div>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-left">
                            <div class="block-item">
                                <div class="item-t">提升数量</div>
                                <div class="item-c">用户可以同时生成大量内容，从而提高生产力和效率</div>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-up">
                            <div class="block-item">
                                <div class="item-t">降低成本</div>
                                <div class="item-c">减少人工成本，尤其是在需要大量内容的情况下，无需聘请专业撰稿人员</div>
                            </div>
                        </div>
                        <div class="item"  data-aos="fade-up">
                            <div class="block-item">
                                <div class="item-t">解放创意</div>
                                <div class="item-c">将写作任务交给AIGC，人们可能有更多时间和精力专注于创意和策划层面的工作</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-wrap"></div>
    </div>
</body>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../common/plugins/aos/aos.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../../common/js/main.js"></script>
<script src="./js/common.js"></script>
<script>
    AOS.init();
</script>
</html>