<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>一键成片</title>
    <script src="../../common/js/deviceType.js"></script>
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../common/css/base.css">
    <link rel="stylesheet" href="../../common/plugins/aos/aos.css">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/intelligentVideo.css">
</head>
<body>
    <div class="page-wrapper page-intelligentVideo-wrapper">
        <div id="header-wrap"></div>
        <div class="page-content">
            <div class="top-banner" id="bannerHook">
                <div class="banner-cont" data-aos="fade-right">
                    <div>
                        <div class="banner-title">一键成片</div>
                        <div class="banner-intro">基于多模态大模型能力，支持自动成片、长视频缩编等多种<br/>应用场景，具备二次编辑能力，可预设多种模版，有效提升<br/>视频生成效率</div>
                    </div>
                </div>
                <div class="banner-anchor">
                    <a id="menu1" class="anchor-item active" data-hook="#block1_hook" href="#block1_hook">产品功能</a>
                    <a id="menu2" class="anchor-item" data-hook="#block2_hook" href="#block2_hook">产品优势</a>
                    <a id="menu3" class="anchor-item" data-hook="#block3_hook" href="#block3_hook">应用场景</a>
                    <a id="menu4" class="anchor-item" data-hook="#block4_hook" href="#block4_hook">给客户带来价值</a>
                </div>
            </div>
            <div class="content-wrapper">
                <div class="content-w common_block_hook" id="block1_hook" menu-id="menu1">
                    <div class="common-block block-1" data-aos="fade-up">
                        <div class="title">产品功能</div>
                        <div class="item-wrapper">
                            <div class="item" data-aos="fade-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-icon"></div>
                                    <div class="item-t">自动剪辑</div>
                                    <div class="item-c">输入文本，通过指定或全网素材库中的图片、视频素材自动生成影片，快速在多个媒体平台发布、分享</div>
                                </div>
                            </div>
                            <div class="item" data-aos="fade-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-icon"></div>
                                    <div class="item-t">自动配音</div>
                                    <div class="item-c">自动匹配画面与文本，生成视频自带配音。可根据情景、情绪选择声音</div>
                                </div>
                            </div>
                            <div class="item" data-aos="fade-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-top">
                                        <div class="item-icon"></div>
                                        <div class="item-t">自动字幕</div>
                                    </div>
                                    <div class="item-c">生成的视频自动添加字幕 </div>
                                </div>
                            </div>
                            <div class="item" data-aos="fade-up" data-aos-delay="300">
                                <div class="block-item">
                                    <div class="item-icon"></div>
                                    <div class="item-t">背景音乐</div>
                                    <div class="item-c">可根据需求选择、添加背景音乐</div>
                                </div>
                            </div>
                            <div class="item" data-aos="fade-up" data-aos-delay="300">
                                <div class="block-item">    
                                    <div class="item-icon"></div>
                                    <div class="item-t">工具多样</div>
                                    <div class="item-c">一键成片智能生成的视频自动导入云非编生成工程文件，可根据需求进行精编</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="block-item">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="common-block block-2 common_block_hook" id="block2_hook" menu-id="menu2"  data-aos="fade-up">
                    <div class="title">产品优势</div>
                    <div class="item-wrapper">
                        <div class="item" data-aos="fade-right" data-aos-delay="300">
                            <div class="block-item">
                                <div class="item-t">智能分析</div>
                                <div class="item-c">打破传统素材标签化处理模式，对素材进行智能分析，大大提升素材匹配度及视频质量</div>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-left" data-aos-delay="300">
                            <div class="block-item">
                                <div class="item-t">素材多样</div>
                                <div class="item-c">用户可根据时间、主题等多维度创建私有化素材库</div>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-right" data-aos-delay="400">
                            <div class="block-item">
                                <div class="item-t">批量处理</div>
                                <div class="item-c">能够一次性处理多张照片或视频，使得批量处理变得简单和高效</div>
                            </div>
                        </div>
                        <div class="item" data-aos="fade-left" data-aos-delay="400">
                            <div class="block-item">
                                <div class="item-t">个性化定制</div>
                                <div class="item-c">用户可将自动生成的工程文件在云非编工具中对画面、音乐、字幕、同期声等进行个性化处理</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-w common_block_hook" id="block3_hook" menu-id="menu3">
                    <div class="common-block block-3">
                        <div class="title" data-aos="fade-up">应用场景</div>
                        <div class="item-wrapper">
                            <div class="item"  data-aos="flip-up" >
                                <div class="block-item">
                                    <div class="item-cont">
                                        <div class="item-t">短视频制作</div>
                                        <div class="item-c">可将多个视频片段、图片、音频等素材根据文案内容自动生成完整的短视频，满足官方媒体、自由媒体、社交媒体、短视频平台等创作需求</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item"  data-aos="flip-up">
                                <div class="block-item">
                                    <div class="item-cont">
                                        <div class="item-t">新闻报道</div>
                                        <div class="item-c">对于新闻内容时效性强的特点快速生成新闻、快讯等视频内容，进行多渠道发布</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item"  data-aos="flip-up"  data-aos-offset="50">
                                <div class="block-item">
                                    <div class="item-cont">
                                        <div class="item-t">VLOG视频</div>
                                        <div class="item-c">轻松完成VLOG、旅行视频、日常生活视频等精彩内容的制作</div>
                                    </div>
                                </div>
                            </div>
                            <div class="item"  data-aos="flip-up"  data-aos-offset="50">
                                <div class="block-item">
                                    <div class="item-cont">
                                        <div class="item-t">教育培训</div>
                                        <div class="item-c">自动将教育机构的教学素材合成教学视频，丰富在线教育资源</div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                
                <div class="common-block block-4 common_block_hook" id="block4_hook" menu-id="menu4">
                    <div class="title" data-aos="fade-up">给客户带来价值</div>
                    <div class="text" data-aos="flip-up">快速高效<br/>自动化处理大量照片和视频素材，迅速生成成片，极大地提高了编辑效率。节省大量时间和成本</div>
                </div>
            </div>
        </div>
        
        <div id="footer-wrap"></div>
    </div>
</body>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../common/plugins/aos/aos.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../../common/js/main.js"></script>
<script src="./js/common.js"></script>
<script>
    AOS.init();
</script>
</html>