<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
		<title>新时代文明实践中心-阳光云视</title>
		<meta name="keywords" content="阳光云视" />
		<meta name="description" content="阳光云视" />
		<!-- /etc/htmlhead.shtml Start -->
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
		<link class="css_style" rel="stylesheet" href="../Solution/css/list_style.css" />
		<link rel="stylesheet" href="../../common/css/base.css">
		<link rel="stylesheet" href="../Solution/css/scBase.css">
		<meta name="author" content="yh 2921" />
		<!-- /sn/htmlhead.shtml End -->
	</head>

	<body>
		<!-- /etc/header.shtml start -->
		<!--header-wrap start-->
		<div id="header-wrap"></div>
		<!--header-wrap end-->
		<!-- /etc/header.shtml end -->

		<!--service-banner start-->
		<div class="service-banner solution-banner-newAge" style="height: 514px;">
			<div class="maxWidth">
<!--				<div class="service-banner-txt">-->
<!--					<h2>新时代文明实践中心</h2>-->
<!--					<p>针对新时代文明实践中心全流程环节，包括内容生产、互联网分发、内容发布、实践中心运营等业务，解决文明实践中心痛点，开拓线上业务需求，帮助实践中心运营人员可以快速、便捷进行内容生产发布传播与中心运营管理。 </p>-->
<!--					&lt;!&ndash;<a href="https://onair.yunshicloud.com" target="_blank">立即体验</a>&ndash;&gt;-->
<!--				</div>-->
			</div>
		</div>
		<!--service-banner end-->

		<!-- /etc/solution-subnav.shtml Start -->
		<!--subnavbar start-->
		<div class="subnavbar">
			<div class="maxWidth">
				<ul class="subnavbar-menu">
					<li>
						<a href="#new_age_01">产品优势</a>
					</li>
					<li>
						<a href="#new_age_02">核心功能</a>
					</li>
					<li>
						<a href="#new_age_03">产品服务</a>
					</li>
					<li>
						<a href="#new_age_04">产品架构</a>
					</li>
					<li>
						<a href="#new_age_05">客户案列</a>
					</li>
				</ul>
			</div>
		</div>
		<!--subnavbar end-->
		<!-- /etc/solution-subnav.shtml End -->

		<!--solution-con start-->
		<div class="solution-con" id="sc_app">


			<div class="section solution-chall" id="new_age_01">
				<h2 class="service-tie">产品优势</h2>
				<div class="new_age_1">
					<ul>
						<li>
							<div class="box_li_">
								<div class="top_title">
									平台建设
								</div>
								<div class="bottom_text">
									可单独作为一个平台部署建设，也可与融媒体中心共同建设、运营、导流
								</div>
							</div>
						</li>
						<li>
							<div class="box_li_">
								<div class="top_title">
									资源整合
								</div>
								<div class="bottom_text">
									支持内容汇聚，整合前端用户发布的活动瞬间，提供内容生产素材
								</div>
							</div>
						</li>
						<li>
							<div class="box_li_">
								<div class="top_title">
									多端呈现
								</div>
								<div class="bottom_text">
									支持APP、PC网站、小程序、H5、微站等呈现方式，实现全场景满足用户需求
								</div>
							</div>
						</li>
						<li>
							<div class="box_li_">
								<div class="top_title">
									用户运营
								</div>
								<div class="bottom_text">
									社区服务、积分体系、排名统计等模块增强用户粘性
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="section solution-scene" id="new_age_02">
				<h2 class="service-tie">核心功能</h2>
				<div class="new_age_2">
                      <ul>
						  <li>
							  <div class="age_2_box">
								  <h3>活动管理</h3>
								  <div class="content_text">
									  支持心愿点单、求助服务、志愿活动、实践活动等服务
								  </div>
								  <div class="bottom_img">
									  <img src="../Solution/img/newAge/image%20(1).png" alt="">
								  </div>
							  </div>
						  </li>
						  <li>
							  <div class="age_2_box">
								  <h3>志愿者管理</h3>
								  <div class="content_text">
									  通过线上平台有效建设管理志愿者队伍，审核志愿者申请，对志愿者组织信息、志愿者个人信息、志愿时长、志愿轨迹等进行管理
								  </div>
								  <div class="bottom_img">
									  <img src="../Solution/img/newAge/image%20(3).png" alt="">
								  </div>
							  </div>
						  </li>
						  <li>
							  <div class="age_2_box">
								  <h3>群众服务</h3>
								  <div class="content_text">
									  支持以志愿者、粉丝、圈子、活动、服务等形式和群众进行多样互动
								  </div>
								  <div class="bottom_img">
									  <img src="../Solution/img/newAge/image%20(2).png" alt="">
								  </div>
							  </div>
						  </li>
						  <li>
							  <div class="age_2_box">
								  <h3>内容管理</h3>
								  <div class="content_text">
									  平台支持图文、视频、图集、动态等多种类型的内容创作及发布
								  </div>
								  <div class="bottom_img">
									  <img src="../Solution/img/newAge/image%20(5).png" alt="">
								  </div>
							  </div>
						  </li>
						  <li>
							  <div class="age_2_box">
								  <h3>实践站/所管理</h3>
								  <div class="content_text">
									  设置县、乡镇（区）、村（社区）三级架构，进行统一管理
								  </div>
								  <div class="bottom_img">
									  <img src="../Solution/img/newAge/image%20(4).png" alt="">
								  </div>
							  </div>
						  </li>
						   <li>
						  <div class="age_2_box">
							  <h3>数据中台</h3>
							  <div class="content_text">
								  支持按时段、全维度的统计功能，对整体建设运营提供全面的数据支撑
							  </div>
							  <div class="bottom_img">
								  <img src="../Solution/img/newAge/image%20(6).png" alt="">
							  </div>
						  </div>
					  </li>
					  </ul>
				</div>
			</div>

			<div class="section solution-scene" id="new_age_03">
				<h2 class="service-tie">产品服务</h2>
				<div class="new_age_3">
					<ul>
						<li>
							<div class="age_3_box">
									<div class="top_img">
										<img src="../Solution/img/newAge/image%20(9).png" alt="">
									</div>
									<h3>个性化定制</h3>
									<div class="bottom_text">
										个性化的界面私有定制，以及对产品多版本选择
									</div>
							</div>
						</li>
						<li>
							<div class="age_3_box">
								<div class="top_img">
									<img src="../Solution/img/newAge/image%20(8).png" alt="">
								</div>
								<h3>专业系统研发</h3>
								<div class="bottom_text">
									一体化，嵌入式开发，根据需求定制专属的功能系统
								</div>
							</div>
						</li>
						<li>
							<div class="age_3_box">
								<div class="top_img">
									<img src="../Solution/img/newAge/image%20(10).png" alt="">
								</div>
								<h3>专业系统培训</h3>
								<div class="bottom_text">
									本地团队运维支撑，提供标准产品使用手册
								</div>
							</div>
						</li>
						<li>
							<div class="age_3_box">
								<div class="top_img">
									<img src="../Solution/img/newAge/image%20(7).png" alt="">
								</div>
								<h3>7*24小时服务</h3>
								<div class="bottom_text">
									实现高标准服务目标提供，7×24小时服务响应
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="section solution-case" id="new_age_04">
				<h2 class="service-tie">产品架构</h2>
				<div class="maxWidth">
					<div class="img sc_solve_wrap"><img src="../Solution/img/newAge/image%20(11).png" alt="图片"></div>
				</div>
			</div>

			<div class="section solution-case" id="new_age_05">
				<h2 class="service-tie">客户案例</h2>
				<div class="maxWidth">
					<div class="img sc_solve_wrap"><img src="../Solution/img/newAge/image%20(12).png" alt="图片"></div>
				</div>
			</div>
		</div>

		<div class="sc_register_wrap">
			<div class="maxWidth">
				<div class="sc_register_main clearfix">
					<div class="sc_register_describe sc_fl">
						<h4>满足您的个性需求</h4>
						<p>为您定制省、市级融媒体平台解决方案</p>
					</div>
					<div class="sc_register_btn hide sc_fr">
						<a href="" target="_blank">立即注册</a>
					</div>
				</div>
			</div>
		</div>
		<!--立即注册结束-->
		<!-- /etc/footer.shtml Start -->
		<!--footer-wrap start-->
		<div id="footer-wrap"></div>

		<!--footer end-->

		<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
		<script src="//cdn.yunshicloud.com/vue/2.5.16/vue.min.js"></script>
		<script src="../../common/js/base.js"></script>
		<script src="../../common/js/main.js"></script>
		<script src="../Solution/js/bigMedia.js"></script>
	</body>

</html>