<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ONAIR PaaS 2.0</title>
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="css/onairPass.css">
    <link rel="stylesheet" href="../../common/css/base.css">
</head>

<body>
<div id="header-wrap">
</div>
<div class="sc_spy_banner">
    <div class="container clearfloat">
        <div class="sc_spy_right" style="float:left;">
            <img src="img/paasIndexBanner.png" alt="" class="fr sc_spy_banner_img">
        </div>
        <div class="sc_spy_left" style="float: left;">
            <h3>ONAIR PaaS 2.0</h3>
            <p class="sc_spy_banner_text">
                致力于打造智能广电生态云平台，API网关，集成AI智能服务，助力媒体智能化发展；建立平台自动化运维监控，提供基础资源监控、应用性能监控和自动化运维监控，保障平台稳定性。助力传媒行业用户实现“采、编、发、存”的业务流程云化改造，有效支撑媒体融合创新业务的快速发展
            </p>
        </div>
    </div>
</div>
<div class="sc_list_wrap">
    <ul class="sc_list clearfloat">
        <li><a href="#one">DevOps</a></li>
        <li><a href="#two">平台容器化</a></li>
        <li><a href="#thr">API网关</a></li>
        <li><a href="#four">AI智能服务</a></li>
        <li><a href="#five">自动化运维监</a></li>
    </ul>
</div>
<div class="sc_spy_tit">
    <!--<p class="sc_spy_tit_p">融媒体 启未来</p>
    <p class="sc_spy_tit_ps"><span>安全｜易用｜稳定</span></p>-->
    <p class="sc_spy_tit_ps">发挥国家级、17个省级以及大量的市县融媒体建设优势，助力品质化媒体融合服务</p>
    <p class="sc_spy_tit_ps">时至今日，云视在视频行业制高点——媒资行业中PaaS平台案例数居业内第一</p>
</div>
<div class="ysga_details_wrap">
    <div id="one" class="ysga_details_main_wrap ysga_details_num_1 ysga_details_num_01">
        <div class="ysga_details_main container clearfloat">
            <div class="ysga_details_main_describe fl">
                <img src="img/paas_01.svg" alt="01" class="ysga_nunber_left ysga_nunber_01">
                <h4 class="tl ml h4_color_01">DevOps(开发运维一体化)</h4>
                <p class="tl ml">DevOps开发模式提升工作效率，各环节都通过工具驱动，开发完成后，自动打包，自动化测试，自动化部署或升级，提高整体研发和运维效率</p>
                <div class="clearfloat sc_spy_btn">
                    <!-- <a href="fuse_service.html" class="ysga_details_main_transfer ysga_dmt_color_01 fr">了解详情</a> -->
                </div>
            </div>
            <div class="ysga_details_main_pic fr">
                <img src="img/paas_devOps.png" alt="pc">
            </div>
        </div>
    </div>
    <div id="two" class="ysga_details_main_wrap ysga_details_num_2 ysga_details_num_02">
        <div class="ysga_details_main clearfloat container">
            <div class="ysga_details_main_pic fl">
                <img src="img/zidong.png" alt="pc">
            </div>
            <div class="ysga_details_main_describe fr">
                <img src="img/paas_02.svg" alt="02" class="ysga_nunber_right ysga_nunber_02">
                <h4 class="tl ml h4_color_02">平台容器化</h4>
                <p class="tl ml">引入对于容器的支持，平台既支持虚拟化部署又支持容器化部署；使用更轻量化，启动速度快，性价比极高</p>
                <div class="clearfloat sc_spy_btn">
                    <!-- <a href="big_data.html" class="ysga_details_main_transfer ysga_dmt_color_02 fr">了解详情</a> -->
                </div>
            </div>

        </div>
    </div>
    <div id="thr" class="ysga_details_main_wrap ysga_details_num_1 ysga_details_num_03">
        <div class="ysga_details_main container clearfloat">
            <div class="ysga_details_main_describe fl">
                <img src="img/paas_03.svg" alt="01" class="ysga_nunber_left ysga_nunber_01">
                <h4 class="tl ml h4_color_01">API网关</h4>
                <p class="tl ml">通过API网关，进一步增强平台的开放性，快速的集成服务和应用（含第三方）；覆盖了API的注册、测试、发布整个生命周期，方便热升级和快速回滚，严格的权限管理，IP黑白名单控制和精准流量控制</p>
                <div class="clearfloat sc_spy_btn">
                    <!-- <a href="fuse_service.html" class="ysga_details_main_transfer ysga_dmt_color_01 fr">了解详情</a> -->
                </div>
            </div>
            <div class="ysga_details_main_pic fr">
                <img src="img/paas_API.png" alt="pc">
            </div>
        </div>
    </div>
    <div id="four" class="ysga_details_main_wrap ysga_details_num_2 ysga_details_num_04">
        <div class="ysga_details_main clearfloat container">
            <div class="ysga_details_main_pic fl">
                <img src="img/paas_AI.png" alt="pc">
            </div>
            <div class="ysga_details_main_describe fr">
                <img src="img/paas_04.svg" alt="02" class="ysga_nunber_right ysga_nunber_02">
                <h4 class="tl ml h4_color_02">AI智能服务</h4>
                <p class="tl ml">多种AI能力，为业务提供更高效智能的处理手段：如基于人眼视觉模型感知增强编码，提供更高画质；运用卷积神经网络算法，智能鉴定视频内容中敏感内容风险</p>
                <div class="clearfloat sc_spy_btn">
                    <!-- <a class="ysga_details_main_transfer ysga_dmt_color_02 fr">了解详情</a> -->
                </div>
            </div>
        </div>
    </div>
    <div id="five" class="ysga_details_main_wrap ysga_details_num_1 ysga_details_num_05">
        <div class="ysga_details_main container clearfloat">
            <div class="ysga_details_main_describe fl">
                <img src="img/paas_05.svg" alt="01" class="ysga_nunber_left ysga_nunber_01">
                <h4 class="tl ml h4_color_01">自动化运维监控</h4>
                <p class="tl ml">保障平台高可用并提升稳定性，提供丰富的监测和应急手段，保证7x24小时不宕机； 自动化运维，建立运维体系；自动化监控，快速定位问题、及时恢复业务</p>
                <div class="clearfloat sc_spy_btn">
                    <!-- <a class="ysga_details_main_transfer ysga_dmt_color_01 fr">了解详情</a> -->
                </div>
            </div>
            <div class="ysga_details_main_pic fr">
                <img src="img/pingtai.png" alt="pc">
            </div>
        </div>
    </div>
</div>
<div id="footer-wrap">
</div>

</body>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../../common/js/main.js"></script>
<script>
    $(".sc_list a").click(function () {
        $("html, body").animate({
            scrollTop: $($(this).attr("href")).offset().top + "px"
        }, {
            duration: 500,
            easing: "swing"
        });
        return false;
    });
</script>

</html>