*{
	margin: 0;
	padding: 0;
}
ul,ol,li {
	list-style: none;
}
.intelligentMediaAssets{
	background: #f7f7f7;
}
.header{
	width: 100%;
	height: 16.5vw;
	background-color: #222;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 0 5.3vw;
}
.header-left{
	width: 19.7vw;
	height: 8vw;
}
.header-right{
	width: 6.4vw;
	height: 5.3vw;
}
.header-left img{
	width: 19.7vw;
	height: 8vw;
}
.header-right img{
	width: 6.4vw;
	height: 5.3vw;
}
.banner {
	height: 56vw;
	background: url('../images/banner.jpg') no-repeat;
	background-size: 100% 100%;
	padding: 8.2vw 5.6vw;
	box-sizing: border-box;
}
.banner img {
	width: 100%;
	height: 56vw;
}
.banner p{
	width: 52%;
	font-size: 4.1vw;
	font-family: PingFangSC-Medium;
	font-weight: 500;
	color: #FFFFFF;
}
.banner ul {
	display: flex;
	margin-top: 2.8vw;
}
.banner ul li {
	width: 70%;
	font-size: 3.2vw;
	line-height: 4.8vw;
	font-family: PingFangSC-Light;
	font-weight: 300;
	margin-right: 1.5vw;
	color: #FFFFFF;
}
.function {
	box-sizing: border-box;
	padding: 0 5.3vw;
}
.function .title {
	font-size: 4.8vw;
	font-family: PingFangSC-Medium;
	font-weight: 500;
	color: #101010;
	text-align: center;
	margin: 5.3vw 0;
}
.function .item {
	margin-bottom: 2.9vw;
	background: #F9FAFB;
	border: 1px solid #FFFFFF;
}
.function .item .item-t {
	height: 8.5vw;
	background-size: 100% 100%;
	display: flex;
	align-items: center;
}
.function .item .item-t i {
	display: inline-block;
	width: 4.5vw;
	height: 4.5vw;
	background: url('../images/topimg/1-2.jpg') no-repeat;
	background-size: 100% 100%;
	margin-right: 2.4vw;
	margin-left: 2vw;
}
.function .item .item-c {
	display: flex;
	flex-wrap: wrap;
	font-size: 2.6vw;
	font-weight: 300;
	color: #666666;
	line-height: 4vw;
	box-sizing: border-box;
	padding-left: 5vw;
	padding-top: 2.4vw;
	padding-bottom: 2.4vw;
}
.function .item .item-c li{
	min-width: 50%;
	margin-bottom: 1vw;
	display: flex;
}
.function .item .item-c li p{
	flex: 1;
}
.function .item .item-c i{
	display: inline-block;
	width: 1.8vw;
	height: 1.6vw;
	background: url('../images/duigou.png') no-repeat;
	background-size: 100% 100%;
	margin-right: 2.4vw;
	position: relative;
	top: 1vw;
}
.productAdvantages {
	box-sizing: border-box;
	padding: 0 5.3vw;
}
.productAdvantages .title {
	font-size: 4.8vw;
	font-family: PingFangSC-Medium;
	font-weight: 500;
	color: #101010;
	text-align: center;
	margin: 5.3vw 0;
}
.productAdvantages .item-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.productAdvantages .item-list .item {
	width: 49%;
	box-sizing: border-box;
	background: linear-gradient(0deg, #FFFFFE 0%, #F2F6F9 100%);
	border: 1px solid #FFFFFF;
	padding: 3vw;
	margin-bottom: 2.9vw;
	padding-bottom: 1.5vw;
	transition: all 0.5s ease-out;
}
.productAdvantages .item-list .item.active {
	box-shadow: 0px 1px 4px 0px rgba(169,175,178,0.72);
}
.productAdvantages .item-list .item.active .item-t {
	color: #0C4BD1;
}
.productAdvantages .item-list .item .item-t {
	font-size: 3.7vw;
	font-weight: 500;
	color: #333333;
}
.productAdvantages .item-list .item .item-c {
	width: 115%;
	font-size: 2.6vw;
	font-family: PingFang SC;
	font-weight: 300;
	color: #666666;
	line-height: 4vw;
	margin-top: 2vw;
	transform-origin: left top;
	transform: scale(.86,.86);
}

.applicationScenario .item-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.applicationScenario .title {
	font-size: 4.8vw;
	font-family: PingFangSC-Medium;
	font-weight: 500;
	color: #101010;
	text-align: center;
	margin: 2.4vw 0 5.3vw 0;
}
.applicationScenario .item-list .item{
	box-sizing: border-box;
	padding: 4.2vw 8.2vw;
	background: url('../images/4-1.png') no-repeat;
	background-size: 100% 100%;
	margin-bottom: 2.9vw;
}
.applicationScenario .item-list .item.active .item-t {
	color: #0C4BD1;
}
.applicationScenario .item-list .item .item-t{
	font-size: 3.7vw;
	font-weight: 500;
	color: #333333;
}
.applicationScenario .item-list .item .item-c{
	font-size: 2.6vw;
	font-weight: 300;
	color: #333333;
	line-height: 4vw;
	margin-top: 2vw;
}
.applicationScenario .item-list .item:nth-child(2){
	background: url('../images/4-2.png') no-repeat;
	background-size: 100% 100%;
}
.applicationScenario .item-list .item:nth-child(3){
	background: url('../images/4-3.png') no-repeat;
	background-size: 100% 100%;
}
.applicationScenario .item-list .item:nth-child(4){
	background: url('../images/4-4.png') no-repeat;
	background-size: 100% 100%;
}
.applicationScenario .item-list .item:nth-child(5){
	background: url('../images/4-5.png') no-repeat;
	background-size: 100% 100%;
}

.customerValue {
	box-sizing: border-box;
	padding: 0 5.3vw;
}
.customerValue .title {
	font-size: 4.8vw;
	font-family: PingFangSC-Medium;
	font-weight: 500;
	color: #101010;
	text-align: center;
	margin: 5.3vw 0;
	margin-top: 2.4vw;
}
.customerValue .item-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.customerValue .item-list .item {
	width: 49%;
	box-sizing: border-box;
	background: linear-gradient(0deg, #FFFFFE 0%, #F2F6F9 100%);
	border: 1px solid #FFFFFF;
	padding: 3vw;
	margin-bottom: 2.9vw;
	padding-bottom: 1.5vw;
}
.customerValue .item-list .item.active {
	background: url(../images/5-1.png) no-repeat;
	background-size: 100% 100%;
}
.customerValue .item-list .item.active .item-t {
	color: #0C4BD1;
}
.customerValue .item-list .item .item-t {
	font-size: 3.7vw;
	font-weight: 500;
	color: #333333;
}
.customerValue .item-list .item .item-c {
	width: 115%;
	font-size: 2.6vw;
	font-family: PingFang SC;
	font-weight: 300;
	color: #666666;
	line-height: 4vw;
	margin-top: 2vw;
	transform-origin: left top;
	transform: scale(.86,.86);
}








.contact{
	background: #222222;
	font-size: 2.6vw;
	font-family: PingFangSC-Light;
	font-weight: 300;
	color: #a9a9a9;
	line-height: 4vw;
	text-align: center;
	box-sizing: border-box;
	padding: 4.5vw 0;
}
.contact>div.contact-title{
	font-size: 3.2vw;
	font-family: PingFang SC;
	font-weight: 500;
	color: #FFFFFF;
	margin-bottom: 2.9vw;
	transform: scale(1,1);
}
.contact>div{
	transform: scale(.9,.9);
}
.contact>div.line{
	height: 1px;
	background: #8A8A8A;
	margin-top: 3.8vw;
	margin-bottom: 2.6vw;
}
.contact>div.small{
	font-size: 2.1vw;
}
.contact>div.bot-img{
	font-size: 2.1vw;
}