<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="./css/listenToJianyun.css">
		<title>听鉴云</title>
	</head>
	<body>
		<div class="listenToJianyun">
			<div class="header">
			    <div class="header-left">
			        <a href="/index.html">
			            <img src="./images/logo.png" alt="">
			        </a>
			    </div>
			    <div class="header-right">
			        <a href="/index.html">
			            <img src="./images/矢量智能对象.png" alt="">
			        </a>
			    </div>
			</div>
			<div class="banner">
				<p>智能听鉴云平台 您的业务听诊器</p>
				<ul>
					<li>实时</li>
					<li>全量</li>
					<li>客观</li>
					<li>真实</li>
				</ul>
			</div>
			<div class="function">
				<p class="title">产品功能</p>
				<div class="item-list">
					<div class="item active">
						<div class="function-item-title">
							<i></i>
							<p>海量场景化行业数据库</p>
						</div>
						<div class="function-item-c">
							超百万小时的行业现场数据，360度无死角的真实接待场景，海量结构化数据库
						</div>
					</div>
					<div class="item">
						<div class="function-item-title">
							<i></i>
							<p>上百项kpi指标模型</p>
						</div>
						<div class="function-item-c">
							基于AI大模型的多模型组合策略，为行业用户量身定制了上百个指标项
						</div>
					</div>
					<div class="item">
						<div class="function-item-title">
							<i></i>
							<p>无需训练，即开即用</p>
						</div>
						<div class="function-item-c">
							具有丰富的项目实践经验，平台支持即开即用。为更好的适配不同用户的需求，平台也支持私域模型的个性化调整
						</div>
					</div>
					<div class="item">
						<div class="function-item-title">
							<i></i>
							<p>多视角业务数据呈现</p>
						</div>
						<div class="function-item-c">
							全方位立体化呈现各项业务指标，支持报表推送查看及导出
						</div>
					</div>
				</div>
			</div>
			<div class="serviceContent">
				<p class="title">服务内容</p>
				<div class="item-list">
					<div class="item">
						<p>真实</p>
						<p>呈现接待场景</p>
						<i></i>
					</div>
					<div class="item">
						<p>找出</p>
						<p>管理过程弱项</p>
						<i></i>
					</div>
					<div class="item">
						<p>提升</p>
						<p>接待服务质量</p>
						<i></i>
					</div>
					<div class="item">
						<p>深度</p>
						<p>挖掘数据价值</p>
						<i></i>
					</div>
					<div class="item">
						<p>提供现场咨询服务</p>
						<i></i>
					</div>
				</div>
			</div>
			<div class="applicationScenario">
				<p class="title">应用场景</p>
				<div class="item-list">
					<div class="item">
						<p>汽车行业</p>
					</div>
					<div class="item">
						<p>保险行业</p>
					</div>
					<div class="item">
						<p>银行行业</p>
					</div>
					<div class="item">
						<p>房产中介</p>
					</div>
				</div>
			</div>
			<div class="contact">
			    <div class="contact-title">联系我们</div>
			    <div>北京总部</div>
			    <div>办公地址：北京市昌平区半壁街9号</div>
			    <div>电话：010-62977026/400-900-7025</div>
			    <div>邮编：100085</div>
			    <div>邮箱:mkt@yunshicloud.com</div>
			    <div>中南办事处(武汉）</div>
			    <div>办公地址：武汉市武昌区中北路姚家岭114号景天楼1-9-2</div>
			    <div>联系电话:027-68874905</div>
			    <div>邮编：430071</div>
			    <div class="line"></div>
			    <div class="small">版权所有©北京阳光云视科技有限公司 2020</div>
			    <div class="bot-img">京ICP备17015824号-4
			        <img src="./images/jing.png" alt="">
			        京公网安备11010802031184</div>
			</div>
		</div>
	</body>
	<script>
		let functionList = document.querySelectorAll('.function .item');
		for(let i = 0;i<functionList.length;i++){
			functionList[i].ontouchstart = function() {
				functionList.forEach(item => {
					item.classList.remove('active');
				})
				functionList[i].classList.toggle('active')
			}
		}
	</script>
</html>