<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>云视科技</title>
    <meta name="keywords" content="yunshicloud"/>
    <meta name="description" content="yunshicloud"/>
    <meta name="format-detection" content="telephone=no">
    <!-- /etc/htmlhead.shtml Start -->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <script type="text/javascript" src="../../common/js/noCache.js"></script>
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../common/css/base.css">
    <link rel="stylesheet" href="css/style.css"/>
    <link class="css_style" rel="stylesheet" href="css/list_style.css"/>
    <!-- /sn/htmlhead.shtml End -->
</head>
<body>
<div id="header-wrap"></div>
<!--aboutBox start-->
<div class="aboutBox">
    <!-- <div class="news_trends_banner"><img src="img/news_trends_banner-3.jpg" alt="图片"></div> -->
    <div class="news_trends_banner"><img src="img/news_trends_banner-4.png" alt="图片"></div>
    <div class="maxWidth">
        <img class="aboutBanner" src="img/m-about.jpg" alt="图片">
        <div class="aboutWrap">
            <div class="aboutRight">
                <div class="newsBox">
                    <div class="aboutIntro">
                        <h3 class="tie">云视科技</h3>
                        <p>
                            北京阳光云视科技有限公司是中国专业的视频云技术服务商，公司创立于2014年，基于“以云计算整合最先进的视频生产工具”的基本理念，创立了ONAIR视频云平台。它不仅帮助传统广电媒体迅速实现互联网化，同时在高清晰、大码流的传统业务领域也表现出强大的承载能力，旗下主打的媒体云、视频云服务为广电及互联网行业提供了完整的应用场景和视频应用解决方案，致力于推动视频生产能力的变革，让视频应用更轻松。</p>
                    </div>
                    <ul class="commonList">
                        <li>
                            <strong class="date">2021-12</strong>
                            <div class="txt">
                                <p><a>新疆生产建设兵团运维服务项目合同签署，保障项目日常运行。</a></p>
                                <p><a>阳光云视与新疆生产建设兵团农三师新时代文明中心项目签署战略合作协议，推进项目快速发展。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2021-11</strong>
                            <div class="txt">
                                <p><a>阳光云视入围中国移动DICT项目、电信阳光采购网。</a></p>
                                <p><a>ONAIR媒体云为国家能源集团提供企业级融媒服务，助力企业媒体融合快速发展。</a></p>
                                <p><a>阳光云视签约央视融合媒体节目设计制作模板平台二期项目建设。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2021-10</strong>
                            <div class="txt">
                                <p><a>ONAIR媒体云为河北省元氏县提供县级融媒服务。</a></p>
                                <p><a>中标新疆兵团运维项目，并与兵团签署战略合作协议，为兵团融媒体项目提供技术支持，助力媒体融合快速发展。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2021-09</strong>
                            <div class="txt">
                                <p><a>阳光云视中标云南省七彩云省级通联平台项目，省市县三级联动，推动媒体融合发展向纵深发展。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2021-08</strong>
                            <div class="txt">
                                <p><a>为西宁广播电视台提供底层PaaS平台技术升级服务支持，助力西宁台融媒体中心高质量发展。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2021-03</strong>
                            <div class="txt">
                                <p><a>阳光云视ONAIR荣获熠云直播平台2020年广播电视科技创新奖。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2020-12</strong>
                            <div class="txt">
                                <p><a>阳光云视中标云南广播电视台全媒体新闻中心2020年度七彩云融媒体平台服务项目。</a></p>
                                <p><a>阳光云视为北京师范大学建设融媒体资源管理平台。</a></p>
                            </div>
                        </li>

                        <li>
                            <strong class="date">2020-10</strong>
                            <div class="txt">
                                <p><a>阳光云视入围山西媒体智慧云平台全媒体内容管理系统（软件）服务供应商。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2020-09</strong>
                            <div class="txt">
                                <p><a>阳光云视为山西媒体智慧云平台完成生产优化升级，实现转型升级。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2020-08</strong>
                            <div class="txt">
                                <p><a>阳光云视完成荔枝云省级平台-私有云PaaS平台迁移改造，增强扩展、业务支撑能力，以便适配灵活多变的融媒业务。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2020-07</strong>
                            <div class="txt">
                                <p><a>阳光云视为五台县广播电视台建设融媒体中心，助力山西省县级融媒体建设。</a></p>
                                <p><a>阳光云视为新疆兵团师市级融媒体平台进行升级，为师级融媒体中心提供媒体、党建、政务、公共服务和增值服务等综合服务的对接，支撑区域媒体开展业务。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2020-04</strong>
                            <div class="txt">
                                <p><a>ONAIR融媒体云平台IaaS及PaaS层运维服务升级。</a></p>
                            </div>
                        </li>

                        <li>
                            <strong class="date">2020-03</strong>
                            <div class="txt">
                                <p><a>阳光云视为甘肃省融媒体平台更新播控平台客户端网站系统，巩固甘肃全省区县融媒体中心建设成果。</a></p>
                                <p><a>阳光云视为新华网客户端定制直播系统。</a></p>
                            </div>
                        </li>

                        <li>
                            <strong class="date">2019-12</strong>
                            <div class="txt">
                                <p><a>为西宁台融媒体PaaS平台提供服务，助力西宁广播电视台全面推动媒体融合发展，提升宣传大美青海、夏都西宁影响力。</a></p>
                                <p><a>智能云媒资，简约内容生产平台，移动采编，新时代文明实践等产品全面发布，ONAIR产品矩阵智能升级。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2019-11</strong>
                            <div class="txt">
                                <p><a>为济南台智慧融媒体中心提供服务，构建面向互联网和移动端业务的智慧全媒体中心平台。</a></p>
                                <p><a>看鉴客户认知系统全面上线，面向新零售、汽车等行业，提供智能AI、人脸识别等技术，实现业务流程升级再造。</a></p>
                                <p><a>ONAIR 媒体云为山西省洪洞县、定襄县、新绛县、陵川县提供县级融媒服务。</a></p>
                                <p><a>ONAIR 为云南七彩云平台提供功能和服务能力的扩容迭代升级服务，助力建设可运营的融媒体平台。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2019-10</strong>
                            <div class="txt">
                                <p><a>为吉林省广播电视台PaaS层系统提供服务，助力实现传统节目生产发布平台与融合媒体平台的深度融合。</a></p>
                                <p><a>视频云SaaS及API与山东省发改委达成服务合作。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2019-08</strong>
                            <div class="txt">
                                <p><a>听鉴云服务覆盖奔驰、宝马、奥迪、保时捷、大众、别克、路虎、沃尔沃、林肯9个品牌用户。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2019-07</strong>
                            <div class="txt">
                                <p><a>为中国国际广播电台中华云平台提供运维服务项目。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2019-06</strong>
                            <div class="txt">
                                <p><a>阳光云视与三大运营商移动、联通、电信分别签署战略合作协议。</a></p>
                                <p><a>博识知识库服务连锁加盟企业碰碰凉，重构“人、货、场”知识管理，助力业务增长。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2019-04</strong>
                            <div class="txt">
                                <p><a>博识知识库2.0正式上线，助力构建学习型企业。</a></p>
                                <p><a>阳光云视与方正电子签署战略合作协议。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2019-03</strong>
                            <div class="txt">
                                <p><a>阳光云视与华为云达成战略合作。</a></p>
                                <p><a>CCBN2019|ONAIR PaaS平台3.0正式发布亮相，以智能能力赋能融媒建设。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2019-02</strong>
                            <div class="txt">
                                <p><a>云南台“七彩云”平台入驻县级融媒机构突破60家。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2019-01</strong>
                            <div class="txt">
                                <p><a>国家广电总局发布《县级融媒体中心省级技术平台规范要求》、《县级融媒体中心建设规范》，阳光云视全程参与规范的制定。</a></p>
                                <p><a>视频云SaaS及API服务江淮汽车、广汽本田，将智能视频能力赋能汽车行业。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2018-12</strong>
                            <div class="txt">
                                <p><a>中标中国国际广播电台中华云平台运维服务项目。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2018-10</strong>
                            <div class="txt">
                                <p><a>中标中国新闻社全球华语视频资讯共享平台项目。</a></p>
                                <p><a>云南10个地州、27个县已入驻七彩云平台(由阳光云视承建)。</a></p>
                            </div>
                        </li>
                        <li>
                            <strong class="date">2018-08</strong>
                            <div class="txt">
                                <p><a>阳光云视申报“晓智智能媒体助手”获得BIRTV2018产品奖。</a></p>
                                <p><a>中标安庆市广播电视台融媒体生产制播平台融媒体采编发系统及服务项目。</a></p>
                            </div>
                        </li>

                        <li>
                            <strong class="date">2018-07</strong>
                            <div class="txt">
                                <p><a>中标马鞍山市广播电视台全媒体新闻融合平台建设项目。</a></p>
                            </div>
                        </li>

                        <li>
                            <strong class="date">2018-06</strong>
                            <div class="txt">
                                <p><a>ONAIR视频云为兴证国际金融集团有限公司&ldquo;每周快讯&rdquo;提供内容管理、视频点播、分发服务等一体化SaaS解决方案。<br/>
                                    ONAIR视频云为上海唯一视觉企业发展有限公司提供视频点播、直播、剪辑、分发等技术服务，共同策划为旅拍新人提供唯一直播、幸福广场、幸福银行业务，打造&ldquo;分享喜悦
                                    传递祝福&rdquo;。<br/>
                                    ONAIR视频云为河北先河环保科技股份有限公司提供云直播、点播服务，通过连接无人机实现实时环境监测，同步收录实时监测视频进行归档及点播应用。<br/>
                                    ONAIR视频云为温州尖美科技《再创美业财富路 寻求美业发展途》新产品发布会提供技术支持。<br/>
                                    ONAIR视频云为香港联合出版集团旗下悦马APP马拉松赛事直播及书店活动直播提供技术支持。<br/>
                                    ONAIR视频云为云众生科技提供在线教育直播、点播技术支持，实现1对多在线教育直播。</a></p>
                            </div>
                        </li>


                        <li>
                            <strong class="date">2018-04</strong>
                            <div class="txt">
                                <p><a>ONAIR视频云为南京三宝科技股份有限公司提供监控直播服务，实现省内客运车辆实时监控直播。<br/>
                                    ONAIR视频云为广州本田旗下400个4S店官方微信号提供短视频内容管理、发布及传播数据统计服务。<br/>
                                    ONAIR视频云为物联智慧TUTK提供视频监控服务，为广大用户带来安全可靠的智能家居监控实时查看、历史视频查看功能。<br/>
                                    ONAIR视频云为福州数字中国会展中心提供展会直播、点播应用，覆盖每年60场展会。</a></p>
                            </div>
                        </li>


                        <li>
                            <strong class="date">2018-03</strong>
                            <div class="txt">
                                <p><a>阳光云视的媒体云解决方案和视频云解决方案加入了华为云严选产品序列。<br/>
                                    成为首批华为云解决方案领先级合作伙伴之一，领先级是华为解决方案合作伙伴认证体系中的最高级别。<br/>
                                    中标内蒙古广电网络资讯传播有限公司融合媒体平台建设项目。</a></p>
                            </div>
                        </li>


                        <li>
                            <strong class="date">2018-02</strong>
                            <div class="txt">
                                <p><a>阳光云视承建的&ldquo;中华云（新型全媒体融合平台）项目&rdquo;、&ldquo;七彩云融合媒体云平台项目&rdquo; 、&ldquo;湖北广播电视台长江云平台
                                    &rdquo; 荣获2017年广播影视科技创新奖一等奖。</a></p>
                            </div>
                        </li>


                        <li>
                            <strong class="date">2017-12</strong>
                            <div class="txt">
                                <p><a>中标安徽广播电视台全媒体融合生产系统项目。<br/>
                                    中标淳安手机台项目。</a></p>
                            </div>
                        </li>


                        <li>
                            <strong class="date">2017-11</strong>
                            <div class="txt">
                                <p><a>中标山西媒体智慧云平台中央厨房项目，于20多天内完成项目一期建设内容。</a></p>
                            </div>
                        </li>


                        <li>
                            <strong class="date">2017-10</strong>
                            <div class="txt">
                                <p><a>中标北京电视台融合媒体生产云平台项目建设。</a></p>
                            </div>
                        </li>


                        <li>
                            <strong class="date">2017-09</strong>
                            <div class="txt">
                                <p><a>中标重庆逗听FM项目，利用融合云平台相应的支撑和管理功能，展现重庆特色的全方位的功能模块APP应用。<br/>
                                    为华为全联接大会直播提供全程技术支撑，实现4K超高清画质直播。</a></p>
                            </div>
                        </li>


                        <li>
                            <strong class="date">2017-08</strong>
                            <div class="txt">
                                <p><a>阳光云视与新奥特联合申报的云南广播电视台&ldquo;七彩云&rdquo;融合媒体云平台获得BIRTV2017应用项目奖。</a></p>
                            </div>
                        </li>


                        <li>
                            <strong class="date">2017-07</strong>
                            <div class="txt">
                                <p><a>为人民数字&ldquo;High C中国&rdquo;声乐大赛直播提供全程技术支撑。<br/>
                                    为第六届广电传媒产业论坛暨第四届中国广播电视紫金论坛网络直播提供全程技术支撑。</a></p>
                            </div>
                        </li>


                        <li>
                            <strong class="date">2017-05</strong>
                            <div class="txt">
                                <p><a>为贵州&ldquo;520&middot;贵州&mdash;&mdash;百姓富、生态美&rdquo;系列活动、报道提供全程技术支撑。</a></p>
                            </div>
                        </li>


                        <li>
                            <strong class="date">2017-04</strong>
                            <div class="txt">
                                <p><a>为云南国际泼水节系列活动、报道提供全程技术支撑。<br/>
                                    中标天津广播电视台资源共享系统项目，协助IBC赛事综合采编平台建设。<br/>
                                    中标中国新闻社网络视频处理平台建设及软硬件购置政府采购项目，协助网络视频处理平台建设。</a></p>
                            </div>
                        </li>


                        <li>
                            <strong class="date">2017-03</strong>
                            <div class="txt">
                                <p><a>为重庆台、云南台、江苏台、贵州台、福建台等两会融合新闻报道提供技术支持。</a></p>
                            </div>
                        </li>


                        <li>
                            <strong class="date">2016-12</strong>
                            <div class="txt">
                                <p><a>中标河南台融合媒体云平台目，协助河南台从全台网1.0的时代向2.0云平台的时代平稳过渡。<br/>
                                    中标重庆台融合新闻新媒体内容生产发布管理平台项目，助力重庆台重点打造APP+H5相结合的第二重媒体。</a></p>
                            </div>
                        </li>


                        <li>
                            <strong class="date">2016-11</strong>
                            <div class="txt">
                                <p><a>中标宁波广播电视集团融合媒体PaaS+总集项目，首次与国外私有云Cisco配合，将Cisco 第二代SDN技术引入媒体云平台中，为将来全台IP化夯实基础。<br/>
                                    中标贵州广播电视台融合媒体综合业务云平台项目，重点协助贵州台健全用户画像。</a></p>
                            </div>
                        </li>


                        <li>
                            <strong class="date">2016-09</strong>
                            <div class="txt">
                                <p><a>阳光云视与华为企业云就媒体融合领域达成战略合作并举办了签约仪式，发挥双方行业优势，共同打造针对广电行业的专业媒体云解决方案。</a></p>
                            </div>
                        </li>


                        <li>
                            <strong class="date">2016-08</strong>
                            <div class="txt">
                                <p><a>中标中标湖北台&ldquo;长江云&rdquo;PaaS平台集成项目，帮助湖北台发挥省级主流媒体的权威优势和品牌优势，进一步整合新闻媒体资源，推动传统媒体和新兴媒体融合发展。</a>
                                </p>
                            </div>
                        </li>


                        <li>
                            <strong class="date">2016-07</strong>
                            <div class="txt">
                                <p><a>为解放军军报客户端 &ldquo;党95岁生日，习主席重要讲话&rdquo;直播提供全程技术支撑。</a></p>
                            </div>
                        </li>


                        <li>
                            <strong class="date">2016-06</strong>
                            <div class="txt">
                                <p><a>南博会期间，云南广播电视台在&ldquo;东行记－云南党政代表团考察专题&rdquo;实践的基础上，再次与阳光云视合作，引入最新流行的网络直播形态，用全新的内容视角报道本次南博会。<br/>
                                    中标江苏台&ldquo;广电荔枝云应用服务采购&rdquo;项目，基于荔枝云平台为江苏台建设全面的云端应用服务，从而支持总台新闻业务的融合生产和节目素材的资源管理与内容运营。<br/>
                                    为第五届广电传媒产业论坛暨第三届中国广播电视紫金论坛网络直播提供全程技术支撑。</a></p>
                            </div>
                        </li>


                        <li>
                            <strong class="date">2016-04</strong>
                            <div class="txt">
                                <p><a>由云南省省委书记李纪恒、云南省省长陈豪等成员组成的云南党政代表团&ldquo;东行&rdquo;考察学习，阳光云视协助云南省广播电视台为本次考察学习等各项行程通过电视、微信、网站等渠道进行了全程跟踪报道。<br/>
                                    入驻中央电视台综合制作云项目，助力中央电视台建立基于混合云的综合制作流程，实现台内外的协同制作和非编的工具化。<br/>
                                    牵手业界知名足球数据服务商同道伟业，首次在全国范围内对中乙联赛进行微信全程直播。</a></p>
                            </div>
                        </li>


                    </ul>
                    <!--pages start-->
                    <div class="pages">

                    </div>
                    <!--pages end-->
                </div>
            </div><!--/aboutRight-->
        </div>
    </div>
</div>
<!--aboutBox end-->
<div id="footer-wrap"></div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../../common/js/main.js"></script>
</body>
</html>