<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>智能媒资</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="./css/intelligentMediaAssets.css">
	</head>
	<body>
		<div class="intelligentMediaAssets">
			<div class="header">
			    <div class="header-left">
			        <a href="/index.html">
			            <img src="../listenToJianyun/images/logo.png" alt="">
			        </a>
			    </div>
			    <div class="header-right">
			        <a href="/index.html">
			            <img src="../listenToJianyun/images/矢量智能对象.png" alt="">
			        </a>
			    </div>
			</div>
			<div class="banner">
				<p>智能数字资产管理系统</p>
				<ul>
					<li>基于人工智能技术，构建了全新高智能化数字资产统一管理平台。该平台还可通过机器学习等技术，实现自我学习和智能推荐，从而系统提升管理水平，智能化挖掘和再生其社会和商业价值。 </li>
				</ul>
			</div>
			<div class="function">
				<p class="title">产品功能</p>
				<div class="item-list">
					
				</div>
			</div>
			<div class="productAdvantages">
				<p class="title">产品优势</p>
				<div class="item-list">
					<div class="item active">
						<p class="item-t">多租户模式</p>
						<p class="item-c">
							支持总部和各分支机构的独立应用，并支持机构间的内容交换和共享
						</p>
					</div>
					<div class="item">
						<p class="item-t">泛行业应用</p>
						<p class="item-c">
							编目灵活可自定义，产品简单易用，工具齐全，广泛适用于各个行业的数字资产管理
						</p>
					</div>
					<div class="item">
						<p class="item-t">多模态AI能力赋能</p>
						<p class="item-c">
							人工智能和多模态向量分析技术的深度开发和应用，大幅提高数字资产的编目标引和检索应用的效率
						</p>
					</div>
					<div class="item">
						<p class="item-t">多维挖掘价值内容</p>
						<p class="item-c">
							具备互联网热点感知、用户行为分析以及内容关联分析能力，能够实现智能推荐和智能搜索，高效精准发现数字资产的价值
						</p>
					</div>
					<div class="item">
						<p class="item-t">资产增值运营</p>
						<p class="item-c">
							具备内容的智能生产和社交媒体的分发能力，为数字资产的增值运营提供有效途径
						</p>
					</div>
					<div class="item">
						<p class="item-t">数据安全性</p>
						<p class="item-c">
							支持分级存储，容错容灾，全面保障数字资源访问的安全性和可靠性
						</p>
					</div>
				</div>
			</div>
			<div class="applicationScenario">
				<p class="title">应用场景</p>
				<div class="item-list">
					<div class="item active">
						<p class="item-t">媒体机构</p>
						<p class="item-c">
							内容生产相关的视音频素材&成片、稿件、文档等媒体资产的永久保存和再利用
						</p>
					</div>
					<div class="item">
						<p class="item-t">机关单位</p>
						<p class="item-c">
							单位重要会议、重大事件、党建活动、文化建设等相关的珍贵的影像资料、文档、数字化档案等数字资产的永久保存和再利用
						</p>
					</div>
					<div class="item">
						<p class="item-t">教育机构</p>
						<p class="item-c">
							教学课件、重要会议、重要活动、学校建设、班级活动等相关珍贵的影像资料、文档以及数字化文件等数字资产的永久保存和再利用
						</p>
					</div>
					<div class="item">
						<p class="item-t">文博单位</p>
						<p class="item-c">
							旅游名胜、馆藏藏品、地方文史等相关的珍贵的影像资料、文档以及数字化文件等数字资产的永久保存和再利用
						</p>
					</div>
					<div class="item">
						<p class="item-t">企业单位</p>
						<p class="item-c">
							企业产品开发、经营历史、重大事件、团队建设等相关的珍贵的影像资料、数字化文件等数字资产的永久保存和再利用
						</p>
					</div>
				</div>
			</div>
			<div class="customerValue">
				<p class="title">客户价值</p>
				<div class="item-list">
					<div class="item active">
						<p class="item-t">数字资产拯救与保存</p>
						<p class="item-c">
							有效避免珍贵数字资产的流失，实现集中科学管理，并永久保存
						</p>
					</div>
					<div class="item">
						<p class="item-t">降低运营成本</p>
						<p class="item-c">
							多模态AI能力赋能，有效降低资产编目人工工作量，可大幅降低系统的运营成本
						</p>
					</div>
					<div class="item">
						<p class="item-t">提高数字资产再利用率</p>
						<p class="item-c">
							具备热点感知、智能推荐和多模态智能检索能力，可大幅度提升从系统海量数字资产中挖掘适合用户应用的内容的概率和效率
						</p>
					</div>
					<div class="item">
						<p class="item-t">数字资产增值运营</p>
						<p class="item-c">
							支持内容智能生产和社交媒体矩阵分发，为数字资产增值运营提供有效解决方案
						</p>
					</div>
				</div>
			</div>
			
			
			
			
			
			<div class="contact">
			    <div class="contact-title">联系我们</div>
			    <div>北京总部</div>
			    <div>办公地址：北京市昌平区半壁街9号</div>
			    <div>电话：010-62977026/400-900-7025</div>
			    <div>邮编：100085</div>
			    <div>邮箱:mkt@yunshicloud.com</div>
			    <div>中南办事处(武汉）</div>
			    <div>办公地址：武汉市武昌区中北路姚家岭114号景天楼1-9-2</div>
			    <div>联系电话:027-68874905</div>
			    <div>邮编：430071</div>
			    <div class="line"></div>
			    <div class="small">版权所有©北京阳光云视科技有限公司 2020</div>
			    <div class="bot-img">京ICP备17015824号-4
			        <img src="../listenToJianyun/images/jing.png" alt="">
			        京公网安备11010802031184</div>
			</div>
		</div>
	</body>
	<script src="https://www.yunshicloud.com/common/js/deviceType.js"></script>
	<script src="./data/productAdvantages.js"></script>
	<script>
		let productAdvantagesList = document.querySelectorAll('.productAdvantages .item');
		for(let i = 0;i<productAdvantagesList.length;i++){
			productAdvantagesList[i].ontouchstart = function() {
				productAdvantagesList.forEach(item => {
					item.classList.remove('active');
				})
				productAdvantagesList[i].classList.toggle('active')
			}
		}
		let applicationScenarioList = document.querySelectorAll('.applicationScenario .item');
		for(let i = 0;i<applicationScenarioList.length;i++){
			applicationScenarioList[i].ontouchstart = function() {
				applicationScenarioList.forEach(item => {
					item.classList.remove('active');
				})
				applicationScenarioList[i].classList.toggle('active')
			}
		}
		let customerValueList = document.querySelectorAll('.customerValue .item');
		for(let i = 0;i<customerValueList.length;i++){
			customerValueList[i].ontouchstart = function() {
				customerValueList.forEach(item => {
					item.classList.remove('active');
				})
				customerValueList[i].classList.toggle('active')
			}
		}
		
		
		
		let functionItemList = document.querySelector('.function .item-list');
		let productAdvantagesDom = '';
		productAdvantages.forEach((item, index) => {
			let itemTDom = '';
			let itemCDom = '';
			item.list.forEach(items => {
				itemCDom += `
						<li>
							<i style="background: url('images/${'duigou'+(index+1)}.png') no-repeat;background-size: 100% 100%;"></i>
							<p>${items}</p>
						</li>`
			})
			productAdvantagesDom += `
				<div class="item">
					<div class="item-t" style="
						background: url('images/topimg/${(index+1)}-1.jpg') no-repeat;
						background-size: 100% 100%;
					">
						<i style="
							background: url('images/${'1-'+(index+1)}.png') no-repeat;
							background-size: 100% 100%;"
						></i>
						${item.title}
					</div>
					<ul class="item-c">
						${itemCDom}
					</ul>
				</div>
			`;
		})
		functionItemList.innerHTML = productAdvantagesDom;
		
		let functionItemItem = document.querySelectorAll('.function .item-list .item');
		let preIndex = 0;
		functionItemItem[preIndex].children[0].style.cssText = `background: url('images/topimg/${(preIndex+1)}.jpg') no-repeat;background-size: 100% 100%;`
		for(let i = 0;i<functionItemItem.length;i++) {
			functionItemItem[i].ontouchstart = function () {
				functionItemItem[preIndex].children[0].style.cssText = `background: url('images/topimg/${(preIndex+1)}-1.jpg') no-repeat;background-size: 100% 100%;`
				functionItemItem[i].children[0].style.cssText = `background: url('images/topimg/${(i+1)}.jpg') no-repeat;background-size: 100% 100%;`
				preIndex = i;
			}
		}
	</script>
</html>