html,body{
    width:100%;
    min-width: 1200px;
    position: relative;
    margin:auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.sc_spy_banner {
    background:rgba(111,140,179,0.2);
    height: 496px;
    overflow: hidden;
    margin-top:40px;
    width:100%;
}
.sc_spy_banner .container {
    padding-top:105px;
}
.sc_spy_banner h3 {
    color:#000;
    font-size:48px;
    margin:17px 0 19px
}
.sc_spy_left {
    width:506px;
    margin-left:23px;
}
.sc_spy_banner_text {
    margin-right: 31px;
    font-size:22px;
    line-height:36px;
    color:#585858;
}
.sc_spy_right {
    width:623px;
}
.sc_spy_right img {
    width: 100%;
}
.sc_list_wrap{
    height:56px;
    line-height: 56px;
    background:#B5BAC1;
    text-align: center;

}
.sc_list_wrap .sc_list{
    display: inline-block;
}
.sc_list_wrap .sc_list li {
    font-size:18px;
    color:#fff;
    float: left;
    margin:0 37px;
    cursor: pointer;
}
.sc_spy_tit{
    padding:77px 0 53px;
    background:#F5F5F5;
    text-align: center;
}
.sc_spy_tit_p{
    color:#101010;
    font-size:24px;
    margin-bottom:6px;
    font-weight: 600;
}
.sc_spy_tit_ps{
    font-size:18px;
    color:#8C8C8C;
}


/*1-7*/
.ysga_top_describe{
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 63px;
    background-color: #ffffff;
}
.ysga_top_describe>h1{
    font-size: 46px;
    color: #0f212e;
    text-align: center;
    margin-bottom: 16px;
}
.ysga_describe_wrap p{
    color: #585858;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}
.ysga_describe_data_wrap {
    margin-top: 54px;
}
.ysga_describe_data_wrap ul{
    max-width: 1020px;
    margin: auto;
}
.ysga_describe_data_wrap ul li+li{
    border-left: 2px solid #f2f3f3;
    box-sizing: border-box;
}
.ysga_describe_data_wrap ul li{
    float: left;
    width: 25%;
    text-align: center;
}
.ysga_describe_data_wrap ul li h4{
    font-weight: bold;
    font-size: 60px;
    color: #0f212e;
    line-height: 136px;
}
.ysga_describe_data_wrap ul li h4 span{
    font-size: 22px;
}
.ysga_describe_data_wrap ul li p{
    font-size: 16px;
    color: #0f212e;
    line-height: 36px;
}
.ysga_details_wrap{
    border-top: 1px solid transparent;
    background-color: #F5F5F5;
}
.ysga_details_wrap .ysga_details_main_wrap{
    border-bottom: 32px solid #F5F5F5;
    height: 510px;
    background-size: 100% 100%;
}
.ysga_details_wrap .ysga_details_main_wrap:last-child{
    border-bottom:0;
}
.ysga_details_wrap .ysga_details_num_1{
    background:#fff url("../img/spy_right.svg")no-repeat center;
}
.ysga_details_wrap .ysga_details_num_2{
    background: url("../img/spy_left.svg")no-repeat center;
}
.ysga_details_wrap .ysga_details_num_3{
    background: url("../img/ysga_bg_left3.svg")no-repeat center;
}
.ysga_details_wrap .ysga_details_num_4{
    background: url("../img/ysga_bg_right4.svg")no-repeat center;
}
.ysga_details_wrap{

}
.ysga_details_main{
    margin: auto;
}
.ysga_details_wrap .tl{
}
.ysga_details_wrap .tr{
    text-align: right;
}
.ysga_details_main_describe{
    width: 46%;
    position: relative;
    box-sizing: border-box;
    padding-top: 96px;
}
.ysga_details_num_2 .ysga_details_main_describe .ml,.ysga_details_num_2 .sc_spy_btn{
    margin-right: 23px;
    margin-left:0;
}


.ysga_nunber_left,.ysga_nunber_right{
    position: absolute;
    z-index: 0;
}
.ysga_details_main_describe .ysga_nunber_left{
    top: 77px;
    left: 0px;
}
.ysga_details_main_describe .ysga_nunber_right{
    top: 77px;
    right: 0px;
}
.ysga_details_main_describe .ml{
    margin-left: 23px;
}
.ysga_details_main_describe h4.h4_color_01{
    color: #718CB5;
}
.ysga_details_main_describe h4.h4_color_02{
    color: #718CB5;
}

.ysga_details_main_describe h4{
    line-height: 104px;
    font-size: 34px;
    position: relative;
    z-index: 1;
}
.ysga_details_main_describe p{
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    position: relative;
    z-index: 1;
    color:#3E3E3E;
    text-align: justify;
}
.ysga_dmt_color_01{
    background-color: #718CB5;
}
.ysga_dmt_color_02{
    background-color: #718CB5;
}
.ysga_details_main_transfer {
    width: 120px;
    height: 40px;
    color: #ffffff;
    display: block;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.ysga_details_main_pic{
    box-sizing: border-box;
    padding-top: 96px;
    width:50%;
}
.ysga_details_main_pic img{
    margin:auto;
}
.sc_spy_btn {
    margin-top:32px;
}
.ysga_details_num_01 .ysga_details_main_pic{
    padding-top:63px
}
.ysga_details_num_02 .ysga_details_main_pic{
    padding-top:77px
}
.ysga_details_num_02 .sc_spy_btn,.ysga_details_num_05 .sc_spy_btn,.ysga_details_num_07 .sc_spy_btn{
    margin-top: 53px;
}
.ysga_details_num_03 .ysga_details_main_pic,.ysga_details_num_04 .ysga_details_main_pic{
    padding-top:60px
}
.ysga_details_num_06 .ysga_details_main_pic{
    padding-top:33px
}
.ysga_details_num_07 .ysga_details_main_pic{
    padding-top:78px
}
.ysga_details_num_2 .h4_color_02{
    text-align: right;
}
.sc_exp_im{
    display: inline-block;
    width: 134px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color:#101010;
    border:1px solid #101010;
    margin-top:38px;
}
.sc_exp_im:hover {
    background: rgba(255,255,255,.4);
    transition: all .2s;
}
.ysga_details_num_01 .sc_spy_btn{
    margin-top:50px;
}
.ysga_details_num_03 .sc_spy_btn{
    margin-top:52px;
}
.ysga_details_num_02  .ysga_details_main_describe{
    padding-top:130px;
}