.mc_service_con .service-advant-ul .advant-ico-1{
    background-image: url(../img/videoContent/mc_recognition_accuracy.svg);
}
.mc_service_con .service-advant-ul .advant-ico-2{
    background-image: url(../img/videoContent/mc_easy_to_use.svg);
}
.mc_service_con .service-advant-ul .advant-ico-3{
    background-image: url(../img/videoContent/mc_Rich_in_function.svg);
}
.mc_service_con .service-advant-ul .advant-ico-4{
    background-image: url(../img/videoContent/mc_Service_stability.svg);
}
.mc_service_con .service-fun-tab .fun-ico-1 {
    background-image: url(../img/videoContent/mc_Resource_learning.svg);
}
.mc_service_con .service-fun-tab .fun-ico-2 {
    background-image: url(../img/videoContent/mc_Intelligent_dismantling.svg);
}
.mc_service_con .service-fun-tab .fun-ico-3 {
    background-image: url(../img/videoContent/mc_video_OCR.svg);
}
.mc_service_con .service-fun-tab .fun-ico-4 {
    background-image: url(../img/videoContent/mc_Task_recognition.svg);
}
.mc_service_con .service-fun-tab .fun-ico-5 {
    background-image: url(../img/videoContent/mc_speech_recognition.svg);
}
.mc_service_con .service-fun-tab .fun-ico-6 {
    background-image: url(../img/videoContent/mc_Item_identification.svg);
}
.sc_scene_cont_main .scene_img{
    width: 65%;
}
.sc_scene_cont_main .sc_scene_cont_title{
    width: 34%;
}
/*适配*/
@media screen and (max-width: 370px)  {

}
@media screen and (max-width: 450px)  {

}
@media screen and (max-width: 767px)  {
    
}
.sc_scene_cont_main .scene_img img{
    max-width: 100%;
    height: auto;
}
.sw-service-banner-live{
    background-image: url(../img/videoContent/mc_videoContent_bg.png);
}