<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="阳光云视">
    <meta name="description" content="阳光云视">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>活动直播-阳光云视</title>
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../common/css/base.css">
    <link rel="stylesheet" href="css/yunProDetail.css">
</head>
<body>
<div id="header-wrap"></div>
<!--service-banner start-->
<div class="service-banner service-banner-live">
    <div class="maxWidth">
        <div class="service-banner-txt">
            <h2>活动直播</h2>
            <p>ONAIR视频云直播具有领先的视音频实时处理技术，具有低延时、高可靠、高性能、易接入、全场景、多终端等特点，适用于直播平台、展会服务平台、婚庆服务平台、在线互动教学等多种应用场景。提供直播API、移动端采集SDK、播放SDK等实现快速对接，从信号源接入到直播分发加速，满足低延时、大并发、顺畅观看等强体验需求。</p>
            <a href="https://onair.yunshicloud.com/live/liveManageNew" target="_blank">立即体验</a>
        </div>
    </div>
</div>
<!--service-banner end-->

<!-- /etc/subnav.shtml Start -->
<!--subnavbar start-->
<div class="subnavbar">
    <div class="maxWidth">
        <ul class="subnavbar-menu">
            <li class="current"><a href="#service-con-1">产品优势</a></li>
            <li class=""><a href="#service-con-2">功能描述</a></li>
            <li><a href="#service-con-3">应用场景</a></li>
            <li><a href="#service-con-4">服务购买</a></li>
            <li><a href="#service-con-5">文档支持</a></li>
        </ul>
    </div>
</div>
<!--subnavbar end-->
<div class="service-con">
    <!--产品优势-->
    <div class="section service-advant service-con-1" id="service-con-1">
        <h2 class="service-tie">产品优势</h2>
        <ul class="maxWidth service-advant-ul">
            <li>
                <i class="advant-ico advant-ico-1"></i>
                <div class="txt">
                    <h3>高可靠</h3>
                    <p>防盗链、HTTPS加密、视频加密等多种安全手段保障高可靠</p>
                </div>
            </li>
            <li>
                <i class="advant-ico advant-ico-2"></i>
                <div class="txt">
                    <h3>全场景</h3>
                    <p>成熟的全行业解决方案，覆盖所有直播应用场景</p>
                </div>
            </li>
            <li>
                <i class="advant-ico advant-ico-3"></i>
                <div class="txt">
                    <h3>多终端</h3>
                    <p>跨平台、多终端采集、播放API/SDK支撑</p>
                </div>
            </li>
            <li>
                <i class="advant-ico advant-ico-4"></i>
                <div class="txt">
                    <h3>强体验</h3>
                    <p>流畅的观感、实时的互动、优美的画面，为用户创造更好的体验</p>
                </div>
            </li>
        </ul>
    </div>
    <!--功能描述-->
    <div class="section service-fun service-con-2" id="service-con-2">
        <h2 class="service-tie">功能描述</h2>
        <div class="maxWidth service-fun-bd">
            <div class="service-fun-item service-fun-item-drop cur">
                <div class="service-fun-tab clearfix">
                    <em class="service-fun-arr"></em>
                    <i class="fun-ico fun-ico-1"></i>
                    <div class="txt">
                        <h3>视频采集</h3>
                        <p>丰富的终端推流功能，搭配成熟的解决方案，支持多终端适配，上行码率自适应等功能，满足客户不同场景需求</p>
                    </div>
                </div>
                <ul class="service-fun-ul">
                    <li><h3>广播级设备采集</h3><p>支持广播级摄像机、编码器、4G背包等直播采集设备，支持40Mbps高码率、高清晰度，广播级直播应用场景</p></li>
                    <li><h3>专业级设备采集</h3><p>支持无人机、运动相机、手持云台、全景相机等直播采集设备，支持专业级互联网直播应用场景</p></li>
                    <li><h3>视频采集SDK</h3><p>提供Android、iOS的移动端直播采集SDK，包含闪光灯摄像头调节、指定输出分辨率、动态码率自适应、本地录制、高级美颜等功能</p></li>
                </ul>
            </div><!--/视频采集-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <em class="service-fun-arr"></em>
                    <i class="fun-ico fun-ico-2"></i>
                    <div class="txt">
                        <h3>视频播放SDK</h3>
                        <p>多平台播放SDK快捷接入，全网加速提供极致播放体验</p>
                    </div>
                </div>
                <ul class="service-fun-ul">
                    <li><h3>大小屏播放</h3><p>覆盖Web、Android、iOS多类型终端，满足客户不同场景播放需求</p></li>
                    <li><h3>分辨率自适应</h3><p>多分辨率直播自动侦测网络，自适应切换，直播观看更顺畅</p></li>
                    <li><h3>首屏秒开</h3><p>最优的编码缓存技术与播放器SDK、CDN加速的最佳匹配，带给观看者秒级播放体验</p></li>
                </ul>
            </div><!--/视频播放SDK-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <em class="service-fun-arr"></em>
                    <i class="fun-ico fun-ico-3"></i>
                    <div class="txt">
                        <h3>直播推流</h3>
                        <p>高质BGP网络，汇聚全国主流CDN技术，全方位保障直播传输质量</p>
                    </div>
                </div>
                <ul class="service-fun-ul">
                    <li><h3>边缘推流</h3><p>智能判断边缘节点，形成快速推流上行网络，支持更高分辨率视频，有效控制丢包率低，提供更为稳定的直播体验</p></li>
                    <li><h3>覆盖全国</h3><p>汇聚全国主流CDN网络，覆盖更大范围的用户群体</p></li>
                    <li><h3>全球加速</h3><p>支持通过专线在东南亚，欧洲，北美，韩国，日本等主流国家的采集与分发，轻松实现跨境直播，提升服务在全球范围的访问体验</p></li>
                </ul>
            </div><!--/直播推流-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <em class="service-fun-arr"></em>
                    <i class="fun-ico fun-ico-4"></i>
                    <div class="txt">
                        <h3>直播转码</h3>
                        <p>覆盖主流直播转码格式，多分辨率、多码率，可定制转码模板，满足多屏播放</p>
                    </div>
                </div>
                <ul class="service-fun-ul">
                    <li><h3>感知增强编码</h3><p>行业领先的感知增强编码技术，相同画质为用户节省大量的带宽成本</p></li>
                    <li><h3>多模板预制</h3><p>提供1080p~120p多种预制模板、支持自定义模板</p></li>
                    <li><h3>多屏适配</h3><p>适配OTT、PC、移动终端等多屏播放应用</p></li>
                    <li><h3>灵活水印</h3><p>支持视频增加水印，并可灵活配置，维护用户视频版权</p></li>
                    <li><h3>动态切片</h3><p>独有的编码算法、动态切片深度优化，更低的直播延时保障，观看更加流畅，流量节省30%以上</p></li>
                </ul>
            </div><!--/直播转码-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <em class="service-fun-arr"></em>
                    <i class="fun-ico fun-ico-5"></i>
                    <div class="txt">
                        <h3>媒体处理</h3>
                        <p>行业领先视音频实时处理技术，为您提供简单、易用的多机位导播、实时剪辑、快速短视频制作等直播工具</p>
                    </div>
                </div>
                <ul class="service-fun-ul">
                    <li><h3>云导播台</h3><p>导播切换台的云端再造，方便导播人员实现多机位调度控制</p></li>
                    <li><h3>流拆条</h3><p>核心视音频处理技术与智能化应用的结合，边看直播边拆条，快速短视频生产、发布</p></li>
                    <li><h3>云轮播</h3><p>多频道、多节目单再造云播出，快捷实现云播出、云垫播</p></li>
                    <li><h3>直播收录</h3><p>直播过程中同步收录，多段自动合并，秒变点播</p></li>
                </ul>
            </div><!--/媒体处理-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <em class="service-fun-arr"></em>
                    <i class="fun-ico fun-ico-6"></i>
                    <div class="txt">
                        <h3>安全防护</h3>
                        <p>提供防盗链、防下载、防录屏等多种加密技术，从视频处理、播放、分发各环节环环相扣全方位检测与防护，保障视频内容安全</p>
                    </div>
                </div>
                <ul class="service-fun-ul">
                    <li><h3>防盗链</h3><p>设置防盗链的Refer黑白名单和IP黑白名单，保护资源不被其他网站盗链</p></li>
                    <li><h3>HTTPS加密</h3><p>防劫持、防篡改、防泄密，享受企业级可靠HTTPS加密服务</p></li>
                    <li><h3>视频加密</h3><p>RTMP和HLS标准加密方案，加密处理解密播放全面保护视频安全</p></li>
                    <li><h3>播放鉴权</h3><p>使用动态实时鉴权方式，对每个渠道的播放请求进行身份验证</p></li>
                </ul>
            </div><!--/安全防护-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <em class="service-fun-arr"></em>
                    <i class="fun-ico fun-ico-7"></i>
                    <div class="txt">
                        <h3>智能审核</h3>
                        <p>运用卷积神经网络算法，对内容进行智能场景分析，为视频内容的智能管控提供基础，节省审核中的人力成本</p>
                    </div>
                </div>
                <ul class="service-fun-ul">
                    <li><h3>色情内容分析</h3><p>支持精准高效识别出图像中的色情内容，智能化预防您的业务涉黄风险</p></li>
                    <li><h3>暴恐/涉政分析</h3><p>深度学习算法结合独有的情报、舆情、预警和分析体系及实时更新的样本图库，能够快速定位暴恐旗帜、人物和场景以及敏感政治人物</p></li>
                    <li><h3>内容审核</h3><p>支持涉黄、暴恐、政治等敏感内容智能审核，可根据用户管控尺度，灵活调整策略</p></li>
                    <li><h3>实时语音识别</h3><p>多种识别方案，有效匹配多种语音场景</p></li>
                </ul>
            </div><!--/智能审核-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <em class="service-fun-arr"></em>
                    <i class="fun-ico fun-ico-8"></i>
                    <div class="txt">
                        <h3>数据分析</h3>
                        <p>多维度数据统计，可视化分析，提供细颗粒度的业务统计数据查询，及时掌控业务用量，评估运营效果</p>
                    </div>
                </div>
                <ul class="service-fun-ul">
                    <li><h3>资源消耗及时查看</h3><p>媒体传播及时掌握</p></li>
                    <li><h3>多维度可视化呈现</h3><p>包括PV、UV、地域分布、观看时长等</p></li>
                </ul>
            </div><!--/数据分析-->
        </div>
    </div>
    <!--应用场景-->
    <div class="section service-scene service-con-3" id="service-con-3">
        <h2 class="service-tie">应用场景</h2>
        <div class="maxWidth service-scene-bd">
            <div class="img"><img src="./img/service/live-scene.png" alt="图片"></div>
            <ul class="service-scene-ul service-scene-ul-live">
                <li><h4>文娱互动</h4></li>
                <li><h4>教育行业</h4></li>
                <li><h4>电子商务</h4></li>
                <li><h4>金融行业</h4></li>
                <li><h4>政府部门</h4></li>
                <li><h4>互联网行业</h4></li>
                <li><h4>大型企业</h4></li>
                <li><h4>监控直播</h4></li>
            </ul>
        </div>
    </div>

    <!--服务购买-->
    <!-- /etc/servicebuy.shtml Start -->
    <div class="section service-buy service-con-4" id="service-con-4">
        <h2 class="service-tie">服务购买</h2>
        <div class="service-buy-bd">
            <ul class="service-buy-control maxWidth">
            </ul>
            <div class="service-buy-box">
                <div class="maxWidth">
                    <div class="service-buy-item" style="display:block;">
                        <div class="service-buy-meal service-buy-meal-set-meal">
                            <div class="title"><h4>观看流量资源包</h4></div>
                            <div class="mid">
                                <strong>服务包含</strong>
                                <ul class="clearfix">
                                    <li><em>100GB</em><span>观看流量</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                </ul>
                            </div>
                            <p class="price"><a href="https://onair.yunshicloud.com/live/consolePayt/1808071430330020" target="_blank">立即购买&gt;</a><strong>￥330元</strong>/年</p>
                        </div>
                        <div class="service-buy-meal service-buy-meal-set-meal">
                            <div class="title"><h4>存储空间资源包</h4></div>
                            <div class="mid">
                                <strong>服务包含</strong>
                                <ul class="clearfix">
                                    <li><em>100GB</em><span>存储空间</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                </ul>
                            </div>
                            <p class="price"><a href="https://onair.yunshicloud.com/live/consolePayt/1808071430520022" target="_blank">立即购买&gt;</a><strong>￥840元</strong>/年</p>
                        </div>
                        <div class="service-buy-meal service-buy-meal-set-meal">
                            <div class="title"><h4>文件转码资源包</h4></div>
                            <div class="mid">
                                <strong>服务包含</strong>
                                <ul class="clearfix">
                                    <li><em>100小时</em><span>转码时长</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                </ul>
                            </div>
                            <p class="price"><a href="https://onair.yunshicloud.com/live/consolePayt/1808071438390024" target="_blank">立即购买&gt;</a><strong>￥1,302元</strong>/年</p>
                        </div>
                        <div class="service-buy-meal service-buy-meal-set-meal">
                            <div class="title"><h4>直播转码资源包</h4></div>
                            <div class="mid">
                                <strong>服务包含</strong>
                                <ul class="clearfix">
                                    <li><em>100GB</em><span>存储空间</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                </ul>
                            </div>
                            <p class="price"><a href="https://onair.yunshicloud.com/live/consolePayt/1808071448510026" target="_blank">立即购买&gt;</a><strong>￥1,020元</strong>/年</p>
                        </div>
                        <div class="service-buy-meal service-buy-meal-set-meal">
                            <div class="title"><h4>套餐包I</h4></div>
                            <div class="mid">
                                <strong>服务包含</strong>
                                <ul class="clearfix">
                                    <li><em>2TB</em><span>观看流量</span></li>
                                    <li><em>100小时</em><span>文件转码</span></li>
                                    <li><em>100小时</em><span>流转码</span></li>
                                    <li><em>200GB</em><span>存储空间</span></li>
                                </ul>
                            </div>
                            <p class="price"><a href="https://onair.yunshicloud.com/live/consolePay/1808071452190028" target="_blank">立即购买&gt;</a><strong>￥3,600元</strong>/年</p>
                        </div>
                        <div class="service-buy-meal service-buy-meal-set-meal">
                            <div class="title"><h4>套餐包II</h4></div>
                            <div class="mid">
                                <strong>服务包含</strong>
                                <ul class="clearfix">
                                    <li><em>4TB</em><span>观看流量</span></li>
                                    <li><em>100小时</em><span>文件转码</span></li>
                                    <li><em>100小时</em><span>流转码</span></li>
                                    <li><em>200GB</em><span>存储空间</span></li>
                                </ul>
                            </div>
                            <p class="price"><a href="https://onair.yunshicloud.com/live/consolePay/1808071508250030" target="_blank">立即购买&gt;</a><strong>￥9,000元</strong>/年</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /etc/servicebuy.shtml End -->

        <!--文档支持-->
        <!-- /etc/servicesupport.shtml Start -->
        <div class="section service-support service-con-5" id="service-con-5">
            <h2 class="service-tie">文档支持</h2>
            <ul class="maxWidth service-support-ul">
                <li><h3>&nbsp;</h3>
                    <h3>&nbsp;</h3>
                    <h3>&nbsp;</h3>
                    <h3>&nbsp;</h3>
                </li>
                <li><h3>产品手册</h3><a href="wenjian/onair1807302214.pdf" target="_blank">ONAIR视频云产品操作手册</a>
                    <h3>&nbsp;</h3>
                    <h3>&nbsp;</h3>
                </li>
                <li><h3>帮助视频</h3><a href="https://hwzbtemplate.yunshicloud.com/qcy/onsite/template/5af532c525eca37f8e6b4e4a/5b35d5cc25eca3f28c3af212/index.html?productId=new_onsite" target="_blank">ONAIR视频云介绍</a>
                    <a href="https://hwzbtemplate.yunshicloud.com/companyId/appCode/template/userId/5b40afc725eca3c6f705015b/index.html?productId=new_onsite" target="_blank">企业典型应用--峰会直播</a>
                    <a href="https://hwzbtemplate.yunshicloud.com/qcy/onsite/template/5af532c525eca37f8e6b4e4a/5b55831425eca3f8751a4f7e/index.html?productId=new_onsite" target="_blank">企业典型应用--用点播宣传自己</a></li>
                <li><h3>&nbsp;</h3></li>
            </ul>
        </div>
        <!-- /etc/servicesupport.shtml End -->
    </div>
    <!--service-con end-->
</div>
<div id="footer-wrap"></div>
</body>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../../common/js/main.js"></script>
<script>
    $(".service-fun-item").click(function () {
        $(this).addClass("cur").siblings().removeClass("cur");
    })
    $(".subnavbar-menu a").click(function() {
        $("html, body").animate({
            scrollTop: $($(this).attr("href")).offset().top + "px"
        }, {
            duration: 500,
            easing: "swing"
        });
        return false;
    });
</script>
</html>