<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>媒体处理-阳光云视</title>
    <meta name="keywords" content="阳光云视"/>
    <meta name="description" content="阳光云视"/>
    <!-- /etc/htmlhead.shtml Start -->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../common/css/base.css">
    <link rel="stylesheet" href="css/yunProDetail.css">
    <meta name="author" content="yh 2921"/>
    <!-- /sn/htmlhead.shtml End -->
</head>

<body>
<!-- /etc/header.shtml start -->
<!--header-wrap start-->
<div id="header-wrap">

</div>
<!--header-wrap end-->
<!-- /etc/header.shtml end -->

<!--service-banner start-->
<div class="service-banner service-banner-digital">
    <div class="maxWidth">
        <div class="service-banner-txt">
            <h2>媒体处理</h2>
            <p>ONAIR视频云媒体处理服务可在线处理视频，包含视频剪辑、格式转码等多重功能，打破了地域、时间的限制，适用于新媒体、在线教育、峰会、电商、金融等业务。</p>
            <a href="https://onair.yunshicloud.com/console/materil" target="_blank">立即体验</a>
        </div>
    </div>
</div>
<!--service-banner end-->

<!-- /etc/subnav.shtml Start -->
<!--subnavbar start-->
<div class="subnavbar">
    <div class="maxWidth">
        <ul class="subnavbar-menu">
            <li><a href="#service-con-1">产品优势</a></li>
            <li><a href="#service-con-2">功能描述</a></li>
            <li><a href="#service-con-3">应用场景</a></li>
            <li><a href="#service-con-4">服务购买</a></li>
            <li><a href="#service-con-5">文档支持</a></li>
        </ul>
    </div>
</div>
<!--subnavbar end-->
<!-- /etc/subnav.shtml End -->

<!--service-con start-->
<div class="service-con">
    <!--产品优势-->
    <div class="section service-advant service-con-1" id="service-con-1">
        <h2 class="service-tie">产品优势</h2>
        <ul class="maxWidth service-advant-ul">
            <li>
                <i class="advant-ico advant-ico-9"></i>
                <div class="txt">
                    <h3>倍速转码</h3>
                    <p>海量转码集群，按需动态扩容，支持倍速转码，轻松应对高并发</p>
                </div>
            </li>
            <li>
                <i class="advant-ico advant-ico-10"></i>
                <div class="txt">
                    <h3>感知增强</h3>
                    <p>基于人眼视觉模型，突破编码能力上限，实现动态编码，提升画质效果</p>
                </div>
            </li>
            <li>
                <i class="advant-ico advant-ico-11"></i>
                <div class="txt">
                    <h3>素材快编</h3>
                    <p>在线视音频剪辑、拼接、合并的工具，具备实时多轨编辑、转场特效、图文叠加等专业处理能力</p>
                </div>
            </li>
            <li>
                <i class="advant-ico advant-ico-12"></i>
                <div class="txt">
                    <h3>转码API控制台</h3>
                    <p>提供转码API控制台，兼容OBS私有桶转码，实时监控自动化工作流</p>
                </div>
            </li>
        </ul>
    </div>
    <!--功能描述-->
    <div class="section service-fun service-con-2" id="service-con-2">
        <h2 class="service-tie">功能描述</h2>
        <div class="maxWidth service-fun-bd">
            <div class="service-fun-item service-fun-item-drop cur">
                <div class="service-fun-tab clearfix">
                    <em class="service-fun-arr"></em>
                    <i class="fun-ico fun-ico-18"></i>
                    <div class="txt">
                        <h3>媒体转码</h3>
                        <p>高效媒体转码服务，主流格式全覆盖，提供封装转换、编码转换、画幅转换、码率转换、叠加水印等操作</p>
                    </div>
                </div>
                <ul class="service-fun-ul">
                    <li><h3>多格式支持</h3>
                        <p>支持H.264、H.265编码，支持转封装、字幕等。提供从流畅至超清的多种视音频转码标准模板，并支持2K、4K及其它自定义转码模板，满足多样化的转码需求</p></li>
                    <li><h3>感知增强</h3>
                        <p>独有视频编码技术，基于人眼视觉模型，智能识别内容类型、画面场景，对聚焦区域进行动态编码，提升画质效果、增强画质渲染。同等视频质量节约30%~40%的流量与存储</p></li>
                    <li><h3>倍数转码</h3>
                        <p>具备倍速转码能力，针对20分钟以上的长视频，通过对视频进行分片转码，大幅提升转码速度</p></li>
                </ul>
            </div><!--/媒体转码-->
            <div class="service-fun-item">
                <div class="service-fun-tab clearfix">
                    <i class="fun-ico fun-ico-24"></i>
                    <div class="txt">
                        <h3>内容管理</h3>
                        <p>管理媒体内容的基本信息，包括内容标题、描述、封面、分类等属性。提供多种处理能力，支持多种媒体格式的存储管理</p>
                    </div>
                </div>
                <!--<ul class="service-fun-ul">

                </ul>-->
            </div><!--/内容管理-->
            <div class="service-fun-item">
                <div class="service-fun-tab clearfix">
                    <i class="fun-ico fun-ico-25"></i>
                    <div class="txt">
                        <h3>云快编</h3>
                        <p>在线视音频剪辑、拼接、合并的工具，具备实时多轨编辑、转场特效、图文叠加等专业处理能力</p>
                    </div>
                </div>
                <!--<ul class="service-fun-ul">

                </ul>-->
            </div><!--/云快编-->
            <div class="service-fun-item">
                <div class="service-fun-tab clearfix">
                    <i class="fun-ico fun-ico-26"></i>
                    <div class="txt">
                        <h3>高帧率视频</h3>
                        <p>对于30帧/秒以内的普通帧率高清节目，生成最高至240帧/秒的高帧率版本，4K大屏播放无顿挫感</p>
                    </div>
                </div>
                <!--<ul class="service-fun-ul">

                </ul>-->
            </div><!--/高帧率视频-->
            <div class="service-fun-item">
                <div class="service-fun-tab clearfix">
                    <i class="fun-ico fun-ico-27"></i>
                    <div class="txt">
                        <h3>标清转高清</h3>
                        <p>对于标清的经典老片，利用基于海量视频训练的超分辨率技术，生成720P甚至1080P的高清/超清格式</p>
                    </div>
                </div>
                <!--<ul class="service-fun-ul">

                </ul>-->
            </div><!--/标清转高清-->
            <div class="service-fun-item">
                <div class="service-fun-tab clearfix">
                    <i class="fun-ico fun-ico-28"></i>
                    <div class="txt">
                        <h3>2K转4K</h3>
                        <p>对于2K影片，利用基于海量视频训练的超分辨率技术，生成独家高品质4K节目源</p>
                    </div>
                </div>
                <!--<ul class="service-fun-ul">

                </ul>-->
            </div><!--/2K转4K-->
            <div class="service-fun-item">
                <div class="service-fun-tab clearfix">
                    <i class="fun-ico fun-ico-29"></i>
                    <div class="txt">
                        <h3>灵活水印</h3>
                        <p>支持视频增加图片、文字水印、视频水印、GIF水印，并可灵活配置，维护用户视频版权，增强产品识别度</p>
                    </div>
                </div>
                <!--<ul class="service-fun-ul">

                </ul>-->
            </div><!--/灵活水印-->
            <div class="service-fun-item">
                <div class="service-fun-tab clearfix">
                    <i class="fun-ico fun-ico-30"></i>
                    <div class="txt">
                        <h3>视频截图</h3>
                        <p>对视频文件截取JPG格式图像，支持单张/多张截图，等距截图，定量截图和定点截图</p>
                    </div>
                </div>
                <!--<ul class="service-fun-ul">

                </ul>-->
            </div><!--/视频截图-->
            <div class="service-fun-item">
                <div class="service-fun-tab clearfix">
                    <i class="fun-ico fun-ico-31"></i>
                    <div class="txt">
                        <h3>雪碧图</h3>
                        <p>截取一系列图片生成雪碧图，通过一次请求获取多张图片的信息，大幅降低图片请求数量，提高客户端性能</p>
                    </div>
                </div>
                <!--<ul class="service-fun-ul">

                </ul>-->
            </div><!--/雪碧图-->
            <div class="service-fun-item">
                <div class="service-fun-tab clearfix">
                    <i class="fun-ico fun-ico-32"></i>
                    <div class="txt">
                        <h3>内容审核</h3>
                        <p>支持涉黄、暴恐、涉政识别，节省人工审核成本，降低违规风险</p>
                    </div>
                </div>
                <!--<ul class="service-fun-ul">

                </ul>-->
            </div><!--/内容审核-->
        </div>
    </div>
    <!--应用场景-->
    <div class="section service-scene service-con-3" id="service-con-3">
        <h2 class="service-tie">应用场景</h2>
        <div class="maxWidth service-scene-bd">
            <div class="img"><img src="./img/service/dig-scene.png" alt="图片"></div>
            <ul class="service-scene-ul service-scene-ul-digital">
                <li><h4>视频网站</h4>
                    <p>全终端适配转码、HD转SD、4K转2K</p></li>
                <li><h4>短视频平台</h4>
                    <p>UGC视频发布、PGC视频发布</p></li>
                <li><h4>在线教育</h4>
                    <p>企业跨地域培训点播、K12/职业资格培训点播</p></li>
                <li><h4>广电传媒</h4>
                    <p>广播级视音频高清转码</p></li>
            </ul>
        </div>
    </div>
    <!--服务购买-->
    <!-- /etc/servicebuy.shtml Start -->
    <div class="section service-buy service-con-4" id="service-con-4">
        <h2 class="service-tie">服务购买</h2>
        <div class="service-buy-bd">
            <ul class="service-buy-control maxWidth">
            </ul>
            <div class="service-buy-box">
                <div class="maxWidth">
                    <div class="service-buy-item" style="display:block;">
                        <div class="service-buy-meal service-buy-meal-set-meal">
                            <div class="title"><h4>观看流量资源包</h4></div>
                            <div class="mid">
                                <strong>服务包含</strong>
                                <ul class="clearfix">
                                    <li><em>100GB</em><span>观看流量</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                </ul>
                            </div>
                            <p class="price"><a href="https://onair.yunshicloud.com/live/consolePayt/1808071430330020"
                                                target="_blank">立即购买&gt;</a><strong>￥330元</strong>/年</p>
                        </div>
                        <div class="service-buy-meal service-buy-meal-set-meal">
                            <div class="title"><h4>存储空间资源包</h4></div>
                            <div class="mid">
                                <strong>服务包含</strong>
                                <ul class="clearfix">
                                    <li><em>100GB</em><span>存储空间</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                </ul>
                            </div>
                            <p class="price"><a href="https://onair.yunshicloud.com/live/consolePayt/1808071430520022"
                                                target="_blank">立即购买&gt;</a><strong>￥840元</strong>/年</p>
                        </div>
                        <div class="service-buy-meal service-buy-meal-set-meal">
                            <div class="title"><h4>文件转码资源包</h4></div>
                            <div class="mid">
                                <strong>服务包含</strong>
                                <ul class="clearfix">
                                    <li><em>100小时</em><span>转码时长</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                </ul>
                            </div>
                            <p class="price"><a href="https://onair.yunshicloud.com/live/consolePayt/1808071438390024"
                                                target="_blank">立即购买&gt;</a><strong>￥1,302元</strong>/年</p>
                        </div>
                        <div class="service-buy-meal service-buy-meal-set-meal">
                            <div class="title"><h4>直播转码资源包</h4></div>
                            <div class="mid">
                                <strong>服务包含</strong>
                                <ul class="clearfix">
                                    <li><em>100GB</em><span>存储空间</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                </ul>
                            </div>
                            <p class="price"><a href="https://onair.yunshicloud.com/live/consolePayt/1808071448510026"
                                                target="_blank">立即购买&gt;</a><strong>￥1,020元</strong>/年</p>
                        </div>
                        <div class="service-buy-meal service-buy-meal-set-meal">
                            <div class="title"><h4>套餐包I</h4></div>
                            <div class="mid">
                                <strong>服务包含</strong>
                                <ul class="clearfix">
                                    <li><em>2TB</em><span>观看流量</span></li>
                                    <li><em>100小时</em><span>文件转码</span></li>
                                    <li><em>100小时</em><span>流转码</span></li>
                                    <li><em>200GB</em><span>存储空间</span></li>
                                </ul>
                            </div>
                            <p class="price"><a href="https://onair.yunshicloud.com/live/consolePay/1808071452190028"
                                                target="_blank">立即购买&gt;</a><strong>￥3,600元</strong>/年</p>
                        </div>
                        <div class="service-buy-meal service-buy-meal-set-meal">
                            <div class="title"><h4>套餐包II</h4></div>
                            <div class="mid">
                                <strong>服务包含</strong>
                                <ul class="clearfix">
                                    <li><em>4TB</em><span>观看流量</span></li>
                                    <li><em>100小时</em><span>文件转码</span></li>
                                    <li><em>100小时</em><span>流转码</span></li>
                                    <li><em>200GB</em><span>存储空间</span></li>
                                </ul>
                            </div>
                            <p class="price"><a href="https://onair.yunshicloud.com/live/consolePay/1808071508250030"
                                                target="_blank">立即购买&gt;</a><strong>￥9,000元</strong>/年</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /etc/servicebuy.shtml End -->

        <!--文档支持-->
        <!-- /etc/servicesupport.shtml Start -->
        <div class="section service-support service-con-5" id="service-con-5">
            <h2 class="service-tie">文档支持</h2>
            <ul class="maxWidth service-support-ul">
                <li><h3>&nbsp;</h3>
                    <h3>&nbsp;</h3>
                    <h3>&nbsp;</h3>
                    <h3>&nbsp;</h3>
                </li>
                <li><h3>产品手册</h3><a href="wenjian/onair1807302214.pdf" target="_blank">ONAIR视频云产品操作手册</a>
                    <h3>&nbsp;</h3>
                    <h3>&nbsp;</h3>
                </li>
                <li><h3>帮助视频</h3><a
                        href="https://hwzbtemplate.yunshicloud.com/qcy/onsite/template/5af532c525eca37f8e6b4e4a/5b35d5cc25eca3f28c3af212/index.html?productId=new_onsite"
                        target="_blank">ONAIR视频云介绍</a>
                    <a href="https://hwzbtemplate.yunshicloud.com/companyId/appCode/template/userId/5b40afc725eca3c6f705015b/index.html?productId=new_onsite"
                       target="_blank">企业典型应用--峰会直播</a>
                    </h3>
                    <a href="https://hwzbtemplate.yunshicloud.com/qcy/onsite/template/5af532c525eca37f8e6b4e4a/5b55831425eca3f8751a4f7e/index.html?productId=new_onsite"
                       target="_blank">企业典型应用--用点播宣传自己</a></li>
                <li><h3>&nbsp;</h3></li>
            </ul>
        </div>
        <!-- /etc/servicesupport.shtml End -->
    </div>
    <!--service-con end-->


    <!-- /etc/footer.shtml Start -->
    <!--footer-wrap start-->
    <div id="footer-wrap">
    </div>
    <!--footer end-->

    <script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../common/js/base.js"></script>
    <script src="../../common/js/main.js"></script>
    <script>
        $(".service-fun-item").click(function () {
            $(this).addClass("cur").siblings().removeClass("cur");
        })
        $(".subnavbar-menu a").click(function () {
            $("html, body").animate({
                scrollTop: $($(this).attr("href")).offset().top + "px"
            }, {
                duration: 500,
                easing: "swing"
            });
            return false;
        });
    </script>

    <!-- /etc/footer.shtml End -->

</body>
</html>