<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ONAIR视频云_轻松迈出划时代的一步</title>
    <meta name="keywords" content="阳光云视">
    <meta name="description" content="阳光云视">
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="../../common/css/base.css">
    <link rel="stylesheet" href="css/spyIndex.css">
</head>
<body>
<div id="header-wrap"></div>
<div class="sc_spy_banner">
    <div class="container clearfloat">
        <div class="fl sc_spy_left" style='width:517px;'>
            <h3>ONAIR 视频云</h3>
            <p class="sc_spy_banner_text">提供直播、点播、媒体处理、智能发布等一站式云服务，适用于政府宣传、教育培训、金融证券、婚庆活动、电商服务、短视频平台等不同行业不同强度的运营需求，让视频应用更轻松！</p>
            <a href="https://onair.yunshicloud.com/" class="sc_exp_im">立即体验</a>
        </div>
        <div class="fr sc_spy_right">
            <img src="img/spyIndexBanner.svg" alt="" class="fr sc_spy_banner_img">
        </div>
    </div>
</div>
<div class="sc_list_wrap">
    <ul class="sc_list clearfloat">
        <li><a href="#one">活动直播</a></li>
        <li><a href="#two">视频托管</a></li>
        <li><a href="#thr">API/SDK</a></li>
        <li><a href="#seven">监控直播</a></li>
        <li><a href="#four">视频会议</a></li>
        <li><a href="#five">互动课堂</a></li>
        <li><a href="#six">企业知识库</a></li>

    </ul>
</div>
<div class="sc_spy_tit">
    <p class="sc_spy_tit_p">为您提供领先的视频云服务</p>
    <p class="sc_spy_tit_ps"><span>安全｜易用｜稳定</span></p>
</div>
<div class="ysga_details_wrap">
    <div id="one" class="ysga_details_main_wrap ysga_details_num_1 ysga_details_num_01">
        <div class="ysga_details_main container clearfloat">
            <div class="ysga_details_main_describe fl">
                <img src="img/spy_num_01.svg" alt="01" class="ysga_nunber_left ysga_nunber_01">
                <h4 class="tl ml h4_color_01">活动直播</h4>
                <p class="tl ml">具有低延时、高可靠、高性能、易接入、全场景、多终端等特点，只需登录平台即可操作，让直播业务的实施像打电话一样简单，从高清到4K、从传统到VR，都保证观众顺畅的观看体验</p>
                <div class="clearfloat sc_spy_btn">
                    <a href="acitveLive.html" class="ysga_details_main_transfer ysga_dmt_color_01 fr">了解详情</a>
                </div>
            </div>
            <div class="ysga_details_main_pic fr">
                <img src="img/spy_num_img1.svg" alt="pc">
            </div>
        </div>
    </div>
    <div id="two" class="ysga_details_main_wrap ysga_details_num_2 ysga_details_num_02">
        <div class="ysga_details_main clearfloat container">
            <div class="ysga_details_main_pic fl">
                <img src="img/spy_num_img2.svg" alt="pc">
            </div>
            <div class="ysga_details_main_describe fr">
                <img src="img/spy_num_02.svg" alt="02" class="ysga_nunber_right ysga_nunber_02">
                <h4 class="tl ml h4_color_02">视频托管</h4>
                <p class="tl ml">用户可根据业务需要一站式地完成文件上传、存储及媒体处理，并提供文件多渠道发布功能</p>
                <div class="clearfloat sc_spy_btn">
                    <a href="videoHosting.html" class="ysga_details_main_transfer ysga_dmt_color_02 fr">了解详情</a>
                </div>
            </div>

        </div>
    </div>
    <div id="thr" class="ysga_details_main_wrap ysga_details_num_1 ysga_details_num_03">
        <div class="ysga_details_main container clearfloat">
            <div class="ysga_details_main_describe fl">
                <img src="img/spy_num_03.svg" alt="01" class="ysga_nunber_left ysga_nunber_01">
                <h4 class="tl ml h4_color_01">API/SDK</h4>
                <p class="tl ml">通过API/SDK定制你的专属视频云服务，包含：直播、点播、媒体处理，提供上述服务的多终端功能组件和接口支持，支持多种视频协议，灵活接入，自由部署</p>
                <div class="clearfloat sc_spy_btn">
                    <a href="https://market.huaweicloud.com/all?priceMode=-1&payMode=7&orderBy=0&sort=&cur=1&os=-1&type=&mode=-1&q=6Ziz5YWJ5LqR6KeG&chargingMode=-1&tag=&tagName=" target="_blank" class="ysga_details_main_transfer ysga_dmt_color_01 fr">了解详情</a>
                </div>
            </div>
            <div class="ysga_details_main_pic fr">
                <img src="img/spy_num_img3.svg" alt="pc">
            </div>
        </div>
    </div>
    <div id="seven" class="ysga_details_main_wrap ysga_details_num_2 ysga_details_num_07">
        <div class="ysga_details_main container clearfloat">
            <div class="ysga_details_main_pic fl">
                <img src="img/spy_num_img7.svg" alt="pc">
            </div>
            <div class="ysga_details_main_describe fr">
                <img src="img/spy_num_04.svg" alt="01" class="ysga_nunber_left ysga_nunber_01">
                <h4 class="tl ml h4_color_02">监控直播</h4>
                <p class="tl ml">为多种监控场景提供直播、录制、回看等应用，包含：客运监控、厂区监控、环境监测、跨地域巡检、智能家居、校园监控等；提供自动转换HLS互联网直播流，实时录制、回看等功能</p>
                <div class="clearfloat sc_spy_btn">
                    <a href="https://market.huaweicloud.com/product/00301-115368-0--0" target="_blank" class="ysga_details_main_transfer ysga_dmt_color_01 fr">了解详情</a>
                </div>
            </div>

        </div>
    </div>


    <div id="four" class="ysga_details_main_wrap ysga_details_num_1 ysga_details_num_04">
        <div class="ysga_details_main clearfloat container">
            <div class="ysga_details_main_describe fl">
                <img src="img/spy_num_05.svg" alt="02" class="ysga_nunber_right ysga_nunber_02">
                <h4 class="tl ml h4_color_01">视频会议</h4>
                <p class="tl ml">有效解决跨地域多人沟通的难题，只需通过电脑或手机登录平台，便可快速地与全球各地团队进行实时音视频沟通、文件共享，会议中数据的传输、处理严格加密，通信稳定可靠</p>
                <div class="clearfloat sc_spy_btn">
                    <a class="ysga_details_main_transfer ysga_dmt_color_02 fr">敬请期待</a>
                </div>
            </div>
            <div class="ysga_details_main_pic fr">
                <img src="img/spy_num_img4.svg" alt="pc">
            </div>
        </div>
    </div>
    <div id="five" class="ysga_details_main_wrap ysga_details_num_2 ysga_details_num_05">
        <div class="ysga_details_main container clearfloat">
            <div class="ysga_details_main_pic fl">
                <img src="img/spy_num_img5.svg" alt="pc">
            </div>
            <div class="ysga_details_main_describe fr">
                <img src="img/spy_num_06.svg" alt="01" class="ysga_nunber_left ysga_nunber_01">
                <h4 class="tl ml h4_color_02">互动课堂</h4>
                <p class="tl ml">更贴合在线教育、企业培训场景应用，极佳的视音频互动，支持PPT/WORD/PDF多种格式的文档教学，同步录制方便学员复习回看</p>
                <div class="clearfloat sc_spy_btn">
                    <a class="ysga_details_main_transfer ysga_dmt_color_01 fr">敬请期待</a>
                </div>
            </div>

        </div>
    </div>
    <div id="six" class="ysga_details_main_wrap ysga_details_num_1 ysga_details_num_06">
        <div class="ysga_details_main clearfloat container">
            <div class="ysga_details_main_describe fl">
                <img src="img/spy_num_07.svg" alt="02" class="ysga_nunber_right ysga_nunber_02">
                <h4 class="tl ml h4_color_01">企业知识库</h4>
                <p class="tl ml">帮助企业使用视频化应用方式建立知识库，进行视频培训课件统一管理、发布及实现直播培训，对内方便员工自主学习，对外完成消费者培育、产品推广，提升企业的竞争力</p>
                <div class="clearfloat sc_spy_btn">
                    <a  class="ysga_details_main_transfer ysga_dmt_color_02 fr">敬请期待</a>
                </div>
            </div>
            <div class="ysga_details_main_pic fr">
                <img src="img/spy_num_img6.svg" alt="pc">
            </div>
        </div>
    </div>

</div>
<div id="footer-wrap"></div>
</body>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../../common/js/main.js"></script>
<script>
    $(".sc_list a").click(function() {
        $("html, body").animate({
            scrollTop: $($(this).attr("href")).offset().top + "px"
        }, {
            duration: 500,
            easing: "swing"
        });
        return false;
    });

</script>
</html>