<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="阳光云视">
    <meta name="description" content="阳光云视">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>视频内容分析</title>
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../common/css/base.css">
    <link rel="stylesheet" href="css/yunProDetail.css">
    <link rel="stylesheet" href="css/xiaozhi.css">
    <link rel="stylesheet" href="css/eagleDetails.css">
    <link rel="stylesheet" href="css/videoContent.css">
</head>
<body>
<div id="header-wrap"></div>
<!--service-banner start-->
<div class="service-banner service-banner-live sw-service-banner-live">
    <div class="maxWidth">
        <div class="service-banner-txt">
            <h2>视频内容分析</h2>
            <p>基于领先的AI技术，对视频进行智能分析。集合自然语言学习、智能拆条、OCR字幕识别、政治人物识别、语音识别等多种AI技术，获取视频内容标签，提高搜索准确度。使用便捷，处理高效，满足用户一站式视频内容分析服务</p>
            <!--<a href="https://market.huaweicloud.com/product/00301-124126-0&#45;&#45;0" target="_blank">服务购买</a>-->
        </div>
    </div>
</div>
<!--service-banner end-->

<!-- /etc/subnav.shtml Start -->
<!--subnavbar start-->
<div class="subnavbar">
    <div class="maxWidth">
        <ul class="subnavbar-menu">
            <li class="current"><a href="#service-con-1">产品优势</a></li>
            <li class=""><a href="#service-con-2">功能描述</a></li>
            <li><a href="#service-con-3">应用场景</a></li>
            <!--<li><a href="#service-con-4">应用场景</a></li>-->
        </ul>
    </div>
</div>
<!--subnavbar end-->
<div class="service-con mc_service_con">
    <!--产品优势-->
    <div class="section service-advant service-con-1" id="service-con-1">
        <h2 class="service-tie">产品优势</h2>
        <ul class="maxWidth service-advant-ul">
            <li>
                <i class="advant-ico advant-ico-1"></i>
                <div class="txt">
                    <h3>识别精度高</h3>
                    <p>海量视频数据训练、分析、建模，识别精度高</p>
                </div>
            </li>
            <li>
                <i class="advant-ico advant-ico-2"></i>
                <div class="txt">
                    <h3>高效易用</h3>
                    <p>自动化视频标签提取，提高工作效率，帮助客户减少成本</p>
                </div>
            </li>
            <li>
                <i class="advant-ico advant-ico-3"></i>
                <div class="txt">
                    <h3>功能丰富</h3>
                    <p>提供智能拆条，语音识别、人物识别、自然语言处理等多种智能服务</p>
                </div>
            </li>
            <li>
                <i class="advant-ico advant-ico-4"></i>
                <div class="txt">
                    <h3>服务稳定</h3>
                    <p>稳定的能力服务，高实时反馈</p>
                </div>
            </li>
        </ul>
    </div>
    <!--功能描述-->
    <div class="section service-fun service-con-2" id="service-con-2">
        <h2 class="service-tie">功能描述</h2>
        <div class="maxWidth service-fun-bd">
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <!--<em class="service-fun-arr"></em>-->
                    <i class="fun-ico fun-ico-1"></i>
                    <div class="txt">
                        <h3>自然语言学习</h3>
                        <p>基于自然语言处理技术，将识别结果进行多次校对和关键字提取，得到最精准的标签，可用于更好的理解分析视频内容</p>
                    </div>
                </div>
                <!--<ul class="service-fun-ul">-->
                <!--<li><h3>广播级设备采集</h3><p>支持广播级摄像机、编码器、4G背包等直播采集设备，支持40Mbps高码率、高清晰度，广播级直播应用场景</p></li>-->
                <!--<li><h3>专业级设备采集</h3><p>支持无人机、运动相机、手持云台、全景相机等直播采集设备，支持专业级互联网直播应用场景</p></li>-->
                <!--<li><h3>视频采集SDK</h3><p>提供Android、iOS的移动端直播采集SDK，包含闪光灯摄像头调节、指定输出分辨率、动态码率自适应、本地录制、高级美颜等功能</p></li>-->
                <!--</ul>-->
            </div><!--/视频采集-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <!--<em class="service-fun-arr"></em>-->
                    <i class="fun-ico fun-ico-2"></i>
                    <div class="txt">
                        <h3>智能拆条</h3>
                        <p>将长视频智能快速拆分成专题短视频，可用于新闻拆分和新闻短视频的生成</p>
                    </div>
                </div>
                <!--<ul class="service-fun-ul">-->
                <!--<li><h3>大小屏播放</h3><p>覆盖Web、Android、iOS多类型终端，满足客户不同场景播放需求</p></li>-->
                <!--<li><h3>分辨率自适应</h3><p>多分辨率直播自动侦测网络，自适应切换，直播观看更顺畅</p></li>-->
                <!--<li><h3>首屏秒开</h3><p>最优的编码缓存技术与播放器SDK、CDN加速的最佳匹配，带给观看者秒级播放体验</p></li>-->
                <!--</ul>-->
            </div><!--/视频播放SDK-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <!--<em class="service-fun-arr"></em>-->
                    <i class="fun-ico fun-ico-3"></i>
                    <div class="txt">
                        <h3>视频OCR</h3>
                        <p>可智能快速识别视频多场景字幕，可用于字幕的识别</p>
                    </div>
                </div>
                <!--<ul class="service-fun-ul">-->
                <!--<li><h3>边缘推流</h3><p>智能判断边缘节点，形成快速推流上行网络，支持更高分辨率视频，有效控制丢包率低，提供更为稳定的直播体验</p></li>-->
                <!--<li><h3>覆盖全国</h3><p>汇聚全国主流CDN网络，覆盖更大范围的用户群体</p></li>-->
                <!--<li><h3>全球加速</h3><p>支持通过专线在东南亚，欧洲，北美，韩国，日本等主流国家的采集与分发，轻松实现跨境直播，提升服务在全球范围的访问体验</p></li>-->
                <!--</ul>-->
            </div><!--/直播推流-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <!--<em class="service-fun-arr"></em>-->
                    <i class="fun-ico fun-ico-4"></i>
                    <div class="txt">
                        <h3>人物识别</h3>
                        <p>将图片或视频中的人脸检测、分析、比对，提供人脸属性能力</p>
                    </div>
                </div>
                <!--<ul class="service-fun-ul">-->
                <!--<li><h3>感知增强编码</h3><p>行业领先的感知增强编码技术，相同画质为用户节省大量的带宽成本</p></li>-->
                <!--<li><h3>多模板预制</h3><p>提供1080p~120p多种预制模板、支持自定义模板</p></li>-->
                <!--<li><h3>多屏适配</h3><p>适配OTT、PC、移动终端等多屏播放应用</p></li>-->
                <!--<li><h3>灵活水印</h3><p>支持视频增加水印，并可灵活配置，维护用户视频版权</p></li>-->
                <!--<li><h3>动态切片</h3><p>独有的编码算法、动态切片深度优化，更低的直播延时保障，观看更加流畅，流量节省30%以上</p></li>-->
                <!--</ul>-->
            </div><!--/直播转码-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <!--<em class="service-fun-arr"></em>-->
                    <i class="fun-ico fun-ico-5"></i>
                    <div class="txt">
                        <h3>语音识别</h3>
                        <p>将音频转化为文本数据，可针对视频场景优化精准识别视频中的语音内容</p>
                    </div>
                </div>
                <!--<ul class="service-fun-ul">-->
                <!--<li><h3>云导播台</h3><p>导播切换台的云端再造，方便导播人员实现多机位调度控制</p></li>-->
                <!--<li><h3>流拆条</h3><p>核心视音频处理技术与智能化应用的结合，边看直播边拆条，快速短视频生产、发布</p></li>-->
                <!--<li><h3>云轮播</h3><p>多频道、多节目单再造云播出，快捷实现云播出、云垫播</p></li>-->
                <!--<li><h3>直播收录</h3><p>直播过程中同步收录，多段自动合并，秒变点播</p></li>-->
                <!--</ul>-->
            </div><!--/媒体处理-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <!--<em class="service-fun-arr"></em>-->
                    <i class="fun-ico fun-ico-6"></i>
                    <div class="txt">
                        <h3>物品识别</h3>
                        <p>对视频中出现频次高的物品进行识别，显示时间信息，识别准确度高</p>
                    </div>
                </div>
                <!--<ul class="service-fun-ul">-->
                <!--<li><h3>防盗链</h3><p>设置防盗链的Refer黑白名单和IP黑白名单，保护资源不被其他网站盗链</p></li>-->
                <!--<li><h3>HTTPS加密</h3><p>防劫持、防篡改、防泄密，享受企业级可靠HTTPS加密服务</p></li>-->
                <!--<li><h3>视频加密</h3><p>RTMP和HLS标准加密方案，加密处理解密播放全面保护视频安全</p></li>-->
                <!--<li><h3>播放鉴权</h3><p>使用动态实时鉴权方式，对每个渠道的播放请求进行身份验证</p></li>-->
                <!--</ul>-->
            </div><!--/安全防护-->
            <!--<div class="service-fun-item service-fun-item-drop">-->
            <!--<div class="service-fun-tab clearfix">-->
            <!--<em class="service-fun-arr"></em>-->
            <!--<i class="fun-ico fun-ico-7"></i>-->
            <!--<div class="txt">-->
            <!--<h3>智能审核</h3>-->
            <!--<p>运用卷积神经网络算法，对内容进行智能场景分析，为视频内容的智能管控提供基础，节省审核中的人力成本</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--<ul class="service-fun-ul">-->
            <!--<li><h3>色情内容分析</h3><p>支持精准高效识别出图像中的色情内容，智能化预防您的业务涉黄风险</p></li>-->
            <!--<li><h3>暴恐/涉政分析</h3><p>深度学习算法结合独有的情报、舆情、预警和分析体系及实时更新的样本图库，能够快速定位暴恐旗帜、人物和场景以及敏感政治人物</p></li>-->
            <!--<li><h3>内容审核</h3><p>支持涉黄、暴恐、政治等敏感内容智能审核，可根据用户管控尺度，灵活调整策略</p></li>-->
            <!--<li><h3>实时语音识别</h3><p>多种识别方案，有效匹配多种语音场景</p></li>-->
            <!--</ul>-->
            <!--</div>&lt;!&ndash;/智能审核&ndash;&gt;-->
            <!--<div class="service-fun-item service-fun-item-drop">-->
            <!--<div class="service-fun-tab clearfix">-->
            <!--<em class="service-fun-arr"></em>-->
            <!--<i class="fun-ico fun-ico-8"></i>-->
            <!--<div class="txt">-->
            <!--<h3>数据分析</h3>-->
            <!--<p>多维度数据统计，可视化分析，提供细颗粒度的业务统计数据查询，及时掌控业务用量，评估运营效果</p>-->
            <!--</div>-->
            <!--</div>-->
            <!--<ul class="service-fun-ul">-->
            <!--<li><h3>资源消耗及时查看</h3><p>媒体传播及时掌握</p></li>-->
            <!--<li><h3>多维度可视化呈现</h3><p>包括PV、UV、地域分布、观看时长等</p></li>-->
            <!--</ul>-->
            <!--</div>&lt;!&ndash;/数据分析&ndash;&gt;-->
        </div>
    </div>
    <!--应用场景-->
    <!--<div class="section service-scene mc_service_scene service-con-3" id="service-con-3">-->
        <!--<h2 class="service-tie">产品架构</h2>-->
        <!--<div class="maxWidth service-scene-bd">-->
            <!--<div class="sw-img"><img src="./img/eagle/mc_framework_pic.svg" alt="图片"></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--推荐架构-->
    <div class="section solution-scene" id="service-con-3">
        <h2 class="service-tie">典型应用场景</h2>
        <div class="maxWidth">
            <div class="sc_eagle_tab clearfloat">
                <div class="sc_eagle_li">
                    <ul class="flex">
                        <li class="flex-1 sc_eagle_li_active">
                            <div class="sc_eagle_li_main">
                                <img src="img/videoContent/mc_Video_resolution.svg" alt="img">
                                <span>视频拆分</span>
                            </div>
                        </li>
                        <li class="flex-1">
                            <div class="sc_eagle_li_main">
                                <img src="img/videoContent/mc_Subtitle_recognition.svg" alt="img">
                                <span>字幕识别</span>
                            </div>
                        </li>
                        <li class="flex-1">
                            <div class="sc_eagle_li_main">
                                <img src="img/videoContent/mc_Recording_file_recognition.svg" alt="img">
                                <span>录音文件识别</span>
                            </div>
                        </li>
                        <li class="flex-1">
                            <div class="sc_eagle_li_main">
                                <img src="img/videoContent/mc_Public_character_recognition.svg" alt="img">
                                <span>公众人物识别</span>
                            </div>
                        </li>
                        <li class="flex-1">
                            <div class="sc_eagle_li_main">
                                <img src="img/videoContent/mc_Video_content_retrieval.svg" alt="img" >
                                <span>视频内容检索</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="sc_scene_cont">
                    <div class="sc_scene_cont_main">
                        <div class="clearfix">
                            <div class="scene_img sc_fl">
                            <img src="img/videoContent/mc_Video_resolution.png"  alt="图片">
                        </div>
                            <div class="sc_scene_cont_title sc_fr">
                            <p><span></span><span>通过智能分析的服务对素材的关键帧、时间点等信息分析，核对无误后，将新闻节目一键拆分为多个单条新闻素材</span></p>
                            <p><span></span><span>提供手动自定义修改切分点功能</span></p>
                        </div>
                        </div>
                    </div>
                    <div class="sc_scene_cont_main hide">
                        <div class="clearfix">
                            <div class="scene_img sc_fl">
                            <img src="img/videoContent/mc_Letter_recognition.png"  alt="图片">
                        </div>
                            <div class="sc_scene_cont_title sc_fr">
                            <p><span></span><span>通过视频OCR技术，识别视频或图片中的标题，字幕等关键内容</span></p>
                            <p><span></span><span>提供时间点信息，断句完整</span></p>
                        </div>
                        </div>
                    </div>
                    <div class="sc_scene_cont_main hide">
                        <div class="clearfix">
                            <div class="scene_img sc_fl">
                            <img src="img/videoContent/mc_Recording_file_recognition.png"  alt="图片">
                        </div>
                            <div class="sc_scene_cont_title sc_fr">
                            <p><span></span><span>通过语音识别技术，完成语音、会议录音等多种场景下，语音转文字</span></p>
                            <p><span></span><span>不受背景噪声、口语等问题影响</span></p>
                        </div>
                        </div>
                    </div>
                    <div class="sc_scene_cont_main hide">
                        <div class="clearfix">
                            <div class="scene_img sc_fl">
                            <img src="img/videoContent/mc_Public_character_recognition.png"  alt="图片">
                        </div>
                            <div class="sc_scene_cont_title sc_fr">
                            <p><span></span><span>基于人脸识别技术和全面的公众人物库，识别视频中出现的明星、名人</span></p>
                            <p><span></span><span>支持同一政治人物不同年龄段的面容识别，识别精度高</span></p>
                        </div>
                        </div>
                    </div>
                    <div class="sc_scene_cont_main hide">
                        <div class="clearfix">
                            <div class="scene_img sc_fl">
                            <img src="img/videoContent/mc_Video_content_retrieval.png"  alt="图片">
                        </div>
                            <div class="sc_scene_cont_title sc_fr">
                            <p><span></span><span>通过对视频语音、图像的综合分析，提取分类标签</span></p>
                            <p><span></span><span>快速为视频生成热门标签，提升用户检索体验</span></p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--service-con end-->
</div>
<div id="footer-wrap"></div>
</body>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../Solution/js/scBase.js" type="text/javascript" charset="utf-8"></script>
<script src="../../common/js/main.js"></script>
<script src="js/videoContent.js"></script>
<script>
    $(".service-fun-item").click(function () {
        $(this).addClass("cur").siblings().removeClass("cur");
    })
    $(".subnavbar-menu a").click(function() {
        $("html, body").animate({
            scrollTop: $($(this).attr("href")).offset().top + "px"
        }, {
            duration: 500,
            easing: "swing"
        });
        return false;
    });
</script>
</html>