<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="阳光云视">
    <meta name="description" content="阳光云视">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>视频托管-阳光云视</title>
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../common/css/base.css">
    <link rel="stylesheet" href="css/yunProDetail.css">
</head>
<body>
<div id="header-wrap"></div>
<!--service-banner start-->
<div class="service-banner service-banner-live">
    <div class="maxWidth">
        <div class="service-banner-txt">
            <h2>视频托管</h2>
            <p>ONAIR视频云视频托管，是集视音频采集、上传、编辑、自动化转码处理、媒资管理、分发加速、播放于一体的一站式解决方案，为包括视频网站、短视频平台、在线教育系统及电商平台提供直播、点播支撑，凭借灵活、快速、高质量的视频发布服务，实现企业视音频快速、稳定、安全的在线应用。</p>
            <a href="https://onair.yunshicloud.com/console/materil" target="_blank">立即体验</a>
        </div>
    </div>
</div>
<!--service-banner end-->

<!-- /etc/subnav.shtml Start -->
<!--subnavbar start-->
<div class="subnavbar">
    <div class="maxWidth">
        <ul class="subnavbar-menu">
            <li class="current"><a href="#service-con-1">产品优势</a></li>
            <li class=""><a href="#service-con-2">功能描述</a></li>
            <li><a href="#service-con-3">应用场景</a></li>
            <li><a href="#service-con-4">服务购买</a></li>
            <li><a href="#service-con-5">文档支持</a></li>
        </ul>
    </div>
</div>
<!--subnavbar end-->
<!-- /etc/subnav.shtml End -->

<!--service-con start-->
<div class="service-con">
    <!--产品优势-->
    <div class="section service-advant service-con-1" id="service-con-1">
        <h2 class="service-tie">产品优势</h2>
        <ul class="maxWidth service-advant-ul">
            <li>
                <i class="advant-ico advant-ico-5"></i>
                <div class="txt">
                    <h3>全流程服务</h3>
                    <p>提供短视频SDK，播放器SDK、上传、存储、转码、管理、发布等全流程服务</p>
                </div>
            </li>
            <li>
                <i class="advant-ico advant-ico-6"></i>
                <div class="txt">
                    <h3>性能优越</h3>
                    <p>基于感知增强编码技术，智能分析视频内容、动态编码，提升画面质量与转码效率</p>
                </div>
            </li>
            <li>
                <i class="advant-ico advant-ico-7"></i>
                <div class="txt">
                    <h3>安全可靠</h3>
                    <p>视频加密、播放鉴权、版权保护等多种成熟视频加密技术，灵活的防盗链机制，7×24小时提供可靠保障</p>
                </div>
            </li>
            <li>
                <i class="advant-ico advant-ico-8"></i>
                <div class="txt">
                    <h3>灵活发布</h3>
                    <p>提供全平台播放器SDK，跨运营商、跨地域的全网内容分发加速，让视听体验更稳定、更流畅</p>
                </div>
            </li>
        </ul>
    </div>
    <!--功能描述-->
    <div class="section service-fun service-con-2" id="service-con-2">
        <h2 class="service-tie">功能描述</h2>
        <div class="maxWidth service-fun-bd">
            <div class="service-fun-item service-fun-item-drop cur">
                <div class="service-fun-tab clearfix">
                    <em class="service-fun-arr"></em>
                    <i class="fun-ico fun-ico-9"></i>
                    <div class="txt">
                        <h3>视频上传</h3>
                        <p>兼容多种视频上传方式，支持多种内容格式，提供控制台、API等多种灵活的操作方式</p>
                    </div>
                </div>
                <ul class="service-fun-ul">
                    <li><h3>灵活上传</h3><p>提供控制台、API等多种上传渠道，支持断点续传，实现多场景适用</p></li>
                    <li><h3>上传加速</h3><p>打破协议限制，切片上传提升93%上传效率，支持跨网络、防火墙、实时MD5校验，保障文件安全传输</p></li>
                </ul>
            </div><!--/视频上传-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <em class="service-fun-arr"></em>
                    <i class="fun-ico fun-ico-10"></i>
                    <div class="txt">
                        <h3>视频管理</h3>
                        <p>提供媒体内容的存储及信息管理，满足各种媒体资产管理需求，提供点播、分享、下载等应用服务</p>
                    </div>
                </div>
                <ul class="service-fun-ul">
                    <li><h3>媒体资产管理</h3><p>以提供“增、删、改、查“一体化媒体内容管理功能</p></li>
                    <li><h3>媒体信息管理</h3><p>管理视音频内容的媒体信息，包括标题、描述、封面、分类、标签等属性</p></li>
                    <li><h3>视频管理API</h3><p>丰富的视频管理API，实现媒体内容的高效管理</p></li>
                </ul>
            </div><!--/视频管理-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <em class="service-fun-arr"></em>
                    <i class="fun-ico fun-ico-11"></i>
                    <div class="txt">
                        <h3>视频转码</h3>
                        <p>主流格式全覆盖，提供感知增强编码技术，画质重生，高效、专业、可定制的视频转码服务</p>
                    </div>
                </div>
                <ul class="service-fun-ul">
                    <li><h3>多模式支持</h3><p>支持H.264、H.265编码，支持转封装、字幕等。提供从流畅至超清的多种标准视频转码模板及自定义转码模板，满足多样化的转码需求</p></li>
                    <li><h3>感知增强</h3><p>独有视频编码技术，基于人眼视觉模型，智能识别内容类型、画面场景，对聚焦区域进行动态编码，提升画质效果、增强画质渲染，同等视频质量节约30%~40%的流量与存储</p></li>
                    <li><h3>静态水印</h3><p>支持视频增加静态水印，包括图片水印、文字水印，并可灵活配置</p></li>
                    <li><h3>动态水印</h3><p>支持视频增加动态水印，包括视频水印（mov、mp4）、GIF水印，并可灵活配置</p></li>
                    <li><h3>水印Timeline</h3><p>基于视频Timeline，实现水印在指定时间范围的动态叠加</p></li>
                    <li><h3>多模式截图</h3><p>对存储于OBS上的视频文件截取指定时间的JPG格式图像，支持单张/多张截图、等距截图、定量截图、定点截图</p></li>
                    <li><h3>GIF截图</h3><p>将截取的多张图片合并为GIF动图，实现视频精彩内容的封面展示</p></li>
                </ul>
            </div><!--/视频转码-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <em class="service-fun-arr"></em>
                    <i class="fun-ico fun-ico-12"></i>
                    <div class="txt">
                        <h3>视频剪辑</h3>
                        <p>在线视频编辑制作，集成素材管理及可视化视频剪辑的功能，高效制作，一键合成</p>
                    </div>
                </div>
                <ul class="service-fun-ul">
                    <li><h3>多轨并行</h3><p>支持多路视频轨、音频轨并行编辑，提供专业化视频剪辑、编辑功能</p></li>
                    <li><h3>统一管理</h3><p>媒体库素材管理，支持视音频及图片等多类型资源上传、管理</p></li>
                    <li><h3>快速剪辑</h3><p>支持剪切、拼接，辅以文字、遮标等特效处理，一键合成输出</p></li>
                </ul>
            </div><!--/视频剪辑-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <em class="service-fun-arr"></em>
                    <i class="fun-ico fun-ico-13"></i>
                    <div class="txt">
                        <h3>短视频SDK</h3>
                        <p>提供包括视音频采集、内容剪辑/拼接/滤镜、快速包装渲染等特色功能，以高效率、高兼容性的SDK满足不同场景需求</p>
                    </div>
                </div>
                <ul class="service-fun-ul">
                    <li><h3>实时特效、高清录制</h3><p>支持 1080P 高清视频录制，提供特效叠加、实时预览等非常丰富的拍摄录制功能</p></li>
                    <li><h3>支持多轨道、多段编辑</h3><p>支持同时将不同格式的视频、图片、进行混合多段编辑</p></li>
                    <li><h3>实时美颜处理</h3><p>可以在拍摄、编辑的过程中直接调节美肤处理的等级，美白参数等美颜效果处理</p></li>
                    <li><h3>绚丽的视频主题</h3><p>拥有强大的主题系统，包含:片头尾、音乐、画面运 动、前景动画、转场、字幕等，只需一键，就可以对视频进行智能处理，实现电影效果</p></li>
                    <li><h3>动画贴纸效果</h3><p>为视频加入动画贴纸进行修饰，同时可以对贴纸进行属性设置，达到美化视频画面的作品</p></li>
                </ul>
            </div><!--/短视频SDK-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <em class="service-fun-arr"></em>
                    <i class="fun-ico fun-ico-14"></i>
                    <div class="txt">
                        <h3>视频播放SDK</h3>
                        <p>多平台播放SDK方便快速接入，全网加速提供多屏下的极致播放体验</p>
                    </div>
                </div>
                <ul class="service-fun-ul">
                    <li><h3>全平台播放</h3><p>提供Web（Flash/HTML5）和移动端（iOS/Android）的标准播放器SDK，并支持客户定制开发</p></li>
                    <li><h3>全网分发加速</h3><p>夸运营商、跨地域全网覆盖的内容分发，提供更稳定、更流畅的视听效果</p></li>
                </ul>
            </div><!--/视频播放SDK-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <em class="service-fun-arr"></em>
                    <i class="fun-ico fun-ico-15"></i>
                    <div class="txt">
                        <h3>安全防护</h3>
                        <p>提供防盗链、防下载、防录屏等多种加密技术，从视频处理、播放、分发各环节环环相扣全方位检测与防护，保障视频内容安全</p>
                    </div>
                </div>
                <ul class="service-fun-ul">
                    <li><h3>防盗链</h3><p>设置防盗链的Refer黑白名单和IP黑白名单，保护资源不被其他网站盗链</p></li>
                    <li><h3>HTTPS加密</h3><p>防劫持、防篡改、防泄密，享受企业级可靠HTTPS加密服务</p></li>
                    <li><h3>视频加密</h3><p>RTMP和HLS标准加密方案，加密处理解密播放全面保护视频安全</p></li>
                    <li><h3>播放鉴权</h3><p>使用动态实时鉴权方式，对每个渠道的播放请求进行身份验证</p></li>
                </ul>
            </div><!--/安全防护-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <em class="service-fun-arr"></em>
                    <i class="fun-ico fun-ico-16"></i>
                    <div class="txt">
                        <h3>内容审核</h3>
                        <p>运用卷积神经网络算法，对内容进行智能场景分析，为视频内容的智能管控提供基础</p>
                    </div>
                </div>
                <ul class="service-fun-ul">
                    <li><h3>色情内容分析</h3><p>支持精准高效识别出图像中的色情内容，智能化预防您的业务涉黄风险，为您节省审核中的人力成本</p></li>
                    <li><h3>暴恐、涉政</h3><p>深度学习算法结合独有的情报、舆情、预警和分析体系及实时更新的样本图库，能够快速定位暴恐旗帜、人物和场景以及敏感政治人物</p></li>
                </ul>
            </div><!--/内容审核-->
            <div class="service-fun-item service-fun-item-drop">
                <div class="service-fun-tab clearfix">
                    <em class="service-fun-arr"></em>
                    <i class="fun-ico fun-ico-17"></i>
                    <div class="txt">
                        <h3>数据统计</h3>
                        <p>多维度数据统计，可视化分析，提供细颗粒度的业务统计数据查询，及时掌控业务用量，评估运营效果</p>
                    </div>
                </div>
                <ul class="service-fun-ul">
                    <li><h3>及时统计</h3><p>资源消耗及时查看，媒体传播及时掌控</p></li>
                    <li><h3>可视化呈现</h3><p>多维度可视化呈现，包括PV、UV、地域分布、观看时长等</p></li>
                </ul>
            </div><!--/数据统计-->
        </div>
    </div>
    <!--应用场景-->
    <div class="section service-scene service-con-3" id="service-con-3">
        <h2 class="service-tie">应用场景</h2>
        <div class="maxWidth service-scene-bd">
            <div class="img"><img src="./img/service/dian-scene.png" alt="图片"></div>
            <ul class="service-scene-ul service-scene-ul-demand">
                <li><h4>视频网站</h4><p>海量视频点播、百万级用户并发、智能视频审核</p></li>
                <li><h4>短视频平台</h4><p>短视频剪辑拼接、APP端快速发布、全终端播放</p></li>
                <li><h4>教育行业</h4><p>企业跨地域培训点播、K12／职业资格培训点播、在线科普</p></li>
                <li><h4>媒体点播</h4><p>媒体资产管理、跨地域节目传输、网络电视台、OTT点播</p></li>
                <li><h4>政府部门</h4><p>事件点播，珍贵视频资料、展会专题演讲永久保存</p></li>
            </ul>
        </div>
    </div>

    <!--服务购买-->
    <!-- /etc/servicebuy.shtml Start -->
    <div class="section service-buy service-con-4" id="service-con-4">
        <h2 class="service-tie">服务购买</h2>
        <div class="service-buy-bd">
            <ul class="service-buy-control maxWidth">
            </ul>
            <div class="service-buy-box">
                <div class="maxWidth">
                    <div class="service-buy-item" style="display:block;">
                        <div class="service-buy-meal service-buy-meal-set-meal">
                            <div class="title"><h4>观看流量资源包</h4></div>
                            <div class="mid">
                                <strong>服务包含</strong>
                                <ul class="clearfix">
                                    <li><em>100GB</em><span>观看流量</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                </ul>
                            </div>
                            <p class="price"><a href="https://onair.yunshicloud.com/live/consolePayt/1808071430330020" target="_blank">立即购买&gt;</a><strong>￥330元</strong>/年</p>
                        </div>
                        <div class="service-buy-meal service-buy-meal-set-meal">
                            <div class="title"><h4>存储空间资源包</h4></div>
                            <div class="mid">
                                <strong>服务包含</strong>
                                <ul class="clearfix">
                                    <li><em>100GB</em><span>存储空间</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                </ul>
                            </div>
                            <p class="price"><a href="https://onair.yunshicloud.com/live/consolePayt/1808071430520022" target="_blank">立即购买&gt;</a><strong>￥840元</strong>/年</p>
                        </div>
                        <div class="service-buy-meal service-buy-meal-set-meal">
                            <div class="title"><h4>文件转码资源包</h4></div>
                            <div class="mid">
                                <strong>服务包含</strong>
                                <ul class="clearfix">
                                    <li><em>100小时</em><span>转码时长</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                </ul>
                            </div>
                            <p class="price"><a href="https://onair.yunshicloud.com/live/consolePayt/1808071438390024" target="_blank">立即购买&gt;</a><strong>￥1,302元</strong>/年</p>
                        </div>
                        <div class="service-buy-meal service-buy-meal-set-meal">
                            <div class="title"><h4>直播转码资源包</h4></div>
                            <div class="mid">
                                <strong>服务包含</strong>
                                <ul class="clearfix">
                                    <li><em>100GB</em><span>存储空间</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                    <li><em>&nbsp;</em><span>&nbsp;</span></li>
                                </ul>
                            </div>
                            <p class="price"><a href="https://onair.yunshicloud.com/live/consolePayt/1808071448510026" target="_blank">立即购买&gt;</a><strong>￥1,020元</strong>/年</p>
                        </div>
                        <div class="service-buy-meal service-buy-meal-set-meal">
                            <div class="title"><h4>套餐包I</h4></div>
                            <div class="mid">
                                <strong>服务包含</strong>
                                <ul class="clearfix">
                                    <li><em>2TB</em><span>观看流量</span></li>
                                    <li><em>100小时</em><span>文件转码</span></li>
                                    <li><em>100小时</em><span>流转码</span></li>
                                    <li><em>200GB</em><span>存储空间</span></li>
                                </ul>
                            </div>
                            <p class="price"><a href="https://onair.yunshicloud.com/live/consolePay/1808071452190028" target="_blank">立即购买&gt;</a><strong>￥3,600元</strong>/年</p>
                        </div>
                        <div class="service-buy-meal service-buy-meal-set-meal">
                            <div class="title"><h4>套餐包II</h4></div>
                            <div class="mid">
                                <strong>服务包含</strong>
                                <ul class="clearfix">
                                    <li><em>4TB</em><span>观看流量</span></li>
                                    <li><em>100小时</em><span>文件转码</span></li>
                                    <li><em>100小时</em><span>流转码</span></li>
                                    <li><em>200GB</em><span>存储空间</span></li>
                                </ul>
                            </div>
                            <p class="price"><a href="https://onair.yunshicloud.com/live/consolePay/1808071508250030" target="_blank">立即购买&gt;</a><strong>￥9,000元</strong>/年</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /etc/servicebuy.shtml End -->

        <!--文档支持-->
        <!-- /etc/servicesupport.shtml Start -->
        <div class="section service-support service-con-5" id="service-con-5">
            <h2 class="service-tie">文档支持</h2>
            <ul class="maxWidth service-support-ul">
                <li><h3>&nbsp;</h3>
                    <h3>&nbsp;</h3>
                    <h3>&nbsp;</h3>
                    <h3>&nbsp;</h3>
                </li>
                <li><h3>产品手册</h3><a href="wenjian/onair1807302214.pdf" target="_blank">ONAIR视频云产品操作手册</a>
                    <h3>&nbsp;</h3>
                    <h3>&nbsp;</h3>
                </li>
                <li><h3>帮助视频</h3><a href="https://hwzbtemplate.yunshicloud.com/qcy/onsite/template/5af532c525eca37f8e6b4e4a/5b35d5cc25eca3f28c3af212/index.html?productId=new_onsite" target="_blank">ONAIR视频云介绍</a>
                    <a href="https://hwzbtemplate.yunshicloud.com/companyId/appCode/template/userId/5b40afc725eca3c6f705015b/index.html?productId=new_onsite" target="_blank">企业典型应用--峰会直播</a>
                    <a href="https://hwzbtemplate.yunshicloud.com/qcy/onsite/template/5af532c525eca37f8e6b4e4a/5b55831425eca3f8751a4f7e/index.html?productId=new_onsite" target="_blank">企业典型应用--用点播宣传自己</a></li>
                <li><h3>&nbsp;</h3></li>
            </ul>
        </div>
        <!-- /etc/servicesupport.shtml End -->
    </div>
    <!--service-con end-->
</div>
<div id="footer-wrap"></div>
</body>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../../common/js/main.js"></script>
<script>
    $(".service-fun-item").click(function () {
        $(this).addClass("cur").siblings().removeClass("cur");
    })
    $(".subnavbar-menu a").click(function() {
        $("html, body").animate({
            scrollTop: $($(this).attr("href")).offset().top + "px"
        }, {
            duration: 500,
            easing: "swing"
        });
        return false;
    });
</script>
</html>