html,body{
    width:100%;
   /* min-width: 1200px;*/
    position: relative;
    margin:auto;
    background-color: #F7F7F7;
}
.container {
    padding: 30px 0;
    max-width: 1200px;
    margin: 0 auto;
}
.container_box{

}
.container_tit{
    font-size: 28px;
    color: #0D2660;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
}
.sc_case_banner{
    width: 100%;
    margin-top: 40px;
}
.sc_case_banner img{
    width: 100%;
}
.sc_list{
    padding-top:35px;
}
.sc_list li{
    width: 23%;
    margin:0 1%;
    float: left;
    background:#fff;
    margin-bottom: 20px;
}
.list_swp_item_pic:first-child{
    padding-top: 45px;
}
.list_swp_item_pic{
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: relative;
}
.sc_list .list_swp_item_pic img{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    margin: auto;
    max-height: 70px;
    height: auto;
}
.list_swp_item_cloud{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: bold;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.list_swp_item_Industry_field{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    color: #747474;
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.list_swp_item_synopsis{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    font-size: 14px;
    color: #545454;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    height: 98px;
}
.sc_list li:hover{
    box-shadow: 2px 2px 10px 1px #ccc;
}
.sc_list li:hover .list_swp_item_cloud{
    color:#e61a22;
}

@media screen and (max-width: 1024px){
    .container{
        width: auto;
        padding:70px 10px 0;
    }
    .sc_list li{
        width: 100%;
        margin:0;
    }
    .sc_list{
        padding-top:20px;
    }
    .sc_case_banner{
        display: none;
    }
}


