<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>汽车</title>
		<meta name="keywords" content="阳光云视" />
		<meta name="description" content="阳光云视" />
		<!-- /etc/htmlhead.shtml Start -->
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
		<link rel="stylesheet" type="text/css" href="../../common/css/common.css" />
		<link class="css_style" rel="stylesheet" href="css/list_style.css" />
		<link rel="stylesheet" href="../../common/css/base.css">
		<link rel="stylesheet" href="css/scBase.css">
		<link rel="stylesheet" type="text/css" href="css/car.css" />
		<meta name="author" content="yh 2921" />
		<!-- /sn/htmlhead.shtml End -->
	</head>

	<body>
		<!-- /etc/header.shtml start -->
		<!--header-wrap start-->
		<div id="header-wrap"></div>
		<!--header-wrap end-->
		<!-- /etc/header.shtml end -->

		<!--service-banner start-->
		<div class="service-banner solution-banner-meet">
			<div class="maxWidth">
				<div class="service-banner-txt">
					<h2>汽车行业视频应用解决方案</h2>
					<p>为汽车企业总部提供在线的内部视频培训、直播互动、新车发布、品牌推广、用户数据分析为4S店提供产品推广、客户培育、互动分享、用车技巧交流等各种服务</p>
					<a href="https://onair.yunshicloud.com/login.html" target="_blank">立即体验</a>
				</div>
			</div>
		</div>
		<!--service-banner end-->

		<!-- /etc/solution-subnav.shtml Start -->
		<!--subnavbar start-->
		<div class="subnavbar">
			<div class="maxWidth">
				<ul class="subnavbar-menu">
					<li>
						<a href="#solution-con-1">方案特点</a>
					</li>
					<li>
						<a href="#solution-con-2">服务内容</a>
					</li>
					<li>
						<a href="#solution-con-3">典型应用场景</a>
					</li>
					<li>
						<a href="#solution-con-4">客户案例</a>
					</li>
				</ul>
			</div>
		</div>
		<!--subnavbar end-->
		<!-- /etc/solution-subnav.shtml End -->

		<!--solution-con start-->
		<div class="solution-con" id="sc_app">
			<!--服务内容-->
			<div class="section solution-service" id="solution-con-1">
				<h2 class="service-tie">方案特点</h2>
				<div class="sc_characteristic_block">
					<div class="maxWidth">
						<ul class="clearfloat">
							<li>
								<img src="img/car/iconb2.svg"  alt="图片">
								<h2>优质观看体验</h2>
								<p class="red_line"></p>
								<p class="sc_characteristic_txt">在线培训高清码流，声音视频稳定流畅清晰无延时</p>
							</li>
							<li>
								<img src="img/car/iconb1.svg"  alt="图片">
								<h2>专属发布页面</h2>
								<p class="red_line"></p>
								<p class="sc_characteristic_txt">专属H5发布页面，避免第三方水印叠加及内容推荐影响</p>
							</li>
							<li>
								<img src="img/car/iconb3.svg"  alt="图片">
								<h2>多渠道推广</h2>
								<p class="red_line"></p>
								<p class="sc_characteristic_txt">多端发布传播更广泛，沉淀观看数据描绘用户画像</p>
							</li>
							<li>
								<img src="img/car/iconb4.svg"  alt="图片">
								<h2>沉淀视频资产</h2>
								<p class="red_line"></p>
								<p class="sc_characteristic_txt">直播秒变点播增强持续传播，自动收录珍贵资料留存</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--服务内容-->
			<div class="section solution-chall" id="solution-con-2">
				<h2 class="service-tie">服务内容</h2>
				<div class="maxWidth">
					<div class="sc_serviceFeatures">
						<div class="service-fun-tab">
							<i class="fun-icon"></i>
							<div class="txt">
								<h2>直播</h2>
								<p>直播服务基于领先的实时视音频处理技术，提供直播接入、处理、分发、收录等服务，具有易接入、低延迟、多终端、多码率、高安全等特点</p>
							</div>
						</div>
						<div class="service-fun-tab">
							<i class="fun-icon"></i>
							<div class="txt">
								<h2>点播</h2>
								<p>点播服务具有高画质、低延时、高安全等特点，包括加密、鉴权、智能审核等安全服务，提供端到端的视频点播整体解决方案</p>
							</div>
						</div>
						<div class="service-fun-tab">
							<i class="fun-icon"></i>
							<div class="txt">
								<h2>内容分发</h2>
								<p>发布服务由用户中心、智能推荐引擎构成，提供大量预置模版及多种发布策略。多维度的数据统计分析能力，帮助用户及时掌握业务用量，评估发布效果</p>
							</div>
						</div>
						<div class="service-fun-tab">
							<i class="fun-icon"></i>
							<div class="txt">
								<h2>媒体处理</h2>
								<p>一组高效、可靠的多媒体数据处理服务集合，包括转码、快编、拆条、截图、轮播、导播、智能审核等</p>
							</div>
						</div>
						<div class="service-fun-tab">
							<i class="fun-icon"></i>
							<div class="txt">
								<h2>用户大数据</h2>
								<p>用户大数据服务具备用户数据采集、用户行为分析等能力，帮助客户建立用户画像，提供精准营销、智能发布的数据基础</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--推荐架构-->
			<div class="section solution-scene" id="solution-con-3">
				<h2 class="service-tie">典型应用场景</h2>
				<div class="maxWidth">
					<div class="sc_scene_tab clearfloat">
						<div class="sc_scene_li fl">
							<ul>
								<li class="active"><img src="img/car/icond1.svg"  alt="图片"><span>汽车企业内部实训</span></li>
								<li><img src="img/car/icond2.svg"  alt="图片"><span>汽车企业外宣和4S店推广</span></li>
								<li><img src="img/car/icond3.svg"  alt="图片"><span>推广活动直播</span></li>
								<li><img src="img/car/icond4.svg"  alt="图片"><span>生产车间监控/监看</span></li>
							</ul>
						</div>
						<div class="sc_scene_cont fl">
							<div class="active">
								<div class="scene_img hide">
									<img src="img/car/carImg1.png"  alt="图片">
								</div>
								<div class="scene_txt">
									<h2 class="sc_county_title" style='margin-top:0;padding-top:0'>汽车企业内部实训</h2>
									<ul class="sc_county_cont sc_framework_main_wrap">
										<li>
											<h3><span></span>销售话术培训</h3>
										</li>
										<li>
											<h3><span></span>生产技能培训</h3>
										</li>
										<li>
											<h3><span></span>外购培训教程</h3>
										</li>
										<li>
											<h3><span></span>培训结业考评</h3>
										</li>
									</ul>
								</div>
							</div>
							<div class="">
								<div class="scene_img">
									<img src="img/car/carImg2.png"  alt="图片">
								</div>
								<div class="scene_txt">
									<h2 class="sc_county_title">汽车企业外宣和4S店推广</h2>
									<ul class="sc_county_cont sc_framework_main_wrap">
										<li>
											<h3><span></span>汽车多维展示</h3>
										</li>
										<li>
											<h3><span></span>视频微站助力4S店锁定意向客户</h3>
											<p>通过视频全方位展示助力客户意向锁定；发布视频微站展示推广从展厅到手机；通过微站采集客户观看数据；分析用户行为，行程兴趣数据；为用户智能定投提供数据基础</p>
										</li>
										<li>
											<h3><span></span>视频微站助力4S店增强车主粘性</h3>
											<p>自定义微站内容，锁定不同阶段客户；车品宣传推广微站，意向客户社交分享推广；单车品综合微站，助力客户锁定意向车型；用车知识微站，定位已成交客户推动售后粘度；汽车社区微站，让车主爱上4S店</p>
										</li>
									</ul>
								</div>
							</div>
							<div class="">
								<div class="scene_img">
									<img src="img/car/carImg3.png"  alt="图片">
								</div>
								<div class="scene_txt">
									<h2 class="sc_county_title">推广活动直播</h2>
									<ul class="sc_county_cont sc_framework_main_wrap">
										<li>
											<h3><span></span>新车发布活动直播</h3>
										</li>
										<li>
											<h3><span></span>4S店节日促销活动直播</h3>
										</li>
									</ul>
								</div>
							</div>
							<div class="">
								<div class="scene_img">
									<img src="img/car/sc_production_monitoring.png"  alt="图片">
								</div>
								<div class="scene_txt">
									<h2 class="sc_county_title">生产车间监控/监看</h2>
									<ul class="sc_county_cont sc_framework_main_wrap">
										<li>
											<h3><span></span>生产车间监控视频流聚合</h3>
										</li>
										<li>
											<h3><span></span>多镜头轮流切换播放</h3>
										</li>
										<li>
											<h3><span></span>独立机位选取播放</h3>
										</li>
										<li>
											<h3><span></span>远程实时播放</h3>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--客户案例-->
			<div class="section solution-case" id="solution-con-4">
				<h2 class="service-tie">客户案例</h2>
				<div class="maxWidth">
					<ul class="sc_customer_case">
						<li class="flex" v-for="item in data">
							<div class="sc_customer_case_icon" v-for="items in item" @mouseover="hadeMoveIntoOver(event)" @mouseout="hadeMoveIntoOut(event)">
								<img :src="items.img" :yimg="items.img" :himg="items.imgh" alt="台标">
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--solution-con end-->
		<!--立即注册开始-->
		<div class="sc_register_wrap">
			<div class="maxWidth">
				<div class="sc_register_main clearfix">
					<div class="sc_register_describe sc_fl">
						<h4>满足您的个性需求</h4>
						<p>为您定制汽车行业视频应用解决方案</p>
					</div>
					<div class="sc_register_btn hide sc_fr">
						<a href="" target="_blank">立即注册</a>
					</div>
				</div>
			</div>
		</div>
		<!--立即注册结束-->
		<!-- /etc/footer.shtml Start -->
		<!--footer-wrap start-->
		<div id="footer-wrap"></div>

		<!--footer end-->

		<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
		<script src="//cdn.yunshicloud.com/vue/2.5.16/vue.min.js"></script>
		<script src="../../common/js/base.js"></script>
		<script src="../../common/js/main.js"></script>
		<script src="js/scBase.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/car.js"></script>
	</body>

</html>