<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>县媒体</title>
		<meta name="keywords" content="阳光云视" />
		<meta name="description" content="阳光云视" />
		<!-- /etc/htmlhead.shtml Start -->
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
		<link class="css_style" rel="stylesheet" href="css/list_style.css" />
		<link rel="stylesheet" type="text/css" href="../../common/css/common.css"/>
		<link rel="stylesheet" href="../../common/css/base.css">
		<link rel="stylesheet" href="css/scBase.css">
		<link rel="stylesheet" type="text/css" href="css/countyMedia.css" />
		<meta name="author" content="yh 2921" />
	</head>

	<body>
		<!-- /etc/header.shtml start -->
		<!--header-wrap start-->
		<div id="header-wrap"></div>
		<!--header-wrap end-->
		<!-- /etc/header.shtml end -->
		<!--service-banner start-->
		<div class="service-banner solution-banner-meet">
			<div class="maxWidth">
				<div class="service-banner-txt">
					<h2>县级融媒体中心解决方案</h2>
					<p>发挥国家级、17个省级以及大量的市县级融媒体的建设经验，助力县级融媒体中心整合县域公共媒体资源，提升新闻宣传效益，以内容中心为核心，两翼做支撑（县级入驻机构和媒体合作机构），通过协同指挥调度、全网舆情分析监控、聚合采编中心、统一发布矩阵等多项服务，满足地方党委政府新闻宣传和政府服务需求，同时可依托平台开拓“媒体+”泛媒体服务市场，提供外宣、合作交流、地方特色商城等产业拓展服务</p>
					<!--<a href="https://onair.yunshicloud.com" target="_blank">服务咨询</a>-->
				</div>
			</div>
		</div>
		<!--service-banner end-->
		<!-- /etc/solution-subnav.shtml Start -->
		<!--subnavbar start-->
		<div class="subnavbar">
			<div class="maxWidth">
				<ul class="subnavbar-menu">
					<li>
						<a href="#solution-con-1">方案优势</a>
					</li>
					<li>
						<a href="#solution-con-2">推荐架构</a>
					</li>
					<li>
						<a href="#solution-con-3">解决方案架构</a>
					</li>
					<li>
						<a href="#solution-con-4">客户案例</a>
					</li>
				</ul>
			</div>
		</div>
		<!--subnavbar end-->
		<!-- /etc/solution-subnav.shtml End -->
		<!--solution-con start-->
		<div class="solution-con" id="sc_app">
			<!--服务内容-->
			<div class="section solution-service" id="solution-con-1">
				<h2 class="service-tie">方案优势</h2>
				<div class="maxWidth">
					<div class="sc_serviceFeatures">
						<div class="service-fun-tab">
							<i class="fun-icon"></i>
							<div class="txt">
								<h2>绚丽多彩互动模板</h2>
								<p>支持Vision Box互动模板，为用户带来的投票、抽奖、时间轴等互联网互动方式，吸引用户的积极参与</p>
							</div>
						</div>
						<div class="service-fun-tab">
							<i class="fun-icon"></i>
							<div class="txt">
								<h2>渠道一键发布、一键删除</h2>
								<p>炫云融媒体发布矩阵的一键发布功能直接对接微博、微信等社交媒体和今日头条等移动APP，获得最大的媒体影响力，一键删除功能满足媒体机构的内容管控要求，提升媒体公信力</p>
							</div>
						</div>
						<div class="service-fun-tab">
							<i class="fun-icon"></i>
							<div class="txt">
								<h2>AI助手提高工作效率</h2>
								<p>提供“晓智”媒体助手，直接在桌面提供新闻知识库、智能翻译、智能审稿、文字识别、语音合成、语音识别等具备AI能力的媒体应用，使得记者编辑的内容生产发布效率大大提高</p>
							</div>
						</div>
						<div class="service-fun-tab">
							<i class="fun-icon"></i>
							<div class="txt">
								<h2>对接流量市场促进产业发展</h2>
								<p>通过对接互联网流量市场，打通融媒体中心与互联网广告平台，快速获得运营效益</p>
							</div>
						</div>
						<div class="service-fun-tab">
							<i class="fun-icon"></i>
							<div class="txt">
								<h2>精准用户画像助力媒体运营</h2>
								<p>内置用户行为采集探针，云端进行用户大数据分析，描绘用户画像，精准刻画用户的喜好和特点，为深入运营提供依据</p>
							</div>
						</div>
						<div class="service-fun-tab">
							<i class="fun-icon"></i>
							<div class="txt">
								<h2>智能内容推荐提升用户粘性</h2>
								<p>根据用户画像进行精准内容匹配，给用户推荐感兴趣的内容及相关的内容，实现用户阅读的“千人千面”，进一步提升用户粘性</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--业务挑战-->
			<!--推荐架构-->
			<div class="section solution-chall" id="solution-con-2">
				<h2 class="service-tie">推荐架构</h2>
				<div class="maxWidth">
					<div class="com-solute-out clearfix sc_county_frame">
						<div class="sc_frame_div">
							<img src="img/countyMedia/frame.png"  alt="图片">
						</div>
						<h2 class="sc_county_title">产品应用</h2>
						<ul class="sc_county_cont sc_framework_main_wrap">
							<li>
								<h3><span></span>指挥调度中心——新闻大屏，指挥调度</h3>
								<p>可以实时监控全县舆情信息以及融媒体业务生产情况，通过指挥调度实时与现场的记者、视频连线</p>
							</li>
							<li>
								<h3><span></span>内容中心——媒体库，可管可控，一键发布和删除</h3>
								<p>提供媒体内容的存储和管理服务，针对各种媒体内容提供转码、截图、分析等媒体处理能力，所有内容可以进行标签设置和归档保存，通过一键发布，一键删除功能，实现可管可控</p>
							</li>
							<li>
								<h3><span></span>聚合采编中心——互联网舆情汇聚、UGC汇聚、融媒体生产、云非编</h3>
								<p>集数据采集、信息处理、深度分析、预警提示等功能于一体，UGC汇聚通过粉丝民众的快速反馈，获取最新新闻线索，满足了融媒体中心全面深度获取互联网数据、UGC内容的需求。融媒体生产提 供新媒体文稿编辑及大量视频编辑能力，可多端平台协同生产，完成从线索采集、文稿编写到审核发布成品新闻的全流程工艺；云非编应用则既适配了基于云架构的融媒体环境，又能够满足视音频 的非编需求
								</p>
							</li>
							<li>
								<h3><span></span>内容发布以及互动——社交媒体发布，客户端发布、客户端建设</h3>
								<p>实现内容多终端展现和一键分发，以满足用户灵活发布、多应用管控、矩阵发布等多种业务需求。包含：微信、微博等社交媒体及客户端多渠道的发布。其中vision box提供多种互动模板，如投票、抽奖、时间轴等，旨在更好的实现融媒体中心与用户的互动。</p>
							</li>
							<li>
								<h3><span></span>互联网直播——活动直播，互动连麦直播</h3>
								<p>互联网直播应用针对直播业务需求，利用领先的视音频实时处理技术，提供云导播、云轮播、云拆条、互动直播等专业工具，满足大并发、高互动、顺畅观看等强体验需求。其中互动连麦直播支持跨平台的直播互动，提供高质量的实时音视频交流互动。</p>
							</li>
							<li>
								<h3><span></span>内容交换中心</h3>
								<p>融媒体中心支持多租户，能够整合县域内的各种公共媒体，通过内容交换服务满足各个机构之间快速交换新闻、素材的多种业务场景，实现了各个媒体之间的新闻融合</p>
							</li>
						</ul>
					</div>
					<!--/com-solute-out-->
				</div>
			</div>
			<!--解决方案架构-->
			<div class="section solution-scene" id="solution-con-3">
				<h2 class="service-tie">解决方案架构</h2>
				<div class="maxWidth">
					<div class="img sc_solve_wrap clearfloat">
						<div class="fl solution_frame">
							<img src="img/countyMedia/frame2.png" class="" alt="图片">
						</div>
						<div class="fr solution_frame_txt">
							<h2 class="sc_county_title">服务内容</h2>
							<ul class="sc_county_cont sc_framework_main_wrap">
								<li>
									<h3><span></span>联合发布</h3>
									<p>提供垂直的省级区域发布联盟，行业云联盟，新闻内容快速交换和通联，精品内容拓展发布渠道，实现与国家级、省级云平台技术和内容对接，可以有效扩展媒体内容的传播渠道，扩大内容受众范围，提升阅读量</p>
								</li>
								<li>
									<h3><span></span>公共媒体服务</h3>
									<p>整合县广播电视台、县党委政府开办的网站、内部报刊、客户端、微信微博等所有县域公共媒体资源，融媒体中心支持创建多个租户，每个租户可以按需配置所需应用和客户端，统一提供公共媒体服务和客户端托管等业务</p>
								</li>
								<li>
									<h3><span></span>党建社区</h3>
									<p>提供独立的党建社区，定期更新发布党建资料，提供党建社区页面，嵌入到APP客户端或者微站等移动终端，支持各级党组织内容上传展示和讨论</p>
								</li>
								<li>
									<h3><span></span>影视广场</h3>
									<p>除新闻等内容外，为了满足人民群众的文化艺术需求，平台内提供了近百部带有版权的电视剧、电影，丰富媒体的娱乐生活版块，增加客户粘性</p>
								</li>
								<li>
									<h3><span></span>广告联盟</h3>
									<p>提供广告联盟，将本地化内容全网分发至互联网平台矩阵，形成三四线市场的本地化流量，这些流量将是下沉企业的稀缺资源和目标市场，本地流量最终通过广告进行转化和变现</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--客户案例-->
			<div class="section solution-case" id="solution-con-4">
				<h2 class="service-tie">客户案例</h2>
				<div class="maxWidth">
					<ul class="sc_customer_case">
						<li class="flex" v-for="item in data">
							<div class="sc_customer_case_icon" v-for="items in item" @mouseover="hadeMoveIntoOver(event)" @mouseout="hadeMoveIntoOut(event)">
								<img :src="items.img" :yimg="items.img" :himg="items.imgh" alt="台标">
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--solution-con end-->
		<!--立即注册开始-->
<div class="sc_register_wrap">
    <div class="maxWidth">
       <div class="sc_register_main clearfix">
           <div class="sc_register_describe sc_fl">
               <h4>满足您的个性需求</h4>
               <p>为您定制县级融媒体中心解决方案</p>
           </div>
           <div class="sc_register_btn hide sc_fr">
               <a href="" target="_blank">立即注册</a>
           </div>
       </div>
    </div>
</div>
<!--立即注册结束-->
<!-- /etc/footer.shtml Start -->
<!--footer-wrap start-->
<div id="footer-wrap"></div>

<!--footer end-->
		<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
		<script src="//cdn.yunshicloud.com/vue/2.5.16/vue.min.js"></script>
		<script src="../../common/js/base.js"></script>
		<script src="../../common/js/main.js"></script>
		<script src="js/scBase.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/countyMedia.js"></script>
	</body>

</html>