<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
		<title>教育行业融媒体解决方案-阳光云视</title>
		<meta name="keywords" content="阳光云视" />
		<meta name="description" content="阳光云视" />
		<!-- /etc/htmlhead.shtml Start -->
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
		<link class="css_style" rel="stylesheet" href="css/list_style.css" />
		<link rel="stylesheet" href="../../common/css/base.css">
		<link rel="stylesheet" href="css/scBase.css">
		<meta name="author" content="yh 2921" />
		<!-- /sn/htmlhead.shtml End -->
	</head>

	<body>
		<!-- /etc/header.shtml start -->
		<!--header-wrap start-->
		<div id="header-wrap"></div>
		<!--header-wrap end-->
		<!-- /etc/header.shtml end -->

		<!--service-banner start-->
		<div class="service-banner solution-banner-study">
			<div class="maxWidth">
				<div class="service-banner-txt">
					<h2>教育行业融媒体解决方案</h2>
					<p>面向高校及相关教育机构，提供完整的融合媒体平台建设方案，为高校融媒体中心开展媒体服务类、党建服务类、校务服务类、公共服务类、增值服务类等业务提供支撑，巩固和扩大校园宣传的媒体影响力，培育全媒体人才</p>
					<!--<a href="https://onair.yunshicloud.com" target="_blank">立即体验</a>-->
				</div>
			</div>
		</div>
		<!--service-banner end-->

		<!-- /etc/solution-subnav.shtml Start -->
		<!--subnavbar start-->
		<div class="subnavbar">
			<div class="maxWidth">
				<ul class="subnavbar-menu">
					<li>
						<a href="#eduMedia-1">业务挑战</a>
					</li>
					<li>
						<a href="#eduMedia-2">方案优势</a>
					</li>
					<li>
						<a href="#eduMedia-3">解决方案架构</a>
					</li>
					<li>
						<a href="#eduMedia-4">客户案列</a>
					</li>
				</ul>
			</div>
		</div>
		<!--subnavbar end-->
		<!-- /etc/solution-subnav.shtml End -->

		<!--solution-con start-->
		<div class="solution-con" id="sc_app">
			<!--服务内容-->

			<div class="section solution-chall" id="eduMedia-1">
				<h2 class="service-tie">业务挑战</h2>
				<div class="maxWidth">
					<div class="com-solute-out clearfix">
						<div class="sc_txt">
							<p>在媒体融合的背景下，高校建设融媒体中心平台，由于各高校对新闻舆论宣传管理制度的不同，在建设过程中存在以下问题：</p>
						</div>
						<!--放置于奇数下改变-->
						<div class="sc_router_wrap">
							<div class="sc_router">
								<div class="sc_router_main clearfix">
									<div class="sc_router_main_left sc_fl">
										<img src="img/sc_changshang.svg" alt="icon">
									</div>
									<div class="sc_router_main_right sc_fl">
										<h4>受众群体单一，宣传效果不佳</h4>
										<p>注重用户和内容运营，不仅要针对在校生，还要满足青年教工、退休教职工、广大校友、学生家长等群体的需求</p>
									</div>
								</div>
								<div class="sc_router_line">
									<img src="img/sc_line_1.png" alt="路线">
								</div>
								<div class="sc_router_main sc_router_main_ml clearfix">
									<div class="sc_router_main_left sc_fl">
										<img src="img/sc_ziyuan.svg" alt="icon">
									</div>
									<div class="sc_router_main_right sc_fl">
										<h4>传统媒体与新媒体仍是独立的机构，如何整合媒体资源？</h4>
										<p>将媒体资源、宣传材料、宣传渠道进行深度融合，实现传统媒体与新媒体的融合</p>
									</div>
								</div>
								<div class="sc_router_line">
									<img src="img/sc_line_2.png" alt="路线">
								</div>
								<div class="sc_router_main clearfix">
									<div class="sc_router_main_left sc_fl">
										<img src="img/sc_cloud_architecture.svg" alt="icon">
									</div>
									<div class="sc_router_main_right sc_fl">
										<h4>网络舆情传播环境复杂，高校缺乏舆情监控手段及应对的措施</h4>
										<p>采用舆情监测平台，实时监测热点新闻事件，有效进行舆论引导</p>
									</div>
								</div>
<!--								<div class="sc_router_line">-->
<!--									<img src="img/sc_line_1.png" alt="路线">-->
<!--								</div>-->
<!--								<div class="sc_router_main sc_router_main_ml clearfix">-->
<!--									<div class="sc_router_main_left sc_fl">-->
<!--										<img src="img/sc_set_up.svg" alt="icon">-->
<!--									</div>-->
<!--									<div class="sc_router_main_right sc_fl">-->
<!--										<h4>各个应用都用到重复的功能，如何统一管理?</h4>-->
<!--										<p>把应用工具化，作为平台能力部署</p>-->
<!--									</div>-->
<!--								</div>-->
<!--								<div class="sc_router_line">-->
<!--									<img src="img/sc_line_2.png" alt="路线">-->
<!--								</div>-->
<!--								<div class="sc_router_main clearfix">-->
<!--									<div class="sc_router_main_left sc_fl">-->
<!--										<img src="img/sc_time.svg" alt="icon">-->
<!--									</div>-->
<!--									<div class="sc_router_main_right sc_fl">-->
<!--										<h4>媒体文件在应用系统之间迁移，效率如何提高?</h4>-->
<!--										<p>采用云存储，实现媒体内容的统一管理</p>-->
<!--									</div>-->
<!--								</div>-->
							</div>
						</div>
					</div>
					<!--/com-solute-out-->
				</div>
			</div>
			<!--方案优势-->
			<!--推荐架构-->
			<div class="section solution-scene" id="eduMedia-2">
				<h2 class="service-tie">方案优势</h2>
				<div class="edu_media_box_2">
					<ul>
						<li>
							<div class="media_four_box">
								<div class="left_ico">
									<img src="./img/mediaSolutions/image_0%20(4).jpg" alt="">
								</div>
								<div class="right_text">
									<h3>媒体服务业务</h3>
									<div class="con_box">
										提供制作文字、图片、音频、视频，通过广播、电视、报刊、微博、微信、客户端、网站等媒体服务。

									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="media_four_box">
								<div class="left_ico">
									<img  src="./img/mediaSolutions/image_0%20(3).jpg" alt="">
								</div>
								<div class="right_text">
									<h3>媒体资料管理业务</h3>
									<div class="con_box">
										为学校提供媒体资料管理服务，通过对媒体资源标签化、智能化管理，实现资产价值最大化。

									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="media_four_box">
								<div class="left_ico">
									<img  src="./img/mediaSolutions/image_0%20(2).jpg" alt="">
								</div>
								<div class="right_text">
									<h3>校务服务业务</h3>
									<div class="con_box">
										为智慧校务提供信息发布及宣传、互动业务。包括新闻发布、校务公开、校务办理、服务评价等业务。

									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="media_four_box">
								<div class="left_ico">
									<img  src="./img/mediaSolutions/image-%20(8).jpg" alt="">
								</div>
								<div class="right_text">
									<h3>编辑宣传业务</h3>
									<div class="con_box">
										整合学院已有的虚拟演播室、以及原有音视频采编工具和设备。覆盖完整的媒体传播流程业务。

									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!--解决方案架构-->
			<div class="section solution-scene" id="eduMedia-3">
				<h2 class="service-tie">解决方案架构</h2>
				<div class="maxWidth">
					<div class="img sc_solve_wrap"><img src="./img/mediaSolutions/image_0%20(1).jpg" alt="图片"></div>
				</div>
			</div>
			<!--客户案例-->
			<div class="section solution-case" id="eduMedia-4">
				<h2 class="service-tie">客户案例</h2>
				<div class="edu_media_box_4">
                    <a href="/components/customerCase/customerCaseDetail/e003.html" class="edu_4_box">
						<div class="left_img">
							<img src="./img/mediaSolutions/image_0%20(1).png" alt="">
						</div>
						<div class="right_text">
							<h3>北京师范大学——融媒体资源管理平台</h3>
							<div class="e_4_text">
								整合高校现有媒体资源，将传统媒体与新媒体深度融合，实现媒体资源的集约利用，丰富内容，优化内容呈现方式，提升北京师范大学的品牌影响力。
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!--solution-con end-->
		<!--立即注册开始-->
		<div class="sc_register_wrap">
			<div class="maxWidth">
				<div class="sc_register_main clearfix">
					<div class="sc_register_describe sc_fl">
						<h4>满足您的个性需求</h4>
						<p>为您定制省、市级融媒体平台解决方案</p>
					</div>
					<div class="sc_register_btn hide sc_fr">
						<a href="" target="_blank">立即注册</a>
					</div>
				</div>
			</div>
		</div>
		<!--立即注册结束-->
		<!-- /etc/footer.shtml Start -->
		<!--footer-wrap start-->
		<div id="footer-wrap"></div>

		<!--footer end-->

		<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
		<script src="//cdn.yunshicloud.com/vue/2.5.16/vue.min.js"></script>
		<script src="../../common/js/base.js"></script>
		<script src="../../common/js/main.js"></script>
		<script src="js/bigMedia.js"></script>
	</body>

</html>