<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业</title>
    <meta name="keywords" content="阳光云视" />
	<meta name="description" content="阳光云视" />
	<!-- /etc/htmlhead.shtml Start -->
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
	<link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../../common/css/common.css" />
	<link class="css_style" rel="stylesheet" href="css/list_style.css" />
	<link rel="stylesheet" href="../../common/css/base.css">
	<link rel="stylesheet" href="css/scBase.css">
	<link rel="stylesheet" type="text/css" href="css/enterprise.css" />
	<meta name="author" content="yh 2921" />
	<!-- /sn/htmlhead.shtml End -->
</head>
	<body>
		<!-- /etc/header.shtml start -->
		<!--header-wrap start-->
		<div id="header-wrap"></div>
		<!--header-wrap end-->
		<!-- /etc/header.shtml end -->

		<!--service-banner start-->
		<div class="service-banner solution-banner-meet">
			<div class="maxWidth">
				<div class="service-banner-txt">
					<h2>企业内训外宣视频解决方案</h2>
					<p>随着云计算和视频技术的应用日益广泛，企业内部的培训和对外宣传，越来越多采用视频方式。本方案以云服务的方式，把高品质、低延迟、简便易用的视音频直播、点播、发布、分享、互动能力应用于企业的内训外宣，满足企业的销售培训、生产技能培训、产品展示、企业新闻、公司年会、活动推广等方方面面的需求</p>
					<a href="https://onair.yunshicloud.com/login.html" target="_blank">立即体验</a>
				</div>
			</div>
		</div>
		<!--service-banner end-->

		<!-- /etc/solution-subnav.shtml Start -->
		<!--subnavbar start-->
		<div class="subnavbar">
			<div class="maxWidth">
				<ul class="subnavbar-menu">
					<li>
						<a href="#solution-con-1">服务内容</a>
					</li>
					<li>
						<a href="#solution-con-2">业务需求</a>
					</li>
					<li>
						<a href="#solution-con-3">典型应用场景</a>
					</li>
					<li>
						<a href="#solution-con-4">客户案例</a>
					</li>
				</ul>
			</div>
		</div>
		<!--subnavbar end-->
		<!-- /etc/solution-subnav.shtml End -->

		<!--solution-con start-->
		<div class="solution-con" id="sc_app">
			<!--服务内容-->
			<div class="section solution-service" id="solution-con-1">
				<h2 class="service-tie">方案特点</h2>
				<div class="sc_characteristic_block">
					<div class="maxWidth">
						<ul class="clearfloat">
							<li>
								<img src="img/enterprise/icone1.svg"  alt="图片">
								<h2>提供在线培训授课</h2>
								<p class="red_line"></p>
								<p class="sc_characteristic_txt">支持在线互动答疑，直播时学员可举手提问，直播收录回看随时复习，自定义授权观看人群</p>
							</li>
							<li>
								<img src="img/enterprise/icone2.svg"  alt="图片">
								<h2>构建视频化知识库</h2>
								<p class="red_line"></p>
								<p class="sc_characteristic_txt">视频化知识库统一管理，进行知识库内容分类，便于查找；视频课件快速编辑，轻松添加水印字幕等</p>
							</li>
							<li>
								<img src="img/enterprise/icone3.svg"  alt="图片">
								<h2>多终端视频化传播</h2>
								<p class="red_line"></p>
								<p class="sc_characteristic_txt">支持培训课件PC、手机等多终端观看，对视频全方位展示传播；后台统计客户观看数据，智能分析描绘用户画像</p>
							</li>
							<li>
								<img src="img/enterprise/icone4.svg"  alt="图片">
								<h2>企业活动直播宣传</h2>
								<p class="red_line"></p>
								<p class="sc_characteristic_txt">一键开启活动直播，支持直播水印添加、多机位导播切换，微站形式发布传播更快速</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!--服务内容-->
			<div class="section solution-chall" id="solution-con-2">
				<h2 class="service-tie">业务需求</h2>
				<div class="maxWidth">
					<div class="sc_serviceFeatures">
						<div class="service-fun-tab">
							<i class="fun-icon"></i>
							<div class="txt">
								<h2>视频培训</h2>
								<p>在线视频培训需要声音视频稳定、流畅、画面清晰、无延时</p>
							</div>
						</div>
						<div class="service-fun-tab">
							<i class="fun-icon"></i>
							<div class="txt">
								<h2>数据安全</h2>
								<p>培训内容需要保证数据安全，保证只有授权才能够观看</p>
							</div>
						</div>
						<div class="service-fun-tab">
							<i class="fun-icon"></i>
							<div class="txt">
								<h2>在线编辑</h2>
								<p>培训内容需要有方便的制作工具，并提供专属水印</p>
							</div>
						</div>
						<div class="service-fun-tab">
							<i class="fun-icon"></i>
							<div class="txt">
								<h2>多端发布</h2>
								<p>企业宣传造势需要充分使用PC、移动客户端、社交媒体等多终端发布</p>
							</div>
						</div>
						<div class="service-fun-tab">
							<i class="fun-icon"></i>
							<div class="txt">
								<h2>快速分享</h2>
								<p>企业宣传视频需要提供快速分享的方法</p>
							</div>
						</div>
						<div class="service-fun-tab">
							<i class="fun-icon"></i>
							<div class="txt">
								<h2>数据分析</h2>
								<p>企业宣传推广需要对用户反馈的数据进行实时统计，形成用户画像</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--推荐架构-->
			<div class="section solution-scene" id="solution-con-3">
				<h2 class="service-tie">典型应用场景</h2>
				<div class="maxWidth">
					<div class="sc_scene_tab clearfloat">
						<div class="sc_scene_li fl">
							<ul>
								<li class="active"><img src="img/enterprise/icong1.svg" alt="图片"><span>企业内部实训</span></li>
								<li><img src="img/enterprise/icong2.svg" alt="图片"><span>企业外宣推广</span></li>
								<li><img src="img/enterprise/icong3.svg" alt="图片"><span>企业大型活动</span></li>
							</ul>
						</div>
						<div class="sc_scene_cont fl">
							<div class="active">
								<div class="scene_img">
									<img src="img/enterprise/qiyeimg1.png"  alt="图片">
								</div>
								<div class="scene_txt">
									<h2 class="sc_county_title">企业内部实训</h2>
									<ul class="sc_county_cont sc_framework_main_wrap">
										<li>
											<h3><span></span>销售话术培训</h3>
										</li>
										<li>
											<h3><span></span>生产技能培训</h3>
										</li>
										<li>
											<h3><span></span>外购培训教程</h3>
										</li>
										<li>
											<h3><span></span>培训结业考评</h3>
										</li>
									</ul>
								</div>
							</div>
							<div class="">
								<div class="scene_img">
									<img src="img/enterprise/qiyeimg3.png"  alt="图片">
								</div>
								<div class="scene_txt">
									<h2 class="sc_county_title">企业外宣推广</h2>
									<ul class="sc_county_cont sc_framework_main_wrap">
										<li>
											<h3><span></span>产品多维展示</h3>
										</li>
										<li>
											<h3><span></span>领导考察活动报道</h3>
										</li>
										<li>
											<h3><span></span>产品广告宣传</h3>
										</li>
										<li>
											<h3><span></span>企业新闻发布</h3>
										</li>
									</ul>
								</div>
							</div>
							<div class="">
								<div class="scene_img">
									<img src="img/enterprise/qiyeimg2.png"  alt="图片">
								</div>
								<div class="scene_txt">
									<h2 class="sc_county_title">企业大型活动</h2>
									<ul class="sc_county_cont sc_framework_main_wrap">
										<li>
											<h3><span></span>企业年会直播</h3>
										</li>
										<li>
											<h3><span></span>推广活动直播</h3>
										</li>
									</ul>
								</div>
							</div>
							<div class="">
								<div class="scene_img">
									<img src="img/car/carImg3.png"  alt="图片">
								</div>
								<div class="scene_txt">
									<h2 class="sc_county_title">生产车间监控/监看</h2>
									<ul class="sc_county_cont sc_framework_main_wrap">
										<li>
											<h3><span></span>生产车间监控视频流聚合</h3>
										</li>
										<li>
											<h3><span></span>多镜头轮流切换播放</h3>
										</li>
										<li>
											<h3><span></span>独立机位选取播放</h3>
										</li>
										<li>
											<h3><span></span>远程实时播放</h3>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--客户案例-->
			<div class="section solution-case" id="solution-con-4">
				<h2 class="service-tie">客户案例</h2>
				<div class="maxWidth">
					<ul class="sc_customer_case">
						<li class="flex" v-for="item in data">
							<div class="sc_customer_case_icon" v-for="items in item" @mouseover="hadeMoveIntoOver(event)" @mouseout="hadeMoveIntoOut(event)">
								<img :src="items.img" :yimg="items.img" :himg="items.imgh" alt="台标">
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--solution-con end-->
		<!--立即注册开始-->
		<div class="sc_register_wrap">
			<div class="maxWidth">
				<div class="sc_register_main clearfix">
					<div class="sc_register_describe sc_fl">
						<h4>满足您的个性需求</h4>
						<p>为您定制企业内训外宣视频解决方案</p>
					</div>
					<div class="sc_register_btn hide sc_fr">
						<a href="" target="_blank">立即注册</a>
					</div>
				</div>
			</div>
		</div>
		<!--立即注册结束-->
		<!-- /etc/footer.shtml Start -->
		<!--footer-wrap start-->
		<div id="footer-wrap"></div>

		<!--footer end-->

		<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
		<script src="//cdn.yunshicloud.com/vue/2.5.16/vue.min.js"></script>
		<script src="../../common/js/base.js"></script>
		<script src="../../common/js/main.js"></script>
		<script src="js/scBase.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/enterprise.js"></script>
	</body>

</html>