<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>会展-解决方案-阳光云视</title>
    <meta name="keywords" content="阳光云视"/>
    <meta name="description" content="阳光云视"/>
    <!-- /etc/htmlhead.shtml Start -->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link class="css_style" rel="stylesheet" href="css/list_style.css"/>
    <link rel="stylesheet" href="../../common/css/base.css">
    <meta name="author" content="yh 2921" />
    <!-- /sn/htmlhead.shtml End -->
</head>

<body>
<!-- /etc/header.shtml start -->
<!--header-wrap start-->
<div id="header-wrap"></div>
<!--header-wrap end-->
<!-- /etc/header.shtml end -->

<!--service-banner start-->
<div class="service-banner solution-banner-meet">
    <div class="maxWidth">
        <div class="service-banner-txt">
            <h2>会展行业视频解决方案</h2>
            <p>为各种峰会、论坛、展会、庆典、企业年会等活动提供视音频直播、点播、发布的一体化解决方案。</p>
            <a href="https://onair.yunshicloud.com" target="_blank">立即体验</a>
        </div>
    </div>
</div>
<!--service-banner end-->

<!-- /etc/solution-subnav.shtml Start -->
<!--subnavbar start-->
<div class="subnavbar">
    <div class="maxWidth">
        <ul class="subnavbar-menu">
            <li><a href="#solution-con-1">服务内容</a></li>
            <li><a href="#solution-con-2">行业挑战</a></li>
            <li><a href="#solution-con-3">方案优势</a></li>
            <li><a href="#solution-con-4">推荐架构</a></li>
            <li><a href="#solution-con-5">客户案例</a></li>
        </ul>
    </div>
</div>
<!--subnavbar end-->
<!-- /etc/solution-subnav.shtml End -->

<!--solution-con start-->
<div class="solution-con">
    <!--服务内容-->
    <div class="section solution-service" id="solution-con-1">
        <h2 class="service-tie">服务内容</h2>
        <div class="maxWidth">
            <div class="com-solute-out">
                <h3>会展行业服务内容</h3>
                <p>为会展公司、企业公关部门等提供了简单的视频应用，集采集、编辑、播放、管理、存储、发布为一体的视频化应用服务，能够快速发布视频内容，及时将信息传达给用户。同时提供云导播、流拆条、多机位等直播处理服务及直播后秒变点播、直播回看、数据分析、精准推广等服务，通过峰会论坛、展示发布、演唱会等各类型活动形式进行传播。</p>
            </div>
        </div>
    </div>
    <!--行业挑战-->
    <div class="section solution-chall" id="solution-con-2">
        <h2 class="service-tie">行业挑战</h2>
        <div class="maxWidth">
            <div class="com-solute-out clearfix">
                <i class="chall-ico chall-ico-5"></i>
                <div class="txt">
                    <h3>视频经验</h3>
                    <p>缺少视频应用经验、实际操作困难</p>
                </div>
            </div><!--/com-solute-out-->
            <div class="com-solute-out clearfix">
                <i class="chall-ico chall-ico-6"></i>
                <div class="txt">
                    <h3>视频内容</h3>
                    <p>视频内容无法快速发布，内容管理和制作成本高</p>
                </div>
            </div><!--/com-solute-out-->
            <div class="com-solute-out clearfix">
                <i class="chall-ico chall-ico-7"></i>
                <div class="txt">
                    <h3>发布渠道</h3>
                    <p>互联网发布渠道受限，宣传力度不足</p>
                </div>
            </div><!--/com-solute-out-->
        </div>
    </div>
    <!--方案优势-->
    <div class="section solution-advant" id="solution-con-3">
        <h2 class="service-tie">方案优势</h2>
        <div class="maxWidth">
            <ul class="com-solute-out solution-advant-ul solution-advant-ul-four">
                <li>
                    <i class="advant-ico advant-ico-4"></i>
                    <div class="txt">
                        <h3>4K直播</h3>
                        <p>4K清晰度 20Mbps 超大码率直播</p>
                    </div>
                </li>
                <li>
                    <i class="advant-ico advant-ico-5"></i>
                    <div class="txt">
                        <h3>百万级并发播放</h3>
                        <p>满足百万用户同时在线的吞吐能力<br>全网加速带来极致体验</p>
                    </div>
                </li>
                <li>
                    <i class="advant-ico advant-ico-6"></i>
                    <div class="txt">
                        <h3>多分辨率实时转码</h3>
                        <p>4K、2K、高清等实时直播转码，适配<br>多终端观看</p>
                    </div>
                </li>
                <li>
                    <i class="advant-ico advant-ico-7"></i>
                    <div class="txt">
                        <h3>直播互动</h3>
                        <p>支持海外直播、异地互动</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--推荐架构-->
    <div class="section solution-scene" id="solution-con-4">
        <h2 class="service-tie">推荐架构</h2>
        <div class="maxWidth">
            <div class="img"><img src="./img/solution/meet-scene.png" alt="图片"></div>
        </div>
    </div>
    <!--客户案例-->
    <div class="section solution-case" id="solution-con-5">
        <h2 class="service-tie">客户案例</h2>
        <div class="maxWidth">
            <ul class="solution-case-blur">
                <li>
                    <img src="./img/solution/case-big-1.jpg" alt="图片">
                    <div class="over"><p><strong>2017华为全连接大会（HC大会）</strong></p></div>
                </li>
                <li>
                    <img src="./img/solution/case-big-2.jpg" alt="图片">
                    <div class="over"><p><strong>华为香港代表处新春年会</strong></p></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--solution-con end-->

<!-- /etc/footer.shtml Start -->
<!--footer-wrap start-->
<div id="footer-wrap"></div>

<!--footer end-->

<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../../common/js/main.js"></script>
</body>
</html>