<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>婚庆-解决方案-阳光云视</title>
    <meta name="keywords" content="阳光云视"/>
    <meta name="description" content="阳光云视"/>
    <!-- /etc/htmlhead.shtml Start -->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link class="css_style" rel="stylesheet" href="css/list_style.css"/>
    <link rel="stylesheet" href="../../common/css/base.css">
    <meta name="author" content="yh 2921" />
    <!-- /sn/htmlhead.shtml End -->
</head>

<body>
<!-- /etc/header.shtml start -->
<!--header-wrap start-->
<div id="header-wrap">

</div>
<!--header-wrap end-->
<!-- /etc/header.shtml end -->

<!--service-banner start-->
<div class="service-banner solution-banner-wed">
    <div class="maxWidth">
        <div class="service-banner-txt">
            <h2>婚庆行业视频解决方案</h2>
            <p>为婚庆机构提供公有云直播、点播、媒体处理、内容分发技术服务。为新人提供异地分享幸福、互动获取祝福应用增值服务</p>
            <a href="https://onair.yunshicloud.com/" target="_blank">立即体验</a>
        </div>
    </div>
</div>
<!--service-banner end-->

<!-- /etc/solution-subnav.shtml Start -->
<!--subnavbar start-->
<div class="subnavbar">
    <div class="maxWidth">
        <ul class="subnavbar-menu">
            <li><a href="#solution-con-1">服务内容</a></li>
            <li><a href="#solution-con-2">行业挑战</a></li>
            <li><a href="#solution-con-3">方案优势</a></li>
            <li><a href="#solution-con-4">推荐架构</a></li>
            <li><a href="#solution-con-5">客户案例</a></li>
        </ul>
    </div>
</div>
<!--subnavbar end-->
<!-- /etc/solution-subnav.shtml End -->

<!--solution-con start-->
<div class="solution-con">
    <!--服务内容-->
    <div class="section solution-service" id="solution-con-1">
        <h2 class="service-tie">服务内容</h2>
        <div class="maxWidth">
            <div class="com-solute-out">
                <h3>婚庆行业服务内容</h3>
                <p>面向所有婚庆机构，通过跨地域直播实时互动、幸福视频快速分享观看等方式满足用户对于跨地域分享幸福、线上实时互动获取祝福的需求。可收入多机位信号进行直播，并做到音视频内容的及时分享，以将婚礼现场以及其他场景方便快捷的展示给亲朋好友，分享自己的幸福。同时提供简单易用、自由拼接、即时制作的视频编辑功能，使新人们可以记录下整场婚礼的高光片段。</p>
            </div>
        </div>
    </div>
    <!--行业挑战-->
    <div class="section solution-chall" id="solution-con-2">
        <h2 class="service-tie">行业挑战</h2>
        <div class="maxWidth">
            <div class="com-solute-out clearfix">
                <i class="chall-ico chall-ico-1"></i>
                <div class="txt">
                    <h3>环节丰富</h3>
                    <p>婚礼过程环节众多，亲朋好友难以全程参与</p>
                </div>
            </div><!--/com-solute-out-->
            <div class="com-solute-out clearfix">
                <i class="chall-ico chall-ico-2"></i>
                <div class="txt">
                    <h3>见证仪式</h3>
                    <p>家人.朋友身处四面八方，不能亲临现场见证仪式</p>
                </div>
            </div><!--/com-solute-out-->
            <div class="com-solute-out clearfix">
                <i class="chall-ico chall-ico-3"></i>
                <div class="txt">
                    <h3>互动方式</h3>
                    <p>互动方式贫瘠，难以分享喜悦.收得祝福</p>
                </div>
            </div><!--/com-solute-out-->
            <div class="com-solute-out clearfix">
                <i class="chall-ico chall-ico-4"></i>
                <div class="txt">
                    <h3>录制内容</h3>
                    <p>婚礼中录制的内容不易编辑.保存与共享传播</p>
                </div>
            </div><!--/com-solute-out-->
        </div>
    </div>
    <!--方案优势-->
    <div class="section solution-advant" id="solution-con-3">
        <h2 class="service-tie">方案优势</h2>
        <div class="maxWidth">
            <ul class="com-solute-out solution-advant-ul solution-advant-ul-three">
                <li>
                    <i class="advant-ico advant-ico-1"></i>
                    <div class="txt">
                        <h3>一体化技术服务</h3>
                        <p>直播、点播、数字工厂、内容分发</p>
                    </div>
                </li>
                <li>
                    <i class="advant-ico advant-ico-2"></i>
                    <div class="txt">
                        <h3>婚庆增值服务</h3>
                        <p>跨地域分享幸福、线上实时互动获取祝福</p>
                    </div>
                </li>
                <li>
                    <i class="advant-ico advant-ico-3"></i>
                    <div class="txt">
                        <h3>内容分发</h3>
                        <p>跨地域直播实时互动、幸福视频分享观看</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--推荐架构-->
    <div class="section solution-scene" id="solution-con-4">
        <h2 class="service-tie">推荐架构</h2>
        <div class="maxWidth">
            <div class="img"><img src="./img/solution/wed-scene.png" alt="图片"></div>
        </div>
    </div>
    <!--客户案例-->
    <div class="section solution-case" id="solution-con-5">
        <h2 class="service-tie">客户案例</h2>
        <div class="maxWidth">
            <ul class="solution-case-list com-solute-out">
                <li><img src="./img/solution/wed-case-1.jpg" alt="图片"></a></li>
            </ul>
        </div>
    </div>
</div>
<!--solution-con end-->

<!-- /etc/footer.shtml Start -->
<!--footer-wrap start-->
<div id="footer-wrap">
    <div class="footer-box">
        <div class="maxWidth">
            <div class="footer-item">
                <h3>关于我们</h3>
                <ul class="footer-map">
                    <li><a href="http://www.yunshicloud.com/about/cdvcloud/index.html">云视科技</a></li>
                    <li><a href="http://www.yunshicloud.com/case/index.html">客户案例</a></li>
                    <li><a href="http://www.yunshicloud.com/news/index.html">新闻动态</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <h3>产品服务</h3>
                <ul class="footer-map">
                    <li><a href="https://onair.yunshicloud.com/">视频云</a></li>
                    <li><a href="https://app.huaweicloud.com/seller/96bc77ac04544f6b8069d503c9b315e4">媒体云</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <h3>联系我们</h3>
                <div class="footer-lxwm">
                    <p>电话：010-62977026/400-900-7025</p>
                    <p>邮编：100085</p>
                    <p>邮箱：mkt@yunshicloud.com</p>
                </div>
            </div>
            <div class="footer-item footer-item-last">
                <h3>关注云视</h3>
                <div class="footer-weixin"><img src="img/weixin.jpg"  alt="图片"></div>
            </div>
        </div>
    </div>
    <!--Mobile footer-box start-->
    <div class="m-footer-box">
        <h3>法律声明 | 隐私政策声明</h3>
        <div class="law-box clearfix">
            <ul class="law clearfix">
                <li class="law-1">云视微信</li>
                <li class="law-2">云视微博</li>
            </ul>
            <ul class="law clearfix">
                <li class="law-3">010-62977026</li>
                <li class="law-4">mkt@yunshicloud.com</li>
                <li class="law-5">可信合规</li>
            </ul>
        </div>
    </div>
    <!--Mobile footer-box end-->
    <div class="copyright">
        <p>版权所有&copy;北京阳光云视科技有限公司 2018     <span>京ICP备17015824号-4</span></p>
        <p class="address">地址：北京市海淀区上地信息路7号弘源首著大厦5层5017室</p>
    </div>
</div>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../../common/js/main.js"></script>

</body>
</html>