<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>互动直播解决方案</title>
    <meta name="keywords" content="阳光云视" />
    <meta name="description" content="阳光云视" />
    <!-- /etc/htmlhead.shtml Start -->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link class="css_style" rel="stylesheet" href="css/list_style.css" />
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css"/>
    <link rel="stylesheet" href="../../common/css/base.css">
    <link rel="stylesheet" href="css/scBase.css">
    <link rel="stylesheet" type="text/css" href="css/lives.css"/>
    <meta name="author" content="yh 2921" />
</head>
<body>
<!-- /etc/header.shtml start -->
<!--header-wrap start-->
<div id="header-wrap"></div>
<!--header-wrap end-->
<!-- /etc/header.shtml end -->
<!--service-banner start-->
<div class="service-banner solution-banner-meet">
    <div class="maxWidth">
        <div class="service-banner-txt" style="width: 569px;">
            <h2>互动直播解决方案</h2>
            <p>直播平台为广电及其他有直播相关需求的机构提供了一整套完整的互动直播方 案，可满足用户机构活动直播及主播直播等多场景的直播需求。直播平台提供了 APP、H5多终端呈现页面，在常规活动直播基础上，还包含直播打赏、横竖屏直 播、多机位直播、自定义直播间菜单、实时聊天、直播带货等丰富功能，可满足用户不同的直播场景及需求。</p>
            <!--<a href="https://onair.yunshicloud.com" target="_blank">服务咨询</a>-->
        </div>
    </div>
</div>
<!--service-banner end-->
<!-- /etc/solution-subnav.shtml Start -->
<!--subnavbar start-->
<div class="subnavbar">
    <div class="maxWidth">
        <ul class="subnavbar-menu">
            <li>
                <a href="#solution-con-1">方案优势</a>
            </li>
            <li>
                <a href="#solution-con-2">解决方案架构</a>
            </li>
            <li>
                <a href="#solution-con-3">典型应用场景</a>
            </li>            
        </ul>
    </div>
</div>
<!--subnavbar end-->
<!-- /etc/solution-subnav.shtml End -->
<!--solution-con start-->
<div class="solution-con" id="sc_app">
    <!--2.1服务内容-->
    <div class="section solution-service" id="solution-con-1">
        <h2 class="service-tie">方案优势</h2>
        <div class="maxWidth">
            <div class="sc_serviceFeatures">
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>界面丰富</h2>
                        <p>有活动直播、图文直播、三方直播三种不同类型直播的创建；横屏、竖屏直播，并可进行基于实时消息的互动聊天； 直播节目预告、倒计时功能，满足重大直播提前宣传、预热场景；本场直播中，粉丝观众的打赏排名榜单，激励忠实粉丝打赏冲榜；主播直播客户端APP创建直播间支持编辑直播间名称、直播间封面图、选择本场直播的分类；主播直播客户端APP支持选择商品库中的商品到本场直播中，进行直播带货；主播直播客户端APP支持主播美颜设置，包括贴纸、磨皮、美白、红润程度设置。</p>
                    </div>
                </div>
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>评论监管</h2>
                        <p>可开启评论机器人，直播时可定时向直播间推送暖场评论；可设置评论定时发布；可以导入评论库中的评论以及手动添加评论至评论列表。</p>
                    </div>
                </div>
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>主播与粉丝管理</h2>
                        <p>主播（粉丝）在进行实名认证后在APP端申请开启直播，并可使用APP进行推流；针对主播直播时针对评论、暖场评论机器人、授权公众号及分享后是否导流至APP的相关开关设置；虚拟粉丝库中粉丝与虚拟评论库中评论随机组合，推送至直播间，用户直播暖场；对主播是否具备开启直播权限的认证审核，审核通过后，主播才可以开启直播。</p>
                    </div>
                </div>
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>收益提现</h2>
                        <p>处理各租户、各主播的提现申请，后台审核通过后可直接打款至机构租户、主播绑定的相关账户内；可设置微信、支付宝的充值收款账号；设置租户、主播提现时的单笔提现最低金额、单日提现上线；设置主播在本平台所获得收益的抽成比例。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 2.4 解决方案架构-->
    <div class="section solution-chall" id="solution-con-2">
        <h2 class="service-tie">解决方案架构</h2>
        <div class="maxWidth">
            <div class="com-solute-out clearfix sc_county_frame">
                <!-- <p>新时代文明实践中心系列产品是构建在OnAir PaaS+平台上的一系列SaaS服务，秉承着一个网络、统一认证、多终端融合、多业务融合、多功能融合的设计理念，以开放思想为各实践中心机构提供面向互联网的云端服务。方便用户进行快速部署，使用。</p> -->
                <div class="sc_frame_div">
                    <img src="img/Lives/liveJiaGou.png"  alt="图片">
                    <!-- <img src="img/Lives/liveJiaGou2.png"  alt="图片"> -->

                </div>
            </div>
            <!--/com-solute-out-->
        </div>
    </div>
    <!--  3.3典型应用场景-->
    <div class="section solution-service" id="solution-con-3">
        <h2 class="service-tie">典型应用场景</h2>
        <div class="maxWidth">
            <div class="sc_serviceFeatures sc_serviceFeatures2">
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>多端直播</h2>
                        <p>直播平台提供了H5直播观看页及安卓/iOS原生直播观看页，可满足自有APP直播、微信直播等多种不同的直播场景。</p>
                    </div>
                </div>
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>活动直播</h2>
                        <p>可满足机构日常的节日、大型会议及各类活动的直播需求，也可使用直播平台提供云导播工具完成多机位的切换。</p>
                    </div>
                </div>
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>主播互动直播</h2>
                        <p>直播平台为机构用户搭建了一套可以支持粉丝、网络主播开启直播的互动直播平台，主播通过实名认证后即可在用户自由APP上进行直播，主播可通过直播打赏获得礼物收益分成。</p>
                    </div>
                </div>
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>集成至用户已有APP</h2>
                        <p>直播平台除了提供完成的自有解决方案外，还可与用户现有APP对接，可通过互动直播原生SDK嵌入及H5页面嵌入两种方式，可根据项目实际情况进行对接，满足部分用户想在已有直播基础上增加互动直播功能的需求。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--solution-con end-->
<!--立即注册开始-->
<div class="sc_register_wrap">
    <div class="maxWidth">
        <div class="sc_register_main clearfix">
            <div class="sc_register_describe sc_fl">
                <h4>满足您的个性需求</h4>
                <p>为您定制互动直播解决方案</p>
            </div>
            <div class="sc_register_btn hide sc_fr">
                <a href="" target="_blank">立即注册</a>
            </div>
        </div>
    </div>
</div>
<!--立即注册结束-->
<!-- /etc/footer.shtml Start -->
<!--footer-wrap start-->
<div id="footer-wrap"></div>

<!--footer end-->
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.yunshicloud.com/vue/2.5.16/vue.min.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../../common/js/main.js"></script>
<script src="js/scBase.js" type="text/javascript" charset="utf-8"></script>
<script src="js/newEra.js"></script>
</body>

</html