<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>金融-解决方案-阳光云视</title>
    <meta name="keywords" content="阳光云视"/>
    <meta name="description" content="阳光云视"/>
    <!-- /etc/htmlhead.shtml Start -->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link class="css_style" rel="stylesheet" href="css/list_style.css"/>
    <meta name="author" content="yh 2921" />
    <!-- /sn/htmlhead.shtml End -->
</head>

<body>
<!-- /etc/header.shtml start -->
<!--header-wrap start-->
<div id="header-wrap">

</div>
<!--header-wrap end-->
<!-- /etc/header.shtml end -->

<!--service-banner start-->
<div class="service-banner solution-banner-finance">
    <div class="maxWidth">
        <div class="service-banner-txt">
            <h2>金融行业视频解决方案</h2>
            <p>券商、证券投资咨询管理公司、银行、保险、期货等金融机构以视频直播、点播的方式提供安全可靠的证券市场新闻动态、股票市场实时分析、评论等服务。</p>
            <a href="https://onair.yunshicloud.com" target="_blank">立即体验</a>
        </div>
    </div>
</div>
<!--service-banner end-->

<!-- /etc/solution-subnav.shtml Start -->
<!--subnavbar start-->
<div class="subnavbar">
    <div class="maxWidth">
        <ul class="subnavbar-menu">
            <li><a href="#solution-con-1">服务内容</a></li>
            <li><a href="#solution-con-2">行业挑战</a></li>
            <li><a href="#solution-con-3">方案优势</a></li>
            <li><a href="#solution-con-4">推荐架构</a></li>
            <li><a href="#solution-con-5">客户案例</a></li>
        </ul>
    </div>
</div>
<!--subnavbar end-->
<!-- /etc/solution-subnav.shtml End -->

<!--solution-con start-->
<div class="solution-con">
    <!--服务内容-->
    <div class="section solution-service" id="solution-con-1">
        <h2 class="service-tie">服务内容</h2>
        <div class="maxWidth">
            <div class="com-solute-out">
                <h3>金融行业服务内容</h3>
                <p>面向券商、证券投资咨询管理公司、银行、保险、期货等金融机构，为金融证券行业提供专业级的音视频直播、点播能力，做到低延时观看、高并发承载，支持跨地域
                    实时直播。同时为满足金融用户对视频安全的要求，提供视频防盗链、黑白名单、播放鉴权、视频加密、授权观看等视频安全保护手段。服务可实现音视频内容的快速
                    发布，且兼容性出众，能适配绝大多数移动端设备，并可根据用户的网络环境自动选择最适合的画面分辨率，为大众提供出色的使用体验。</p>
            </div>
        </div>
    </div>
    <!--行业挑战-->
    <div class="section solution-chall" id="solution-con-2">
        <h2 class="service-tie">行业挑战</h2>
        <div class="maxWidth">
            <div class="com-solute-out clearfix">
                <i class="chall-ico chall-ico-8"></i>
                <div class="txt">
                    <h3>技术积累</h3>
                    <p>没有技术积累，缺少专业的技术人员，搭建音视频业务门槛高</p>
                </div>
            </div><!--/com-solute-out-->
            <div class="com-solute-out clearfix">
                <i class="chall-ico chall-ico-9"></i>
                <div class="txt">
                    <h3>传播渠道</h3>
                    <p>传播渠道受限，实现多终端发布，触达更多用户</p>
                </div>
            </div><!--/com-solute-out-->
        </div>
    </div>
    <!--方案优势-->
    <div class="section solution-advant" id="solution-con-3">
        <h2 class="service-tie">方案优势</h2>
        <div class="maxWidth">
            <ul class="solution-advant-ul solution-advant-ul-two">
                <li class="com-solute-out">
                    <i class="advant-ico advant-ico-1"></i>
                    <div class="txt">
                        <h3>提供视频防盗链</h3>
                        <p>黑白名单、播放鉴权、视频加密、授权观看等视频安全保护手段</p>
                    </div>
                </li>
                <li class="com-solute-out">
                    <i class="advant-ico advant-ico-2"></i>
                    <div class="txt">
                        <h3>高并发、低延时</h3>
                        <p>通过内容智能分发网络应对大流量访问，实现直播稳定流畅.低延时</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--推荐架构-->
    <div class="section solution-scene" id="solution-con-4">
        <h2 class="service-tie">推荐架构</h2>
        <div class="maxWidth">
            <div class="img"><img src="./img/solution/finance-scene.png" alt="图片"></div>
        </div>
    </div>
    <!--客户案例-->
    <div class="section solution-case" id="solution-con-5">
        <h2 class="service-tie">客户案例</h2>
        <div class="maxWidth">
            <ul class="solution-case-list com-solute-out">
                <li><img src="./img/solution/finance-case-1.jpg" alt="图片"></a></li>
                <li><img src="./img/solution/finance-case-2.png" alt="图片"></a></li>
                <li><img src="./img/solution/finance-case-3.png" alt="图片"></a></li>
            </ul>
        </div>
    </div>
</div>
<!--solution-con end-->

<!-- /etc/footer.shtml Start -->
<!--footer-wrap start-->
<div id="footer-wrap">

</div>
<!--footer end-->

<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../../common/js/main.js"></script>

<!-- /etc/footer.shtml End -->

</body>
</html>