<!DOCTYPE HTML>
<html>

	<head>
		<meta charset="utf-8">
		<title>媒体行业内容管理解决方案-阳光云视</title>
		<meta name="keywords" content="阳光云视" />
		<meta name="description" content="阳光云视" />
		<!-- /etc/htmlhead.shtml Start -->
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
		<link class="css_style" rel="stylesheet" href="css/list_style.css" />
		<link rel="stylesheet" href="../../common/css/base.css">
		<link rel="stylesheet" href="css/scBase.css">
		<meta name="author" content="yh 2921" />
		<!-- /sn/htmlhead.shtml End -->
	</head>

	<body>
		<!-- /etc/header.shtml start -->
		<!--header-wrap start-->
		<div id="header-wrap"></div>
		<!--header-wrap end-->
		<!-- /etc/header.shtml end -->

		<!--service-banner start-->
		<div class="service-banner solution-banner-manage">
			<div class="maxWidth">
				<div class="service-banner-txt">
					<h2>媒体行业内容管理解决方案</h2>
					<p>智能云媒资服务采用先进的云计算、大数据、人工智能等技术，为用户提供了一套实现媒体资料的入库、编目、检索、存储、管理、发布于一体的全新的智能云媒体管理平台。通过规范的存储格式，智能的审核、编目技术，灵活自定义的编目模板、强大的搜索引擎技术以及云计算的高效计算能力，实现了对媒体资料的集中管理和高效利用。</p>
					<!--<a href="https://onair.yunshicloud.com" target="_blank">立即体验</a>-->
				</div>
			</div>
		</div>
		<!--service-banner end-->

		<!-- /etc/solution-subnav.shtml Start -->
		<!--subnavbar start-->
		<div class="subnavbar">
			<div class="maxWidth">
				<ul class="subnavbar-menu">
					<li>
						<a href="#media_mana-1">方案优势</a>
					</li>
					<li>
						<a href="#media_mana-2">解决方案架构</a>
					</li>
					<li>
						<a href="#media_mana-3">典型应用场景</a>
					</li>
					<li>
						<a href="#media_mana-4">典型案例</a>
					</li>
				</ul>
			</div>
		</div>
		<!--subnavbar end-->
		<!-- /etc/solution-subnav.shtml End -->

		<!--solution-con start-->
		<div class="solution-con" id="sc_app">


			<div class="section solution-chall" id="media_mana-1">
				<h2 class="service-tie">方案优势</h2>
				<div class="media_manage_1">
					<ul>
						<li>
							<div class="me_m_box">
								<div class="top_img">
									<img src="./img/mediaSolutions/image-%20(4).jpg" alt="">
								</div>
								<h3>
									价值最大化
								</h3>
								<div class="bottom_text">
									融入运营理念，使长期积累的资产价值最大化
								</div>
							</div>
						</li>
						<li>
							<div class="me_m_box">
								<div class="top_img">
									<img src="./img/mediaSolutions/image-%20(5).jpg" alt="">
								</div>
								<h3>
									效率最大化
								</h3>
								<div class="bottom_text">
									媒体资源标签化、智能化，辅助人工，提高效率
								</div>
							</div>
						</li>
						<li>
							<div class="me_m_box">
								<div class="top_img">
									<img src="./img/mediaSolutions/image-%20(6).jpg" alt="">
								</div>
								<h3>
									安全最大化
								</h3>
								<div class="bottom_text">
									数字版权、区块链技术，保障内容安全可溯源
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="section solution-scene" id="media_mana-2">
				<h2 class="service-tie">解决方案架构</h2>
				<div class="maxWidth">
					<div class="img sc_solve_wrap"><img src="./img/mediaSolutions/image-%20(7).jpg" alt="图片"></div>
				</div>
			</div>

			<div class="section solution-scene" id="media_mana-3">
				<h2 class="service-tie">典型应用场景</h2>
				<div class="edu_media_box_2">
					<ul>
						<li>
							<div class="media_four_box">
								<div class="left_ico">
									<img src="./img/mediaSolutions/image-%20(8).jpg" alt="">
								</div>
								<div class="right_text">
									<h3>海量资料有效存储</h3>
									<div class="con_box">
										主题式融合媒体资产的保存和再利用采集、编目、归档、发布、检索推荐全流程应用
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="media_four_box">
								<div class="left_ico">
									<img  src="./img/mediaSolutions/image-%20(9).jpg" alt="">
								</div>
								<div class="right_text">
									<h3>泛行业普遍应用</h3>
									<div class="con_box">
										企事业单位上传、下发、共享资源平行机关间的资源交换、共享
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="media_four_box">
								<div class="left_ico">
									<img  src="./img/mediaSolutions/image-%20(1).jpg" alt="">
								</div>
								<div class="right_text">
									<h3>多维挖掘价值内容</h3>
									<div class="con_box">
										互联网感知，热点、重点内容智能推荐；用户+内容感知，关联推荐和智能搜索

									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="media_four_box">
								<div class="left_ico">
									<img  src="./img/mediaSolutions/image-%20(1).png" alt="">
								</div>
								<div class="right_text">
									<h3>内容运营变现</h3>
									<div class="con_box">
										一键发布至头条系（含抖音）、阿里系、腾讯系、百度系等多个流量平台

									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="section solution-case" id="media_mana-4">
				<h2 class="service-tie">典型案列</h2>
				<div class="me_media_box_4">
                       <ul>
						   <li>
							   <a href="/components/customerCase/customerCaseDetail/004.html" class="me_4_box">
								   <div class="top_img">
									   <img src="/components/customerCase/customerCaseDetail/img/a679187d-478e-493c-8abe-bbb09ef528d6.png" alt="">
								   </div>
								   <h3>
									   中央电视台综合制作云

								   </h3>
								   <div class="bottom_text">
									   随着新技术的飞速发展以及观众对节目形式和内容的需求逐步提高，传统的电视台节目制作形式急需升级，以适应越来越大的节目生产规模、越来越短的节目制作周期和更加丰富的节目展现形式。在云计算、大数据的技术浪潮中，探索节目综合制作业务的云化和移动化方式，实现资源的云端共享、协同，优化节目制作流程，提高节目生产效率，已成为中央电视台在媒体融合大趋势下积极探索的新课题。
								   </div>
							   </a>
						   </li>
						   <li>
							   <a href="/components/customerCase/customerCaseDetail/a003.html" class="me_4_box">
								   <div class="top_img">
									   <img src="/components/customerCase/customerCaseDetail/img/xhwkhd.png" alt="">
								   </div>
								   <h3>
									   新华网客户端直播系统

								   </h3>
								   <div class="bottom_text">
									   随着新华网客户端业务的不断开展，内容展现方式成多样化发展。直播作为一种重要的媒介形态及内容呈现方式，随着其门槛的降低和交互方式的多元化被越来越多的人所接受。相比其他的信息传播载体，视频直播能够承载更多的信息量，在信息交流的深度上具有明显的优势。在4G网络普及、5G即将兴起的背景下，视频直播应用已经渗透到诸多垂直行业，在媒体资讯的应用也日趋普遍和成熟。新华网急需拓展直播业务，新华网客户端内容和呈现方式需优化升级，让新闻资讯、知识内容等信息传播更及时更高效。
								   </div>
							   </a>
						   </li>
						   <li>
							   <a href="/components/customerCase/customerCaseDetail/002.html" class="me_4_box">
								   <div class="top_img">
									   <img src="/components/customerCase/customerCaseDetail/img/a2f3f6f1-abbd-4ec2-851b-90935709c761.png" alt="">
								   </div>
								   <h3>
									   国际台中华云

								   </h3>
								   <div class="bottom_text">
									   当前，网络和数字技术迅猛发展，国际传播和媒体生态环境发生深刻变化，传统媒体和新兴媒体相互融合的全媒体时代已经到来。国际台作为国家国际传播主力军和主阵地，把握媒体发展趋势，规划实施多媒体融合、多媒体发展战略，集成了广播媒体、网络媒体、视频媒体、平面媒体、影视译制等五大业务集群，并建设了由PC端、移动端、TV端组成的新媒体方阵，节目制播共涉及65个语种、180多个国家和地区。庞大的业务链及覆盖面积给国际台全媒体业务的采集、存储、制作、发布、传输、管理等能力造成了极大的挑战，“中华云”平台也因此应运而生。
								   </div>
							   </a>
						   </li>
					   </ul>
				</div>
			</div>
		</div>

		<div class="sc_register_wrap">
			<div class="maxWidth">
				<div class="sc_register_main clearfix">
					<div class="sc_register_describe sc_fl">
						<h4>满足您的个性需求</h4>
						<p>为您定制省、市级融媒体平台解决方案</p>
					</div>
					<div class="sc_register_btn hide sc_fr">
						<a href="" target="_blank">立即注册</a>
					</div>
				</div>
			</div>
		</div>
		<!--立即注册结束-->
		<!-- /etc/footer.shtml Start -->
		<!--footer-wrap start-->
		<div id="footer-wrap"></div>

		<!--footer end-->

		<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
		<script src="//cdn.yunshicloud.com/vue/2.5.16/vue.min.js"></script>
		<script src="../../common/js/base.js"></script>
		<script src="../../common/js/main.js"></script>
		<script src="js/bigMedia.js"></script>
	</body>

</html>