<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>媒体云-解决方案-阳光云视</title>
    <meta name="keywords" content="阳光云视"/>
    <meta name="description" content="阳光云视"/>
    <!-- /etc/htmlhead.shtml Start -->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link class="css_style" rel="stylesheet" href="css/list_style.css"/>
    <link rel="stylesheet" href="../../common/css/base.css">
    <meta name="author" content="yh 2921" />
    <!-- /sn/htmlhead.shtml End -->
</head>

<body>
<!-- /etc/header.shtml start -->
<!--header-wrap start-->
<div id="header-wrap">

</div>
<!--header-wrap end-->
<!-- /etc/header.shtml end -->

<!--service-banner start-->
<div class="service-banner solution-banner-meiti">
    <div class="maxWidth">
        <div class="service-banner-txt">
            <h2>媒体云解决方案</h2>
            <p>面向大传媒行业用户提供“云+网+端”三位一体敏捷定制化一站式服务，助力传媒行业用户在融合媒体大环境下实现“采、编、发、存”的流程再造</p>
            <a href="https://market.huaweicloud.com/seller/96bc77ac04544f6b8069d503c9b315e4" target="_blank">立即体验</a>
        </div>
    </div>
</div>
<!--service-banner end-->

<!-- /etc/solution-subnav.shtml Start -->
<!--subnavbar start-->
<div class="subnavbar">
    <div class="maxWidth">
        <ul class="subnavbar-menu">
            <li><a href="#solution-con-1">服务内容</a></li>
            <li><a href="#solution-con-2">行业挑战</a></li>
            <li><a href="#solution-con-3">方案优势</a></li>
            <li><a href="#solution-con-4">推荐架构</a></li>
            <li><a href="#solution-con-5">客户案例</a></li>
        </ul>
    </div>
</div>
<!--subnavbar end-->
<!-- /etc/solution-subnav.shtml End -->

<!--solution-con start-->
<div class="solution-con">
    <!--服务内容-->
    <div class="section solution-service" id="solution-con-1">
        <h2 class="service-tie">服务内容</h2>
        <div class="maxWidth">
            <div class="com-solute-out">
                <h3>媒体云服务内容</h3>
                <p>媒体云提供针对媒体行业业务的新闻外场、新闻制作、媒体内容管理、新闻分发以及新闻终端，完成了媒体行业在融合媒体背景下的全业务生产工艺。另外，随着融合媒体的发展，应用云计算带来的很多能力，为媒体行业提供有专业直播、互联网内容汇聚、新闻指挥调度以及粉丝管理等新的应用，进一步提高媒体内容的生产效率和内容传播效果。</p>
            </div>
        </div>
    </div>
    <!--行业挑战-->
    <div class="section solution-chall" id="solution-con-2">
        <h2 class="service-tie">行业挑战</h2>
        <div class="maxWidth">
            <div class="com-solute-out clearfix">
                <i class="chall-ico chall-ico-16"></i>
                <div class="txt">
                    <h3>资源难以共享</h3>
                    <p>传统烟囱式的网络，无法解决计算、存储等基础资源的共享；独立云平台的结构，无法解决文件内容的共享；异构云平台的架构，无法解决转码、技审等媒体能力的共享</p>
                </div>
            </div><!--/com-solute-out-->
            <div class="com-solute-out clearfix">
                <i class="chall-ico chall-ico-17"></i>
                <div class="txt">
                    <h3>业务流程繁复</h3>
                    <p>传统系统业务流程繁复、单一、适配能力差，重型业务流程已无法适应互联网环境下快速、简洁、多样化、高适应性的需求；建立业务流程的智能驱动，优化和再造流程</p>
                </div>
            </div><!--/com-solute-out-->
            <div class="com-solute-out clearfix">
                <i class="chall-ico chall-ico-18"></i>
                <div class="txt">
                    <h3>内容无感知</h3>
                    <p>由于缺乏媒体大数据平台及工具，无法将媒体内容与人、与事件、与行为进行有效的关联，媒体资产内容深埋在资源库中，无法再利用</p>
                </div>
            </div><!--/com-solute-out-->
            <div class="com-solute-out clearfix">
                <i class="chall-ico chall-ico-19"></i>
                <div class="txt">
                    <h3>工具专属单一</h3>
                    <p>传统网络架构由于受到应用集成商绑架限制，导致网络中可提供的生产加工应用工具简单、单一，使用人员无法根据自己的喜好选择应用软件和工具</p>
                </div>
            </div><!--/com-solute-out-->
        </div>
    </div>
    <!--方案优势-->
    <div class="section solution-advant" id="solution-con-3">
        <h2 class="service-tie">方案优势</h2>
        <div class="maxWidth">
            <ul class="com-solute-out solution-advant-ul solution-advant-ul-four">
                <li>
                    <i class="advant-ico advant-ico-12"></i>
                    <div class="txt">
                        <h3>新闻PGC</h3>
                        <p>随时随地拍摄素材，稿件编辑一键回传全景照片拍摄，一键嵌入文稿</p>
                    </div>
                </li>
                <li>
                    <i class="advant-ico advant-ico-13"></i>
                    <div class="txt">
                        <h3>多终端发布</h3>
                        <p>微信、新浪微博、今日头条等多个社交媒体终端一键发布，提供专业矩阵发布平台</p>
                    </div>
                </li>
                <li>
                    <i class="advant-ico advant-ico-14"></i>
                    <div class="txt">
                        <h3>智能化媒体库</h3>
                        <p>灵活上传、可靠存储、高效管理以及安全便利的交换，提供多终端、多媒体的云端智能媒体资产管理库</p>
                    </div>
                </li>
                <li>
                    <i class="advant-ico advant-ico-15"></i>
                    <div class="txt">
                        <h3>专业直播管控</h3>
                        <p>高可靠安全保障，覆盖全国高并发/低延时，提供一站式融媒体专业直播</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--推荐架构-->
    <div class="section solution-scene" id="solution-con-4">
        <h2 class="service-tie">推荐架构</h2>
        <div class="maxWidth service-scene-bd solution-scene-meiti">
            <div class="img"><img src="./img/solution/meiti-scene.png"  alt="图片"></div>
            <ul class="service-scene-ul">
                <li><h4>互联网的蓬勃发展</h4><p>人们获取各种媒体资讯的渠道正从传统媒体渠道转向为更易获取、支持互动分享、用户体验更好的移动新媒体渠道</p></li>
                <li><h4>媒体融合已上升为国家战略</h4><p>推动传统媒体和新兴融合媒体发展，是国家着眼巩固宣传思想文化阵地、壮大主流思想舆论作出的重大战略部署</p></li>
                <li><h4>媒体融合是互联网+时代的必然要求</h4><p>互联网时代信息的传播体现出了社交化、移动化、视频化的趋势</p></li>
                <li><h4>媒体融合利用最新的大数据云计算架构</h4><p>利用“云优先”的架构再造实现媒体行业的业务流程再造</p></li>
                <li><h4>媒体融合强调大传媒行业的“移动优先”</h4><p>强调人成了传播的主体与中心，以用户为中心的传播模式，更强调人与人之间的主动传播，更强调快速的业务部署能力</p></li>
                <li><h4>采用人工智能技术</h4><p>媒体融合采用人工智能的技术，将内容赋能，实现全网舆情分析、内容感知推荐等能力。</p></li>
            </ul>
        </div>
    </div>
    <!--客户案例-->
    <div class="section solution-case solution-case-meiti" id="solution-con-5">
        <h2 class="service-tie">客户案例</h2>
        <div class="maxWidth">
            <div class="solu-case-item">
                <img src="./img/solution/meiti-case-1.png"  alt="图片">
                <p>云南台七彩云实现了融合媒体下的内容生产，并且利用共同运营的模式构建了面向全省新闻媒体机构的七彩云平台实现全新新闻的共享共赢的新模式</p>
                </a>
            </div>
            <div class="solu-case-item">
                <img src="./img/solution/meiti-case-2.png"  alt="图片">
                <p>重庆第一眼新闻APP的新闻内容生产系统采用媒体云服务完成了重点新闻客户端的新闻的生产发布业务</p>
                </a>
            </div>
            <div class="solu-case-item">
                <img src="./img/solution/meiti-case-3.png"  alt="图片">
                <p>贵州广播电视台的多彩云采用了媒体云的应用解决方案，实现了混合云架构下的全台融合生产系统的平台，为全台提供了应用产品</p>
                </a>
            </div>
            <div class="solu-case-item">
                <img src="./img/solution/meiti-case-4.png"  alt="图片">
                <p>山西云媒体由山西电视台和山西日报社共同成立面向融合媒体的全新媒体，采用了媒体云解决方案，为全新组织架构下的新兴融合媒体提供了新闻生产发布系统的解决方案</p>
                </a>
            </div>
            <div class="solu-case-item">
                <img src="./img/solution/meiti-case-5.png"  alt="图片">
                <p>江苏广播电视总台承建的荔枝云平台，采用了多个媒体云应用完成了全台融合媒体下的新闻内容生产、媒体资产管理以及广告内容管理等新应用</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!--solution-con end-->

<!--立即注册-->
<div class="solution-reg">
    <div class="maxWidth">
        <div class="txt">
            <a class="reg-btn" href="https://app.huaweicloud.com/seller/96bc77ac04544f6b8069d503c9b315e4" target="_blank">立即体验</a>
            <h4>满足您的个性化需求</h4>
            <p>全方面助力传媒行业用户在融合媒体行业的流程再造</p>
        </div>
    </div>
</div>

<!-- /etc/footer.shtml Start -->
<!--footer-wrap start-->
<div id="footer-wrap">

</div>
<!--footer end-->


<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../../common/js/main.js"></script>

<!-- /etc/footer.shtml End -->
</body>
</html>