
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>新时代文明实践中心</title>
    <meta name="keywords" content="阳光云视" />
    <meta name="description" content="阳光云视" />
    <!-- /etc/htmlhead.shtml Start -->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link class="css_style" rel="stylesheet" href="css/list_style.css" />
    <link rel="stylesheet" type="text/css" href="../../common/css/common.css"/>
    <link rel="stylesheet" href="../../common/css/base.css">
    <link rel="stylesheet" href="css/scBase.css">
    <link rel="stylesheet" type="text/css" href="css/newTimes.css" />
    <meta name="author" content="yh 2921" />
</head>

<body>
<!-- /etc/header.shtml start -->
<!--header-wrap start-->
<div id="header-wrap"></div>
<!--header-wrap end-->
<!-- /etc/header.shtml end -->
<!--service-banner start-->
<div class="service-banner solution-banner-meet">
    <div class="maxWidth">
        <div class="service-banner-txt" style="width: 569px;">
            <h2>新时代文明实践中心解决方案</h2>
            <p>为推动习近平新时代中国特色社会主义思想更加深入人心，进一步加强改进农村基层宣传思想文化工作和精神文明建设，打通宣传群众、教育群众、关心群众、服务群众的 “最后一公里”，拟在全国县一级建设新时代文明实践中心。为大力宣传普及习近平新时代中国特色社会主义思想，积极培育和践行社会主义核心价值观，推动乡村文化振兴，促进文明城市创建，特为新时代文明实践中心建设制定相关技术方案。</p>
            <!--<a href="https://onair.yunshicloud.com" target="_blank">服务咨询</a>-->
        </div>
    </div>
</div>
<!--service-banner end-->
<!-- /etc/solution-subnav.shtml Start -->
<!--subnavbar start-->
<div class="subnavbar">
    <div class="maxWidth">
        <ul class="subnavbar-menu">
            <li>
                <a href="#solution-con-1">服务内容</a>
            </li>
            <li>
                <a href="#solution-con-2">方案优势</a>
            </li>
            <li>
                <a href="#solution-con-3">功能描述</a>
            </li>
            <li>
                <a href="#solution-con-4">解决方案架构</a>
            </li>
            <li>
                <a href="#solution-con-5">典型应用场景</a>
            </li>
            <li>
                <a href="#solution-con-6">两个中心业务融合</a>
            </li>
            
        </ul>
    </div>
</div>
<!--subnavbar end-->
<!-- /etc/solution-subnav.shtml End -->
<!--solution-con start-->
<div class="solution-con" id="sc_app">
    <!--2.1服务内容-->
    <div class="section solution-service" id="solution-con-1">
        <h2 class="service-tie">服务内容</h2>
        <div class="maxWidth">
            <div class="sc_serviceFeatures">
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>理论宣讲服务</h2>
                        <p>全面深入宣讲。采取集中辅导报告、讲座、培训或分散小型、面对面的咨询、访问、恳谈、交心、拉家常等形式，宣讲理论政策，倡树文化道德。</p>
                    </div>
                </div>
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>教育服务</h2>
                        <p>大力弘扬社会主义核心价值观，积极倡导社会公德、职业道德、家庭美德、个人品德，做文明有礼临朐人，培育崇德向善、文明有礼的社会风尚。</p>
                    </div>
                </div>
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>文化服务</h2>
                        <p>弘扬中华优秀传统文化、红色文化，传习文学艺术、绘画书法、传统习俗。</p>
                    </div>
                </div>
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>科技与科普服务</h2>
                        <p>开展科技成果发布、产学研合作、科技活动周、科普知识讲座、学术研究等活动。</p>
                    </div>
                </div>
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>健康体育服务</h2>
                        <p>组织开展劳动技能、科学技术、健康保健、传统技艺等实践活动，满足不同群体的工作生活需要。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 2.2方案优势 -->
    <div class="section solution-case" id="solution-con-2">
        <h2 class="service-tie">方案优势</h2>
        <ul class="maxWidth service-advant-ul">
            <li>
                <i class="advant-ico advant-ico-1"></i>
                <div class="txt">
                    <h3>需求点单：灵活配置，及时处理</h3>
                    <p>需求点单服务类型可根据各机构进行灵活配置，点单不再受空间限制，线上处理反馈大量节省了响应时间</p>
                </div>
            </li>
            <li>
                <i class="advant-ico advant-ico-2"></i>
                <div class="txt">
                    <h3>多样互动：内容多样，形式多样</h3>
                    <p>平台支持图文、视频、图集、动态等多种类型的内容创作及发布，并且以志愿者、粉丝、圈子、活动、服务等形式和群众进行多样互动。</p>
                </div>
            </li>
            <li>
                <i class="advant-ico advant-ico-3"></i>
                <div class="txt">
                    <h3>规范发展：团队组织高效运行</h3>
                    <p>联结微信小程序机构培训、知识管理软件进行志愿者团队的有序高效建设，团队活动建设，促进长效运营。</p>
                </div>
            </li>
            <li>
                <i class="advant-ico advant-ico-4"></i>
                <div class="txt">
                    <h3>健康激励：荣誉激励，积分激励</h3>
                    <p>通过积分累加、积分兑换、排行榜形式激励志愿者个人及团队，形成有效健康激励，促进用户活跃。</p>
                </div>
            </li>
        </ul>
        <ul class="maxWidth service-advant-ul  service-advant-ul2">
            <li>
                <i class="advant-ico advant-ico-5"></i>
                <div class="txt">
                    <h3>共建共赢：两个中心共同建设</h3>
                    <p>新时代文明实践中心系列产品可单独作为一个平台部署建设，也可与融媒体中心共同建设、运营、导流。</p>
                </div>
            </li>
            <li>
                <i class="advant-ico advant-ico-6"></i>
                <div class="txt">
                    <h3>多向分发：一键式多渠道分发</h3>
                    <p>内容生产完毕后，可以一键向互联网以及自主的客户端进行分发和发布。</p>
                </div>
            </li>
            <li>
                <i class="advant-ico advant-ico-7"></i>
                <div class="txt">
                    <h3>能力开放：接口灵活，对接开放</h3>
                    <p>可以灵活接入各种内容加工工具和能力，并且通过接口将内容沉淀形成区域内容资源池，持续积累提升影响力。</p>
                </div>
            </li>
        </ul>
    </div>
    <!--  2.3功能描述-->
    <div class="section solution-service" id="solution-con-3">
        <h2 class="service-tie">功能描述</h2>
        <div class="maxWidth">
            <div class="sc_serviceFeatures sc_serviceFeatures2">
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>新时代文明实践中心平台——主运营平台</h2>
                        <p>新时代文明实践中心平台，主要针对新时代文明实践中心全流程环节，包括内容生产、互联网分发、内容发布、实践中心运营等业务，解决文明实践中心痛点，开拓线上业务需求，帮助实践中心运营人员可以快速、便捷进行内容生产发布传播与中心运营管理。</p>
                    </div>
                </div>
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>移动APP——面向群众服务</h2>
                        <p>移动内容发布APP及H5微站集合新时代文明实践专属功能与内容资讯，呈现志愿团队、活动招募、排行榜、需求点单、文明随拍、积分兑换、知识大讲堂、个人中心，灵活配置发布文章、视频、图集、直播等内容展现，实现内容发布、信息传播、圈子互动、粉丝互动、点单互动等。</p>
                    </div>
                </div>
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>媒体号——志愿者创作阵地</h2>
                        <p>志愿者作为建设文明城市的主力军，通过媒体号平台将文章、视频、图集、动态等类型内容发布至移动客户端，为文明实践中心单位提供官方权威的传播途径和流量出口。文明实践中心通过媒体号的形式接纳区域内多个志愿者自媒体，可以提高平台移动客户端的信息及时性、丰富性，又能增强发布端所属媒体的影响力，继而形成良好的互动内容循环，促进机构建设的良性发展。</p>
                    </div>
                </div>
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>数据大屏——机构运营总览</h2>
                        <p>新时代文明实践中心建设向信息化、现代化建设方向，利用数字化大屏展示机构的日常数据总览查看。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 2.4 解决方案架构-->
    <div class="section solution-chall" id="solution-con-4">
        <h2 class="service-tie">解决方案架构</h2>
        <div class="maxWidth">
            <div class="com-solute-out clearfix sc_county_frame">
                <!-- <p>新时代文明实践中心系列产品是构建在OnAir PaaS+平台上的一系列SaaS服务，秉承着一个网络、统一认证、多终端融合、多业务融合、多功能融合的设计理念，以开放思想为各实践中心机构提供面向互联网的云端服务。方便用户进行快速部署，使用。</p> -->
                <div class="sc_frame_div">
                    <img src="img/newTime/jiaGou.png"  alt="图片">
                </div>
            </div>
            <!--/com-solute-out-->
        </div>
    </div>

    <!--2.5典型应用场景-->
    <div class="section solution-service" id="solution-con-5">
        <h2 class="service-tie">典型应用场景</h2>
        <div class="maxWidth">
            <div class="sc_serviceFeatures sc_serviceFeatures2">
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>志愿者管理——有效建设，有效管理</h2>
                        <p>“文明实践中心（所、站）的主体力量是志愿者，主要活动方式是志愿服务”。通过线上平台有效建设管理志愿者队伍，审核志愿者申请，对志愿者组织信息、志愿者个人信息、志愿时长、志愿轨迹等进行管理。</p>
                    </div>
                </div>
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>群众需求点单——渠道畅通，及时反馈</h2>
                        <p>新时代文明实践中心旨在宣传群众最想听的内容，开展群众最喜欢的活动，讲解群众最想学的知识，提供群众最需要的服务，解决群众最闹心的难题。为群众需求服务建立畅通的需求反馈渠道，通过机构运营人员在线接单并及时派单，利用有限资源最大提提升机构整体需求运营效率。</p>
                    </div>
                </div>
                <div class="service-fun-tab">
                    <i class="fun-icon"></i>
                    <div class="txt">
                        <h2>内容发布传播——提升文明实践中心机构及内容影响力</h2>
                        <p>内容创作发布涵盖图文、视频、图集、投票、报名等多种内容类型，灵活的展示形式，多样的互动方式，满足不同地域、各层次机构的多样化内容创作需求，有利于内容的广泛传播。</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- 5典型应用场景end -->

    <!--2.6两个中心业务融合-->
    <div class="section solution-chall" id="solution-con-6">
        <h2 class="service-tie">两个中心业务融合</h2>
        <div class="maxWidth">
            <div class="com-solute-out clearfix sc_county_frame com-solute-out2">
                <p>新时代文明实践中心和融媒体中心两中心分理实践和宣传这两个核心业务，彼此内容可以共同建设、信息共享。互相借力，进行优势互补、经验互补。两个平台都采用底层统一的统一用户管理体系，可以说实现相互引流，流量共建。从而相辅相成形成新时代融媒体宣传和文明实践的合力平台。</p>
                <div class="sc_frame_div">
                    <img src="img/newTime/towMix.png"  alt="图片">
                </div>
            </div>
            <!--/com-solute-out-->
        </div>
    </div>
</div>
<!--solution-con end-->
<!--立即注册开始-->
<div class="sc_register_wrap">
    <div class="maxWidth">
        <div class="sc_register_main clearfix">
            <div class="sc_register_describe sc_fl">
                <h4>满足您的个性需求</h4>
                <p>为您定制新时代文明实践中心解决方案</p>
            </div>
            <div class="sc_register_btn hide sc_fr">
                <a href="" target="_blank">立即注册</a>
            </div>
        </div>
    </div>
</div>
<!--立即注册结束-->
<!-- /etc/footer.shtml Start -->
<!--footer-wrap start-->
<div id="footer-wrap"></div>

<!--footer end-->
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdn.yunshicloud.com/vue/2.5.16/vue.min.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../../common/js/main.js"></script>
<script src="js/scBase.js" type="text/javascript" charset="utf-8"></script>
<script src="js/newEra.js"></script>
</body>

</html>