<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="阳光云视" />
		<meta name="description" content="阳光云视" />
		<!-- /etc/htmlhead.shtml Start -->
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
		<link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
		<link rel="stylesheet" type="text/css" href="../../common/css/common.css" />
		<link class="css_style" rel="stylesheet" href="css/list_style.css" />
		<link rel="stylesheet" href="../../common/css/base.css">
		<link rel="stylesheet" href="css/scBase.css">
		<link rel="stylesheet" type="text/css" href="css/newVideoCloud.css" />
		<meta name="author" content="yh 2921" />
		<title>视频云</title>
	</head>

	<body>
		<!-- /etc/header.shtml start -->
		<!--header-wrap start-->
		<div id="header-wrap"></div>
		<!--header-wrap end-->
		<!-- /etc/header.shtml end -->

		<!--service-banner start-->
		<div class="service-banner solution-banner-meet">
			<div class="maxWidth">
				<div class="service-banner-txt">
					<h2>行业视音频直播解决方案</h2>
					<p>专业技术团队精心打造的高品质、低延迟、简便易用的视音频直播服务，同时提供视音频直播、点播、发布、分享、互动的一体化解决方案，能够满足政府宣传、教育培训、金融证券婚庆活动、会展服务、电商服务、短视频平台等不同行业不同强度的运营需求</p>
					<a href="https://onair.yunshicloud.com/login.html" target="_blank">立即体验</a>
				</div>
			</div>
		</div>
		<!--service-banner end-->

		<!-- /etc/solution-subnav.shtml Start -->
		<!--subnavbar start-->
		<div class="subnavbar">
			<div class="maxWidth">
				<ul class="subnavbar-menu">
					<li>
						<a href="#solution-con-1">服务内容</a>
					</li>
					<li>
						<a href="#solution-con-2">业务挑战</a>
					</li>
					<li>
						<a href="#solution-con-3">典型应用场景</a>
					</li>
					<li>
						<a href="#solution-con-4">解决方案架构</a>
					</li>
				</ul>
			</div>
		</div>
		<!--subnavbar end-->
		<!-- /etc/solution-subnav.shtml End -->

		<!--solution-con start-->
		<div class="solution-con" id="sc_app">
			<!--服务内容-->
			<div id="solution-con-1" class="section solution-chall">
				<h2 class="service-tie">服务内容</h2>
				<div class="maxWidth">
					<div class="sc_serviceFeatures">
						<div class="service-fun-tab"><i class="fun-icon"></i>
							<div class="txt">
								<h2>直播服务</h2>
								<p>稳定流畅、低延时、高并发的实时音视频服务</p>
							</div>
						</div>
						<div class="service-fun-tab"><i class="fun-icon"></i>
							<div class="txt">
								<h2>云媒体库</h2>
								<p>极速稳定的上传、存储、播放和下载等服务</p>
							</div>
						</div>
						<div class="service-fun-tab"><i class="fun-icon"></i>
							<div class="txt">
								<h2>数字工厂</h2>
								<p>云导播、云轮播、直播拆条，助力快速处理音视频</p>
							</div>
						</div>
						<div class="service-fun-tab"><i class="fun-icon"></i>
							<div class="txt">
								<h2>智能发布</h2>
								<p>兼容微信、微博等大流量平台入口，精准垂直投放直播内容</p>
							</div>
						</div>
						<div class="service-fun-tab"><i class="fun-icon"></i>
							<div class="txt">
								<h2>数据分析</h2>
								<p>全方位统计数据深度梳理细微用户行为，智能转化推广线索</p>
							</div>
						</div>
						<div class="service-fun-tab"><i class="fun-icon"></i>
							<div class="txt">
								<h2>高清互动</h2>
								<p>远距离跨洋视频实时互动，高清多屏、画面清晰流畅，实时交互，简单易用</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--业务挑战-->
			<div class="section solution-chall" id="solution-con-2">
				<h2 class="service-tie">业务挑战</h2>
				<div class="maxWidth">
					<div class="com-solute-out clearfix">
						<!--放置于奇数下改变-->
						<div class="sc_router_wrap">
							<div class="sc_router">
								<div class="sc_router_main clearfix">
									<div class="sc_router_main_left sc_fl">
										<img src="img/newVideoCloud/iconi1.svg" alt="icon">
									</div>
									<div class="sc_router_main_right sc_fl">
										<h4>直播业务</h4>
										<p>视音频直播业务门槛高，没有技术积累，缺少专业的技术人员</p>
									</div>
								</div>
								<div class="sc_router_line">
									<img src="img/sc_line_1.png" alt="路线">
								</div>
								<div class="sc_router_main sc_router_main_ml clearfix">
									<div class="sc_router_main_left sc_fl">
										<img src="img/newVideoCloud/iconi2.svg" alt="icon">
									</div>
									<div class="sc_router_main_right sc_fl">
										<h4>传播渠道</h4>
										<p>传播渠道受限，视频内容无法快速发布，无法实现多终端发布，触达更多用户</p>
									</div>
								</div>
								<div class="sc_router_line">
									<img src="img/sc_line_2.png" alt="路线">
								</div>
								<div class="sc_router_main clearfix">
									<div class="sc_router_main_left sc_fl">
										<img src="img/newVideoCloud/iconi3.svg" alt="icon">
									</div>
									<div class="sc_router_main_right sc_fl">
										<h4>编辑管理</h4>
										<p>录制的内容不易编辑、保存与共享传播，内容管理和制作成本高</p>
									</div>
								</div>
								<div class="sc_router_line">
									<img src="img/sc_line_1.png" alt="路线">
								</div>
								<div class="sc_router_main sc_router_main_ml clearfix">
									<div class="sc_router_main_left sc_fl">
										<img src="img/newVideoCloud/iconi4.svg" alt="icon">
									</div>
									<div class="sc_router_main_right sc_fl">
										<h4>互动方式</h4>
										<p>互动方式贫瘠，难以分享</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/com-solute-out-->
				</div>
			</div>
			<!--方案优势-->
			<!--推荐架构-->
			<div class="section solution-scene" id="solution-con-3">
				<h2 class="service-tie">典型应用场景</h2>
				<div class="maxWidth">
					<div class="sc_scene_tab video_scene">
						<div class="sc_scene_li">
							<ul>
								<li class="active">
									<img src="img/newVideoCloud/iconk1.svg"  alt="图片">
									<p>婚庆行业</p>
								</li>
								<li>
									<img src="img/newVideoCloud/iconk2.svg"  alt="图片">
									<p>会展行业</p>
								</li>
								<li>
									<img src="img/newVideoCloud/iconk3.svg"  alt="图片">
									<p>金融行业</p>
								</li>
							</ul>
						</div>
						<div class="sc_scene_cont">
							<div class="active clearfloat solution_frame_div">
								<div class="scene_img solution_frame fl">
									<img src="img/newVideoCloud/shipin1.png" alt="图片">
								</div>
								<div class="scene_txt solution_frame_txt fl">
									<p class="scene_text scene_border">面向所有婚庆机构，通过跨地域直播实时互动、幸福视频快速分享观看等方式满足用户对于跨地域分享幸福、线上实时互动获取祝福的需求。可收入多机位信号进行直播，并做到音视频内容的及时分享，以将婚礼现场以及其他场景方便快捷的展示给亲朋好友，分享自己的幸福。同时提供简单易用、自由拼接、即时制作的视频编辑功能，使新人们可以记录下整场婚礼的高光片段。</p>
									<div class="scene_txt">
										<h2 class="sc_county_title">优势</h2>
										<ul class="sc_county_cont sc_framework_main_wrap">
											<li>
												<h3><span></span>一体化技术服务</h3>
												<p>直播、点播、数字工厂、内容分发</p>
											</li>
											<li>
												<h3><span></span>婚庆增值服务</h3>
												<p>跨地域分享幸福、线上实时互动获取祝福</p>
											</li>
											<li>
												<h3><span></span>内容分发</h3>
												<p>跨地域直播实时互动、幸福视频分享观看</p>
											</li>
										</ul>
										<h2 class="sc_county_title">案例</h2>
										<p class="scene_text">ONAIR视频云为唯一视觉提供移动端直播推流APP、直播流接入、处理、管理、分发等服务，具有低延迟、高安全、易接入、多终端等特点，产品操作简单，满足用户对于手机、全景摄像机、摄像机等设备的婚礼旅拍直播需求。</p>
										<div class="case_list">
											<li><img src="img/newVideoCloud/weiyi.png"  alt="图片"></li>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfloat solution_frame_div">
								<div class="scene_img solution_frame fl">
									<img src="img/newVideoCloud/shipin2.png" alt="图片">
								</div>
								<div class="scene_txt solution_frame_txt fl">
									<p class="scene_text scene_border">为会展公司、企业公关部门等提供了简单的视频应用，集采集、编辑、播放、管理、存储、发布为一体的视频化应用服务，能够快速发布视频内容，及时将信息传达给用户。同时提供云导播、流拆条、多机位等直播处理服务及直播后秒变点播、直播回看、数据分析、精准推广等服务，通过峰会论坛、展示发布、演唱会等各类型活动形式进行传播。</p>
									<div class="scene_txt">
										<h2 class="sc_county_title">优势</h2>
										<ul class="sc_county_cont sc_framework_main_wrap">
											<li>
												<h3><span></span>4K直播</h3>
												<p>4K清晰度 20Mbps 超大码率直播</p>
											</li>
											<li>
												<h3><span></span>百万级并发播放</h3>
												<p>满足百万用户同时在线的吞吐能力，全网加速带来极致体验</p>
											</li>
											<li>
												<h3><span></span>多分辨率实时转码</h3>
												<p>4K、2K、高清等实时直播转码，适配多终端观看</p>
											</li>
											<li>
												<h3><span></span>直播场景</h3>
												<p>支持海外直播、异地互动</p>
											</li>
										</ul>
										<h2 class="sc_county_title">案例</h2>
										<p class="scene_text">以“Growwith the Cloud”(云领未来)为主题，全程通过4K内容进行直播，覆盖五个展馆、2个酒店以及官网、移动端等线上方式进行发布；</p>
										<div class="case_list clearfloat">
											<li><img src="img/newVideoCloud/case1.png" alt="图片"></li>
										</div>
										<p class="scene_text">视频直播公有云服务快速实现企业年会解决方案，提供海外直播、异地互动等应用效果。</p>
										<div class="case_list clearfloat">
											<li><img src="img/newVideoCloud/case2.png"  alt="图片"></li>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfloat solution_frame_div">
								<div class="scene_img solution_frame fl">
									<img src="img/newVideoCloud/shipin3.png" alt="图片">
								</div>
								<div class="scene_txt solution_frame_txt fl">
									<p class="scene_text scene_border">面向券商、证券投资咨询管理公司、银行、保险、期货等金融机构，为金融证券行业提供专业级的音视频直播、点播能力，做到低延时观看、高并发承载，支持跨地域实时直播。同时为满足金融用户对视频安全的要求，提供视频防盗链、黑白名单、播放鉴权、视频加密、授权观看等视频安全保护手段。服务可实现音视频内容的快速发布，且兼容性出众，能适配绝大多数移动端设备，并可根据用户的网络环境自动选择最适合的画面分辨率，为大众提供出色的使用体验。</p>
									<div class="scene_txt">
										<h2 class="sc_county_title">优势</h2>
										<ul class="sc_county_cont sc_framework_main_wrap">
											<li>
												<h3><span></span>视频安全</h3>
												<p>提供视频防盗链、黑白名单、播放鉴权、视频加密、授权观看等视频安全保护手段</p>
											</li>
											<li>
												<h3><span></span>高并发、低延时</h3>
												<p>通过内容智能分发网络应对大流量访问，实现直播稳定流畅.低延时</p>
											</li>
										</ul>
										<h2 class="sc_county_title">案例</h2>
										<p class="scene_text">ONAIR视频云为兴业证券提供集视音频采集、编辑、上传自动化转码处理、媒体资源管理、分发加速于一体的一站式视音频点播解决方案，满足用户内容高并发、低延迟的业务需求。</P>
										<div class="case_list clearfloat">
											<li><img src="img/newVideoCloud/case4.png"  alt="图片"></li>
										</div>
										<p class="scene_text">ONAIR视频云为阿斯达克财经网提供直播流接入、处理、管理、分发等服务，满足用户对于嘉宾访谈直播、股票开市、闭市、专家采访等直播需求，内容同步发布至APP、Facebook、网站等。</p>
										<div class="case_list clearfloat">
											<li><img src="img/newVideoCloud/case3.png"  alt="图片"></li>
										</div>
										<!--<p class="scene_text"></p>
										<div class="case_list clearfloat">
											<li><img src="img/newVideoCloud/case5.png"  alt="图片"></li>
										</div>-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--解决方案架构-->
			<div class="section solution-scene" id="solution-con-4">
				<h2 class="service-tie">解决方案架构</h2>
				<div class="maxWidth">
					<div class="img sc_solve_wrap"><img src="img/newVideoCloud/frame.png" alt="图片"></div>
				</div>
			</div>
		</div>
		<!--solution-con end-->
		<!--立即注册开始-->
		<div class="sc_register_wrap">
			<div class="maxWidth">
				<div class="sc_register_main clearfix">
					<div class="sc_register_describe sc_fl">
						<h4>满足您的个性需求</h4>
						<p>为您定制行业视音频直播解决方案</p>
					</div>
					<div class="sc_register_btn hide sc_fr">
						<a href="" target="_blank">立即注册</a>
					</div>
				</div>
			</div>
		</div>
		<!--立即注册结束-->
		<!-- /etc/footer.shtml Start -->
		<!--footer-wrap start-->
		<div id="footer-wrap"></div>

		<!--footer end-->

		<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
		<script src="//cdn.yunshicloud.com/vue/2.5.16/vue.min.js"></script>
		<script src="../../common/js/base.js"></script>
		<script src="../../common/js/main.js"></script>
		<script src="js/scBase.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/newVideoCloud.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>