<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>视频云-解决方案-阳光云视</title>
    <meta name="keywords" content="阳光云视"/>
    <meta name="description" content="阳光云视"/>
    <!-- /etc/htmlhead.shtml Start -->
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link class="css_style" rel="stylesheet" href="css/list_style.css"/>
    <link rel="stylesheet" href="../../common/css/base.css">
    <meta name="author" content="yh 2921" />
    <!-- /sn/htmlhead.shtml End -->
</head>

<body>
<!-- /etc/header.shtml start -->
<!--header-wrap start-->
<div id="header-wrap">

</div>
<!--header-wrap end-->
<!-- /etc/header.shtml end -->

<!--service-banner start-->
<div class="service-banner solution-banner-video">
    <div class="maxWidth">
        <div class="service-banner-txt">
            <h2>视频云解决方案</h2>
            <p>ONAIR视频云解决方案涵盖直播、点播、媒体处理、智能发布、数据分析、高清互动等专业化服务，能够满足政府宣传、教育培训、金融证券、婚庆活动、电商服务、短视频平台等不同行业不同强度的运营需求</p>
            <a href="https://onair.yunshicloud.com/" target="_blank">立即体验</a>
        </div>
    </div>
</div>
<!--service-banner end-->

<!-- /etc/solution-subnav.shtml Start -->
<!--subnavbar start-->
<div class="subnavbar">
    <div class="maxWidth">
        <ul class="subnavbar-menu">
            <li><a href="#solution-con-1">服务内容</a></li>
            <li><a href="#solution-con-2">行业挑战</a></li>
            <li><a href="#solution-con-3">方案优势</a></li>
            <li><a href="#solution-con-4">推荐架构</a></li>
            <li><a href="#solution-con-5">客户案例</a></li>
        </ul>
    </div>
</div>
<!--subnavbar end-->
<!-- /etc/solution-subnav.shtml End -->

<!--solution-con start-->
<div class="solution-con">
    <!--服务内容-->
    <div class="section solution-service" id="solution-con-1">
        <h2 class="service-tie">服务内容</h2>
        <div class="maxWidth">
            <div class="com-solute-out">
                <h3>视频云服务内容</h3>
                <p>面向政府宣传、教育培训、金融证券、婚庆活动、电商服务、短视频平台等不同行业不同强度的运营需求，利用SaaS和API服务方式实现采集、编辑、存储、发布、管理等全流程业务；拥有多项行业领先的视频核心技术：基于人眼视觉模型的感知增强编码技术在同等画质下节省30%流量和存储；运用卷积神经网络算法的智能内容审核，鉴黄准确度高于99.5%；在线包装技术提高直播应用的互动性、趣味性。结合公有云PaaS平台提供统一资源管理，面对海量数据存储，能够持续大并发互动及自动弹性伸缩；获得极为流畅的视频化应用体验</p>
            </div>
        </div>
    </div>
    <!--行业挑战-->
    <div class="section solution-chall" id="solution-con-2">
        <h2 class="service-tie">行业挑战</h2>
        <div class="maxWidth">
            <div class="com-solute-out clearfix">
                <i class="chall-ico chall-ico-10"></i>
                <div class="txt">
                    <h3>技术积累</h3>
                    <p>没有技术积累，缺少专业的技术人员，搭建音视频业务门槛高</p>
                </div>
            </div><!--/com-solute-out-->
            <div class="com-solute-out clearfix">
                <i class="chall-ico chall-ico-11"></i>
                <div class="txt">
                    <h3>建站资源</h3>
                    <p>建站资源消耗多，投入成本以及维护成本高</p>
                </div>
            </div><!--/com-solute-out-->
            <div class="com-solute-out clearfix">
                <i class="chall-ico chall-ico-12"></i>
                <div class="txt">
                    <h3>跨地域</h3>
                    <p>跨地域直播、点播应用人工成本高，资源不能够得到有效利用</p>
                </div>
            </div><!--/com-solute-out-->
            <div class="com-solute-out clearfix">
                <i class="chall-ico chall-ico-13"></i>
                <div class="txt">
                    <h3>视频内容</h3>
                    <p>视频内容无法快速编辑、发布，内容管理和制作成本高</p>
                </div>
            </div><!--/com-solute-out-->
            <div class="com-solute-out clearfix">
                <i class="chall-ico chall-ico-14"></i>
                <div class="txt">
                    <h3>传播渠道</h3>
                    <p>传播渠道受限，实现多终端发布，触达更多用户</p>
                </div>
            </div><!--/com-solute-out-->
            <div class="com-solute-out clearfix">
                <i class="chall-ico chall-ico-15"></i>
                <div class="txt">
                    <h3>内容传递</h3>
                    <p>内容传递介质多，缺少内容管控，视频内容安全性差</p>
                </div>
            </div><!--/com-solute-out-->
        </div>
    </div>
    <!--方案优势-->
    <div class="section solution-advant" id="solution-con-3">
        <h2 class="service-tie">方案优势</h2>
        <div class="maxWidth">
            <ul class="com-solute-out solution-advant-ul solution-advant-ul-four">
                <li>
                    <i class="advant-ico advant-ico-8"></i>
                    <div class="txt">
                        <h3>一体化解决方案</h3>
                        <p>覆盖视频网站、短视频、OTT平台、在线教育、电商服务、广电媒体等多种行业需求</p>
                    </div>
                </li>
                <li>
                    <i class="advant-ico advant-ico-9"></i>
                    <div class="txt">
                        <h3>全场景多终端</h3>
                        <p>全行业解决方案覆盖所有应用场景，跨平台、多终端采集、播放API/SDK支撑</p>
                    </div>
                </li>
                <li>
                    <i class="advant-ico advant-ico-10"></i>
                    <div class="txt">
                        <h3>感知增强画质重生</h3>
                        <p>基于人眼视觉模型的感知增强编码技术突破编码能力上限、视频更清晰、观看更流畅</p>
                    </div>
                </li>
                <li>
                    <i class="advant-ico advant-ico-11"></i>
                    <div class="txt">
                        <h3>视频内容AI</h3>
                        <p>提供多场景视频内容AI服务，提高内容审核效率，增强智能内容处理能力</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--推荐架构-->
    <div class="section service-scene solution-scene" id="solution-con-4">
        <h2 class="service-tie">推荐架构</h2>
        <div class="maxWidth service-scene-bd">
            <div class="img"><img src="./img/solution/video-scene.png"  alt="图片"></div>
            <ul class="service-scene-ul service-scene-ul-media">
                <li><h4>直播服务</h4><p>稳定流畅、低延时、高并发的实时音视频服务</p></li>
                <li><h4>云媒体库</h4><p>极速稳定的上传、存储、播放和下载等服务</p></li>
                <li><h4>数字工厂</h4><p>云导播、云轮播、直播拆条，助力快速处理音视频</p></li>
                <li><h4>智能发布</h4><p>兼容微信、微博等大流量平台入口，精准垂直投放直播内容</p></li>
                <li><h4>数据分析</h4><p>全方位统计数据深度梳理细微用户行为，智能转化推广线索</p></li>
                <li><h4>高清互动</h4><p>远距离跨洋视频实时互动，高清多屏、画面清晰流畅，实时交互，简单易用</p></li>
            </ul>
        </div>
    </div>
    <!--客户案例-->
    <div class="section solution-case solution-case-video" id="solution-con-5">
        <h2 class="service-tie">客户案例</h2>
        <div class="maxWidth">
            <div class="solu-case-item">
                <h4>兴业证券股份有限公司</h4>
                <p>ONAIR视频云为兴业证券提供集视音频采集、编辑、上传自动化转码处理、媒体资源管理、分发加速于一体的一站式视音频点播解决方案，满足用户内容高并发、低延迟的业务需求</p>
                </a>
            </div>
            <div class="solu-case-item">
                <h4>唯一旅拍</h4>
                <p>ONAIR视频云为唯一视觉提供移动端端直播推流APP、直播流接入、处理、管理、分发等服务，具有低延迟、高安全、易接入、多终端等特点，产品操作简单，满足用户对于手机、全景摄像机、摄像机等设备的婚礼旅拍直播需求</p>
                </a>
            </div>
            <div class="solu-case-item">
                <h4>阿斯达克财经网</h4>
                <p>ONAIR视频云为阿斯达克财经网提供直播流接入、处理、管理、分发等服务，满足用户对于嘉宾访谈直播、股票开市、闭市、专家采访等直播需求，内容同步发布至APP、Facebook、网站等</p>
                </a>
            </div>
            <div class="solu-case-item">
                <h4>南京三宝科技股份有限公司</h4>
                <p>ONAIR视频云JT/T 1078-2016监控直播API服务为三宝科技提供基于RTP-HLS专有协议转换、海量监控信道接入直播转发、实时收录等功能，实现省内客运车辆实时监控直播</p>
                </a>
            </div>
            <div class="solu-case-item">
                <h4>河北先河环保科技股份有限公司</h4>
                <p>ONAIR视频云为先和环保科技提供基于无人机等专业设备的直播流信号接入、处理、管理、分发等服务，满足用户通过直播对环境实时监测的业务场景</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!--solution-con end-->

<!--立即注册-->
<div class="solution-reg">
    <div class="maxWidth">
        <div class="txt">
            <a class="reg-btn" href="https://onair.yunshicloud.com/register.html" target="_blank">立即注册</a>
            <h4>满足您的个性化需求</h4>
        </div>
    </div>
</div>

<!-- /etc/footer.shtml Start -->
<!--footer-wrap start-->
<div id="footer-wrap">

</div>
<!--footer end-->

<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../../common/js/main.js"></script>


</body>
</html>