.max_cont_width{
    max-width: 1200px;
    margin: auto;
}
.sc_spy_banner {
    height: 29.3vw;
    background: url("../img/onair_pass_banner.png")no-repeat center / cover;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 0;
}
.sc_spy_banner .sc_spy_left {
    margin-top: -1.5vw;
}
.sc_spy_banner h3{
    text-align: center;
    color: #ffffff;
    font-size: 2.4vw;
    
}
.sc_spy_banner .sc_spy_banner_text{
    margin-top: 0.9vw;
    font-size: 1.2vw;
    line-height:1.8;
    color:#fff;
    text-align: center;
}

.sc_list_wrap{
    width: 100%;
    background: rgba(0,0,0,.53);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.sc_list_wrap .sc_list {
    text-align: center;
}
.sc_list_wrap .sc_list li {
    display: inline-block;
    line-height: 1;
    padding: 1.1vw 0;
    margin: 0 1vw;
    font-size: 1vw;
    color:#fff;
    cursor: pointer;
}


/*我们为企业带来价值开始*/
.sc_value{
    box-sizing: border-box;
    padding-top: 78px;
}
.mc_value_title{
    text-align: center;
    font-size: 28px;
    color: #101010;
}

.sc_value_wrap ul {

}
.sc_value_wrap li{
    width: 33.3%;
    text-align: center;
    margin-top: 60px;
}
.sc_value_wrap li img{
    display: block;
    width: 45px;
    margin: auto;
}
.sc_value_wrap li h5{
    color: #1E1E1E;
    line-height: 50px;
    font-weight: 600;
    font-size: 18px;
}
.sc_value_wrap li p{
    color: #3C3C3C;
    max-width: 200px;
    margin: auto;
    line-height: 20px;
    font-size: 14px;
}

/*我们为企业带来价值结束*/
/*云平台优势开始*/
.sc_advantage_wrap{
    box-sizing: border-box;
    padding-top: 60px;
    margin-bottom: 87px;
}
.sc_advantage_wrap ul {
    display: flex;
    flex-wrap: wrap;
    margin: 4vw -0.8vw 0;
}
.sc_advantage_wrap ul li{
    width: 25%;
    padding: 0.8vw;
    min-height: 9.9vw;
    float: left;
    box-sizing: border-box;
    background-size: contain;
}
@media screen and (max-width:1440px) {
	.sc_advantage_wrap ul li {
		width: 50%;
	}
}
.sc_advantage_wrap ul li .cont {
    height: 100%;
    padding: 1.5vw 2vw;
    box-sizing: border-box;
}
.sc_advantage_wrap ul li:nth-child(1) .cont{
    background: url("../img/advantage_1.svg") no-repeat right bottom / cover;
}
.sc_advantage_wrap ul li:nth-child(2) .cont{
    background: url("../img/advantage_2.svg") no-repeat  right bottom / cover;
}
.sc_advantage_wrap ul li:nth-child(3) .cont{
    background: url("../img/advantage_3.svg") no-repeat  right bottom / cover;
}
.sc_advantage_wrap ul li:nth-child(4) .cont{
    background: url("../img/advantage_4.svg") no-repeat  right bottom / cover;
}
.sc_advantage_wrap ul li:nth-child(5) .cont{
    background: url("../img/advantage_5.svg") no-repeat  right bottom / cover;
}
.sc_advantage_wrap ul li:nth-child(6) .cont{
    background: url("../img/advantage_6.svg") no-repeat  right bottom / cover;
}
.sc_advantage_wrap ul li:nth-child(7) .cont{
    background: url("../img/advantage_7.svg") no-repeat  right bottom / cover;
}
.sc_advantage_wrap ul li:nth-child(8) .cont{
    background: url("../img/advantage_8.svg") no-repeat  right bottom / cover;
}
.sc_advantage_wrap ul h5{
    color: #00A4FF;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 18px;
}
.sc_advantage_wrap ul p{
    font-size: 14px;
    color: #3C3C3C;
    line-height: 20px;
}
/*云平台优势结束*/
/*云平台架构开始*/
.framework_wrap{
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 64px;
}
.sc_framework_main img{
    height: 426px;
    display: block;
    margin: auto;
    max-width: 100%;
}
.sc_framework_main{
    margin-top: 93px;
}
/*云平台架构结束*/
/*云平台特色服务开始*/
.characteristic_wrap{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 83px;
    padding-bottom: 83px;
    width: 100%;
    overflow-x: hidden;
}
.characteristic ul li {
    display: flex;
}
.characteristic ul li.mini-show {
    display: none;
}
.characteristic ul li {
    margin-top: 8vw;
}
.characteristic ul li .characteristic_text {
    flex: 1;
}
.characteristic ul li:nth-child(2n) .characteristic_text {
    padding-left: 4vw;
}
.characteristic ul li:nth-child(2n+1) .characteristic_text {
    padding-right: 4vw;
}
.characteristic_text h5{
    box-sizing: border-box;
    padding-left: 12px;
    font-size: 24px;
    font-weight: 500;
    line-height: 33px;
}
.characteristic li:nth-child(1) h5{
    border-left: 3px solid #FF9753;
    color: #FF9753;
}
.characteristic li:nth-child(2) h5{
    border-left: 3px solid #AA80FD;
    color: #AA80FD;
}
.characteristic li:nth-child(3) h5{
    border-left: 3px solid #00CF76;
    color: #00CF76;
}
.characteristic li:nth-child(4) h5{
    border-left: 3px solid #7B2C81;
    color: #7B2C81;
}
.characteristic li:nth-child(5) h5{
    border-left: 3px solid #FF726D;
    color: #FF726D;
}
.characteristic li:nth-child(6) h5{
    border-left: 3px solid #00A4FF;
    color: #00A4FF;
}
.characteristic li:nth-child(7) h5{
    border-left: 3px solid #7BB0FF;
    color: #7BB0FF;
}
.characteristic_text p{
    font-size: 16px;
    color: #1E1E1E;
    line-height: 29px;

}
/*云平台特色服务结束*/
/*应用案例开始*/
.application_case_wrap{
    background-color: #FAFAFA;
    padding-top: 60px;
    padding-bottom: 80px;
}
.application_case_cont{
    max-width: 661px;
    padding-left: 40px;
    padding-right: 40px;
    color: #505050;
    font-size: 16px;
    line-height: 25px;
    margin: auto;
    margin-bottom: 34px;
    margin-top: 12px;
    text-align: center;
}
.application_case{
    box-sizing: border-box;
    background-color: #ffffff;
    border:1px solid #979797;
}
.application_case li:nth-child(1){
    flex: 2.7;
    box-sizing: border-box;
    padding: 37px 0 66px 25px;
}
.application_case li:nth-child(1) .application_case_list{
    font-size: 14px;
}
.application_case li:nth-child(1) h5{
    font-size: 22px;
    font-weight: bold;
    color: #101010;
}
.application_case li:nth-child(1) .application_case_list p{
    padding-top: 22px;
    padding-right: 35px;
    border-right: 1px solid #E1E1E1;
}
.application_case li:nth-child(1){

}
.application_case li:nth-child(2){
    flex: 4.4;
    padding: 35px 29px 0 25px;
}
.application_case li:nth-child(3){
    flex: 2.7;
}
.application_case li:nth-child(3){
    box-sizing: border-box;
    padding: 72px 0 66px 0;
}
.application_case_cibaio{
    padding-left: 53px;
    border-left: 1px solid #E1E1E1;
}
/*应用案例结束*/

.five_bo_box{
    background: #ffffff;
    flex-wrap: wrap;
    border: 1px solid #979797;
}
.five_bo_box .one_li{
    max-width: 360px;
    box-sizing: border-box;
    padding:40px 0 20px 30px;
}
.five_bo_box .two_li{
    flex: 1;
    box-sizing: border-box;
    padding: 40px 0 20px 30px;
}
.five_bo_box .one_li h5{
    font-size: 20px;
    font-weight: bold;
}
.application_case_list{
    margin: 20px 0;
    font-size: 14px;
}

.application_case_list p{
   margin-bottom: 16px;
}
.application_case_cibaio{
    padding: 0  40px;
}

.application_case_cibaio ul{
    width: 100%;
}

.application_case_cibaio ul li{

}
.application_case_cibaio ul li .tit{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.application_case_cibaio ul li .tit:before{
   content: "";
    border: 8px solid transparent;
    border-right-color: #375089;
    margin-right: 10px;
}
.application_case_cibaio ul li .tit span{
    font-size: 18px;
    font-weight: bold;
}


.application_case_cibaio ul li .logo_box{
  margin: 16px 0 0 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.application_case_cibaio ul li .logo_box .pass_l_w{
    margin: 0 10px 18px 0;
    text-align: center;
    width: 90px;
    height: 60px;
}
.pass_l_w .top_l img{
    height:22px;
    width: auto;
    max-width: 60px;
    margin: 0 auto;
}
.pass_l_w .name_tit{
    font-size: 12px;
    color: #0f212e;
    margin-top: 8px;
}