
.sc_spy_tit{
    padding:56px 0 53px;
    background:#F5F5F5;
    text-align: center;
}
.sc_spy_tit_p{
    color:#101010;
    font-size:24px;
    margin-bottom:6px;
    font-weight: 600;
}
.sc_spy_tit_ps{
    font-size:18px;
    color:#8C8C8C;
    line-height: 28px;
}


/*1-7*/
.ysga_top_describe{
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 63px;
    background-color: #ffffff;
}
.ysga_top_describe>h1{
    font-size: 46px;
    color: #0f212e;
    text-align: center;
    margin-bottom: 16px;
}
.ysga_describe_wrap p{
    color: #585858;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
}
.ysga_describe_data_wrap {
    margin-top: 54px;
}
.ysga_describe_data_wrap ul{
    max-width: 1020px;
    margin: auto;
}
.ysga_describe_data_wrap ul li+li{
    border-left: 2px solid #f2f3f3;
    box-sizing: border-box;
}
.ysga_describe_data_wrap ul li{
    float: left;
    width: 25%;
    text-align: center;
}
.ysga_describe_data_wrap ul li h4{
    font-weight: bold;
    font-size: 60px;
    color: #0f212e;
    line-height: 136px;
}
.ysga_describe_data_wrap ul li h4 span{
    font-size: 22px;
}
.ysga_describe_data_wrap ul li p{
    font-size: 16px;
    color: #0f212e;
    line-height: 36px;
}
.ysga_details_wrap{
    border-top: 1px solid transparent;
    background-color: #F5F5F5;
}
.ysga_details_wrap .ysga_details_main_wrap{
    border-bottom: 32px solid #f0f0f0;
    height: 510px;
    background-size: 100% 100%;
}
.ysga_details_wrap .ysga_details_main_wrap:last-child{
    border-bottom: 0;
}
.ysga_details_wrap .ysga_details_num_1{
    background:#fff url("../img/spy_right.svg")no-repeat center;
}
.ysga_details_wrap .ysga_details_num_2{
    background:#fff;
    background: url("../img/spy_left.svg")no-repeat center;
}
.ysga_details_wrap .ysga_details_num_3{
    background: url("../img/ysga_bg_left3.svg")no-repeat center;
}
.ysga_details_wrap .ysga_details_num_4{
    background: url("../img/ysga_bg_right4.svg")no-repeat center;
}
.ysga_details_wrap{

}
.ysga_details_main{
    margin: auto;
}
.ysga_details_wrap .tl{
}
.ysga_details_wrap .tr{
    text-align: right;
}
.ysga_details_main_describe{
    width: 49.7%;
    position: relative;
    box-sizing: border-box;
    padding-top: 96px;
}
.ysga_details_num_2 .ysga_details_main_describe .ml,.ysga_details_num_2 .sc_spy_btn{
    margin-right: 23px;
}


.ysga_nunber_left,.ysga_nunber_right{
    position: absolute;
    z-index: 0;
}
.ysga_details_main_describe .ysga_nunber_left{
    top: 77px;
    left: 0px;
}
.ysga_details_main_describe .ysga_nunber_right{
    top: 77px;
    right: 0px;
}
.ysga_details_main_describe .ml{
    margin-left: 23px;
}
.ysga_details_main_describe h4.h4_color_01{
    color: #6E908C;
}
.ysga_details_main_describe h4.h4_color_02{
    color: #6E908C;
}

.ysga_details_main_describe h4{
    line-height: 104px;
    font-size: 34px;
    position: relative;
    z-index: 1;
}
.ysga_details_main_describe p{
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
    position: relative;
    z-index: 1;
    color:#3E3E3E;
    text-align: justify;
}
.ysga_dmt_color_01{
    background-color: #718CB5;
}
.ysga_dmt_color_02{
    background-color: #718CB5;
}
.ysga_details_main_transfer {
    width: 120px;
    height: 40px;
    color: #ffffff;
    display: block;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.ysga_details_main_pic{
    box-sizing: border-box;
    padding-top: 96px;
    width:50%;
}
.ysga_details_main_pic img{
    margin:auto;
}
.sc_spy_btn {
    margin-top:32px;
}
.ysga_details_num_01 .ysga_details_main_pic{
    padding-top:49px
}
.ysga_details_num_02 .ysga_details_main_pic{
    padding-top:77px
}
.ysga_details_num_02 .sc_spy_btn,.ysga_details_num_05 .sc_spy_btn,.ysga_details_num_07 .sc_spy_btn{
    margin-top: 53px;
}
.ysga_details_num_03 .ysga_details_main_pic,.ysga_details_num_04 .ysga_details_main_pic{
    padding-top:48px
}
.ysga_details_num_06 .ysga_details_main_pic{
    padding-top:33px
}
.ysga_details_num_07 .ysga_details_main_pic{
    padding-top:78px
}
.ysga_details_num_2 .h4_color_02{
    text-align: right;
}
/* @media screen and (min-width:321px) and (max-width:375px) {
  html {
    font-size: 13px
  }
}
@media screen and (min-width:376px) and (max-width:414px) {
  html {
    font-size: 14px
  }
}
@media screen and (min-width:415px) and (max-width:639px) {
  html {
    font-size: 15px
  }
}
@media screen and (min-width:640px) and (max-width:719px) {
  html {
    font-size: 20px
  }
}
@media screen and (min-width:720px) and (max-width:749px) {
  html {
    font-size: 22.5px
  }
}
@media screen and (min-width:750px) and (max-width:799px) {
  html {
    font-size: 23.5px
  }
}
@media screen and (min-width:800px) {
  html {
    font-size: 25px
  }
}
/* 800-1280 */
/* @media screen and (min-width:800px) and (max-width:1280px){
    .sc_spy_banner .container{
        width: 100%;
        overflow: hidden;
        clear: both;
        padding-left: 20px;
        padding-right:20px;
        padding-top: 75px;
        padding-bottom: 61px;
        box-sizing:border-box;
    }
    .container p{
         font-size:16px;
    }
    .sc_spy_left{
        margin-left:380px;
    }
    .sc_spy_right
    {
        width:330px;
    }
    .sc_spy_banner h3
    {
        font-size:40px;
    }
    .sc_spy_banner_text
    {
        font-size:16px;
    }
    .ysga_details_main_describe h4
    {
        font-size:34px;
    }
}  */
@media screen and (max-width: 768px){

    .sc_value{
        padding-top: 20px!important;
    }
    .mc_value_title{
        font-size: 18px!important;
    }
    .sc_value_wrap li h5{
        font-size: 14px!important;
    }
    .sc_value_wrap li p{
        font-size: 12px;
        padding: 0 5px;
    }
    
    .application_case{
        display: block!important;
    }
    .application_case li img{
        width: 100%;
    }
    .sc_framework_main img{
        height: auto!important;
    }
  
    .application_case{
        border: none !important;
    }
}
