<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no"/>
    <title>智能AI</title>
    <link rel="icon" type="image/x-icon" href="../../common/images/favicon.ico">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="css/AI.css">
    <link rel="stylesheet" href="../../common/css/base.css">
</head>

<body>
<div id="header-wrap"></div>
<div class="sc_spy_banner">
    <div class="container clearfloat">
        <div class="sc_spy_right" style="float:left;">
            <img src="img/head.png" alt="" class="fr sc_spy_banner_img">
        </div>
        <div class="sc_spy_left" style="float: left;">
            <h3>智能AI</h3>
            <p class="sc_spy_banner_text">
                AI赋能媒体，利用人工智能和云计算的技术，从视觉、到语言理解、到语音服务、到搜索都有一个全新的体验，做更懂你的贴心服务
            </p>
        </div>
    </div>
</div>
<div class="sc_list_wrap">
    <ul class="sc_list clearfloat">
        <li><a href="#one">Eagle媒资深度搜索</a></li>
        <li><a href="#two">晓智媒体助手</a></li>
        <li><a href="#thr">视频内容分析 </a></li>
    </ul>
</div>
<div class="sc_spy_tit">
    <p class="sc_spy_tit_p">智遇未来，视享无界</p>
    <p class="sc_spy_tit_ps"><span>安全｜易用｜稳定</span></p>
</div>
<div class="ysga_details_wrap">
    <div id="one" class="ysga_details_main_wrap ysga_details_num_1 ysga_details_num_01">
        <div class="ysga_details_main container clearfloat">
            <div class="ysga_details_main_describe fl">
                <img src="img/AI_011.svg" alt="01" class="ysga_nunber_left ysga_nunber_01">
                <h4 class="tl ml h4_color_search">Eagle媒资深度搜索</h4>
                <p class="tl ml">利用人工智能和云计算的技术来实现音、视、图文等媒体内容的快速全面的信息提取，实现海量内容库的秒级查询。针对不同的媒体业务，拥有不同场景化解决方案，提供一站式数据分析、处理以及检索等服务。</p>
                <div class="clearfloat sc_spy_btn">
                     <a href="../productService/eagleDetails.html" class="ysga_details_main_transfer ysga_dmt_color_01 fr">了解详情</a>
                </div>
            </div>
            <div class="ysga_details_main_pic fr">
                <img src="img/sousuo.png" alt="pc">
            </div>
        </div>
    </div>
    <div id="two" class="ysga_details_main_wrap ysga_details_num_2 ysga_details_num_02">
        <div class="ysga_details_main clearfloat container">
            <div class="ysga_details_main_pic fl">
                <img src="img/xiaozhi.png" alt="pc">
            </div>
            <div class="ysga_details_main_describe fr">
                <img src="img/AI_022.svg" alt="02" class="ysga_nunber_right ysga_nunber_02">
                <h4 class="tl ml h4_color_02">晓智媒体助手</h4>
                <p class="tl ml">
                    晓智媒体助手是广电媒体行业更好用的AI智能助手，为每一位媒体工作者提供专属的新闻知识库、内容安全审核、看图识文、智能配音等一系列伴随式的智能服务，高效、快捷的协助用户完成在生产、审核、发布过程中的部分工作，提高媒体工作者的工作效率。</p>
                <div class="clearfloat sc_spy_btn">
                     <a href="../productService/xiaozhi.html" target="_self" class="ysga_details_main_transfer ysga_dmt_color_02 fr">了解详情</a>
                </div>
            </div>

        </div>
    </div>
    <div id="thr" class="ysga_details_main_wrap ysga_details_num_3 ysga_details_num_03">
        <div class="ysga_details_main container clearfloat">
            <div class="ysga_details_main_describe fl">
                <img src="img/AI_033.svg" alt="01" class="ysga_nunber_left ysga_nunber_01">
                <h4 class="tl ml h4_color_01">视频内容分析 </h4>
                <p class="tl ml">基于领先的AI技术，对视频进行智能分析。集合自然语言学习、智能拆条、OCR字幕识别、政治人物识别、语音识别等多种AI技术，获取视频内容标签，提高搜索准确度。使用便捷，处理高效，满足用户一站式视频内容分析服务。</p>
                <div class="clearfloat sc_spy_btn">
                     <a href="../productService/videoContent.html" class="ysga_details_main_transfer ysga_dmt_color_03 fr">了解详情</a>
                </div>
            </div>
            <div class="ysga_details_main_pic fr">
                <img src="img/AI_fenxi.png" alt="pc">
            </div>
        </div>
    </div>

</div>
<div id="footer-wrap">
</div>
</body>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="../../common/js/base.js"></script>
<script src="../../common/js/main.js"></script>
<script>
    $(".sc_list a").click(function () {
        $("html, body").animate({
            scrollTop: $($(this).attr("href")).offset().top + "px"
        }, {
            duration: 500,
            easing: "swing"
        });
        return false;
    });
    $(".sc_spy_banner").height($(".sc_spy_banner").width()/1.78)
</script>

</html>