/*navbar*/
#header-wrap {
    width: 100%;
    height: 2.8vw;
    min-height: 54px;
    background-color: rgba(0,0,0, 0.9);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
#header-wrap .header-cont {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
#header-wrap .header-cont .logo {
    display: block;
    width: 11vw;
    min-width: 220px;
    height: 100%;
    background: url(./../images/logo.png) no-repeat left center / 100%;
}
#header-wrap .nav-wrapper {
    display: flex;
    align-items: center;
    padding: 0 2vw;
}
#header-wrap .nav-wrapper .nav-item {
    display: block;
    margin-left: 1vw;
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.9vw;
}
#header-wrap .nav-wrapper .nav-item:hover {
    color: rgba(255, 255, 255, 1);
}
.navbar{background:#222;}
.navbar-logo{
    height: 40px;
    float:left;
    padding-left:10px;
    display: flex;
    align-items: center;
}
.navbar-menu{float:right;}
.navbar-menu li{position:relative;float:left;margin:0 28px;}
.navbar-menu li a{display:block;color:#fff;line-height:40px;height:40px;}
.navbar-menu li a:hover{color:#e61a22;}
.dropdown.cur:after{content:'';position:absolute;left:0;bottom:0;width:100%;height:2px;background:#e61a22;}
.dropdown-menu{display:none;text-align:center;background:#1b1b1b;width:150px;position:absolute;top:40px;left:-45px;padding:10px 0;}

/*m-navbar*/
.m-navbar{display:none;padding:0 15px;font-size:16px;}
.m-navbar-btn{float:right;position:relative;width:50px;padding:13px 0;cursor:pointer;}
.m-nav-icon-bar{display:block;width:20px;height:2px;margin:0 auto;background:#979797;-webkit-transition:0.2s linear;-moz-transition:0.2s linear;transition:0.2s linear;}
.m-navbar-btn:hover .m-nav-icon-bar{background:#e61a22;}
.m-nav-icon-bar + .m-nav-icon-bar{margin-top:4px;}
.m-navbar .dropdown-menu{position:static;width:100%;text-align:left;}

.m-navbar-menu{display:none;width:100%;clear:both;background:rgba(34,34,34,0.5);}
.m-navbar-menu li{line-height:40px;}
.m-navbar-menu li:not(:first-child){border-top:1px solid rgba(182,189,194,0.1);}
.m-navbar-menu a{padding:5px 10px;color:#b6bdc2;font-size:14px;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;transition-duration:.3s;}
.m-navbar-menu a:hover{color:#e61a22;}

/*footer-wrap*/
#footer-wrap{background:#222; text-align: center;color:rgba(255,255,255,0.9); font-weight: 300;}
#footer-wrap .top {
    padding: 1.5vw 0;
}
#footer-wrap .title {
    font-size: 0.9vw;
    line-height: 1;
    margin-bottom: 1vw;
    font-weight: 400;
}
#footer-wrap .cont {
    line-height: 1.5;
    font-size: 0.9vw;
}
#footer-wrap .copyright {
    width: 100%;
    padding: 1vw 0;
    border-top: 1px solid #a7a4a4;
    font-size: 0.8vw;
    line-height: 1;
    box-sizing: border-box;
}
#footer-wrap .copyright a {
    display: inline-block;
    color:rgba(255,255,255,0.9);
}
#footer-wrap .copyright a:hover {
    text-decoration: underline;
}
#footer-wrap .copyright .police {
    vertical-align: bottom;
    display: inline-block;
    width: 1vw;
    height: 1vw;
    margin: 0 0.2vw;
    background: url(./../images//police.png) no-repeat center / 1vw;
}
.m-footer-box{display:none;}


/* body,html{font-size:16px;-webkit-overflow-scrolling:touch;} */
body{background-color:#fff;font-family:"PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", Helvetica, Arial, Verdana, sans-serif;}

.pcNotShow{display:none !important;}
.mobileNotShow{display:block !important;}

.maxWidth{width:1200px;margin:0 auto;}
.maxWidth:after,.clearfix:after,.owl-stage:after,.com-solute-out:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
.clearfix{zoom:1;display:block;}
.hidden{display:none;}

.fixed-top{width:100%;position:fixed;top:0;right:0;left:0;z-index:9;}

.comtie{text-align:center;line-height:40px;}
.comtie h3{color:#101010;font-size:24px;font-weight:bold;}
.comtie h4{color:#8c8c8c;font-size:18px;}

.commore{text-align:center;color:#8c8c8c;font-size:14px;line-height:2;}
.checkmore{display:inline-block;border:solid 1px #3c3c3c;font-size:14px;}
@media screen and (max-width:1282px) {
  .maxWidth,
  .project-box .maxWidth,
  .case-box .maxWidth,
  .owl-carousel{width:100%;}
  .owl-carousel3,
  .owl-carousel4{width:90% !important;}
  
  .service-buy-box{padding:5% 0;}
  .service-buy-item{margin-right:0;}
  .service-buy-meal{width:48%;box-sizing:border-box;margin:0 1% 20px;}
  .service-buy-meal:nth-of-type(3n){margin-right:1%;}
  
  .case-item h3{font-size:16px;}
}

@media screen and (max-width:1024px) {/* pad 横屏 */
    
  .bx-wrapper .bx-pager{bottom:26%;}
  
  /**/
  .footer-item-last h3,.footer-weixin{padding-left:100px;}
  .pro-tie{font-size:20px;}
  
  .service-scene-ul li{margin-bottom:4%;}
  .service-scene-ul-digital li{margin-bottom:12%;}
  
  .pro-txt p{height:90px;}

  .aboutIntro .tie{display: block;}
  .news_trends_banner{display: none;}
}
@media screen and (max-width:900px) { /* pad竖屏 */
  .pcNotShow{display:block !important;}
  .mobileNotShow{display:none !important;}

  /**/
  .navbar-menu li{padding:0 12px;margin:0 10px;}
  
  /**/
  .footer-item-last h3,.footer-weixin{padding-left:60px;}
  .owl-carousel1{border-right:none;}
  
  /**/
  .news{background:#fff;padding:20px 0 0;}
  .news .commore{padding:20px 0;}
  .news-img,.news-item .date{display:none;}
  .news-box{margin-left:0;margin-top:20px;padding-top:20px;background:#e9f2f9;}
  .news-item{margin-bottom:0;padding:0;}
  .news-item .txt{margin-left:0;padding:0 10%;}
  .news-item .txt p{white-space:normal;font-size:12px;overflow:visible;}
  .news-item .txt h3 a{overflow:hidden;text-overflow:ellipsis;white-space:nowrap; }
  .news-item .txt p:after,
  .news-item .txt p:before{display:block;}
  
  /**/
  .service,.serviceBox{padding-top:20px;}
  .service{background:#f0f0f0;padding-bottom:20px;}
  .serviceBox{padding-left:4%;padding-right:4%;}
  .service-item-box{height:auto;}
  .service-control li{width:31.3%;margin:0 1% 8px;padding:4%;box-sizing:border-box;background:#fff;}
  .service-control li:before{width:100%;left:0;}
  .service-control .ser-ico{float:left;width:30px;height:30px;background-size:auto 150px;margin-top:5px;}
  .service-control .ser-ico-2{background-position:center -30px;}
  .service-control .ser-ico-3{background-position:center -60px;}
  .service-control .ser-ico-4{background-position:center -90px;}
  .service-control .ser-ico-5{background-position:center -120px;}
  .service-box{margin:0 1%;background:#fff;}
  .service-item{width:100%;padding:5px 0;}
  .service-item h3{margin-bottom:0;}
  .service-item p{height:auto;}
  
  /**/
  .project{padding:20px 0;}
  .project-box{margin-top:20px;}
  .pro-tie{font-size:16px;padding:5px 0;}
  .pro-txt{padding:0 4%;}
  .pro-txt p{font-size:12px;}
  
  /**/
  .case{padding:20px 0;}
  .case-box{padding-top:10px;}
  .case .commore a{margin-top:10px;}
  
  /**/
  .service-fun-tab{width:100%;padding:4% 10% 4% 4%;border-right:none;box-sizing:border-box;}
  .service-fun-tab .txt{margin-left:50px;}
  .service-fun-arr{right:4%;}
  .service-fun-ul{padding:2% 5% 2% 4%;}
  .service-fun-ul li{padding-left:50px;background-position:30px 8px;}
  
  .service-fun-tab .fun-ico{width:40px;height:40px;background-size:auto 1800px;}
  .service-fun-tab .fun-ico-1{background-position:0 0;}
  .service-fun-tab .fun-ico-2{background-position:0 -40px;}
  .service-fun-tab .fun-ico-3{background-position:0 -80px;}
  .service-fun-tab .fun-ico-4{background-position:0 -120px;}
  .service-fun-tab .fun-ico-5{background-position:0 -160px;}
  .service-fun-tab .fun-ico-6{background-position:0 -200px;}
  .service-fun-tab .fun-ico-7{background-position:0 -240px;}
  .service-fun-tab .fun-ico-8{background-position:0 -280px;}
  .service-fun-tab .fun-ico-9{background-position:0 -320px;}
  .service-fun-tab .fun-ico-10{background-position:0 -360px;}
  .service-fun-tab .fun-ico-11{background-position:0 -400px;}
  .service-fun-tab .fun-ico-12{background-position:0 -440px;}
  .service-fun-tab .fun-ico-13{background-position:0 -480px;}
  .service-fun-tab .fun-ico-14{background-position:0 -520px;}
  .service-fun-tab .fun-ico-15{background-position:0 -560px;}
  .service-fun-tab .fun-ico-16{background-position:0 -600px;}
  .service-fun-tab .fun-ico-17{background-position:0 -640px;}
  .service-fun-tab .fun-ico-18{background-position:0 -680px;}
  .service-fun-tab .fun-ico-19{background-position:0 -720px;}
  .service-fun-tab .fun-ico-20{background-position:0 -760px;}
  .service-fun-tab .fun-ico-21{background-position:0 -800px;}
  .service-fun-tab .fun-ico-22{background-position:0 -840px;}
  .service-fun-tab .fun-ico-23{background-position:0 -880px;}
  .service-fun-tab .fun-ico-24{background-position:0 -920px;}
  .service-fun-tab .fun-ico-25{background-position:0 -960px;}
  .service-fun-tab .fun-ico-26{background-position:0 -1000px;}
  .service-fun-tab .fun-ico-27{background-position:0 -1040px;}
  .service-fun-tab .fun-ico-28{background-position:0 -1080px;}
  .service-fun-tab .fun-ico-29{background-position:0 -1120px;}
  .service-fun-tab .fun-ico-30{background-position:0 -1160px;}
  .service-fun-tab .fun-ico-31{background-position:0 -1200px;}
  .service-fun-tab .fun-ico-32{background-position:0 -1240px;}
  .service-fun-tab .fun-ico-33{background-position:0 -1280px;}
  .service-fun-tab .fun-ico-34{background-position:0 -1320px;}
  .service-fun-tab .fun-ico-35{background-position:0 -1360px;}
  .service-fun-tab .fun-ico-36{background-position:0 -1400px;}
  .service-fun-tab .fun-ico-37{background-position:0 -800px;}
  .service-fun-tab .fun-ico-38{background-position:0 -1440px;}
  .service-fun-tab .fun-ico-39{background-position:0 -1480px;}
  .service-fun-tab .fun-ico-40{background-position:0 -1520px;} 
  .service-fun-tab .fun-ico-41{background-position:0 -1560px;}  
  .service-fun-tab .fun-ico-42{background-position:0 -1600px;}
  .service-fun-tab .fun-ico-43{background-position:0 -1640px;}
  .service-fun-tab .fun-ico-44{background-position:0 -1680px;}
  .service-fun-tab .fun-ico-45{background-position:0 -1720px;}
  .service-fun-tab .fun-ico-46{background-position:0 -1760px;}  
  /**/
  .bx-wrapper .bx-pager{bottom:4%;}
  
  /**/
  .service-scene-bd{padding:4%;}
  .service-scene .img{float:none;width:100%;background:#fff;}
  .service-scene-ul,
  .service-scene-ul2{padding-top:20px;border-top:solid 1px #e9e9e9;position:static;transform:none;-webkit-transform:none;-moz-transform:none;}
  .service-scene-ul-waichang{margin-left:0;}
  .service-scene-ul-weizhan li{margin-bottom:20px;}
  .service-scene-ul{width:100%;}
  
  .solu-case-item{width:49%;}
  .solu-case-item:nth-of-type(2n){margin-right:0;}
  .solu-case-item:nth-of-type(3n){margin-right:2%;}
  
  .solution-reg{display:none;}
  
  
}

@media screen and (max-width:768px) {/* 手机横屏 */
 .copyright{padding:10px 0;line-height:20px;}
 .navbar-menu,
 .footer-box,
 .copyright p.address,
 .owl-nav{display:none;}
 
 .m-navbar,
 .m-footer-box,
 .copyright p span{display:block;}
 
 .owl-carousel3,
 .owl-carousel4{width:100% !important;}
 
 .m-footer-box{padding:10px 0;color:#b4b4b4;font-size:12px;}
 .m-footer-box h3{text-align:center;padding:13px 0 12px;}
 .m-footer-box .law-box{padding:0 10% 6px;}
 .m-footer-box .law{float:left;width:50%;}
 .m-footer-box .law li{line-height:30px;padding-left:20%;background-image:url(../images/m-law.png);background-repeat:no-repeat;} .m-footer-box .law .law-1{background-position:0 5px;}
 .m-footer-box .law .law-2{background-position:0 -45px;}
 .m-footer-box .law .law-3{background-position:0 -95px;}
 .m-footer-box .law .law-4{background-position:0 -145px;}
 .m-footer-box .law .law-5{background-position:0 -195px;}
 
 
 .slider-box,.service-banner,.aboutBox{margin-top:60px;}
 
 /**/
 .dynamic{transform:translate(0);-webkit-transform:translate(0);-moz-transform:translate(0);}
 .dynamic-txt .tie{font-size:14px;}
 .dynamic-txt p{font-size:12px;}
 .dynamic-item{padding:4%;}
 
 /*service-banner*/
 .service-banner-txt{width:84%;padding:10% 8%;}
 .service-banner-txt h2{margin-bottom:2%;}
 .service-tie{padding:8% 0;}
 
 /*subnavbar*/
 .subnavbar{display:none;}
 
 /*service-advant*/
 .service-advant-ul{padding:0;}
 .service-advant li{width:100%;padding:4%;border-right:none;background:url(../img/service/m-line.png) repeat-x 0 bottom;}
 .service-advant li:last-of-type{background:none;}
 .service-advant li .txt{margin-left:60px;text-align:left;}
 .service-advant li h3{padding:0 0 10px;}
 .service-advant li p{padding:0;height:auto;margin-bottom:0;}
 
 .service-advant-ul .advant-ico{float:left;margin-top:0;width:40px;height:40px;background-size:auto 1240px;}
 .service-advant-ul .advant-ico-1{background-position:0 0;}
 .service-advant-ul .advant-ico-2{background-position:0 -40px;}
 .service-advant-ul .advant-ico-3{background-position:0 -80px;}
 .service-advant-ul .advant-ico-4{background-position:0 -120px;}
 .service-advant-ul .advant-ico-5{background-position:0 -160px;}
 .service-advant-ul .advant-ico-6{background-position:0 -200px;}
 .service-advant-ul .advant-ico-7{background-position:0 -240px;}
 .service-advant-ul .advant-ico-8{background-position:0 -280px;}
 .service-advant-ul .advant-ico-9{background-position:0 -320px;}
 .service-advant-ul .advant-ico-10{background-position:0 -360px;}
 .service-advant-ul .advant-ico-11{background-position:0 -400px;}
 .service-advant-ul .advant-ico-12{background-position:0 -440px;}
 .service-advant-ul .advant-ico-13{background-position:0 -480px;}
 .service-advant-ul .advant-ico-14{background-position:0 -520px;}
 .service-advant-ul .advant-ico-15{background-position:0 -560px;}
 .service-advant-ul .advant-ico-16{background-position:0 -600px;}
 .service-advant-ul .advant-ico-17{background-position:0 -640px;}
 .service-advant-ul .advant-ico-18{background-position:0 -680px;}
 .service-advant-ul .advant-ico-19{background-position:0 -720px;}
 .service-advant-ul .advant-ico-20{background-position:0 -760px;}
 .service-advant-ul .advant-ico-21{background-position:0 -800px;}
 .service-advant-ul .advant-ico-22{background-position:0 -840px;}
 .service-advant-ul .advant-ico-23{background-position:0 -880px;}
 .service-advant-ul .advant-ico-24{background-position:0 -920px;}
 .service-advant-ul .advant-ico-25{background-position:0 -800px;}
 .service-advant-ul .advant-ico-26{background-position:0 -960px;}
 .service-advant-ul .advant-ico-27{background-position:0 -1000px;}
 .service-advant-ul .advant-ico-28{background-position:0 -1040px;}
 .service-advant-ul .advant-ico-29{background-position:0 -1080px;}
 .service-advant-ul .advant-ico-30{background-position:0 -1120px;}
 .service-advant-ul .advant-ico-31{background-position:0 -1160px;}
 .service-advant-ul .advant-ico-32{background-position:0 -1200px;}
 /**/
 .service-support-ul{padding-bottom:8%;}
 
 
 /**/
 .aboutWrap{width:100%;padding-left:0;}
 .aboutLeft,.newsBox,.commonList .date:after{background:#eaeaea;}
 .aboutBanner{display:block;width:100%;}
 .aboutLeft{width:100%;position:static;}
 .aboutBox{padding-bottom:0;}
 
 .sideNave .tie{display:none;}
 .sideNave{background:#fff;}

 .aboutIntro .tie:before,
 .aboutIntro .tie:after{content:'';width:84px;height:72px;vertical-align:middle;display:inline-block;background-repeat:no-repeat;background-position:0 center;}
 .aboutIntro .tie:before{margin-right:10px;background-image:url(../img/title-l.png)}
 .aboutIntro .tie:after{margin-left:10px;background-image:url(../img/title-r.png)}
 .aboutIntro p{padding-top:0;}
 
 .sideNaveUlP{display:none;}
 .sideNaveUlM{display:block;}
 .sideNaveUl li{float:left;text-align:center;padding:0 20px;border-bottom:none;}
 .sideNaveUl a{border-right:none;line-height:40px;}
 .sideNaveUl li.cur a{color:#fff;}
 .sideNaveUl li.cur{background:#e71a22;}
 
 .commonList{padding:0;}
 .commonList li:after{border-right-color:#d0d0d0;}
 .commonList .txt a{color:#505050;}
 .commonList .date{color:#333;}
 
 /**/
 .pages{border-top-color:#d0d0d0;}
 .pages a,.pages span{padding:0 4px;}
 
 /**/
 .aboutBox{padding-top:0;}
 .article-con{padding-bottom:20px;}
 .articleBox .sideNave{display:none;}
 #chan_breadcrumbs{padding:10px 0;border-bottom:solid 1px #dcdcdc;background:#fff;padding-left:5px;}
 .article-title{padding-top:20px;}
 
 /**/
 .com-solute-out{padding:4%;}
 .solution-advant ul{padding:0;}
 .solution-advant li{text-align:left;border-right:none;border-bottom:solid 1px #dad8d8;}
 .solution-advant ul li p{height:auto;}
 .solution-advant ul li .txt{margin-left:75px;padding-top:0;}
 .solution-advant ul li h3{line-height:20px;margin-bottom:10px;}
 .solution-advant-ul li{width:100% !important;float:none;padding:4%;margin-right:0;}
 .solution-advant .advant-ico{float:left;margin-top:0;}
 
 .solution-case{padding-bottom:8%;}
 .solution-case-list li{width:28%;}
 
 .solution-case-blur li{width:100%;margin-right:0;margin-bottom:4%;}
 .solution-case-blur strong{font-size:20px;}
 
 .solu-case-item{width:100%;margin-right:0;}
 .solu-case-item:nth-of-type(2n),.solu-case-item:nth-of-type(3n){margin-right:0;}
 .solu-case-item p{height:auto;}
 
 .solution-case-video,.solution-case-meiti{margin-top:0;}
 
 
}

@media screen and (max-width:767px) {/* 手机横屏 */
.service-support{display:none;}
  /**/
 .service-buy-control{padding:0;}
 .service-buy-meal,.service-buy-box-two .service-buy-meal{width:100%;margin:0 0 20px;}

}
@media screen and (max-width:450px) { /* 手机竖屏 */
  .service-control li{width:48%;}
  .service-buy-meal .mid li{width:100%;}
  
  .case-item h3{font-size:14px;}
  .service-banner-txt h2{font-size:30px;}

}
@media screen and (max-width:370px) {/* 320的小屏幕*/ 
  .dynamic-item{text-align:center;}
  .dynamic-item .dyn-ico{display:none;}
  .dynamic-txt{padding-left:0;}
  
  .pro-txt{padding:0 5px;}
  .pro-txt p{padding-bottom:5px;height:85px;text-overflow:ellipsis;-webkit-line-clamp:4;}
  .pro-txt .checkmore{width:100px;line-height:20px;}
  
  .case-item h3{font-size:12px;}
}
/*2018年9月12日15:48:34 zsj 新增公告样式*/
.sc_fl{
    float: left;
}
.sc_fr{
    float: right;
}
.sc_tx{
    text-align: center;
}
.sc_tl{
    text-align: left;
}
.sc_tr{
    text-align: right;
}
/*
flex：定义布局为盒模型
flex-v：盒模型垂直布局
flex-1：子元素占据剩余的空间
flex-align-center：子元素垂直居中
flex-pack-center：子元素水平居中
flex-pack-justify：子元素两端对齐
*/
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-v {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.flex-1_5 {
    -webkit-box-flex: 1.5;
    -webkit-flex: 1.5;
    -ms-flex: 1.5;
    flex: 1.5;
}
.flex-2 {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
.flex-3{
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
}
.flex-4{
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -ms-flex: 4;
    flex: 4;
}
.flex-5{
    -webkit-box-flex: 5;
    -webkit-flex: 5;
    -ms-flex: 5;
    flex: 5;
}
.flex-6{
    -webkit-box-flex: 6;
    -webkit-flex: 6;
    -ms-flex: 6;
    flex: 6;
}
.flex-8{
    -webkit-box-flex: 8;
    -webkit-flex: 8;
    -ms-flex: 8;
    flex: 8;
}
.flex-align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-pack-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.flex-pack-justify {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.hide{
    display: none;
}
.sc_tab_font{
    font-size: 13px;
}