/* auther  jy  1404 */
/* date  20180605 */

/* list   start */
.list_content_top{width: 100%;margin-top: 40px;}
.list_content_top img{width: 100%;}
.list_content{width: 100%;background-color: #F7F7F7;padding-top: 35px;padding-bottom: 70px;position: relative;}
.list_content_container{overflow: hidden;padding-bottom: 10px;}
.list_content_container .swiper-slide{background-color: #fff;overflow: hidden;padding-bottom: 30px;}
.list_content_container .swiper-slide:hover{box-shadow: 2px 2px 10px 1px #ccc;}
.list_swp_item_pic{width: 100%;height: 150px;overflow: hidden;position:relative;}
.list_swp_item_pic img{position: absolute;left: 0px;right: 0px;bottom: 0px;top: 0px;margin: auto;}
.list_swp_item_cloud{padding-left: 20px;padding-right: 20px;font-size: 16px;font-weight: bold;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.list_swp_item_Industry_field{padding-left: 20px;padding-right: 20px;font-size: 12px;color: #747474;margin-top: 10px;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.list_swp_item_scope{padding-left: 20px;padding-right: 20px;font-size: 12px;color: #747474;margin-top: 5px;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.list_swp_item_synopsis{padding-left: 20px;padding-right: 20px;margin-top: 10px;font-size: 14px;color: #545454;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 5;overflow: hidden;height: 98px;}
/* load more start */
.load_more{display: none;}
/* load more end */

.swiper-button-next,
.swiper-button-prev {position: absolute;top: 44% !important; width: 27px;height: 44px;margin-top: 0px;z-index: 10;cursor: pointer; background-size: 27px 44px; background-position: center; background-repeat: no-repeat;}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next{background-image: url("../img/list_left_btn.png");left:15% !important;right: auto;}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {background-image: url("../img/list_right_btn.png");right: 15% !important;left: auto;}



/* list   end */

/* detail  start */
.detail_links{padding-top: 10px;padding-bottom: 20px;width: 100%;}
.detail_links a{color: black;font-size: 14px;}
.detail_content{width: 100%;overflow: hidden;clear: both;padding-bottom: 95px;}
.qiye_message{width: 230px;background-color: #fff;float: left;padding-bottom: 40px;padding-top: 40px;}
.qiye_introduce{width: 79%;background-color: #fff;float: right;padding-top: 26px;padding-bottom: 35px;}
.qiye_logo{width: 80%;margin: 0 auto;padding-bottom: 40px;border-bottom: 1px solid #E2E2E2;}
.qiye_logo img{display: block;margin: 0 auto;max-height: 64px}
.qiye_name{margin-top: 30px;padding-left: 23px;font-weight: bold;color: black;padding-right: 23px;font-size: 14px;}
.qiye_Industry_field{margin-top: 15px;padding-left: 23px;color: #999999;font-size: 12px;padding-right: 23px;}
.qiye_scope{margin-top: 5px;padding-left: 23px;color: #999999;font-size: 14px;padding-right: 23px;}
.qiye_project_title{font-weight: bold;color: black;padding-left: 26px;padding-right: 40px;}
.qiye_project_txt{font-size: 14px;color: #646464;padding-left: 26px;padding-right: 40px;margin-top: 15px;}
.qiye_solution_title{font-weight: bold;color: black;padding-left: 26px;padding-right: 40px;margin-top: 30px;}
.qiye_solution_txt{font-size: 14px;color: #646464;padding-left: 26px;padding-right: 40px;margin-top: 15px;}
.qiye_introduce p{padding-left: 26px;padding-right: 40px;}
/* detail  end */

@media screen and (max-width:1680px){
    .swiper-button-next,
    .swiper-button-prev {top: 45% !important;}
    .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next{left:8% !important;}
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {right: 8% !important;}
  }
  @media screen and (max-width:1580px){
    .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next{left:5% !important;}
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {right: 5% !important;}
  }
  @media screen and (max-width:1480px){
    .list_content_container{width: 1000px;}
    .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next{left:10% !important;}
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {right: 10% !important;}
  }
  @media screen and (max-width:1380px){
  .swiper-container-rtl .swiper-button-next{left:5% !important;}
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {right: 5% !important;}
  }

  @media screen and (max-width:1280px){
    .list_content_container{width: 800px;}
    .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next{left:10% !important;}
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {right: 10% !important;}
  
  .list_swp_item_synopsis{padding-left: 20px;padding-right: 20px;margin-top: 10px;font-size: 14px;color: #545454;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 5;overflow: hidden;}
  /* detail  start   */
.detail{width: 100%;margin-top: 40px;}
.qiye_message{width: 200px;}
.qiye_logo{width: 85%;}
.qiye_name{padding-left: 15px;padding-right: 15px;}
.qiye_Industry_field{padding-left: 15px;padding-right: 15px;}
/* detail  end    */
  }
  @media screen and (max-width:1180px){
    .list_content_container{width: 800px;}
    .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next{left:8% !important;}
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {right: 8% !important;}
  
  .list_swp_item_synopsis{padding-left: 20px;padding-right: 20px;margin-top: 10px;font-size: 14px;color: #545454;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 5;overflow: hidden;}
  }
  @media screen and (max-width:1080px){
    .list_content_container{width: 800px;}
    .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next{left:6% !important;}
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev{right: 6% !important;}
  
  .list_swp_item_synopsis{padding-left: 20px;padding-right: 20px;margin-top: 10px;font-size: 14px;color: #545454;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 5;overflow: hidden;}
  }
  @media screen and (max-width:1024px) {/* pad 横屏 */
 
    /* list   start */
    .list_content_container{width: 100%;}
    .list_content_top{display: none;}
    .list_content{padding-top: 61px;}
    .list_content_container .swiper-slide{margin-bottom: 10px;display: block;box-shadow: none;}
    .list_swp_item_pic{width: 100%;height: 130px;position: relative;}
    .list_swp_item_pic img{position: absolute;left: 0px;right: 0px;bottom: 0px;top: 0px;margin: auto;}
    .list_content{padding-bottom: 10px;}
    .load_more{width: 100%;display: none;margin: 0 auto;background-color: #F7F7F7;padding-bottom: 30px;}
    .load_more img{display: block;margin: 0 auto;}
    .swiper-button-next,
    .swiper-button-prev {display: none;}
    /* list   end */
    
    
  }
  @media screen and (max-width:900px) { /* pad竖屏 */

    /* detail  start */
    .detail_links{display: none;}
    .detail{margin-top: 61px;}
    .qiye_introduce{width: 71%;}
    /* detail  end */
  }
  @media screen and (max-width:450px) { /* 手机竖屏 */
  
    /* detail   start */
    .detail_content{padding-bottom: 0px;}
    .qiye_message{width: 100%;float: none;padding-top: 30px;padding-bottom: 30px;}
    .qiye_logo{width: 92%;padding-bottom: 30px;}
    .qiye_name{margin-top: 20px;padding-left: 18px;padding-right: 18px;font-size: 16px;}
    .qiye_Industry_field{margin-top: 10px;padding-left: 18px;padding-right: 18px;font-size: 14px;}
    .qiye_scope{padding-left: 18px;padding-right: 18px;}
    .qiye_introduce{width: 100%;float: none;padding-top: 0px;}
    .qiye_introduce p{padding-left: 18px;padding-right: 18px;}
    .qiye_project_title{background-color: #F7F7F7;text-align: center;padding-top: 30px;padding-bottom: 20px;font-size: 18px;padding-left: 18px;padding-right: 18px;}
    .qiye_project_txt{padding-left: 18px;padding-right: 18px;margin-top: 0px;padding-top: 25px;padding-bottom: 25px;}
    .qiye_solution_title{background-color: #F7F7F7;text-align: center;padding-top: 30px;padding-bottom: 20px;font-size: 18px;padding-left: 18px;padding-right: 18px;margin-top: 0px;}
    .qiye_solution_txt{padding-left: 18px;padding-right: 18px;margin-top: 0px;padding-top: 25px;padding-bottom: 25px;}
    /* detail   end */
  }