/*
author:yh
date:2018.05.21
*/
/*--- reset ---*/
html,body,div,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,button,input,figure,textarea,p,blockquote,iframe,table,caption,tbody,tfoot,thead,th,td{margin:0;padding:0;}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;overflow-x:hidden;}
ol,ul{list-style:none;list-style-image:none;}
img{border:0;vertical-align:middle;}
strong,b{font-weight:normal;}
em,cite{font-style:normal;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;}
h1,h2,h3,h4,h5,h6,b,s,i{font-weight:normal;text-decoration:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
a:focus,a:active,a:hover{outline:0;}
a{color:#333;text-decoration:none;}
a:hover{color:#e61a22;}
a,div,p,ul,li,dl,dt,dd,input,span,em,strong,img{-webkit-tap-highlight-color:rgba(0,0,0,0);} 

a,
a img{-webkit-transition-duration:300ms;-moz-transition-duration:300ms;transition-duration:300ms;}

/*--- common ---*/
body,html{font-size:16px;-webkit-overflow-scrolling:touch;}
body{background-color:#fff;font-family:"PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", Helvetica, Arial, Verdana, sans-serif;}

.pcNotShow{display:none !important;}
.mobileNotShow{display:block !important;}

.maxWidth{width:1200px;margin:0 auto;}
.maxWidth:after,.clearfix:after,.owl-stage:after,.com-solute-out:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
.clearfix{zoom:1;display:block;}
.hidden{display:none;}

.fixed-top{width:100%;position:fixed;top:0;right:0;left:0;z-index:9;}

.comtie{text-align:center;line-height:40px;}
.comtie h3{color:#101010;font-size:24px;font-weight:bold;}
.comtie h4{color:#8c8c8c;font-size:18px;}

.commore{text-align:center;color:#8c8c8c;font-size:14px;line-height:2;}
.checkmore{display:inline-block;border:solid 1px #3c3c3c;font-size:14px;}



/*slider-box*/
.slider-box{margin-top:40px;-webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);overflow: hidden;}
.bx-wrapper{position:relative;overflow: hidden;}
.bx-wrapper img,
.focus-slide img{display:block;max-width:100%;}
.bx-wrapper .bx-viewport{left:0;-webkit-transform:translatez(0);-moz-transform:translatez(0);transform:translatez(0);}
.bx-wrapper .bx-pager{position:absolute;right:0;bottom:30px;width:100%;}
.bx-wrapper .bx-loading {min-height: 50px;height: 100%;width: 100%;position: absolute;top: 0;left: 0;z-index: 2000;}
.bx-wrapper .bx-pager{text-align:center;}
.bx-wrapper .bx-pager .bx-pager-item{display:inline-block;*zoom:1;*display:inline;}
.bx-wrapper .bx-pager.bx-default-pager a{display:block;width:8px;height:8px;margin:0 5px;border-radius:4px;border:solid 1px #828587;text-indent:-9999px;}
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active{background:#828587;}

/*owl-carousel*/
.owl-carousel{display:none;position:relative;width:1200px;-webkit-tap-highlight-color:transparent;}
.owl-carousel.owl-loaded{display:block;}
.owl-carousel .owl-stage{position:relative;}
.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;}
.owl-carousel .owl-item {position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}

.owl-carousel2 .owl-nav,
.owl-carousel3 .owl-dots,
.dynamic .owl-controls{display:none;}

/**/
.owl-carousel3 .owl-prev,
.owl-carousel3 .owl-next,
.owl-carousel4 .owl-prev,
.owl-carousel4 .owl-next{position:absolute;width:40px;height:40px;top:50%;margin-top:-20px;cursor:pointer;opacity:0.5;background-image:url(../images/arrow.png);background-repeat:no-repeat;text-indent:-9999em;overflow:hidden;}
.owl-carousel3 .owl-prev{left:-40px;background-position:0 0;}
.owl-carousel3 .owl-next{right:-40px;background-position:0 -40px;}
.owl-carousel4 .owl-prev{left:-40px;background-position:-40px 0;}
.owl-carousel4 .owl-next{right:-40px;background-position:-40px -40px;}
.owl-carousel3 .owl-prev:hover,
.owl-carousel3 .owl-next:hover,
.owl-carousel4 .owl-prev:hover,
.owl-carousel4 .owl-next:hover{opacity:1;}

/*owl-dots*/
.owl-dots{padding:6% 0;text-align:center;font-size:0;}
.owl-dots .owl-dot{display:inline-block;width:2rem;margin:0 4px;}
.owl-dots .owl-dot:last-of-type{margin-right:0;}
.owl-dots .owl-dot span{display:block;height:4px;background:#d8d8d8;border-radius:30px;}
.owl-dots .owl-dot.active span{background:#e71922;}

/*dynamic*/
.dynamic{position:relative;z-index:8;background:rgba(0,0,0,0.2);transform:translate(0,-100%);-moz-transform:translate(0,-100%);-webkit-transform:translate(0,-100%);}
.dynamic-item{float:left !important;width:100%;padding:6%;border-left:solid 1px rgba(255,255,255,0.3);box-sizing:border-box;color:#fff;line-height:22px;}
.owl-carousel1{border-right:solid 1px rgba(255,255,255,0.3);}
.dynamic-item .dyn-ico{float:left;vertical-align:middle;width:35px;height:35px;background-image:url(../images/dynamic.png);background-repeat:no-repeat;background-size:auto 175px;}
.dynamic-txt{padding-left:22%;}
.dynamic-item:hover .dynamic-txt{-webkit-transform:scale(1.04);-moz-transform:scale(1.04);transform:scale(1.04);}
.dynamic-txt a{color:#fff; display: block;}
.dynamic-txt p{font-size:14px;}
.dynamic-item .dyn-ico-1{background-position:0 10px;}
.dynamic-item .dyn-ico-2{background-position:0 -32px;}
.dynamic-item .dyn-ico-3{background-position:0 -68px;}
.dynamic-item .dyn-ico-4{background-position:0 -100px;}
.dynamic-item .dyn-ico-5{background-position:0 -140px;}

/*service*/
.service{border-bottom:solid 1px #dcdcdc;}
.serviceBox{padding-top:60px;}
.service-control li{box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.16);position: relative;float: left;width: 18%;margin: 5px 1%;padding: 15px 0;cursor: pointer;text-align: center;}
.service-control li:before{opacity:0;position:absolute;left:0;bottom:0;content:'';width:100%;height:4px;background:#ff0000;}
.service-control strong{display:block;color:#646464;font-size:14px;line-height:38px;}
.service-control strong,.service-control li:before{-webkit-transition:0.25s ease-in-out;-moz-transition:0.25s ease-in-out;transition:0.25s ease-in-out;}
.service-control li.cur strong{color:#ff0000;}
.service-control li.cur:before{opacity:1;}
.service-control .ser-ico{display:inline-block;width:100%;height:47px;background-image:url(../images/service.png);background-repeat:no-repeat;}
.service-control .ser-ico-1{background-position:center 0;}
.service-control .ser-ico-2{background-position:center -47px;}
.service-control .ser-ico-3{background-position:center -94px;}
.service-control .ser-ico-4{background-position:center -141px;}
.service-control .ser-ico-5{background-position:center -188px;}
.service-box{background:#f5f5f5;}
.service-item-box{display:none;padding:15px;}
.service-item{display:block;float:left;width:33.3%;padding:15px 15px 20px;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;box-sizing:border-box;}
.service-item h3{color:#333;line-height:2;margin-bottom:8px;}
.service-item p{height:60px;color:#999;font-size:14px;line-height:20px;overflow:hidden;}
.service-item:hover{background:#fff;box-shadow:3px 3px 8px rgba(0,0,0,0.1);}
.service-item:hover h3{color:#e61a22;}

/*news*/
.news{padding-top:50px;padding-bottom:35px;background:#e9f2f9;}
.news-img{position:relative;float:left;width:388px;margin-left:70px;margin-top:36px;}
.news-img:before{content:'';position:absolute;left:-10px;top:-10px;width:267px;height:177px;background:#e61921;}
.news-img img{position:relative;}
.news-box{margin-left:495px;padding-top:40px;}
.owl-carousel2{}
.news-item{margin-bottom:40px;}
.news-item:last-of-type{margin-bottom:0;}
.news-item .date{float:left;width:60px;border-right:solid 1px #6e6e6e;text-align:center;color:#8c8c8c;font-size:12px;font-family:Arial, Helvetica, sans-serif;}
.news-item .date strong{display:block;font-weight:normal;font-size:36px;line-height:30px;}
.news-item-trends:last-of-type{margin-bottom:0;}
.news-item-trends .date{float:left;width:60px;border-right:1px solid #ededed;text-align:center;color:#8c8c8c;font-size:12px;font-family:Arial, Helvetica, sans-serif;}
.news-item-trends .date strong{display:block;font-weight:normal;font-size:36px;line-height:30px;}
.news-item .txt{padding:0 15px;margin-left:61px;}
.news-item .txt h3 a{display:block;color:#323232;font-size:18px;line-height:22px;font-weight:bold;margin-bottom:10px;}
.news-item .txt p{position:relative;color:#505050;font-size:14px;line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.news-item .txt p:before,
.news-item .txt p:after{display:none;content:'';position:absolute;width:19px;height:16px;background-size:100% auto;}
/*.news-item .txt p:before{background:url(../img/dou-l.png) no-repeat 0 center;left:-8%;top:0;}
.news-item .txt p:after{background:url(../img/dou-r.png) no-repeat 0 center;right:-8%;bottom:0;}*/
.news-item .txt a:hover{color:#e61a22;}
.news .commore{padding-top:50px;}

/*project*/
.project{padding-top:50px;padding-bottom:56px;background:#f5f5f5;}
.project-box{margin-top:44px;background:#363636;}
.project-box .maxWidth{width:1282px;}
.pro-item{position:relative;float:left;width:100%;cursor:pointer;}
.pro-item img{width:100%;height:auto;max-width: 258px;max-height: 407px;}
.pro-line{width:24px;height:2px;margin:28px auto 0;background:#fff;}
.pro-tie{padding:18px 0;text-align:center;color:#f5f5f5;font-size:22px;line-height:1.45;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;transition:all 0.2s linear;}
/*.pro-ico{display:block;width:54px;height:54px;margin:0 auto;background-image:url(../img/pro.png);background-repeat:no-repeat;}*/
.pro-ico-1{background-position:0 0;}
.pro-ico-2{background-position:0 -54px;}
.pro-ico-3{background-position:0 -108px;}
/*.pro-ico-4{background-image:url(../img/video_cloud.png);background-repeat:no-repeat;background-size: 100%;}
.pro-ico-5{background-image:url(../img/media_cloud.png);background-repeat:no-repeat;background-size: 100%;background-position:0 10px;}*/
.pro-item-over{position:absolute;width:100%;height:100%;left:0;top:0;-webkit-transition:0.1s;-moz-transition:all 0.1s;transition:0.1s;}
.pro-item-anchor{display: block;width: 100%;height: 100%;position: absolute;z-index: 10;}
.pro-item-center{width:100%;position:absolute;top:50%;left:0;transform:translate(0,-50%);}
.pro-txt{display:none;text-align:center;padding:0 13%;opacity:0;}
.pro-txt p{padding-bottom:20px;color:#3c3c3c;font-size:14px;line-height:1.85;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:5;height:110px;overflow:hidden;}
.pro-txt .checkmore{display:inline-block;width:120px;line-height:34px;color:#3c3c3c;}
.pro-item:hover .pro-item-over{background:rgba(255,255,255,0.7);}
.pro-item:hover .pro-line{display:none;}
.pro-item:hover .pro-txt{opacity:1;display:block;}
.pro-item:hover .pro-tie{color:#3c3c3c;}
.pro-item:hover .pro-ico-1{background-position:-54px 0;}
.pro-item:hover .pro-ico-2{background-position:-54px -54px;}
.pro-item:hover .pro-ico-3{background-position:-54px -108px;}
/*.pro-item:hover .pro-ico-4{background-image:url(../img/video_cloud_hover.png);background-repeat:no-repeat;background-size: 100%;}*/
/*.pro-item:hover .pro-ico-5{background-image:url(../img/media_cloud_hover.png);background-repeat:no-repeat;background-size: 100%;background-position:0 0px;}*/

/*case*/
.case{padding-top:50px;padding-bottom:40px;}
.case-box{padding-top:50px;}
.case-box .maxWidth{width:1280px;}
.case-box .owl-carousel .owl-stage-outer{padding:10px 0;}
.case-item{position:relative;float:left;width:92%;margin:0 4%;padding:24px 0;border:solid 1px #f0f0f0;cursor:pointer;text-align:center;box-sizing:border-box;transition:0.3s;}
.case-item-anchor{position: absolute;width: 100%;height: 100%;left: 0px;top: 0px;z-index: 10;}
.jy_case-img{width: 100%;height: 100px;position: relative;}
.jy_case-img img{position: absolute;left: 0px;right: 0px;top: 0px;bottom: 0px;margin: auto;max-width: 100px;max-height: 100px;}
.case-item h3{padding:10px 0;color:#141414;font-size:18px;line-height:2;
   overflow: hidden; white-space: nowrap;text-overflow: ellipsis}

.case-item p{padding:0 9%;text-align:left;font-size:14px;color:#505050;line-height:26px;height:104px;overflow:hidden;}
.case-item .checkmore{width:100px;margin-top:28px;line-height:27px;color:#505050;}
.case-item:hover{box-shadow:0px 0px 10px rgba(0,0,0,0.1);}
.case .commore a{display:block;width:136px;margin:50px auto 0;color:#505050;line-height:32px;border:solid 1px #505050;}
.case .commore a:hover{border-color:#e61a22;color:#e61a22;}

/*service-banner*/
.service-banner{margin-top:40px;background-position:center 0;background-repeat:no-repeat;background-size:cover;}
.service-banner-live{background-image:url(../img/service/live-bg.jpg);}
.service-banner-demand{background-image:url(../img/service/demand-bg.jpg);}
.service-banner-digital{background-image:url(../img/service/digital-bg.jpg);}
.service-banner-xietong{background-image:url(../img/service/xietong-bg.jpg);}
.service-banner-waichang{background-image:url(../img/service/waichang-bg.jpg);}
.service-banner-weizhan{background-image:url(../img/service/weizhan-bg.jpg);}
.service-banner-zhizuo{background-image:url(../img/service/zhizuo-bg.jpg);}
.service-banner-media{background-image:url(../img/service/media-bg.jpg);}

.solution-banner-wed{background-image:url(../img/solution/wed-bg.jpg);}
.solution-banner-meet{background-image:url(../img/solution/meet-bg.jpg);}
.solution-banner-finance{background-image:url(../img/solution/finance-bg.jpg);}
.solution-banner-video{background-image:url(../img/solution/video-bg.jpg);}
.solution-banner-meiti{background-image:url(../img/solution/meiti-bg.jpg);}

.service-banner-txt{width:570px;padding:60px 60px 106px 30px;color:#fff;}
.service-banner-txt h2{font-size:36px;line-height:50px;margin-bottom:18px;}
.service-banner-txt p{font-size:14px;line-height:22px;}
.service-banner-txt a{display:block;width:100px;height:32px;margin-top:16px;text-align:center;line-height:30px;font-size:14px;color:#fff;background:#e71a22;}
.service-banner-txt a:hover{opacity:0.8;}

/*subnavbar*/
.subnavbar{width:100%;height:45px;margin-top:-45px;background:rgba(0,0,0,0.4);}
.subnavbar-menu{text-align:center;}
.subnavbar-menu li{display:inline-block;margin:0 18px;}
.subnavbar-menu li a{position:relative;display:block;color:#fff;line-height:45px;height:45px;padding:0 10px;}
.subnavbar-menu li a:after{display:none;content:'';position:absolute;left:0;bottom:0;width:100%;height:2px;background:#e61a22;}
.subnavbar-menu li a:hover{color:#e61a22;}
.subnavbar-menu li a:hover:after{display:block;}

/*service-con*/
.service-con,.solution-con{background:#eaeaea;}
.solution-con{/*padding-bottom:80px;*/}
.service-tie{padding:56px 0;text-align:center;color:#303030;font-size:24px;line-height:36px;}

.service-advant-ul{background:#fff;padding:26px 0;}
.service-advant-ul li{float:left;width:25%;text-align:center;border-right:solid 1px #d8d8d8;box-sizing:border-box;}
.service-advant-ul li:last-of-type{border-right:0;}
.service-advant-ul li h3{padding:20px 0;color:#333;line-height:24px;font-weight:bold;}
.service-advant-ul li p{height:66px;margin-bottom:8px;padding:0 30px;text-align:left;color:#646464;font-size:14px;line-height:22px;overflow:hidden;}

.service-advant-ul .advant-ico{display:inline-block;width:50px;height:50px;margin-top:16px;background-image:url(../img/service/advant.png);background-repeat:no-repeat;}
.service-advant-ul .advant-ico-1{background-position:0 0;}
.service-advant-ul .advant-ico-2{background-position:0 -50px;}
.service-advant-ul .advant-ico-3{background-position:0 -100px;}
.service-advant-ul .advant-ico-4{background-position:0 -150px;}
.service-advant-ul .advant-ico-5{background-position:0 -200px;}
.service-advant-ul .advant-ico-6{background-position:0 -250px;}
.service-advant-ul .advant-ico-7{background-position:0 -300px;}
.service-advant-ul .advant-ico-8{background-position:0 -350px;}
.service-advant-ul .advant-ico-9{background-position:0 -400px;}
.service-advant-ul .advant-ico-10{background-position:0 -450px;}
.service-advant-ul .advant-ico-11{background-position:0 -500px;}
.service-advant-ul .advant-ico-12{background-position:0 -550px;}
.service-advant-ul .advant-ico-13{background-position:0 -600px;}
.service-advant-ul .advant-ico-14{background-position:0 -650px;}
.service-advant-ul .advant-ico-15{background-position:0 -700px;}
.service-advant-ul .advant-ico-16{background-position:0 -750px;}
.service-advant-ul .advant-ico-17{background-position:0 -800px;}
.service-advant-ul .advant-ico-18{background-position:0 -850px;}
.service-advant-ul .advant-ico-19{background-position:0 -900px;}
.service-advant-ul .advant-ico-20{background-position:0 -950px;}
.service-advant-ul .advant-ico-21{background-position:0 -1000px;}
.service-advant-ul .advant-ico-22{background-position:0 -1050px;}
.service-advant-ul .advant-ico-23{background-position:0 -1100px;}
.service-advant-ul .advant-ico-24{background-position:0 -1150px;}
.service-advant-ul .advant-ico-25{background-position:0 -1000px;}
.service-advant-ul .advant-ico-26{background-position:0 -1200px;}
.service-advant-ul .advant-ico-27{background-position:0 -1250px;}
.service-advant-ul .advant-ico-28{background-position:0 -1300px;}
.service-advant-ul .advant-ico-29{background-position:0 -1350px;}
.service-advant-ul .advant-ico-30{background-position:0 -1400px;}
.service-advant-ul .advant-ico-31{background-position:0 -1450px;}
.service-advant-ul .advant-ico-32{background-position:0 -1500px;}
.service-advant-ul .advant-ico-33{background-position:0 -1550px;}
.service-advant-ul .advant-ico-34{background-position:0 -1600px;}

/*service-fun-item*/
.service-fun-item{margin-bottom:10px;cursor:pointer;}
.service-fun-item h3{padding-bottom:6px;color:#333;line-height:24px;font-weight:bold;}
.service-fun-item p{font-size:14px;color:#666;line-height:22px;}

/*service-fun-ul*/
.service-fun-ul{display:none;padding:24px 90px 10px;background:#fff;border-top:solid 1px #e2e2e2;}
.service-fun-ul li{margin-bottom:14px;padding-left:22px;background:url(../img/dot-red.png) no-repeat 0 8px;}
.service-fun-ul li h3{font-size:14px;padding-bottom:0;}

/*service-fun-tab*/
.service-fun-tab{position:relative;background:#fff;border-left:solid 3px #fff;padding:20px 26px 14px 32px;}
.service-fun-arr{position:absolute;right:26px;top:50%;width:16px;height:10px;margin-top:-5px;background:url(../img/arr-down.png) no-repeat;}
.service-fun-tab .txt{margin-left:75px;}

.cur .service-fun-tab{border-left-color:#e71a22;}
.cur .service-fun-tab h3{color:#e71a22;}
.cur .service-fun-tab .service-fun-arr{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg);-webkit-transition:.25s ease;-moz-transition:.25s ease;transition:.25s ease;}
.cur .service-fun-tab + .service-fun-ul{display:block;}

.service-fun-tab .fun-ico{float:left;width:50px;height:50px;background-image:url(../img/service/fun.png);background-repeat:no-repeat;}
.service-fun-tab .fun-ico-1{background-position:0 0;}
.service-fun-tab .fun-ico-2{background-position:0 -50px;}
.service-fun-tab .fun-ico-3{background-position:0 -100px;}
.service-fun-tab .fun-ico-4{background-position:0 -150px;}
.service-fun-tab .fun-ico-5{background-position:0 -200px;}
.service-fun-tab .fun-ico-6{background-position:0 -250px;}
.service-fun-tab .fun-ico-7{background-position:0 -300px;}
.service-fun-tab .fun-ico-8{background-position:0 -350px;}
.service-fun-tab .fun-ico-9{background-position:0 -400px;}
.service-fun-tab .fun-ico-10{background-position:0 -450px;}
.service-fun-tab .fun-ico-11{background-position:0 -500px;}
.service-fun-tab .fun-ico-12{background-position:0 -550px;}
.service-fun-tab .fun-ico-13{background-position:0 -600px;}
.service-fun-tab .fun-ico-14{background-position:0 -650px;}
.service-fun-tab .fun-ico-15{background-position:0 -700px;}
.service-fun-tab .fun-ico-16{background-position:0 -750px;}
.service-fun-tab .fun-ico-17{background-position:0 -800px;}
.service-fun-tab .fun-ico-18{background-position:0 -850px;}
.service-fun-tab .fun-ico-19{background-position:0 -900px;}
.service-fun-tab .fun-ico-20{background-position:0 -950px;}
.service-fun-tab .fun-ico-21{background-position:0 -1000px;}
.service-fun-tab .fun-ico-22{background-position:0 -1050px;}
.service-fun-tab .fun-ico-23{background-position:0 -1100px;}
.service-fun-tab .fun-ico-24{background-position:0 -1150px;}
.service-fun-tab .fun-ico-25{background-position:0 -1200px;}
.service-fun-tab .fun-ico-26{background-position:0 -1250px;}
.service-fun-tab .fun-ico-27{background-position:0 -1300px;}
.service-fun-tab .fun-ico-28{background-position:0 -1350px;}
.service-fun-tab .fun-ico-29{background-position:0 -1400px;}
.service-fun-tab .fun-ico-30{background-position:0 -1450px;}
.service-fun-tab .fun-ico-31{background-position:0 -1500px;}
.service-fun-tab .fun-ico-32{background-position:0 -1550px;}
.service-fun-tab .fun-ico-33{background-position:0 -1600px;}
.service-fun-tab .fun-ico-34{background-position:0 -1650px;}
.service-fun-tab .fun-ico-35{background-position:0 -1700px;}
.service-fun-tab .fun-ico-36{background-position:0 -1750px;}
.service-fun-tab .fun-ico-37{background-position:0 -1000px;}
.service-fun-tab .fun-ico-38{background-position:0 -1800px;}
.service-fun-tab .fun-ico-39{background-position:0 -1850px;}
.service-fun-tab .fun-ico-40{background-position:0 -1900px;}
.service-fun-tab .fun-ico-41{background-position:0 -1950px;}
.service-fun-tab .fun-ico-42{background-position:0 -2000px;}
.service-fun-tab .fun-ico-43{background-position:0 -2050px;}
.service-fun-tab .fun-ico-44{background-position:0 -2100px;}
.service-fun-tab .fun-ico-45{background-position:0 -2150px;}
.service-fun-tab .fun-ico-46{background-position:0 -2200px;}

/*service-scene*/
.service-scene-bd{position:relative;background:#fff;padding:12px;box-sizing:border-box;}
.service-scene .img{float:left;width:62%;background:#f7f7f7;}
.service-scene .img img{width:100%;}

.service-scene-ul,
.service-scene-ul2{position:absolute;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);}
.service-scene-ul{left:64%;width:34%;}
.service-scene-ul2{left:67%;}

.service-scene-ul li{margin-bottom:26px;padding-left:22px;background:url(../img/dot-red.png) no-repeat 0 10px;}
.service-scene-ul li:last-of-type{margin-bottom:0;}
.service-scene-ul h4{margin-bottom:6px;font-size:18px;font-weight:bold;line-height:28px;color:#303030;}
.service-scene-ul p{color:#666;font-size:14px;line-height:20px;}

.service-scene-ul-waichang{transform:none;-webkit-transform:none;-moz-transform:none;position:static;margin-left:64%;}
.service-scene-ul-digital li{margin-bottom:50px;}

/*service-scene-ul2*/
.service-scene-ul2 li{position:relative;overflow:hidden;}
.service-scene-ul2 li:after{content:'';width:1px;height:114px;position:absolute;left:24px;top:48px;background:#707070;}
.service-scene-ul2 li:last-of-type{padding-bottom:0;}
.service-scene-ul2 h4{margin-left:86px;font-size:20px;line-height:48px;color:#303030;font-weight:bold;}
.service-scene-ul2 .ico-scene{float:left;width:48px;height:48px;background-image:url(../img/service/scene.png);background-repeat:no-repeat;}
.service-scene-ul2 .ico-scene-1{background-position:0 0;}
.service-scene-ul2 .ico-scene-2{background-position:0 -48px;}
.service-scene-ul2 .ico-scene-3{background-position:0 -96px;}
.service-scene-ul2 .ico-scene-4{background-position:0 0;}
.service-scene-ul2 .ico-scene-5{background-position:0 -48px;}
.service-scene-ul2 .ico-scene-6{background-position:0 -144px;}
.service-scene-ul2 .ico-scene-7{background-position:0 -192px;}
.service-scene-ul2 .ico-scene-8{background-position:0 -240px;}

.service-scene-ul2-1 li{padding-bottom:114px;}
.service-scene-ul2-2 li{padding-bottom:42px;}

/*service-buy-control*/
.service-buy-control{padding:0 12.5%;width:100%;font-size:0;box-sizing:border-box;text-align:center;}
.service-buy-control li{position:relative;display:inline-block;width:33.3%;padding-bottom:30px;text-align:center;cursor:pointer;}
.service-buy-control li.cur:after{content:"";position:absolute;left:50%;bottom:0;margin-left:-18px;border:solid 18px transparent;width:0;height:0;border-bottom-color:#fff;}
.service-buy-control strong{font-weight:bold;color:#646464;font-size:18px;line-height:2;}
.service-buy-control .cur strong{color:#e71a22;}
.ser-buy-ico{display:inline-block;width:100%;height:62px;margin-bottom:12px;background-image:url(../img/service/shop.png);background-repeat:no-repeat;}
.ser-buy-ico-1{background-position:center 0;}
.ser-buy-ico-2{background-position:center -62px;}
.ser-buy-ico-3{background-position:center -124px;}
.ser-buy-ico-4{background-position:center -186px;}
.ser-buy-ico-5{background-position:center -248px;}

.service-buy-box{padding:100px 0 80px;background:#fff;}
.service-buy-box .service-buy-item{display:none;overflow:hidden;}

.service-buy-meal{float:left;width:32%;padding:0 20px;margin-right:2%;margin-bottom:20px;border-top:solid 5px #f5f5f5;background:#f5f5f5;-webkit-transition:0.2s ease-in-out;-moz-transition:0.2s ease-in-out;transition:0.2s ease-in-out;box-sizing:border-box;}
.service-buy-meal:nth-of-type(3n){margin-right:0;}


.service-buy-meal:hover{border-top-color:#e71a22;box-shadow:5px 5px 10px rgba(0,0,0,0.1);}
.service-buy-meal .title{padding:18px 0;line-height:22px;}
.service-buy-meal .title h4{font-weight:bold;color:#3c3c3c;}
.service-buy-meal .title p{font-size:12px;color:#787878;}
.service-buy-meal .mid{padding:6px;border-top:solid 1px #e4e4e4;border-bottom:solid 1px #e4e4e4;line-height:30px;font-size:14px;}
.service-buy-meal .mid strong{color:#9a9a9a;display:block;}
.service-buy-meal .mid li{float:left;width:50%;}
.service-buy-meal .mid li em{float:right;width:50%;color:#282828;}
.service-buy-meal .mid li span{color:#6e6e6e;}
.service-buy-meal .price{padding-right:20px;line-height:54px;font-size:14px;color:#646464;}
.service-buy-meal .price strong{padding-right:6px;font-size:24px;color:#e71a22;}
.service-buy-meal .price a{float:right;}

/* set meal service-buy-meal  start */
.service-buy-meal-set-meal .mid li{width: 45%;margin-right: 30px;}
.service-buy-meal-set-meal .mid li em{text-align: right;}
.service-buy-meal-set-meal .mid li:nth-of-type(2n){margin-right: 0px;}
.service-buy-meal-set-meal .price{padding-right: 5px;}
/* set meal service-buy-meal  end */

/* SaaS service-buy-meal  start */
.service-buy-meal-SaaS{width:24%;margin-right:1%;}
.service-buy-meal-SaaS:nth-of-type(3n){margin-right:1%;}
.service-buy-meal-SaaS:nth-of-type(4n){margin-right:0;}
.service-buy-meal-SaaS .mid li{width:100%;}
.service-buy-meal-SaaS .mid li em{text-align: right;}
.service-buy-meal-SaaS .price{padding-right: 5px;}
/* SaaS service-buy-meal  end */

/* API service-buy-meal  start */
.service-buy-meal-API .mid li{width:100%;}
.service-buy-meal-API .mid li em{text-align: right;}
.service-buy-meal-API .price{padding-right: 5px;}
/* API service-buy-meal  end */

.service-buy-box-one .service-buy-meal{float:none;margin:0 auto 20px;}
.service-buy-box-two .service-buy-meal{width:48%;margin:0 1% 20px;}

/*service-support-ul*/
.service-support-ul{padding-bottom:125px;}
.service-support-ul li{float:left;width:25%;padding:8px 50px;border-right:solid 1px #d7d7d7;box-sizing:border-box;font-size:14px;line-height:20px;}
.service-support-ul li:last-of-type{border-right:none;}
.service-support-ul h3{color:#303030;font-weight:bold;}
.service-support-ul a{display:block;color:#a0a0a0;}
.service-support-ul a:hover{color:#e61a22;}

/*aboutBox*/
.aboutBox{background:#f7f7f7;padding-bottom:60px;margin-top:40px;}
.aboutBanner{display:none;}
.aboutWrap{position:relative;min-height:400px;}
.aboutLeft{position:absolute;left:0;top:0;width:25%;height:100%;background:#fff;}
.aboutRight{display:inline-block;width:100%;}
.newsBox,.article{padding:0 3.5%;}


.sideNave{color:#333;}
.comsideNav li.cur{background:#f7f7f7;}
.comsideNav li.cur a{border-right-color:#e71a22;}

.sideNave .tie{font-weight:bold;line-height:52px;border-bottom:solid 1px #ededed;}
.sideNave .tie,
.sideNaveUlP li{padding-left:10%;}
.sideNaveUlP li{padding-top:5px;padding-bottom:5px;border-bottom:solid 1px #ededed;}
.sideNaveUlP a{display:block;line-height:30px;font-size:14px;border-right:solid 4px #fff;}

.sideNaveUlM{display:none;overflow:hidden;}
.sideNaveUlM ul{position:relative;}
.sideNaveUlM li{float:left;padding:0 20px;background:#fff;}
.sideNaveUlM a{line-height:40px;font-size:14px;}
.sideNaveUlM li.cur{background:#e71a22;}
.sideNaveUlM li.cur a{color:#fff;}

.aboutIntro{color:#333;}
.aboutIntro .tie{text-align:center;font-size:20px;line-height:72px;font-weight:bold;border-bottom:solid 1px #ededed;display: none;}
.aboutIntro p{padding:25px 0;text-indent:2em;font-size:14px;font-weight:bold;line-height:24px;border-bottom:solid 1px #ededed;}
.news_trends_banner{display: block;width: 100%;}
.news_trends_banner img{width: 100%;}

.commonList{padding:35px 0 0;overflow:hidden;}
.commonList li{position:relative;padding-bottom:45px;}
.commonList li:after{content:"";position:absolute;top:16px;width:90.5px;height:100%;border-right:solid 1px #ededed;}
.commonList .news-item-trends:after{display: none;}
.commonList .date{position:relative;width:80px;padding-right:14px;float:left;text-align:right;color:#8c8c8c;font-size:12px;line-height:24px;}
.commonList .date:after{position:absolute;right:0;top:50%;margin-top:-2px;content:'';width:4px;height:4px;background:#fff;border:solid 1px #e8252c;border-radius:4px;}
.commonList .news-item-trends{padding-top: 25px;padding-bottom: 25px;border-bottom: 1px solid #ededed;}
.commonList .news-item-trends:last-of-type{border-bottom: none;}
.news-item-trends .date{font-size: 16px;width: 90px;padding-right: 10px;line-height: 40px;font-weight: bold;}
.news-item-trends .date:after{display: none;}
.commonList .txt{margin-left:100px;font-size:14px;line-height:24px;}
.commonList .txt h4 a{color:#323232;font-weight:bold;}
.commonList .txt p a{color:#6e6e6e;}
.commonList .txt a:hover{color:#e71a22;}
.commonList .news-item-trends .txt{margin-left: 110px;}
.commonList .news-item-trends .txt h4{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 18px;}
.commonList .news-item-trends .txt p{position:relative;line-height:1.6em;/*三倍line-height去显示三行*/height:3.2em;/*多余的隐藏*/overflow:hidden;margin-top: 5px;}
.commonList .news-item-trends .txt p:after{content:"...";font-weight:bold;position:absolute;bottom:0;right:0;padding:0 5px 1px 45px;background:url(../img/ellipsis_bg.png) repeat-y;}

/*解决方案*/
.com-solute-out{padding:40px 9% 40px 3%;background:#fff;border:solid 1px #dad8d8;}
.solution-service .com-solute-out{background:#fff url(../img/solution/service-bg.png) no-repeat right center;background-size:contain;}
.solution-service h3{padding-bottom:10px;font-size:18px;font-weight:bold;color:#323232;}
.solution-service p{font-size:14px;color:#646464;line-height:22px;}

.solution-chall .com-solute-out{margin-bottom:10px;}
.solution-chall .chall-ico{float:left;width:50px;height:50px;background-image:url(../img/solution/chall.png);background-repeat:no-repeat;}
.solution-chall .chall-ico-1{background-position:0 0;}
.solution-chall .chall-ico-2{background-position:0 -50px;}
.solution-chall .chall-ico-3{background-position:0 -100px;}
.solution-chall .chall-ico-4{background-position:0 -150px;}
.solution-chall .chall-ico-5{background-position:0 -200px;}
.solution-chall .chall-ico-6{background-position:0 -250px;}
.solution-chall .chall-ico-7{background-position:0 -300px;}
.solution-chall .chall-ico-8{background-position:0 -350px;}
.solution-chall .chall-ico-9{background-position:0 -400px;}
.solution-chall .chall-ico-10{background-position:0 -350px;}
.solution-chall .chall-ico-11{background-position:0 -450px;}
.solution-chall .chall-ico-12{background-position:0 -500px;}
.solution-chall .chall-ico-13{background-position:0 -550px;}
.solution-chall .chall-ico-14{background-position:0 -600px;}
.solution-chall .chall-ico-15{background-position:0 -650px;}
.solution-chall .chall-ico-16{background-position:0 -700px;}
.solution-chall .chall-ico-17{background-position:0 -750px;}
.solution-chall .chall-ico-18{background-position:0 -800px;}
.solution-chall .chall-ico-19{background-position:0 -850px;}

.solution-chall .txt{margin-left:75px;line-height:20px;}
.solution-chall .txt h3{margin-bottom:10px;font-size:18px;font-weight:bold;color:#333;}
.solution-chall .txt p{font-size:14px;color:#666;}

.solution-advant ul{padding:26px 0;}
.solution-advant li{float:left;padding:40px 0;text-align:center;border-right:solid 1px #d8d8d8;box-sizing:border-box;}
.solution-advant-ul-three li{width:33.3%;}
.solution-advant-ul-four li{width:25%;padding:40px 30px;}
.solution-advant-ul-two li{width:49%;margin-right:2%;padding-left:20px;padding-right:20px;}
.solution-advant-ul-two li:nth-of-type(2n){margin-right:0;}
.solution-advant-ul-two li:hover{box-shadow:2px 2px 10px rgba(0,0,0,0.1);}
.solution-advant-ul-two li:hover h3{color:#e71a22;}

.solution-advant-ul-three li:nth-of-type(3n),
.solution-advant-ul-four li:nth-of-type(4n){border-right:0;}

.solution-advant ul li .txt{padding-top:12px;}
.solution-advant ul li h3{line-height:38px;color:#333;font-weight:bold;}
.solution-advant ul li p{height:66px;line-height:22px;color:#646464;font-size:14px;overflow:hidden;}

.solution-advant .advant-ico{display:inline-block;width:50px;height:50px;margin-top:16px;background-image:url(../img/solution/s-advant.png);background-repeat:no-repeat;}
.solution-advant .advant-ico-1{background-position:0 0;}
.solution-advant .advant-ico-2{background-position:0 -50px;}
.solution-advant .advant-ico-3{background-position:0 -100px;}
.solution-advant .advant-ico-4{background-position:0 -150px;}
.solution-advant .advant-ico-5{background-position:0 -200px;}
.solution-advant .advant-ico-6{background-position:0 -250px;}
.solution-advant .advant-ico-7{background-position:0 -300px;}

.solution-advant .advant-ico-8{background-position:0 0;}
.solution-advant .advant-ico-9{background-position:0 -350px;}
.solution-advant .advant-ico-10{background-position:0 -400px;}
.solution-advant .advant-ico-11{background-position:0 -450px;}
.solution-advant .advant-ico-12{background-position:0 -500px;}
.solution-advant .advant-ico-13{background-position:0 -550px;}
.solution-advant .advant-ico-14{background-position:0 -600px;}
.solution-advant .advant-ico-15{background-position:0 -650px;}

.solution-scene .img{background:#fff;}
.solution-scene .img img{display:block;width:100%;}

.solution-case{padding-bottom:110px;}
.solution-case .com-solute-out{padding:30px 0 20px;}
.solution-case li{float:left;}
.solution-case .maxWidth{text-align:center;font-size:0;}
.solution-case-list li{width:15.2%;margin-left:4%;margin-bottom:10px;padding-top: 20px;padding-bottom: 20px;position: relative;}
.solution-case-list li img{width:100%;position: absolute;left: 0px;top: 0px;bottom: 0px;right: 0px;margin: auto;}

.solution-case-blur{overflow:hidden;}
.solution-case-blur li{position:relative;width:49%;margin-right:2%;cursor:pointer;overflow:hidden;}
.solution-case-blur li:last-of-type{margin-right:0;}
.solution-case-blur li img{filter:blur(3px);-webkit-filter:blur(3px);-moz-filter:blur(3px);}
.solution-case-blur .over{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.6);text-align:center;color:#fff;}
.solution-case-blur p{position:relative;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);}
.solution-case-blur strong{position:relative;display:inline-block;padding:20px 0;font-size:26px;}
.solution-case-blur strong:after{content:"";position:absolute;left:18%;bottom:0;width:64%;height:4px;background:#fff;}
.solution-case-blur .more{display:none;margin:35px auto 0;width:96px;height:28px;line-height:28px;color:#fff;font-size:14px;background:#e71a22;}
.solution-case-blur .more:hover{font-size:16px;}

.solution-case-blur strong{-webkit-transition:0.2s;-moz-transition:0.2s;transition:0.2s;}
.solution-case-blur li.hover .more{display:block;}
.solution-case-blur li.hover strong{font-size:20px;}
.solution-case-blur li.hover .over{border-top:solid 10px #e71a22;}

.solution-case-video,
.solution-case-meiti{padding-bottom:26px;background-repeat:no-repeat;background-position:center 0;background-size:cover;}
.solution-case-video{margin-top:130px;background-image:url(../img/solution/video-case-bg.jpg);}
.solution-case-meiti{margin-top:80px;background-image:url(../img/solution/meiti-case-bg.jpg);}
.solution-case-video .service-tie,
.solution-case-meiti .service-tie{padding:45px 0;color:#fff;}

/**/
.solu-case-item{display:inline-block;width:32%;margin-right:2%;margin-bottom:2%;text-align:left;background:rgba(255,255,255,0.13);line-height:22px;}
.solu-case-item:nth-of-type(3n){margin-right:0;}
.solu-case-item a{display:block;padding:26px 3.8% 20px;color:#fff;opacity:0.6;}
.solu-case-item a:hover{opacity:1;}
.solu-case-item h4{margin-bottom:16px;font-size:18px;text-align:center;}
.solu-case-item p{height:88px;overflow:hidden;font-size:14px;}
.solu-case-item img{display:block;width:56px;height:46px;margin:0 auto 18px;}



/**/
.solution-reg{padding:42px 0 52px;background:#f1f3ff url(../img/solution/reg-bg.jpg) no-repeat 53% bottom;}
.solution-reg .txt{position:relative;padding-left:20%;color:#34475f;}
.solution-reg h4{font-size:30px;line-height:1.5;}
.solution-reg p{font-size:20px;line-height:1.8;text-indent:3em;}
.reg-btn{position:absolute;right:15%;top:50%;margin-top:-22px;padding:0 32px;background:#e71a22;color:#fff;font-size:20px;font-weight:bold;line-height:2.2;}

/**/
.solution-scene-meiti .service-scene-ul{position:static;width:92%;padding:20px 4% 20px;-webkit-transform:none;-moz-transform:none;transform:none;border-top:solid 1px #e9e9e9;}

/*pages*/
.pages{clear:both;margin-top:20px;padding-top:20px;padding-bottom:50px;text-align:center;font-size:14px;}
.pages a,
.pages span{display:inline-block;padding:0 10px;margin:0 2px;line-height:26px;color:#646464;}
.pages .pages-omit{padding:0 5px;}
.pages .pages-current,
.pages .curPage,
.pages a:hover{background:#ededed;color:#333;}
.pages .pages-dead{color:#d9d9d9;}
.pages .pages-sum{padding-left:30px;}

/*article*/
#chan_breadcrumbs{font-size:12px;color:#323232;line-height:1.6;padding: 10px 0px;}
#chan_breadcrumbs a{color:#323232;}

.article{padding:0 10%;}
.article-title{padding:63px 0 6px;text-align:center;color:#323232;font-size:20px;font-weight:bold;line-height:28px;}
.article-type{text-align:center;color:#969696;font-size:14px;line-height:2;}
.article-type div{width: 150px;margin: 0 auto;overflow: hidden;clear: both;}
.article-type-item-time-icon{width: 17px;height: 17px;float: left; background: url('../images/article-time-icon.png') no-repeat;margin-top: 5px;margin-right: 20px;background-size: 100% 100%;}
.article-type-item-time{float: left;}
.article-con{color:#6e6e6e;font-size:14px;line-height:1.7;padding-bottom:30px;border-bottom: 1px solid #E4E2E2;}
.article-con p{margin-top:20px;text-indent:2em;}
.article-con img{display:block;max-width:100%;margin: auto !important;}
.article-con .pcenter img{margin:0 auto;}
.detail_page {width: 100%; margin: 0 auto; padding-top: 30px;padding-bottom: 15px; color: #CACACA;}
.detail_page li{list-style: none;}
.detail_page li a{color: #000;}
.detail_page li a:hover{color: red;}

@media screen and (max-width:1282px) {
  .maxWidth,
  .project-box .maxWidth,
  .case-box .maxWidth,
  .owl-carousel{width:100%;}
  .owl-carousel3,
  .owl-carousel4{width:90% !important;}
  
  .service-buy-box{padding:5% 0;}
  .service-buy-item{margin-right:0;}
  .service-buy-meal{width:48%;box-sizing:border-box;margin:0 1% 20px;}
  .service-buy-meal:nth-of-type(3n){margin-right:1%;}
  
  .case-item h3{font-size:16px;}
}

@media screen and (max-width:1024px) {/* pad 横屏 */
    
  .bx-wrapper .bx-pager{bottom:26%;}
  
  /**/
  .footer-item-last h3,.footer-weixin{padding-left:100px;}
  .pro-tie{font-size:20px;}
  
  .service-scene-ul li{margin-bottom:4%;}
  .service-scene-ul-digital li{margin-bottom:12%;}
  
  .pro-txt p{height:90px;}

  .aboutIntro .tie{display: block;}
  .news_trends_banner{display: none;}
}
@media screen and (max-width:900px) { /* pad竖屏 */
  .pcNotShow{display:block !important;}
  .mobileNotShow{display:none !important;}

  /**/
  .navbar-menu li{padding:0 12px;margin:0 10px;}
  
  /**/
  .footer-item-last h3,.footer-weixin{padding-left:60px;}
  .owl-carousel1{border-right:none;}
  
  /**/
  .news{background:#fff;padding:20px 0 0;}
  .news .commore{padding:20px 0;}
  .news-img,.news-item .date{display:none;}
  .news-box{margin-left:0;margin-top:20px;padding-top:20px;background:#e9f2f9;}
  .news-item{margin-bottom:0;padding:0;}
  .news-item .txt{margin-left:0;padding:0 10%;}
  .news-item .txt p{white-space:normal;font-size:12px;overflow:visible;}
  .news-item .txt h3 a{overflow:hidden;text-overflow:ellipsis;white-space:nowrap; }
  .news-item .txt p:after,
  .news-item .txt p:before{display:block;}
  
  /**/
  .service,.serviceBox{padding-top:20px;}
  .service{background:#f0f0f0;padding-bottom:20px;}
  .serviceBox{padding-left:4%;padding-right:4%;}
  .service-item-box{height:auto;}
  .service-control li{width:31.3%;margin:0 1% 8px;padding:4%;box-sizing:border-box;background:#fff;}
  .service-control li:before{width:100%;left:0;}
  .service-control .ser-ico{float:left;width:30px;height:30px;background-size:auto 150px;margin-top:5px;}
  .service-control .ser-ico-2{background-position:center -30px;}
  .service-control .ser-ico-3{background-position:center -60px;}
  .service-control .ser-ico-4{background-position:center -90px;}
  .service-control .ser-ico-5{background-position:center -120px;}
  .service-box{margin:0 1%;background:#fff;}
  .service-item{width:100%;padding:5px 0;}
  .service-item h3{margin-bottom:0;}
  .service-item p{height:auto;}
  
  /**/
  .project{padding:20px 0;}
  .project-box{margin-top:20px;}
  .pro-tie{font-size:16px;padding:5px 0;}
  .pro-txt{padding:0 4%;}
  .pro-txt p{font-size:12px;}
  
  /**/
  .case{padding:20px 0;}
  .case-box{padding-top:10px;}
  .case .commore a{margin-top:10px;}
  
  /**/
  .service-fun-tab{width:100%;padding:4% 10% 4% 4%;border-right:none;box-sizing:border-box;}
  .service-fun-tab .txt{margin-left:50px;}
  .service-fun-arr{right:4%;}
  .service-fun-ul{padding:2% 5% 2% 4%;}
  .service-fun-ul li{padding-left:50px;background-position:30px 8px;}
  
  .service-fun-tab .fun-ico{width:40px;height:40px;background-size:auto 1800px;}
  .service-fun-tab .fun-ico-1{background-position:0 0;}
  .service-fun-tab .fun-ico-2{background-position:0 -40px;}
  .service-fun-tab .fun-ico-3{background-position:0 -80px;}
  .service-fun-tab .fun-ico-4{background-position:0 -120px;}
  .service-fun-tab .fun-ico-5{background-position:0 -160px;}
  .service-fun-tab .fun-ico-6{background-position:0 -200px;}
  .service-fun-tab .fun-ico-7{background-position:0 -240px;}
  .service-fun-tab .fun-ico-8{background-position:0 -280px;}
  .service-fun-tab .fun-ico-9{background-position:0 -320px;}
  .service-fun-tab .fun-ico-10{background-position:0 -360px;}
  .service-fun-tab .fun-ico-11{background-position:0 -400px;}
  .service-fun-tab .fun-ico-12{background-position:0 -440px;}
  .service-fun-tab .fun-ico-13{background-position:0 -480px;}
  .service-fun-tab .fun-ico-14{background-position:0 -520px;}
  .service-fun-tab .fun-ico-15{background-position:0 -560px;}
  .service-fun-tab .fun-ico-16{background-position:0 -600px;}
  .service-fun-tab .fun-ico-17{background-position:0 -640px;}
  .service-fun-tab .fun-ico-18{background-position:0 -680px;}
  .service-fun-tab .fun-ico-19{background-position:0 -720px;}
  .service-fun-tab .fun-ico-20{background-position:0 -760px;}
  .service-fun-tab .fun-ico-21{background-position:0 -800px;}
  .service-fun-tab .fun-ico-22{background-position:0 -840px;}
  .service-fun-tab .fun-ico-23{background-position:0 -880px;}
  .service-fun-tab .fun-ico-24{background-position:0 -920px;}
  .service-fun-tab .fun-ico-25{background-position:0 -960px;}
  .service-fun-tab .fun-ico-26{background-position:0 -1000px;}
  .service-fun-tab .fun-ico-27{background-position:0 -1040px;}
  .service-fun-tab .fun-ico-28{background-position:0 -1080px;}
  .service-fun-tab .fun-ico-29{background-position:0 -1120px;}
  .service-fun-tab .fun-ico-30{background-position:0 -1160px;}
  .service-fun-tab .fun-ico-31{background-position:0 -1200px;}
  .service-fun-tab .fun-ico-32{background-position:0 -1240px;}
  .service-fun-tab .fun-ico-33{background-position:0 -1280px;}
  .service-fun-tab .fun-ico-34{background-position:0 -1320px;}
  .service-fun-tab .fun-ico-35{background-position:0 -1360px;}
  .service-fun-tab .fun-ico-36{background-position:0 -1400px;}
  .service-fun-tab .fun-ico-37{background-position:0 -800px;}
  .service-fun-tab .fun-ico-38{background-position:0 -1440px;}
  .service-fun-tab .fun-ico-39{background-position:0 -1480px;}
  .service-fun-tab .fun-ico-40{background-position:0 -1520px;} 
  .service-fun-tab .fun-ico-41{background-position:0 -1560px;}  
  .service-fun-tab .fun-ico-42{background-position:0 -1600px;}
  .service-fun-tab .fun-ico-43{background-position:0 -1640px;}
  .service-fun-tab .fun-ico-44{background-position:0 -1680px;}
  .service-fun-tab .fun-ico-45{background-position:0 -1720px;}
  .service-fun-tab .fun-ico-46{background-position:0 -1760px;}  
  /**/
  .bx-wrapper .bx-pager{bottom:4%;}
  
  /**/
  .service-scene-bd{padding:4%;}
  .service-scene .img{float:none;width:100%;background:#fff;}
  .service-scene-ul,
  .service-scene-ul2{padding-top:20px;border-top:solid 1px #e9e9e9;position:static;transform:none;-webkit-transform:none;-moz-transform:none;}
  .service-scene-ul-waichang{margin-left:0;}
  .service-scene-ul-weizhan li{margin-bottom:20px;}
  .service-scene-ul{width:100%;}
  
  .solu-case-item{width:49%;}
  .solu-case-item:nth-of-type(2n){margin-right:0;}
  .solu-case-item:nth-of-type(3n){margin-right:2%;}
  
  .solution-reg{display:none;}
  
  
}

@media screen and (max-width:768px) {/* 手机横屏 */
 .copyright{padding:10px 0;line-height:20px;}
 .navbar-menu,
 .footer-box,
 .copyright p.address,
 .owl-nav{display:none;}
 
 .m-navbar,
 .m-footer-box,
 .copyright p span{display:block;}
 
 .owl-carousel3,
 .owl-carousel4{width:100% !important;}
 
 .m-footer-box{padding:10px 0;color:#b4b4b4;font-size:12px;}
 .m-footer-box h3{text-align:center;padding:13px 0 12px;}
 .m-footer-box .law-box{padding:0 10% 6px;}
 .m-footer-box .law{float:left;width:50%;}
 .m-footer-box .law li{line-height:30px;padding-left:20%;background-image:url(../images/m-law.png);background-repeat:no-repeat;} .m-footer-box .law .law-1{background-position:0 5px;}
 .m-footer-box .law .law-2{background-position:0 -45px;}
 .m-footer-box .law .law-3{background-position:0 -95px;}
 .m-footer-box .law .law-4{background-position:0 -145px;}
 .m-footer-box .law .law-5{background-position:0 -195px;}
 
 .navbar-logo{position:absolute;top:10px;}
 
 .slider-box,.service-banner,.aboutBox{margin-top:60px;}
 
 /**/
 .dynamic{transform:translate(0);-webkit-transform:translate(0);-moz-transform:translate(0);}
 .dynamic-txt .tie{font-size:14px;}
 .dynamic-txt p{font-size:12px;}
 .dynamic-item{padding:4%;}
 
 /*service-banner*/
 .service-banner-txt{width:84%;padding:10% 8%;}
 .service-banner-txt h2{margin-bottom:2%;}
 .service-tie{padding:8% 0;}
 
 /*subnavbar*/
 .subnavbar{display:none;}
 
 /*service-advant*/
 .service-advant-ul{padding:0;}
 .service-advant li{width:100%;padding:4%;border-right:none;background:url(../img/service/m-line.png) repeat-x 0 bottom;}
 .service-advant li:last-of-type{background:none;}
 .service-advant li .txt{margin-left:60px;text-align:left;}
 .service-advant li h3{padding:0 0 10px;}
 .service-advant li p{padding:0;height:auto;margin-bottom:0;}
 
 .service-advant-ul .advant-ico{float:left;margin-top:0;width:40px;height:40px;background-size:auto 1240px;}
 .service-advant-ul .advant-ico-1{background-position:0 0;}
 .service-advant-ul .advant-ico-2{background-position:0 -40px;}
 .service-advant-ul .advant-ico-3{background-position:0 -80px;}
 .service-advant-ul .advant-ico-4{background-position:0 -120px;}
 .service-advant-ul .advant-ico-5{background-position:0 -160px;}
 .service-advant-ul .advant-ico-6{background-position:0 -200px;}
 .service-advant-ul .advant-ico-7{background-position:0 -240px;}
 .service-advant-ul .advant-ico-8{background-position:0 -280px;}
 .service-advant-ul .advant-ico-9{background-position:0 -320px;}
 .service-advant-ul .advant-ico-10{background-position:0 -360px;}
 .service-advant-ul .advant-ico-11{background-position:0 -400px;}
 .service-advant-ul .advant-ico-12{background-position:0 -440px;}
 .service-advant-ul .advant-ico-13{background-position:0 -480px;}
 .service-advant-ul .advant-ico-14{background-position:0 -520px;}
 .service-advant-ul .advant-ico-15{background-position:0 -560px;}
 .service-advant-ul .advant-ico-16{background-position:0 -600px;}
 .service-advant-ul .advant-ico-17{background-position:0 -640px;}
 .service-advant-ul .advant-ico-18{background-position:0 -680px;}
 .service-advant-ul .advant-ico-19{background-position:0 -720px;}
 .service-advant-ul .advant-ico-20{background-position:0 -760px;}
 .service-advant-ul .advant-ico-21{background-position:0 -800px;}
 .service-advant-ul .advant-ico-22{background-position:0 -840px;}
 .service-advant-ul .advant-ico-23{background-position:0 -880px;}
 .service-advant-ul .advant-ico-24{background-position:0 -920px;}
 .service-advant-ul .advant-ico-25{background-position:0 -800px;}
 .service-advant-ul .advant-ico-26{background-position:0 -960px;}
 .service-advant-ul .advant-ico-27{background-position:0 -1000px;}
 .service-advant-ul .advant-ico-28{background-position:0 -1040px;}
 .service-advant-ul .advant-ico-29{background-position:0 -1080px;}
 .service-advant-ul .advant-ico-30{background-position:0 -1120px;}
 .service-advant-ul .advant-ico-31{background-position:0 -1160px;}
 .service-advant-ul .advant-ico-32{background-position:0 -1200px;}
 /**/
 .service-support-ul{padding-bottom:8%;}
 
 
 /**/
 .aboutWrap{width:100%;padding-left:0;}
 .aboutLeft,.newsBox,.commonList .date:after{background:#eaeaea;}
 .aboutBanner{display:block;width:100%;}
 .aboutLeft{width:100%;position:static;}
 .aboutBox{padding-bottom:0;}
 
 .sideNave .tie{display:none;}
 .sideNave{background:#fff;}

 .aboutIntro .tie:before,
 .aboutIntro .tie:after{content:'';width:84px;height:72px;vertical-align:middle;display:inline-block;background-repeat:no-repeat;background-position:0 center;}
 .aboutIntro .tie:before{margin-right:10px;background-image:url(../img/title-l.png)}
 .aboutIntro .tie:after{margin-left:10px;background-image:url(../img/title-r.png)}
 .aboutIntro p{padding-top:0;}
 
 .sideNaveUlP{display:none;}
 .sideNaveUlM{display:block;}
 .sideNaveUl li{float:left;text-align:center;padding:0 20px;border-bottom:none;}
 .sideNaveUl a{border-right:none;line-height:40px;}
 .sideNaveUl li.cur a{color:#fff;}
 .sideNaveUl li.cur{background:#e71a22;}
 
 .commonList{padding:0;}
 .commonList li:after{border-right-color:#d0d0d0;}
 .commonList .txt a{color:#505050;}
 .commonList .date{color:#333;}
 
 /**/
 .pages{border-top-color:#d0d0d0;}
 .pages a,.pages span{padding:0 4px;}
 
 /**/
 .aboutBox{padding-top:0;}
 .article-con{padding-bottom:20px;}
 .articleBox .sideNave{display:none;}
 #chan_breadcrumbs{padding:10px 0;border-bottom:solid 1px #dcdcdc;background:#fff;padding-left:5px;}
 .article-title{padding-top:20px;}
 
 /**/
 .com-solute-out{padding:4%;}
 .solution-advant ul{padding:0;}
 .solution-advant li{text-align:left;border-right:none;border-bottom:solid 1px #dad8d8;}
 .solution-advant ul li p{height:auto;}
 .solution-advant ul li .txt{margin-left:75px;padding-top:0;}
 .solution-advant ul li h3{line-height:20px;margin-bottom:10px;}
 .solution-advant-ul li{width:100% !important;float:none;padding:4%;margin-right:0;}
 .solution-advant .advant-ico{float:left;margin-top:0;}
 
 .solution-case{padding-bottom:8%;}
 .solution-case-list li{width:28%;}
 
 .solution-case-blur li{width:100%;margin-right:0;margin-bottom:4%;}
 .solution-case-blur strong{font-size:20px;}
 
 .solu-case-item{width:100%;margin-right:0;}
 .solu-case-item:nth-of-type(2n),.solu-case-item:nth-of-type(3n){margin-right:0;}
 .solu-case-item p{height:auto;}
 
 .solution-case-video,.solution-case-meiti{margin-top:0;}
 
 
}

@media screen and (max-width:767px) {/* 手机横屏 */
.service-support{display:none;}
  /**/
 .service-buy-control{padding:0;}
 .service-buy-meal,.service-buy-box-two .service-buy-meal{width:100%;margin:0 0 20px;}

}
@media screen and (max-width:450px) { /* 手机竖屏 */
  .service-control li{width:48%;}
  .service-buy-meal .mid li{width:100%;}
  
  .case-item h3{font-size:14px;}
  .service-banner-txt h2{font-size:30px;}

}
@media screen and (max-width:370px) {/* 320的小屏幕*/ 
  .dynamic-item{text-align:center;}
  .dynamic-item .dyn-ico{display:none;}
  .dynamic-txt{padding-left:0;}
  
  .pro-txt{padding:0 5px;}
  .pro-txt p{padding-bottom:5px;height:85px;text-overflow:ellipsis;-webkit-line-clamp:4;}
  .pro-txt .checkmore{width:100px;line-height:20px;}
  
  .case-item h3{font-size:12px;}
}
/**敬请期待不跳转*/
.myCss{
	cursor:default;
}

.myCss a:hover{
	 color: #6e6e6e;
}